{% load static i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% block title %}{{ settings.SITE_TITLE }}{% endblock title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ settings.SITE_NAME }}">
  <meta name="author" content="Department of Biodiversity, Conservation and Attractions WA">
  <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    <!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    {% block css %}
    <link rel="stylesheet" href="{% static 'css/project.css' %}">
    {% endblock %}
    {% block extrastyle %}{% endblock extrastyle %}
  </head>
  <body>
    {% block content %} {% endblock %}
  </body>
</html>
