{% load static i18n leaflet_tags observations bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% block title %}{{ settings.SITE_TITLE }}{% endblock title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ settings.SITE_NAME }}">
  <meta name="author" content="Department of Biodiversity, Conservation and Attractions WA">
  <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    <!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    {% block css %}
    {% if settings.OFFLINE %}
    <link rel="stylesheet" href="{% static 'offline/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'offline/bootstrap-datepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'offline/open-iconic.min.css' %}">
    <link rel="stylesheet" href="{% static 'offline/open-iconic-bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'offline/open-iconic-bootstrap-grid.min.css' %}">
    <link rel="stylesheet" href="{% static 'offline/open-iconic-bootstrap-reboot.min.css' %}">
    {% else %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css"
      integrity="sha512-P5MgMn1jBN01asBgU0z60Qk4QxiXo86+wlFahKrsQf37c9cro517WzVSPPV1tDKzhku2iJ2FVgL67wG03SGnNA=="
      crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"
      integrity="sha256-siyOpF/pBWUPgIcQi17TLBkjvNgNQArcmwJB8YvkAgg=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic.min.css"
      integrity="sha256-CfN2r6i/dqkUHVRqpBzO3w21SnIWalwGfj5ScBPVzmI=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css"
      integrity="sha256-BJ/G+e+y7bQdrYkS2RBTyNfBHpA9IuGaPmf9htub5MQ=" crossorigin="anonymous" />
    <link href="{% static 'css/fontawesome.css' %}" rel="stylesheet">
    {% endif %}
    {% include 'shared/leaflet_css.html' %}
    <link rel="stylesheet" href="{% static 'css/project.css' %}">
    {% endblock %}

    {% block extrastyle %}{% endblock extrastyle %}
  </head>

  <body>
    {% include 'shared/navbar.html' %}

    {% block map %}{% endblock %}
    <div class="container-fluid">
      {% bootstrap_messages %}
      {% block content %}{% endblock content %}
    </div>

    {% block javascript %}
    {% if settings.OFFLINE %}
    <script src="{% static 'offline/tether.min.js' %}"></script>
    <script src="{% static 'offline/moment-with-locales.min.js' %}"></script>
    <script src="{% static 'offline/popper.min.js' %}"></script>
    <script src="{% static 'offline/jquery.min.js' %}"></script>
    <script src="{% static 'offline/bootstrap.min.js' %}"></script>
    <script src="{% static 'offline/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'offline/bootstrap-datepicker.min.js' %}"></script>
    {% else %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.7/js/tether.min.js"
      integrity="sha512-X7kCKQJMwapt5FCOl2+ilyuHJp+6ISxFTVrx+nkrhgplZozodT9taV2GuGHxBgKKpOJZ4je77OuPooJg9FJLvw=="
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment-with-locales.min.js"
      integrity="sha512-LGXaggshOkD/at6PFNcp2V2unf9LzFq6LE+sChH7ceMTDP0g2kn6Vxwgg7wkPP7AAtX+lmPqPdxB47A0Nz0cMQ=="
      crossorigin="anonymous"></script>
  {% comment %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/esm/popper.min.js"
      integrity="sha256-3Iu0zFU6cPS92RSC3Pe4DBwjIV/9XKyzYTqKZzly6A8=" crossorigin="anonymous"></script>
  {% endcomment %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
      integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"
      integrity="sha512-XKa9Hemdy1Ui3KSGgJdgMyYlUg1gM+QhL6cnlyTe2qzMCYm4nAZ1PsVerQzTTXzonUR+dmswHqgJPuwCq1MaAg=="
      crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"
      integrity="sha256-bqVeqGdJ7h/lYPq6xrPv/YGzMEb6dNxlfiTUHSgRCp8=" crossorigin="anonymous"></script>
    {% if not settings.DEBUG %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-45890579-4', 'auto'); ga('send', 'pageview');
    </script>
    {% endif %}
    {% endif %}
    {% include 'shared/leaflet_js.html' %}
    {% endblock javascript %}

    {% block extrajs %}{% endblock extrajs %}
  </body>
</html>
