{% extends "pages/base.html" %}
{% load staticfiles crispy_forms_tags bootstrap4  %}

{% block content %}
{% include 'shared/breadcrumbs.html' %}
<div class="container">
  <div class="row">
    <div class="col col-12 mb-3">

      <!-- The main form -->
      {% crispy form form.helper %}

      <!-- One formset, optional -->
      {% if formset %}
      {% crispy formset formset_helper %}
      {% endif %}

      <!-- Many formsets, optional -->
      {% if formset_list %}
      {% for fs in formset_list  %}
      {% crispy formset formset_helper %}
      {% endfor %}
      {% endif %}

    </div><!-- .col -->
  </div><!-- .row -->
</div> --><!-- .container
{% endblock %}

{% block extrastyle %}
{{ form.media.css }}
{% endblock %}

{% block extrajs %}
{{ form.media.js }}
{% endblock extrajs %}