{% extends "pages/base.html" %}
{% load staticfiles crispy_forms_tags bootstrap4  staticfiles %}

{% block content %}
{% include 'shared/breadcrumbs.html' %}
<div class="container">
  <div class="row">
    <div class="col col-12 mb-3">
      <div class="card card-lg shadow-lg">

      <div class="card-body">
      <!-- The main form -->
      <div class="mb-3"><!-- Margin after submit button -->
      {% crispy form form.helper %}
      </div>

      <!-- One formset, optional -->
      {% if formset %}
      <div class="card card-lg shadow-lg">
      <div class="card-body">
      {% crispy formset formset_helper %}
      </div><!-- .card-body -->
      </div><!-- .card -->
      {% endif %}

      <!-- Many formsets, optional -->
      {% if formset_list %}
      {% for fs in formset_list  %}
      <div class="card card-lg shadow-lg">
      <div class="card-body">
      {% crispy formset formset_helper %}
      </div><!-- .card-body -->
      </div><!-- .card -->
      {% endfor %}
      {% endif %}
      </div><!-- .card-body -->
      </div><!-- .card -->
    </div><!-- .col -->
  </div><!-- .row -->
</div> --><!-- .container
{% endblock %}

{% block extrastyle %}
{{ form.media.css }}
    <!-- Some widgets need JQuery to be loaded early -->
    {% if settings.OFFLINE %}{# Serve third party libraries locally - demo mode #}
    <script src="{% static 'offline/jquery.min.js' %}"></script>
    {% else %}{# Serve third party libraries from CDN - production mode #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" 
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    {% endif %}
{% endblock %}

{% block extrajs %}
{{ form.media.js }}

{% endblock extrajs %}