<!-- Generic list template: Breadcrumbs, pagination, resource download, cards, filters. -->
{% extends "pages/base.html" %}
{% load staticfiles leaflet_tags geojson_tags crispy_forms_tags bootstrap4 export_download %}

{% block content %}
<span class="float-right">{% resource_download_menu %}</span>
{% include 'shared/breadcrumbs.html' %}
{% include 'shared/pagination_row.html' %}
<div class="row" id="data-row">
  <!-- Data -->
  <div id="cards-row" class="col-lg-9 col-md-8 col-sm-6 col-12">
    <div class="row">
      {% for object in object_list %}
        {% if object.opts.card_template %}
        {% include object.opts.card_template %}
        {% else %}
          <div>WARNING: {{ object.opts.model_name }}.opts.card_template is missing!</div>
        {% endif %}
      {% endfor %}
      </div><!-- /.row -->
  </div><!-- /#cards-row -->

  <!-- Search -->
  <div id="filters-row" class="col-lg-3 col-md-4 col-sm-6 col-12">
    <form method="get">
      <div class="row-fluid">
        {% bootstrap_form list_filter.form %}
      </div>
      <button
        class="btn btn-primary my-2 my-sm-0"
        title="Filter by above criteria." type="submit">
        Go
      </button>
    </form>
  </div><!-- /#filters-row -->
</div><!-- /#data-row-->
{% endblock %}

{% block css%}
{{ block.super }}
{% leaflet_css %}
{% include 'shared/map.css' %}
{{ list_filter.form.media.css }}
{% endblock %}

{% block javascript %}
{{ block.super }}
{% leaflet_js %}
{% include 'shared/map.js' %}
{{ list_filter.form.media.js }}
{% endblock %}
