<!-- Default detail page: breadcrumbs, object as card. -->
{% extends "pages/base.html" %}
{% load staticfiles leaflet_tags geojson_tags crispy_forms_tags bootstrap4 %}

{% block content %}
{% include 'shared/breadcrumbs.html' %}
{% if object.opts.card_template %}
{% include object.opts.card_template %}
{% else %}
  <div>WARNING: {{ object.opts.model_name }}.opts.card_template is missing!</div> object: {{object}} object: {{object}}
{% endif %}


{% endblock %}

{% block css%}{{ block.super }}{% leaflet_css %}{% endblock %}
{% block javascript%}{{ block.super }}{% leaflet_js %}{% endblock %}