{% extends "pages/base.html" %}
{% load staticfiles leaflet_tags geojson_tags mptt_tags taxonomy_tags crispy_forms_tags bootstrap4 %}

{% block content %}
<div class="container-fluid" id="wrap">

  <!-- Breadcrumbs -->
  <div class="row">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active">
          <a href="/">
            {{ settings.SITE_NAME }} Home
          </a>
        </li>
      </ol>
    </nav>
  </div>


<div class="container centering">

  <div class="row">

    <div class="col-lg-4 col-md-6 col-12">
      <img class="rounded-circle"
        src="{% static 'images/green_hatchling_140.png' %}"
        alt="Green turtle hatchling at Thevenard Island. Photo: Florian Mayer, DBCA."
        width="140" height="140">
      <h2>Species</h2>
      <p>
        Browse and search WA species, view conservation status and suggest conservation status changes.
      </p>
      <p>
        <a class="btn btn-primary"
           href="{% url 'taxonomy:taxon-list' %}?paraphyletic_groups={{ settings.ANIMALS_PK }}&is_terminal_taxon=true"
           title="Browse, filter and search animals">
          Animals »
        </a>
        <a class="btn btn-primary"
           href="{% url 'taxonomy:taxon-list' %}?paraphyletic_groups={{ settings.PLANTS_PK }}&is_terminal_taxon=true"
           title="Browse, filter and search plants (sensu latu)">
          Plants »
        </a>
        <a class="btn btn-primary" href="{% url 'taxonomy:taxon-list' %}?is_terminal_taxon=true"
            title="Browse, filter and search Species">
          All »
        </a>
      </p>
      <p>
        <a class="btn btn-danger"
           href="{% url 'taxonomy:taxon-list' %}?paraphyletic_groups={{ settings.ANIMALS_PK }}&is_terminal_taxon=true&conservation_level=threatened&conservation_level=priority"
           title="Browse, filter and search conservation significantanimals">
          Animals »
        </a>
        <a class="btn btn-danger"
           href="{% url 'taxonomy:taxon-list' %}?paraphyletic_groups={{ settings.PLANTS_PK }}&is_terminal_taxon=true&conservation_level=threatened&conservation_level=priority"
           title="Browse, filter and search conservation significant plants (sensu latu)">
          Plants »
        </a>
        <a class="btn btn-danger" href="{% url 'taxonomy:taxon-list' %}?is_terminal_taxon=true&conservation_level=threatened&conservation_level=priority"
            title="Browse, filter and search conservation significant species">
          All »
        </a>
      </p>
      <h4>Occurrences</h4>
      <p>
        <a class="btn btn-primary"
           href="{% url 'occurrence:taxonareaencounter-list' %}?taxon__paraphyletic_groups={{ settings.ANIMALS_PK }}"
           title="Browse, filter and search all animal occurrences">
          Animals »
        </a>
        <a class="btn btn-primary"
           href="{% url 'occurrence:taxonareaencounter-list' %}?taxon__paraphyletic_groups={{ settings.PLANTS_PK }}"
           title="Browse, filter and search all plant (sensu latu) occurrences">
          Plants »
        </a>
        <a class="btn btn-primary"
          href="{% url 'occurrence:taxonareaencounter-list' %}"
          title="Browse all species occurrences">
          All »
        </a>
      </p>
      <p>
        <a class="btn btn-danger"
           href="{% url 'occurrence:taxonareaencounter-list' %}?taxon__paraphyletic_groups={{ settings.ANIMALS_PK }}&conservation_level=threatened&conservation_level=priority"
           title="Browse, filter and search conservation significant animal occurrences">
          Animals »
        </a>
        <a class="btn btn-danger"
           href="{% url 'occurrence:taxonareaencounter-list' %}?taxon__paraphyletic_groups={{ settings.PLANTS_PK }}&conservation_level=threatened&conservation_level=priority"
           title="Browse, filter and search conservation significant plant (sensu latu) occurrences">
          Plants »
        </a>
        <a class="btn btn-danger"
          href="{% url 'occurrence:taxonareaencounter-list' %}?conservation_level=threatened&conservation_level=priority"
          title="Browse conservation significant species occurrences">
          All »
        </a>
      </p>
      <p>
        <a class="btn btn-primary"
        href="{% url 'occurrence:taxonareaencounter-create' %}"
        title="Submit species occurrences">
        Report occurrence »</a>
      </p>
      <h4>Conservation listing</h4>
      <p>
        <a class="btn btn-success"
        href="{% url 'admin:conservation_taxongazettal_add' %}"
        title="Nominate a species for a conservation status">
        Lodge nomination »</a>
      </p>

      <p>
        {% if request.user.is_staff %}
        <a class="btn btn-warning btn-block mb-2 text-left"
           href="{% url 'taxonomy:taxon-list' %}?paraphyletic_groups={{ settings.ANIMALS_PK }}&is_terminal_taxon=true&current=true&conservation_level=threatened&conservation_level=priority&current=false"
           title="Browse non-current animal names requiring manual changes to conservation listing to their current counterparts">
          <span class="oi oi-grid-three-up" aria-hidden="true"></span>
          <span class="align-left">Browse non-current thr/prio animals</span>
        </a>
        <a class="btn btn-warning btn-block mb-2 text-left"
           href="{% url 'taxonomy:taxon-list' %}?paraphyletic_groups={{ settings.ANIMALS_PK }}&is_terminal_taxon=true&current=true&conservation_level=threatened&conservation_level=priority&is_terminal_taxon=false"
           title="Browse non-terminal animal names requiring manual changes to conservation listing to their terminal descendants">
          <span class="oi oi-grid-three-up" aria-hidden="true"></span>
          <span class="align-left">Browse non-terminal thr/prio animals</span>
        </a>

        <a class="btn btn-warning btn-block mb-2 text-left"
           href="{% url 'taxonomy:taxon-list' %}?paraphyletic_groups={{ settings.PLANTS_PK }}&is_terminal_taxon=true&current=true&conservation_level=threatened&conservation_level=priority&current=false"
           title="Browse non-current plant names requiring manual changes to conservation listing to their current counterparts">
          <span class="oi oi-grid-three-up" aria-hidden="true"></span>
          <span class="align-left">Browse non-current thr/prio plants</span>
        </a>
        <a class="btn btn-warning btn-block mb-2 text-left"
           href="{% url 'taxonomy:taxon-list' %}?paraphyletic_groups={{ settings.PLANTS_PK }}&is_terminal_taxon=true&current=true&conservation_level=threatened&conservation_level=priority&is_terminal_taxon=false"
           title="Browse non-terminal plant names requiring manual changes to conservation listing to their terminal descendants">
          <span class="oi oi-grid-three-up" aria-hidden="true"></span>
          <span class="align-left">Browse non-terminal thr/prio plants</span>
        </a>
        {% endif %}

      </p>
    </div>

    <div class="col-lg-4 col-md-6 col-12">
      <img class="rounded-circle"
        src="{% static 'images/tec_val.png' %}"
        alt="Shrublands and woodlands of the eastern side of the Swan Coastal Plain TEC. Photo: Val English, DBCA."
        width="140" height="140">
      <h2>Communities</h2>
      <p>
        Browse and search WA ecological communities,
        view conservation status and suggest conservation status changes.
      </p>
      <p>
        <a class="btn btn-primary" href="{% url 'taxonomy:community-list' %}"
            title="Browse, filter and search communities">
          Browse communities »
        </a>
      </p>
      <p>
        <a class="btn btn-danger" href="{% url 'taxonomy:community-list' %}?conservation_level=threatened&conservation_level=priority"
            title="Browse, filter and search conservation significant communities">
          Browse communities »
        </a>
      </p>
      <h4>Occurrences</h4>
      <p>
        <a class="btn btn-primary"
          href="{% url 'occurrence:communityareaencounter-list' %}"
          title="Browse community occurrences">
          Browse occurrences »
        </a>
      </p>
      <p>
        <a class="btn btn-danger"
          href="{% url 'occurrence:communityareaencounter-list' %}?conservation_level=threatened&conservation_level=priority"
          title="Browse conservation significant community occurrences">
          Browse occurrences »
        </a>
      </p>
      <p>
        <a class="btn btn-primary"
        href="{% url 'occurrence:communityareaencounter-create' %}"
        title="Submit community occurrences">
        Report occurrence »</a>
      </p>
      <h4>Conservation listing</h4>
      <p>
        <a class="btn btn-success"
        href="{% url 'admin:conservation_communitygazettal_add' %}"
        title="Nominate a community for a conservation status">
      Lodge nomination »</a>
      </p>
    </div>

    <div class="col-lg-4 col-md-6 col-12">
      <img class="rounded-circle"
        src="{% static 'images/map_wa_square.png' %}"
        alt="Map of Western Australia showing TSC data on ESRI imagery. Copyright background layers: ESRI."
        width="140" height="140">
      <h2>Map</h2>
      <p>
        View selected occurrences of threatened species and communities on a map.
      </p>
      <p>
        <a class="btn btn-primary" href="{% url 'map' %}"
            title="Map Threatened Species and Communities">
          View Map »
        </a>
      </p>
    </div>

  </div><!-- .row -->
</div><!-- .container -->

</div><!-- #wrap -->
{% endblock %}