{% extends "pages/base.html" %}
{% load static leaflet_tags geojson_tags cache %}

{% cache 600 maparea %}
{% block map %}
<div id="map">
    {% leaflet_map "wastdmap" callback="window.map_init" %}
</div>
{% endblock %}
{% endcache %}

{% block extrastyle %}
<style>
.leaflet-popup, .leaflet-popup-content-wrapper {
  width: 540px !important;
  padding: -10px;  /* fix close button position */
}
.leaflet-popup-content {
  width: 520px !important;
  word-wrap: break-word;
}
</style>
{% endblock %}

{% block extrajs %}
    {% if settings.OFFLINE %}{# Serve third party libraries locally - demo mode #}
    <script src="{% static 'offline/f8f5501a45.js' %}"></script>
    {% else %}{# Serve third party libraries from CDN - production mode #}
    <script src="//use.fontawesome.com/f8f5501a45.js"></script>
    {% endif %}
<script type="text/javascript">
function map_init(map, options) {
    {% include 'shared/styles.js' %}

    /* Data loading */
    var markers = L.markerClusterGroup();
    var gj_markers = L.geoJson(
        {{ object_list|geojsonfeature:'as_html,leaflet_title,leaflet_icon,leaflet_colour:where'|safe }},
        // {clipTiles: true, unique: getUnique},
        {style: pointstyle, pointToLayer: ptl, onEachFeature: oef_ll}
        );
    markers.addLayer(gj_markers);
    map.addLayer(markers);

    /*
     * Option 2: GeoJSON view
     * The quick and dirty way to dump all (whoa) data into one layer
     * https://github.com/makinacorpus/django-geojson#geojson-layer-view
     * We'll use this method to load area polygons.
     */
    $.getJSON("{% url 'localities-geojson' %}", function (data) {
        L.geoJson(data, {style: polystyle, onEachFeature: oef}).addTo(map);
    });

    // fetch(
    //   "{% url 'areas-geojson' %}"
    // ).then(
    //   function(response){return response.json();}
    // ).then(
    //   function(data){L.geoJson(data, {style: polystyle, onEachFeature: oef}).addTo(map);}
    // )

    /*
     * Option 3: Tiled GeoJSON      ...because we can, baby
     * Most performant solution
     * https://github.com/glenrobertson/leaflet-tilelayer-geojson/
     * TODO filters or clustering
     * getUnique returns grouping variable (using feature.id disables grouping)
     * ptl overrides default marker with AwesomeMarker
     * oef binds popup to marker
     */
    // var geojsonTileLayer = new L.TileLayer.GeoJSON(
    //     'data/{z}/{x}/{y}.geojson',
    //     {clipTiles: true, unique: getUnique},
    //     {style: style, pointToLayer: ptl, onEachFeature: oef}
    // ).addTo(map);
}
</script>
{% endblock %}
