{% extends "base.html" %}
{% load staticfiles leaflet_tags geojson_tags mptt_tags taxonomy_tags crispy_forms_tags bootstrap4 %}

{% block content %}
<div class="container">

  <!-- Breadcrumbs -->
<div class="row">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active"><a href="/">{{ settings.SITE_NAME }} Home</a></li>
    </ol>
  </nav>
</div>
<div class="row">


    <div class="col col-lg-8 col-12">
      <a class="btn btn-primary btn-block" href="{% url 'taxon-list' %}"
        title="Browse, filter and search Threatened Species">
        <h3>
          <span class="oi oi-grid-three-up" title="Browse Threatened Species" aria-hidden="true"></span>
          Species
        </h3>
      </a>

      <a class="btn btn-primary btn-block" href="{% url 'community-list' %}"
        title="Browse, filter and search Threatened Communities">
        <h3>
          <span class="oi oi-grid-three-up" title="Browse Threatened Communities" aria-hidden="true"></span>
          Communities
        </h3>
      </a>

      <a class="btn btn-primary btn-block" href="{% url 'map' %}" title="">
        <h3>
          <span class="oi oi-globe" title="" aria-hidden="true"></span>
          Map
        </h3>
      </a>

      <a class="btn btn-secondary btn-block" href="#" title="">
        <h3>
          <span class="oi oi-spreadsheet" title="" aria-hidden="true"></span>
          Submit occurrences
        </h3>
      </a>

      <a class="btn btn-primary btn-block"
        href="{% url 'admin:conservation_taxongazettal_add' %}"
        title="">
        <h3>
          <span class="oi oi-text" title="" aria-hidden="true"></span>
          Lodge nomination (taxon)
        </h3>
      </a>

      <a class="btn btn-primary btn-block"
        href="{% url 'admin:conservation_communitygazettal_add' %}"
        title="">
        <h3>
          <span class="oi oi-text" title="" aria-hidden="true"></span>
          Lodge nomination (community)
        </h3>
      </a>

      <a class="btn btn-secondary btn-block" href="#" title="">
        <h3>
          <span class="oi oi-document" title="" aria-hidden="true"></span>
          View reports
        </h3>
    </a>
  </div>
</div>
{% endblock %}