{% extends "base.html" %}
{% load staticfiles leaflet_tags geojson_tags mptt_tags taxonomy_tags crispy_forms_tags bootstrap4 %}

{% block content %}
<div class="container-fluid" id="wrap">

  <!-- Breadcrumbs -->
  <div class="row">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active">
          <a href="/">
            {{ settings.SITE_NAME }} Home
          </a>
        </li>
      </ol>
    </nav>
  </div>


<div class="container centering">

  <div class="row">

    <div class="col-lg-4 col-md-6 col-12">
      <img class="rounded-circle"
        src="{% static 'images/green_hatchling_140.png' %}"
        alt="Green turtle hatchling at Thevenard Island. Photo: Florian Mayer, DBCA."
        width="140" height="140">
      <h2>Species</h2>
      <p>
        Browse and search WA species, view conservation status and suggest conservation status changes.
      </p>
      <p>
        <a class="btn btn-primary" href="{% url 'taxonomy:taxon-list' %}"
            title="Browse, filter and search Species">
          Browse species »
        </a>
      </p>
      <p>
        <a class="btn btn-secondary"
        href="{% url 'occurrence:taxonareaencounter-create' %}"
        title="Submit species occurrences">
        Report species occurrence »</a>
      </p>
      <p>
        <a class="btn btn-secondary"
        href="{% url 'admin:conservation_taxongazettal_add' %}"
        title="Nominate a species for a conservation status">
        Lodge nomination »</a>
      </p>
    </div>

    <div class="col-lg-4 col-md-6 col-12">
      <img class="rounded-circle"
        src="{% static 'images/tec_val.png' %}"
        alt="Shrublands and woodlands of the eastern side of the Swan Coastal Plain TEC. Photo: Val English, DBCA."
        width="140" height="140">
      <h2>Communities</h2>
      <p>
        Browse and search WA ecological communities,
        view conservation status and suggest conservation status changes.
      </p>
      <p>
        <a class="btn btn-primary" href="{% url 'taxonomy:community-list' %}"
            title="Browse, filter and search Communities">
          Browse communities »
        </a>
      </p>
      <p>
        <a class="btn btn-secondary"
        href="{% url 'occurrence:communityareaencounter-create' %}"
        title="Submit community occurrences">
        Report community occurrence »</a>
      </p>
      <p>
        <a class="btn btn-secondary"
        href="{% url 'admin:conservation_communitygazettal_add' %}"
        title="Nominate a community for a conservation status">
      Lodge nomination »</a>
      </p>
    </div>

    <div class="col-lg-4 col-md-6 col-12">
      <img class="rounded-circle"
        src="{% static 'images/map_wa_square.png' %}"
        alt="Map of Western Australia showing TSC data on ESRI imagery. Copyright background layers: ESRI."
        width="140" height="140">
      <h2>Map</h2>
      <p>
        View selected occurrences of threatened species and communities on a map.
      </p>
      <p>
        <a class="btn btn-primary" href="{% url 'map' %}"
            title="Map Threatened Species and Communities">
          View Map »
        </a>
      </p>
    </div>

  </div><!-- .row -->
</div><!-- .container -->

</div><!-- #wrap -->
{% endblock %}