{% extends "base.html" %}
{% load staticfiles leaflet_tags geojson_tags mptt_tags taxonomy_tags crispy_forms_tags bootstrap4 %}

{% block content %}
<div class="container-fluid" id="wrap">

  <!-- Breadcrumbs -->
  <div class="row">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">
          <a href="{% url 'conservationaction-list' %}">Conservation Actions</a>
        </li>
      </ol>
    </nav>
  </div>

  <div class="container-fluid">

    <!-- Pagination -->
    <div class="row">
      <div class="col-12">
        {% bootstrap_pagination page_obj pages_to_show=7 size='small' extra=request.GET.urlencode %}
      </div>
    </div>

    <div class="row">
      <!-- Data -->
      <div id="dash-data" class="col-lg-9 col-md-8 col-sm-6 col-12">
        <div class="row">
          {% for action in object_list %}
          <div class="row d-block">
            <div class="col-12">
              <span class="badge badge-success" title="Management action">
                <span class="oi oi-task" aria-hidden="true"></span> {{ action.category }}
              </span>
              {{ action.instructions }}
              <small class="float-right">
                {% if is_staff %}
                <a href="{{ action.absolute_admin_url }}"
                  title="Because you have DBCA Curator privileges, you may edit this managment action." target="_">
                  <span class="oi oi-pencil" aria-hidden="true"></span>
                </a>
                {% endif %}
              </small>
            </div>
          </div>
          {% endfor %}
        </div>
      </div><!-- /#dash-data -->

      <!-- Search -->
      <div id="dash-filters" class="col-lg-3 col-md-4 col-sm-6 col-12">
        <form method="get">
          <div class="row-fluid">
            {% bootstrap_form list_filter.form %}
          </div>
          <button
            class="btn btn-primary my-2 my-sm-0"
            title="Filter by above criteria." type="submit">
            Go
          </button>
        </form>
      </div><!-- /#dash-filters -->
    </div><!-- .row -->
  </div><!-- .container-fluid -->
</div><!-- #wrap -->
{% endblock %}

{% block css%}
{{ block.super }}
{% leaflet_css %}
{% endblock %}

{% block javascript%}
{{ block.super }}
{% leaflet_js %}
{% endblock %}