{% load staticfiles taxonomy_tags occurrence_tags %}

<div class="card card-md col-lg-4 col-md-6 col-sm-6 col-12">
  <img class="card-img-top" src="{% static 'images/map_example.png' %}" alt="Occurrence map">
  <div class="card-body">

    <h5 class="card-title">
      {{ object.code }}
    </h5>

    <h6 class="card-subtitle mb-2 text-muted">
      {{ object.name }}
    </h6>

    {% include 'conservation/includes/gazettal_labels.html' %}

  </div>

  <ul class="list-group list-group-flush">
    {% document_listgroupitem request.user %}
  </ul>

  <div class="card-footer">
    <a href="{% url 'taxonomy:community-detail' object.pk %}"
      class="btn btn-primary btn-sm btn-block"
      title="View details for community {{ object }}.">
      <span class="oi oi-eye" aria-hidden="true"></span>
      View Details
    </a>
    {% communitygazettal_add request.user block=True label=True %}
    {% conservationthreat_add request.user "communities" block=True label=True %}
    {% conservationaction_add request.user "communities" block=True label=True %}
    {% document_add "communities" block=True label=True %}
    {% admin_areaencounter_create_link object.pk "community" block=True label=True %}
    {% communityareaencounter_add_link object.pk block=True label=True %}
  </div>
</div>