{% load staticfiles taxonomy_tags occurrence_tags %}
<div class="card card-md col-lg-4 col-md-6 col-sm-6 col-12 shadow">
  <!-- <img class="card-img-top" src="{% static 'images/map_example.png' %}" alt="Occurrence map"> -->
  <div class="card-body">

    <h5 class="card-title">
      {{ object.code }}
    </h5>

    <h6 class="card-subtitle mb-2 text-muted">
      {{ object.name }}
    </h6>

    {% include 'conservation/include/gazettal_labels.html' %}
    {% include 'conservation/include/document.html' %}

  </div>

  <div class="card-footer">
    <div class="row mb-2">
      <a href="{% url 'taxonomy:community-detail' object.pk %}"
        class="btn btn-primary btn-sm mr-2 flex-fill"
        title="View details for community {{ object }}.">
        <span class="oi oi-eye" aria-hidden="true"></span>
        View Details
      </a>
      <a class="btn btn-secondary btn-sm" data-toggle="collapse"
        href="#actions{{ object.pk }}" role="button" aria-expanded="false" aria-controls="actions{{ object.pk }}">
        <span class="oi oi-expand-down" aria-hidden="true"></span>
        More
      </a>
    </div>
    <div class="collapse" id="actions{{ object.pk }}">
      {% include 'conservation/include/communityconservationlisting_add.html' with label=True block=True community=object %}
      {% include 'conservation/include/conservationthreat_add.html' with subject="communities" label=True block=True %}
      {% include 'conservation/include/conservationaction_add.html' with subject="communities" label=True block=True %}
      {% include 'conservation/include/document_add.html' with subject="communities" label=True block=True %}
      {% include 'occurrence/include/areaencounter_add_link.html' with subject="community" pk=object.pk label=True block=True %}
    </div>
  </div>
</div>