{% load staticfiles taxonomy_tags occurrence_tags %}
<div class="card card-md col-lg-4 col-md-6 col-sm-6 col-12 shadow">
  <!-- <img class="card-img-top" src="{% static 'images/map_example.png' %}" alt="Occurrence map"> -->
  <div class="card-body">

    <h6 class="card-subtitle mb-2 text-muted">


    <!-- Name ID -->
    <span class="badge badge-primary" title="WACensus Name ID: {{object.name_id}}">
      {{ object.name_id }}
    </span>

    <!-- Rank -->
    <span class="badge badge-primary" title="Taxonomic rank: {{ object.get_rank_display }}">
      {{ object.get_rank_display }}
    </span>

    {% include "include/taxonomic_status.html" %}

    <!-- Publication status -->
    {% if object.publication_status < 2 %}
    <span class="badge badge-secondary">
      {{ object.get_publication_status_display }}
    </span>
    {% endif %}

    <!-- Leaf nodes are terminal taxa -->
    {% if object.is_leaf_node %}
    <span class="badge badge-success">
      <span class="oi oi-media-stop" title="Terminal Taxon" aria-hidden="true"></span>
    </span>
    {% endif %}
    </h6>

    <h6 class="card-subtitle mb-2 text-muted">
    {% include "include/paraphyletic_groups.html" %}
    </h6>

    <h5 class="card-title {% if object.current == False %}text-muted{% endif %}">
      {{ object.canonical_name }}
    </h5>

    <!-- Author -->
    {% if object.author %}
    <h6 class="card-subtitle mb-2 text-muted">
      <span class="oi oi-person" title="Author" aria-hidden="true"></span>
      {{ object.author }}
    </h6>
    {% endif %}

    {% include "include/vernaculars.html" %}

    {% include 'conservation/include/gazettal_labels.html' %}

  </div>

  <ul class="list-group list-group-flush">
    {% document_listgroupitem request.user %}
  </ul>

  <div class="card-footer">
    <div class="row">

    <a href="{{ object.get_absolute_url }}"
      class="btn btn-primary btn-sm btn-block"
      title="View details.">
      <span class="oi oi-eye" aria-hidden="true"></span>
      View details
    </a>

    <a href="?name_id={{ object.name_id }}"
      class="btn btn-secondary btn-sm btn-block"
      title="Restrict results to {{ object.taxonomic_name }} with its parents and immediate children and reset all filters.">
      <span class="oi oi-project" aria-hidden="true"></span>
      Explore taxonomy
    </a>
    {% admin_taxon_change_link request.user block=True label=True %}
    {% taxongazettal_add request.user block=True label=True %}
    {% include 'conservation/include/conservationthreat_add.html' with subject="taxa" label=True block=True %}
    {% include 'conservation/include/conservationaction_add.html' with subject="taxa" label=True block=True %}
    {% include 'conservation/include/document_add.html' with subject="taxa" label=True block=True %}
    {% taxonareaencounter_add_link object.name_id block=True label=True %}
    </div>
  </div>
</div>