{% load staticfiles i18n compress leaflet_tags observations %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}WAStD{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% block css %}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/css/bootstrap.min.css"
    integrity="sha384-MIwDKRSSImVFAZCVLtU0LMDdON6KVCrZHyVQQj6e8wIEJkW4tvwqXrbMIya1vriY" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="//unpkg.com/leaflet@1.0.1/dist/leaflet.css" /> -->
    <!-- <link rel="stylesheet" href="//static.dpaw.wa.gov.au/static/libs/leaflet.markercluster/1.0.0-rc.1.0/MarkerCluster.css" /> -->
    <!-- <link rel="stylesheet" href="//static.dpaw.wa.gov.au/static/libs/leaflet.markercluster/1.0.0-rc.1.0/MarkerCluster.Default.css" /> -->

    <!-- Your stuff: Third-party css libraries go here -->
    {% compress css %}
    {% leaflet_css %}
    <link rel="stylesheet" href="{% static 'css/leaflet.awesome-markers.css' %}">
    <link rel="stylesheet" href="{% static 'css/leaflet.label.css' %}">
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
    {% endcompress %}
    {% endblock %}
  </head>

  <body>

    <div class="m-b">
      <nav class="navbar navbar-dark navbar-fixed-top bg-inverse" id="navBar">
        <div class="container">
          <a class="navbar-brand" href="/">WA Strandings Database WAStD</a>
          <button type="button"
            class="navbar-toggler hidden-sm-up pull-xs-right"
            data-toggle="collapse" data-target="#bs-navbar-collapse-1">
            &#9776;
          </button>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-toggleable-xs" id="bs-navbar-collapse-1">
              <ul class="nav navbar-nav">
                  <!-- <li class="nav-item">
                    <a class="nav-link" href="{% url 'encounter_list' %}" target="_">
                        <i class="fa fa-table"></i>&nbsp;Encounters
                    </a>
                  </li> -->
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'animalencounter_list' %}">
                        <i class="fa fa-table"></i>&nbsp;Data
                    </a>
                  </li>
                  {% if request.user.is_staff %}
                   <li class="nav-item">
                     <a class="nav-link" href="{% url 'admin:index' %}" target="_">
                         <i class="fa fa-cog"></i>&nbsp;Backstage
                     </a>
                   </li>

                   <li class="nav-item">
                     <a class="nav-link" href="{% url 'update-names' %}">
                         <i class="fa fa-refresh"></i>&nbsp;Update
                     </a>
                   </li>
                   {% endif %}
                   <li class="nav-item">
                     <a class="nav-link" href="/api/1/" target="_">
                         <i class="fa fa-database"></i>&nbsp;API
                     </a>
                   </li>
                   <!-- <li class="nav-item">
                     <a class="nav-link" href="{% url 'api-docs' %}" target="_">
                         <i class="fa fa-info"></i>&nbsp;API docs
                     </a>
                   </li> -->
                   <li class="nav-item">
                     <a class="nav-link" href="http://wastd.readthedocs.io/" target="_">
                         <i class="fa fa-book"></i>&nbsp;Manual
                     </a>
                   </li>

              </ul>

              <ul class="nav navbar-nav pull-xs-right">
                {% if request.user.is_authenticated %}
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:detail' request.user.username  %}">
                        <i class="fa fa-user"></i>&nbsp;{% trans "My Profile" %}
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_logout' %}">
                        <i class="fa fa-sign-out"></i>&nbsp;{% trans "Sign out" %}
                    </a>
                  </li>
                {% else %}
                  <li class="nav-item">
                    <a id="sign-up-link" class="nav-link" href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a>
                  </li>
                  <li class="nav-item">
                    <a id="log-in-link" class="nav-link" href="{% url 'account_login' %}">{% trans "Sign In" %}</a>
                  </li>
                {% endif %}
              </ul>

          </div>
        </div>
        {% if messages %}
        <div class="container">
            {% for message in messages %}
                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
            {% endfor %}
        </div>
        {% endif %}

      </nav>
    </div>
    <div class="container">
    {% block content %}{% endblock content %}
    </div>
    {% block fullwidthcontent %}{% endblock %}
    {% block map %}{% endblock %}

    <div class="container">
      {% if messages %}
          {% for message in messages %}
              <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
          {% endfor %}
      {% endif %}
    </div> <!-- /container -->

    {% block modal %}{% endblock modal %}

    {% block javascript %}
      <script src="//ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"
          integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY"
          crossorigin="anonymous"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js"
          integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB"
          crossorigin="anonymous"></script>
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/js/bootstrap.min.js"
          integrity="sha384-ux8v3A6CPtOTqOzMKiuo3d/DomGaaClxFYdCu2HPMBEkf6x2xiDyJ7gkXU0MWwaD"
          crossorigin="anonymous"></script>

      <!-- Fontawesome: icons -->
      <!-- <script src="//use.fontawesome.com/f8f5501a45.js"></script> -->

      <!-- <script src="//static.dpaw.wa.gov.au/static/libs/leaflet/1.0.1/leaflet.js"></script> -->
      <!-- <script src="//static.dpaw.wa.gov.au/static/libs/leaflet.markercluster/1.0.0-rc.1.0/leaflet.markercluster.js"></script> -->

      {% compress js %}
      {% leaflet_js %} <!-- django-leaflet = Leaflet-0.7.7 plus django integration -->
      <script src="{% static 'js/leaflet.awesome-markers.min.js' %}"></script>
      <script src="{% static 'js/leaflet.label.js' %}"></script>
      <script src="{% static 'js/fontawesome.js' %}"></script>
      <script src="{% static 'js/project.js' %}"></script>
      <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-45890579-4', 'auto');
      ga('send', 'pageview');
      </script>
      {% endcompress %}

      <script src="//static.dpaw.wa.gov.au/static/libs/leaflet-tilelayer-geojson/1.0.4/TileLayer.GeoJSON.js"></script>
    {% endblock javascript %}
  </body>
</html>
