<ul class="navbar-nav mr-auto">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/" id="nav-li-species" title="Species" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa-solid fa-table" aria-hidden="true"></i>
            Tagging
        </a>
        <div class="dropdown-menu" aria-labelledby="nav-li-species">
            <a class="dropdown-item" href="{% url 'observations:animalencounter-list' %}?encounter_type=tagging" title="Browse, filter and search all Turtle Tagging encounters">
                <i class="fa-solid fa-table" aria-hidden="true"></i>
                <span class="align-left">Tagged turtles</span>
            </a>
            <a class="dropdown-item" href="{% url 'observations:animalencounter-list' %}?checked_for_flipper_tags=present" title="Browse, filter and search all encounters with injured turtles, including tagging and strandings">
                <i class="fa-solid fa-table" aria-hidden="true"></i>
                <span class="align-left">Flipper tagged Turtles</span>
            </a>
            <a class="dropdown-item" href="{% url 'observations:animalencounter-list' %}?encounter_type=inwater" title="Browse, filter and search all in-water encounters">
                <i class="fa-solid fa-table" aria-hidden="true"></i>
                <span class="align-left">In-water encounters</span>
            </a>
        </div>
    </li>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/" id="nav-li-tracks" title="Turtle Nesting Census" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa-solid fa-table" aria-hidden="true"></i>
            Nests and Tracks
        </a>
        <div class="dropdown-menu" aria-labelledby="nav-li-tracks">
            <a class="dropdown-item" href="{% url 'observations:turtlenestencounter-list' %}" title="Browse, filter and search all Turtle Nest Encounters">
                <i class="fa-solid fa-table" aria-hidden="true"></i>
                Browse all Turtle Nest Encounters
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'observations:turtlenestencounter-list' %}?disturbance=present" title="Browse, filter and search disturbed or predated nests">
                <i class="fa-solid fa-table" aria-hidden="true"></i>
                Disturbed nests
            </a>
            {% comment %}
            <a class="dropdown-item" href="{% url 'observations:encounter-list' %}" title="Browse, filter and search general disturbance or predator presence">
                <i class="fa-solid fa-table" aria-hidden="true"></i>
                General dist/pred
            </a>
            {% endcomment %}
            <a class="dropdown-item" href="{% url 'observations:turtlenestencounter-list' %}?nest_tagged=present" title="Browse, filter and search tagged nests">
                <i class="fa-solid fa-table" aria-hidden="true"></i>
                Tagged nests
            </a>
            <a class="dropdown-item" href="{% url 'observations:turtlenestencounter-list' %}?logger_found=present" title="Browse, filter and search Turtle Nest Encounters where loggers were deployed or found">
                <i class="fa-solid fa-table" aria-hidden="true"></i>
                Nests with loggers
            </a>
            <a class="dropdown-item"
                href="{% url 'observations:turtlenestencounter-list' %}?eggs_counted=present"
                title="Browse, filter and search eggscavated nests">
                <i class="fa-solid fa-table" aria-hidden="true"></i>
                Excavated nests
            </a>
            <a class="dropdown-item"
                href="{% url 'observations:turtlenestencounter-list' %}?hatchlings_measured=present"
                title="Browse, filter and search excavated nests with hatchling morphometric measurements">
                <i class="fa-solid fa-table" aria-hidden="true"></i>
                Nests with live hatchlings
            </a>
            <a class="dropdown-item"
                href="{% url 'observations:turtlenestencounter-list' %}?fan_angles_measured=present"
                title="Browse, filter and search nests with fan angles">
                <i class="fa-solid fa-table" aria-hidden="true"></i>
                Nests with fan angles
            </a>
            {% comment %}
            <a class="dropdown-item"
                href="{% url 'observations:linetransectencounter-list' %}"
                title="Browse, filter and search Track Tallies">
                <i class="fa-solid fa-table" aria-hidden="true"></i>
                Track Tallies
            </a>
            {% endcomment %}
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header">QA shortlists</h6>
            <a class="dropdown-item"
                href="{% url 'observations:turtlenestencounter-list' %}?species=cheloniidae-fam"
                title="Review tracks with uncertain species ID">
                <i class="fa-solid fa-table" aria-hidden="true"></i>
                Tracks with uncertain species ID
            </a>
            <a class="dropdown-item"
                href="{% url 'observations:turtlenestencounter-list' %}?nest_type=track-unsure"
                title="Review nests with uncertain nesting success">
                <i class="fa-solid fa-table" aria-hidden="true"></i>
                Nests with uncertain nesting success
            </a>
        </div>
    </li>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/"
            id="nav-li-mwi"
            title="Marine Wildlife Incidents"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false">
            <i class="fa-solid fa-heart-pulse" aria-hidden="true"></i>
            Strandings
        </a>
        <div class="dropdown-menu" aria-labelledby="nav-li-mwi">
            <a class="dropdown-item"
                href="{% url 'map' %}"
                title="View Marine Wildlife Incidents Map">
                <i class="fa-solid fa-earth-oceania" aria-hidden="true"></i>
                View Marine Wildlife Incidents map
            </a>
            <a class="dropdown-item"
                href="{% url 'observations:animalencounter-list' %}?health=alive-injured"
                title="Browse, filter and search all encounters with injured animals">
                <i class="fa-solid fa-table" aria-hidden="true"></i>
                <span class="align-left">Injured animals</span>
            </a>
            <a class="dropdown-item"
                href="{% url 'observations:animalencounter-list' %}?health=dead-edible&health=dead-organs-intact&health=dead-advanced&health=dead-mummified&health=dead-disarticulated"
                title="Browse encounters with dead animals">
                <i class="fa-solid fa-table" aria-hidden="true"></i>
                <span class="align-left">Dead animals</span>
            </a>
            <a class="dropdown-item" href="{% url 'observations:animalencounter-list' %}?health=alive"
                title="Browse encounters with healthy animals">
                <i class="fa-solid fa-table" aria-hidden="true"></i>
                <span class="align-left">Healthy animals</span>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'observations:animalencounter-list' %}"
                title="Browse all animal encounters">
                <i class="fa-solid fa-table" aria-hidden="true"></i>
                <span class="align-left">Browse all animal encounters</span>
            </a>
        </div>
    </li>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/" id="nav-li-surveys" title="Surveys" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa-solid fa-map-location" aria-hidden="true"></i>
            Surveys
        </a>
        <div class="dropdown-menu" aria-labelledby="nav-li-surveys">
            <a class="dropdown-item"
            href="{% url 'observations:survey-list' %}?production=true"
            title="Browse, filter and search all Surveys - production surveys pre-selected">
                <i class="fa-solid fa-table" aria-hidden="true"></i>
                <span class="align-left">Browse production Surveys</span>
            </a>
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header">QA shortlists</h6>
            <a class="dropdown-item"
            href="{% url 'observations:survey-list' %}?production=false"
            title="Browse, filter and search all Surveys - training surveys pre-selected">
                <i class="fa-solid fa-table" aria-hidden="true"></i>
                <span class="align-left">Browse training Surveys</span>
            </a>
        </div>
    </li>

    <!-- Users menu -->
    {% if request.user.is_staff %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/" id="nav-li-users" title="Users" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa-solid fa-users" aria-hidden="true"></i>
            Users
        </a>
        <div class="dropdown-menu" aria-labelledby="nav-li-users">
            <a class="dropdown-item"
            href="{% url 'users:user-list' %}?is_active=true"
            title="Browse, filter and search all active Users">
                <i class="fa-solid fa-table" aria-hidden="true"></i>
                <span class="align-left">Browse active Users</span>
            </a>
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header">QA shortlists</h6>
            <a class="dropdown-item"
            href="{% url 'users:user-list' %}?is_active=false"
            title="Browse, filter and search all Users marked as duplicates or deleted">
            <i class="fa-solid fa-table" aria-hidden="true"></i>
            <span class="align-left">Inactive Users</span>
            </a>
            <a class="dropdown-item"
            href="{% url 'users:user-list' %}?name=%2C&is_active=true"
            title="Users with a comma in the name were made from team lists and need to be merged">
            <i class="fa-solid fa-table" aria-hidden="true"></i>
            <span class="align-left">Users from teams (comma)</span>
            </a>
            <a class="dropdown-item"
            href="{% url 'users:user-list' %}?username=_and_&is_active=true"
            title="Users with an 'and' in the name were made from team lists and need to be merged">
            <i class="fa-solid fa-table" aria-hidden="true"></i>
            <span class="align-left">Users from teams (and)</span>
            </a>
            <a class="dropdown-item"
            href="{% url 'users:user-list' %}?name=%26&is_active=true"
            title="Users with an ampersand in the name were made from team lists and need to be merged">
            <i class="fa-solid fa-table" aria-hidden="true"></i>
            <span class="align-left">Users from teams (ampersand)</span>
            </a>
            {% if request.user.is_staff %}
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header">QA operations</h6>
            <a class="dropdown-item"
            href="{% url 'users:user-merge' %}"
            title="Merge duplicate User Profiles">
            <i class="fa-solid fa-users" aria-hidden="true"></i>
            <span class="align-left">Merge Profiles</span>
            </a>
            <a class="dropdown-item"
            href="{% url 'users:user-transfer' %}"
            title="Transfer data between User Profiles">
            <i class="fa-solid fa-users" aria-hidden="true"></i>
            <span class="align-left">Transfer Data</span>
            </a>
            {% endif %}
        </div>
    </li>
    {% endif %}

    <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="/"
        id="nav-li-analysts"
        title="Analysts"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false">
        <i class="fa-solid fa-chart-line" aria-hidden="true"></i>
        Analysts
    </a>
    <div class="dropdown-menu" aria-labelledby="nav-li-analysts">
        <!--
        <a class="dropdown-item"
            href="https://dbca-wa.github.io/wastd/index.html#document-data_consumers"
            title="Manual" target="_blank" rel="noreferrer">
            <i class="fa-solid fa-book" aria-hidden="true"></i>
            <span class="align-left">Data Analysts' Manual</span>
        </a>
        -->
        <a class="dropdown-item" href="/api/1/" title="API" target="_blank" rel="noreferrer">
            <i class="fa-solid fa-terminal" aria-hidden="true"></i>
            <span class="align-left">RESTful API</span>
        </a>
        {% if request.user.is_authenticated %}
        <a class="dropdown-item"
            title="My API Authentication"
            href="{% url 'users:user-detail' request.user.pk  %}">
            <i class="fa-solid fa-user" aria-hidden="true"></i>
            <span class="align-left">My API Authentication</span>
        </a>
        {% endif %}
    </div>
    </li>

    <!-- Curators menu -->
    {% if request.user.is_staff %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"
            href="/"
            id="nav-li-curators"
            title="Curators"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false">
            <i class="fa-solid fa-shield-halved" aria-hidden="true"></i>
            Curators
        </a>
        <div class="dropdown-menu" aria-labelledby="nav-li-curators">
            <!--
            <a class="dropdown-item"
                href="https://dbca-wa.github.io/wastd/index.html#document-data_curators"
                title="Manual" target="_blank">
                <i class="fa-solid fa-book" aria-hidden="true"></i>
                Data Curators' Manual
            </a>
            -->
            <a class="dropdown-item"
                href="{% url 'admin:index' %}"
                target="_blank"
                title="Data entry and curation area">
                <i class="fa-solid fa-flask" aria-hidden="true"></i>
                Data Curation Portal
            </a>
            {% if request.user.is_superuser %}
            <div class="dropdown-divider"></div>
            <a class="dropdown-item"
                href="{% url 'import-odka' %}"
                title="Import all ODKA forms">
                <i class="fa-solid fa-repeat" aria-hidden="true"></i>
                Import ODKA
            </a>
            <a class="dropdown-item"
                href="{% url 'reconstruct-surveys' %}"
                title="Reconstruct missing surveys">
                <i class="fa-solid fa-repeat" aria-hidden="true"></i>
                Reconstruct missing Surveys
            </a>
            <a class="dropdown-item"
                href="{% url 'resave-surveys' %}"
                title="Rebuild names for surveys, tagged animals, and loggers.">
                <i class="fa-solid fa-repeat" aria-hidden="true"></i>
                Re-save existing Surveys
            </a>
            <a class="dropdown-item"
                href="{% url 'update-names' %}"
                title="Reconstruct animal encounter case histories.">
                <i class="fa-solid fa-repeat" aria-hidden="true"></i>
                Reconstruct Animal Case Histories
            </a>
            {% endif %}
        </div>
    </li>
    {% endif %}

    {% comment %}
    <li class="nav-item">
        <a class="nav-link" href="https://dbca-wa.github.io/wastd/index.html" title="Stuck? Here's all you want to know (and more)" target="_blank">
            <i class="fa-solid fa-book" aria-hidden="true"></i> Manual
        </a>
    </li>
    {% endcomment %}

    {% block extranav %}{% endblock %}
</ul>

<ul class="nav navbar-nav pull-xs-right">
    {% if request.user.is_authenticated %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'users:user-detail' request.user.pk  %}">
            <i class="fa-solid fa-user" title="Profile" aria-hidden="true"></i>
            My Profile
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">
            <i class="fa-solid fa-arrow-right-from-bracket" title="Sign out" aria-hidden="true"></i>
            Sign out
        </a>
    </li>
    {% else %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">
            <i class="fa-solid fa-arrow-right-to-bracket" title="Sign in" aria-hidden="true"></i>
            Sign in
        </a>
    </li>
    {% endif %}
</ul>
