{% extends "base.html" %}
{% load staticfiles leaflet_tags geojson_tags mptt_tags taxonomy_tags crispy_forms_tags bootstrap4  %}

{% block content %}
{% include 'shared/breadcrumbs.html' %}
<div class="row">
  <div class="col-12">
  {% crispy form form.helper %}
  </div><!-- .col -->
</div><!-- .row -->
{% endblock %}

{% block extrastyle %}
{% leaflet_css plugins="ALL" %}
{{ form.media.css }}
{% endblock %}

{% block extrajs %}
{% leaflet_js plugins="ALL" %}
{{ form.media.js }}
<script type="text/javascript">
map.on('map:loadfield', function (e) {
    e.addControl(new L.Control.Fullscreen());
});
</script>
{% endblock extrajs %}