{% extends "pages/base.html" %}
{% load staticfiles compress leaflet_tags geojson_tags mptt_tags taxonomy_tags occurrence_tags observations crispy_forms_tags bootstrap4 %}
{% load render_table from django_tables2 %}

{% block extrastyle %}
{% leaflet_css %}
{% include 'shared/map.css' %}
{% compress css %}{# pragma: no cover #}
<style>
.leaflet-popup, .leaflet-popup-content-wrapper, .leaflet-popup-content {
  width: 350px; /* narrower popup */
  padding: -10px;  /* fix close button position */
}
.leaflet-tooltip { width: 200px; word-wrap: break-word; }
</style>
{% endcompress %}
{% endblock %}

{% block content %}
{% include 'shared/breadcrumbs.html' %}
<div class="row" id="row-occ-detail">
  <!-- Taxon details -->
  <div class="col-12 col-sm-12 col-md-6 col-lg-8" id="occ-detail-main">
    <div class="jumbotron">

      <div class="d-flex flex-row">
        <div class="mr-auto">
          <h3>Community occurrence</h3>
        </div>
        <div>
           <a href="{{ object.absolute_admin_url }}"
              class="btn btn-{{ object.status|tb_status_icon }} btn-sm"
              target="_" title="Edit and QA in data curation portal.">
              <i class="oi oi-pencil"></i>
              QA: {{ object.get_status_display }}
          </a>
          {% areaencounter_update_link object block=False label=False %}
        </div>
      </div>

      <div class="row">
        <div class="col col-12">
          <h6>{{ object.community }}</h6>
        </div>
      </div>

      <div class="row">
        <div class="col col-12">
        <i class="oi oi-calendar" aria-hidden="true"></i>&nbsp;
        {{ object.encountered_on|date:"r" }}
        </div>
      </div>

      <div class="row">
        <div class="col col-12">
        <i class="oi oi-globe" aria-hidden="true"></i>&nbsp;
        {{ object.get_area_type_display }} [{{ object.code }}] {% if object.name %}{{ object.name }}{% endif %}
        </div>
      </div>

      <div class="row">
        <div class="col col-12">
        <i class="oi oi-person" aria-hidden="true"></i>&nbsp;
        <a href="mailto:{{ object.encountered_by.email }}"
           target="_"
           title="Send email to {{ object.encountered_by.fullname }}"
           subject="Question about TSC Encounter {{ object }}">
          {{ object.encountered_by.name }}
        </a>
      </div>
      </div><!-- /.row -->

      <div class="row">
        <div class="col col-12">
          <i class="oi oi-comment-square" aria-hidden="true"></i>&nbsp;
          {{ object.description|safe }}
        </div>
      </div><!-- /.row -->

      <div class="row mb-2" id="row-occ-extra">
        <div class="col col-12">
          {% include 'occurrence/include/obsgroup_add.html' %}
        </div>
      </div><!-- /.row -->

      <div class="row mb-2">
        <div class="col col-12">
          <button class="btn btn-danger" type="button" id="toggle-qa-new">
            Hide unverified records
          </button>
        </div>
      </div><!-- /.row -->

    </div><!-- /.jumbotron -->
  </div><!-- /.col#occ-detail-main -->

  <div class="col-12 col-md-6 col-lg-4" id="occ-detail-map">
      <div>
        {% leaflet_map "detailmap" callback="window.map_init" %}
      </div>
  </div><!-- /.col#occ-map -->



  </div><!-- .row#row-occ-detail -->

<div id="row-occ-extra">
  {% include 'occurrence/include/obsgroup_cards.html' %}
</div><!-- .row#row-occ-extra -->
{% endblock content %}

{% block javascript%}
{{ block.super }}
{% leaflet_js %}
{% include 'shared/map.js' %}
{% compress js %} {# pragma: no cover #}
<script type="text/javascript">
$( "#toggle-qa-new" ).click(function() {
    $( ".qa-new" ).toggle();
    $( ".qa-proofread" ).toggle();
});

function map_init(map, options) {
    {% include 'shared/styles.js' %}
    /* Data loading */
    var occ_point = L.geoJson(
      {{ object|geojsonfeature:"label,as_html,encountered_on:point"|safe }},
      {style: pointstyle, onEachFeature: oef_rel, pointToLayer: ptl}
    );
    occ_point.addTo(map);

    {% if object.geom %}
    occ_poly = L.geoJson(
      {{ object|geojsonfeature:"label,as_html,encountered_on:geom"|safe }},
      {style: polystyle_red, onEachFeature: oef_rel}
    );
    occ_poly.addTo(map);
    map.fitBounds(occ_poly.getBounds());
    {% else %}
    map.fitBounds(occ_point.getBounds());
    {% endif %}
}
</script>
{% endcompress %}
{% endblock %}