[run]
omit =
    wastd/observations/utils.py
    wastd/users/adapters.py
    shared/dashboard.py
    *migrations*
    *tests*
    *site-packages*
    node_modules/*
    config/*
    htmlcov/*
    docs/*
    docs_source/*
    *grappelli*
    */__init__.py
    */widgets.py
    */apps.py
    fabfile.py
    manage.py
plugins =
    django_coverage_plugin
