[run]
omit = wastd/observations/*, wastd/users/adapters.py, wastd/templates/*, *migrations*, *tests*, venv/*, *site-packages*, node_modules/*, config/*, htmlcov/*, docs/*, __init__*, /*grappelli*, fabfile.py, manage.py, docs_source/*
plugins =
    django_coverage_plugin
