[run]
omit =
    wastd/users/adapters.py
    wastd/templates/*
    *migrations*
    *tests*
    venv/*
    *site-packages*
    node_modules/*
    config/*
    htmlcov/*
    docs/*
    docs_source/*
    *grappelli*
    */__init__.py
    *.html
    fabfile.py
    manage.py
plugins =
    django_coverage_plugin
