### OSX ###
.DS_Store
.AppleDouble
.LSOverride

# Basics
*.py[cod]
__pycache__

# Logs
*.log
pip-log.txt

# Unit test / coverage reports
.coverage
.coverage\.*
.tox
nosetests.xml
htmlcov

# Translations
*.mo
*.pot

# Pycharm
.idea/*

# Vim
*~
*.swp
*.swo

# npm
node_modules/

# Compass
.sass-cache

# virtual environments
.env

# User-uploaded media
wastd/media/
media/

# Hitch directory
tests/.hitch

# Staticfiles
staticfiles/

# Sphinx docs
docs/_build/
_build/

# coveralls settings
.coveralls.yml

# web server configs
config/wastd_uwsgi.ini
config/wastd.conf

# ingested data
data/

# iPython
docs/.ipynb_checkpoints/

# local admin scripts
dbperf
.Rproj.user
*.Rproj
.Rhistory

# temp test fixtures
taxonomy/fixtures/test_tax_*

.python-version

# Database exports
*.csv
*.pgdump
compose.yaml
/backup/
backup/

*.bacpac
