[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipdb = "*"

[packages]
Django = "==3.1.13"
django-extensions = ">=3.1.1"
django-adminactions = "*"
djangorestframework = "*"
djangorestframework-gis = "==0.17.0"
djangorestframework-csv = "==2.1.0"
djangorestframework-yaml = "==2.0.0"
djangorestframework-jsonp = "==1.0.2"
djangorestframework-filters = "==1.0.0.dev0"
django-rest-polymorphic = "==0.1.9"
drf-proxy-pagination = "==0.2.0"
django-url-filter = "==0.3.15"
rest-framework-latex = "==0.1.0"
Markdown = ">=3.2.2"
django-filter = "==2.3.0"
django-rest-swagger = ">=2.2.0"
coreapi = "*"
coreapi-cli = "*"
pypandoc = ">=1.5"
xmltodict = "==0.12.0"
django-allauth = ">=0.42.0"
dbca-utils = "==1.1.1"
django-background-tasks = "==1.2.5"
Fabric3 = "*"
gunicorn = "==20.0.4"
uWSGI = "==2.0.19.1"
python-memcached = "*"
django-environ = "*"
Unipath = "==1.1"
pandas = ">=1.0.5"
Sphinx = "*"
pydot = "==1.4.1"
sphinx-rtd-theme = "*"
django-anymail = "*"
django-braces = "*"
django-crispy-forms = "*"
django-floppyforms = "*"
django-easy-select2 = "*"
django-select2 = "*"
django-bootstrap4 = "*"
django-ajax-selects = "==1.9.1"
django-map-widgets = "*"
sentry-sdk = ">=1.0.0"
raven = "*"
django-polymorphic = ">=3.0.0"
django-model-utils = "*"
django-reversion = "*"
django-fsm = ">=2.7.0"
django-fsm-log = ">=2.0.1"
django-fsm-admin = ">=1.2.4"
django-extra-fields = ">=2.0.5"
django-synctool = "*"
phonenumbers = "*"
django-phonenumber-field = "*"
django-mptt = "==0.11.0"
django-tables2 = "*"
django-export-download = "*"
Pillow = ">=8.3.2"
psycopg2-binary = "==2.8.6"
unicode-slugify = "*"
django-autoslug = "*"
pytz = "*"
django-settings-export = "*"
django-redis = "*"
django-geojson = "*"
django-leaflet = ">=0.27.1"
django-wms = "*"
django-raster = "*"
whitenoise = "==5.1.0"
django-compressor = "==2.4"
boto = "==2.49.0"
django-storages-redux = "==1.3.3"
dj-static = "==0.0.6"
django-silk = "*"
django-debug-toolbar = "*"
coveralls = "*"
coverage = "*"
django-coverage-plugin = "*"
django-test-plus = "*"
factory-boy = "*"
pytest = "*"
pytest-django = "*"
pytest-sugar = "*"
model-mommy = "*"
graphviz = "*"
tblib = "*"
docker-squash = "*"
django-grappelli = ">=2.15.1"
django-fixture-magic = {git = "https://github.com/davedash/django-fixture-magic.git", editable = true, ref = "master", version = "*"}
mommy_spatial_generators = {git = "https://github.com/sigma-geosistemas/mommy_spatial_generators.git", editable = true, ref = "master", version = "*"}
graphene-django = "*"
django-graphql-geojson = "*"

[requires]
python_version = "3.8"
