{% extends "base.html" %}
{% load staticfiles compress leaflet_tags geojson_tags mptt_tags taxonomy_tags occurrence_tags observations crispy_forms_tags bootstrap4 %}
{% load render_table from django_tables2 %}

{% block extrastyle %}
{% compress css %} {# # pragma: no cover #}
<style>
.leaflet-popup, .leaflet-popup-content-wrapper, .leaflet-popup-content {
  width: 350px; /* narrower popup */
  padding: -10px;  /* fix close button position */
}
</style>
{% endcompress %}
{% endblock %}

{% block content %}
{% include 'shared/breadcrumbs.html' %}
<div class="row">

  <!-- Community details -->
  <div class="col-12 col-sm-12 col-md-6 col-lg-8" id="taxon-detail-main">
    <div class="jumbotron">

      <h1 class="display-4">
        {{ original.code}}

        {% if request.user.is_staff %}
          {% admin_absoluteadminurl_link original "community" %}
        {% endif %}
      </h1>

      <h3 class="card-subtitle mb-2 text-muted">
        {{ original.name }}
      </h3>

      <hr class="my-4">
      <h3>Conservation Listings
        <small class="float-right">
          {% communitygazettal_add request.user block=False label=False %}
        </small>
      </h3>
      <p>{% communitygazettal_rows request.user %}</p>

      <hr class="my-4">
      <h3>Conservation Threats
        <small class="float-right">
          {% conservationthreat_add request.user "communities" block=False label=False %}
        </small>
      </h3>
      <p>{% include 'conservation/includes/conservationthreat_rows.html' with actions=conservationthreats_general %}</p>

      <hr class="my-4">
      <h3>Conservation Actions
        <small class="float-right">
          {% conservationaction_add request.user "communities" block=False label=False %}
        </small>
      </h3>
      <p>{% include 'conservation/includes/conservationaction_rows.html' with actions=conservationactions_general %}</p>

      <hr class="my-4">
      <h3>Documents
        <small class="float-right">
          {% document_add request.user "communities" %}
        </small>
      </h3>
      <p>{% document_row request.user %}</p>

      <hr class="my-4">
      <p class="lead">
        {% if request.user.is_staff %}
          {% admin_absoluteadminurl_link original "community" label=True %}
          {% communitygazettal_add request.user block=False label=True %}
          {% conservationthreat_add request.user "communities" label=True %}
          {% conservationaction_add request.user "communities" label=True %}
          {% document_add request.user "communities" label=True %}
          {% admin_areaencounter_create_link original.pk "community" label=True %}
        {% endif %}

        {% communityareaencounter_add_link original.pk label=True %}
      </p>

    </div><!-- /.jumbotron -->
  </div><!-- /.col#taxon-detail-main -->

  <div class="col-12 col-md-6 col-lg-4" id="taxon-detail-map">
    <div id="map">
      {% leaflet_map "detailmap" callback="window.map_init" %}
    </div>
  </div><!-- /.col#taxon-detail-map -->

</div><!-- /.row -->


<!-- Comunity occurrence records -->
<div class="row" id="occ-row">
  <div class="col-12" id="occ-main">
    <div class="jumbotron">
      <p class="lead">
      <h3>Occurrences
        {% if occurrence_total > max_cards %}
        <small>
          (First {{ max_cards }} of {{ occurrence_total }})
        </small>
        {% endif %}
        <small class="float-right">
          {% communityareaencounter_add_link original.pk %}
        </small>
        {% if request.user.is_staff %}
        <small class="float-right">
          {% admin_areaencounter_create_link original.pk "community" %}
        </small>
        <small class="float-right">
          {% admin_areaencounter_list_link original.pk "community" %}
        </small>
        {% endif %}
      </h3>

      <div class="row">
      {% regroup occurrences|dictsort:"code" by code as occ_list %}

      {% for site in occ_list %}
          <div class="card card-md col-lg-4 col-md-6 col-sm-6 col-12" id="occ-{{ site.grouper }}">
            <h5 class="card-header">
              {{ site.name }} <p class="small text-muted">{{ site.grouper|title }}</small>
              <small class="float-right">
                {% conservationthreat_add request.user "communities" area=site.grouper %}
                {% conservationaction_add request.user "communities" area=site.grouper %}
              </small>
              <small class="float-right">
                {% communityareaencounter_add_link original.pk area_code=site.grouper %}
              </small>
            </h5>
            <div class="card-body">
              <!-- conservation actions for area {{ site.grouper }} -->
              {% conservationthreat_cards request.user  conservationthreats_area area=site.grouper %}
              {% conservationaction_cards request.user  conservationactions_area area=site.grouper %}
              <!-- Occurrences for area {{ site.grouper }} -->
              {% for occ in site.list|dictsortreversed:"encountered_on" %}
              {% areaencounter_card occ "community" request.user %}
              {% endfor %}

            </div>
          </div>
      {% endfor %}
      </div>
      {# render_table occurrence_table #}
      </p>
    </div>
  </div>
</div><!-- /#occ-row -->
{% endblock %}

{% block javascript%}
{{ block.super }}
{% compress js %} {# # pragma: no cover #}
<script type="text/javascript">
function map_init(map, options) {

    {% include 'shared/overlays.html' %}
    {% include 'shared/styles.html' %}
    map.addControl(new L.Control.Fullscreen());

    /* Data loading */
    var eoo = L.geoJson(
        {{ original|geojsonfeature:"code,name:eoo"|safe }},
        {style: polystyle, onEachFeature: oef_eoo}
    );
    eoo.addTo(map);
    map.fitBounds(eoo.getBounds());

    /* CAE poly */
    L.geoJson(
        {{ original.community_occurrences.all|slice:":10000"|geojsonfeature:"label,as_html,encountered_on:geom"|safe }},
        {style: polystyle_red, onEachFeature: oef}
    ).addTo(map);

    /* CAE point */
    var markers = L.markerClusterGroup();
    var gj_markers = L.geoJson(
        {{ original.community_occurrences.all|geojsonfeature:"label,as_html,encountered_on:point"|safe }},
        {style: pointstyle, pointToLayer: ptl, onEachFeature: oef});
    markers.addLayer(gj_markers);
    map.addLayer(markers);

}
</script>
{% endcompress %}
{% endblock %}