{% extends "base.html" %}
{% load staticfiles compress leaflet_tags geojson_tags mptt_tags taxonomy_tags occurrence_tags observations crispy_forms_tags bootstrap4 %}
{% load render_table from django_tables2 %}

{% block extrastyle %}
{% compress css %}
<style>
.leaflet-popup, .leaflet-popup-content-wrapper, .leaflet-popup-content {
  width: 350px; /* narrower popup */
  padding: -10px;  /* fix close button position */
}
</style>
{% endcompress %}
{% endblock %}

{% block content %}
<div class="container-fluid" id="wrap">

<!-- Breadcrumbs -->
  <div class="row" id="taxon-detail-breadcrumb">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item" aria-current="page">
          <a href="{% url 'community-list' %}">Communities</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          <a href="{% url 'community-detail' original.pk %}">{{ original }}</a>
        </li>
      </ol>
    </nav>
  </div><!-- /#taxon-detail-breadcrumb -->

  <div class="container-fluid">

    <div class="row">
    <!-- Taxon details -->
    <div class="col-12 col-sm-12 col-md-6 col-lg-8" id="taxon-detail-main">
    <div class="jumbotron">

      <h1 class="display-4">
        {{ original.code}}

        {% if request.user.is_staff %}
          {% admin_absoluteadminurl_link original "community" %}
        {% endif %}
      </h1>

      <h3 class="card-subtitle mb-2 text-muted">
        {{ original.name }}
      </h3>

      <hr class="my-4">
      <h3>Conservation Listings
        <small class="float-right">
          {% communitygazettal_add request.user block=False show_label_text=False %}
        </small>
      </h3>
      <p>{% communitygazettal_rows request.user %}</p>

      <hr class="my-4">
      <h3>Conservation Actions
        <small class="float-right">
          {% conservationaction_add request.user "communities" block=False show_label_text=False %}
        </small>
      </h3>
      <p>{% conservationaction_rows request.user  conservationactions_general %}</p>

      <hr class="my-4">
      <h3>Documents
        <small class="float-right">
          {% document_add request.user "communities" block=False show_label_text=False %}
        </small>
      </h3>
      <p>{% document_row request.user %}</p>

      <hr class="my-4">
      <p class="lead">
        {% if request.user.is_staff %}
          {% admin_absoluteadminurl_link original "community" label=True %}
          {% communitygazettal_add request.user block=False show_label_text=True %}
          {% conservationaction_add request.user "communities" block=False show_label_text=True %}
          {% document_add request.user "communities" block=False show_label_text=True %}
          {% admin_areaencounter_create_link original.pk "community" label=True %}
        {% endif %}

        {% communityareaencounter_add_link original.pk label=True %}
      </p>

    </div><!-- /.jumbotron -->
    </div><!-- /.col#taxon-detail-main -->

    <div class="col-12 col-md-6 col-lg-4" id="taxon-detail-map">
      <div id="map">
        {% leaflet_map "detailmap" callback="window.map_init" %}
      </div>
    </div><!-- /.col#taxon-detail-map -->

  </div><!-- /.row -->


  <!-- Comunity occurrence records -->
<div class="row" id="occ-row">
    <div class="col-12" id="occ-main">
      <div class="jumbotron">
        <p class="lead">
        <h3>Occurrences
          {% if occurrence_shown < occurrence_total %}
          <small>
            (First {{ occurrence_shown }} of {{ occurrence_total }})
          </small>
          {% endif %}
          <small class="float-right">
            {% communityareaencounter_add_link original.pk %}
          </small>
          {% if request.user.is_staff %}
          <small class="float-right">
            {% admin_areaencounter_create_link original.pk "community" %}
          </small>
          <small class="float-right">
            {% admin_areaencounter_list_link original.pk "community" %}
          </small>
          {% endif %}
        </h3>

        <div class="row">
        {% regroup occurrences|dictsort:"name" by name as occ_list %}
        {% for site in occ_list %}
            <div class="card card-md col-lg-4 col-md-6 col-sm-6 col-12" id="occ-{{ site.grouper }}">
              <h5 class="card-header">
                {{ site.grouper }}
                <small class="float-right">
                  {% conservationaction_add request.user "communities" area=site.grouper %}
                </small>
                <small class="float-right">
                  {% communityareaencounter_add_link original.pk area_code=site.grouper %}
                </small>
              </h5>
              <div class="card-body">
                <!-- conservation actions for area {{ site.grouper }} -->
                {% conservationaction_cards request.user  conservationactions_area area=site.grouper %}

                <hr class="my-4">

                <!-- Occurrences -->
                {% for occ in site.list|dictsortreversed:"encountered_on" %}
                {% areaencounter_card occ "community" request.user %}
                {% endfor %}

              </div>
            </div>
        {% endfor %}
        </div>
        {# render_table occurrence_table #}
        </p>
      </div>
    </div>
  </div><!-- /#occ-row -->


  </div><!-- /.container-fluid -->
</div><!-- /.container-fluid#wrap -->
{% endblock %}

{% block javascript%}
{{ block.super }}
{% compress js %}
<script type="text/javascript">
/*
 * Workaround for 1px lines appearing in some browsers due to fractional transforms
 * and resulting anti-aliasing.
 * https://github.com/Leaflet/Leaflet/issues/3575
 */
(function(){
    // L.Icon.Default.imagePath = '/static/leaflet/images/';
    delete L.Icon.Default.prototype._getIconUrl

    L.Icon.Default.mergeOptions({
      iconRetinaUrl: "/static/leaflet/images/marker-icon-2x.png",
      iconUrl: "/static/leaflet/images/marker-icon.png",
      shadowUrl: "/static/leaflet/images/marker-shadow.png"
    })


    var originalInitTile = L.GridLayer.prototype._initTile
    L.GridLayer.include({
        _initTile: function (tile) {
            originalInitTile.call(this, tile);

            var tileSize = this.getTileSize();

            tile.style.width = tileSize.x + 1 + 'px';
            tile.style.height = tileSize.y + 1 + 'px';
        }
    });
})()

function map_init(map, options) {

    /* Point style */
    var style = {
        "clickable": true
    }

    /* Polygon style */
    var polystyle = {
        "color": "#ff2200",
        "weight": 1,
        "opacity": 0.65
    }

    /* Map a feature to an icon class */
    function getIcon(feature){
        if (feature.properties.leaflet_icon){
            return feature.properties.leaflet_icon
        } else {
            return "question-circle-o"
        }
    }

    /* Map a feature to an marker colour */
    function getMarkerColor(feature){
        if (feature.properties.leaflet_colour){
            return feature.properties.leaflet_colour
        } else {
            return "red"
        }
    }

    /* Use FontAwesome icons for Leafet.awesome-markers */
    L.AwesomeMarkers.Icon.prototype.options.prefix = 'fa';

    /* Return a grouping variable - using feature.id disables grouping */
    function getUnique(feature){return feature.id}

    /* Override default Marker, set colour, symbol; add mouse hover title */
    function ptl(feature, latlng) {
        /* https://github.com/lvoogdt/Leaflet.awesome-markers */
        var icon = new L.AwesomeMarkers.icon({
            icon: getIcon(feature),
            iconColor: 'white',
            markerColor: getMarkerColor(feature),
            // prefix: 'fa',
            // spin:false
        });

        return L.marker(latlng, {icon: icon});
        //title: feature.properties.leaflet_title,

    }

    /* Actions taken on each feature: title, popup, info preview */
    function oef_eoo (feature, layer) {
        layer.bindTooltip("Extent of Occurrence");
        // layer.bindPopup("Extent of Occurrence");
    }

    function oef (feature, layer) {
      layer.bindTooltip('<strong>' + feature.properties.label +
        '</strong><br/><span class="oi oi-calendar" aria-hidden="true">' +
        feature.properties.encountered_on);
      layer.bindPopup(feature.properties.as_html);
    }

    /* Data loading */

    /*
     * Option 1: List view queryset plus djgeojson filter tag = GeoJSON
     * Ideal for filters with sensible defaults (e.g. show only current year)
     * https://github.com/makinacorpus/django-geojson#geojson-template-filter
     */
    var eoo = L.geoJson(
        {{ original|geojsonfeature:"code,name:eoo"|safe }},
        {style: style, onEachFeature: oef_eoo}
    );
    eoo.addTo(map);
    map.fitBounds(eoo.getBounds());

    /* CAE poly */
    L.geoJson(
        {{ original.community_occurrences.all|slice:":1000"|geojsonfeature:"label,as_html,encountered_on:geom"|safe }},
        {style: polystyle, onEachFeature: oef}
    ).addTo(map);

    /* CAE point */
    var markers = L.markerClusterGroup();
    var gj_markers = L.geoJson(
        {{ original.community_occurrences.all|slice:":1000"|geojsonfeature:"label,as_html,encountered_on:point"|safe }},
        {style: style, pointToLayer: ptl, onEachFeature: oef});
    markers.addLayer(gj_markers);
    map.addLayer(markers);

    /*
     * Option 2: GeoJSON view
     * The quick and dirty way to dump all (whoa) data into one layer
     * https://github.com/makinacorpus/django-geojson#geojson-layer-view
     * We'll use this method to load area polygons.
     */
    // $.getJSON("{% url 'areas-geojson' %}", function (data) {
    //     L.geoJson(data, {style: polystyle, onEachFeature: oef}).addTo(map);
    // });

    /*
     * Option 3: Tiled GeoJSON      ...because we can, baby
     * Most performant solution
     * https://github.com/glenrobertson/leaflet-tilelayer-geojson/
     * TODO filters or clustering
     * getUnique returns grouping variable (using feature.id disables grouping)
     * ptl overrides default marker with AwesomeMarker
     * oef binds popup to marker
     */
    // var geojsonTileLayer = new L.TileLayer.GeoJSON(
    //     'community-encounters-poly/{z}/{x}/{y}.geojson',
    //     {clipTiles: true, unique: getUnique},
    //     {style: polystyle,
    //       //pointToLayer: ptl,
    //       onEachFeature: oef}
    // ).addTo(map);


}
</script>
{% endcompress %}
{% endblock %}