{% extends "base.html" %}
{% load staticfiles leaflet_tags geojson_tags mptt_tags taxonomy_tags crispy_forms_tags bootstrap4 %}

{% block content %}
<div class="container-fluid">
  <!-- Breadcrumbs -->
  <div class="row">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">
          <a href="{% url 'taxon-list' %}">Species</a>
        </li>
      </ol>
    </nav>
  </div>
  <div class="row">

  <!-- Pagination -->
  <div class="row">
    <div class="col-12">
      {% bootstrap_pagination page_obj pages_to_show=7 size='small' extra=request.GET.urlencode %}
    </div>
  </div>

  <div class="row">
    <!-- Data -->
    <div id="dash-data" class="col-lg-9 col-md-8 col-sm-6 col-12">
      <div class="row">
        {% for original in object_list %}
        {% include "cards/taxon.html" with original=original %}
        {% endfor %}
      </div>
    </div><!-- /#dash-data -->

    <!-- Search -->
    <div id="dash-filters" class="col-lg-3 col-md-4 col-sm-6 col-12">
      <form method="get">
        <div class="row">
          {% bootstrap_form taxon_filter.form %}
        </div>
        <div id="searchmapholder">{% leaflet_map "searchmap" callback="window.map_init" %}</div>
        <br/>
        <br/>
        <button
          class="btn btn-outline-primary my-2 my-sm-0"
          title="Filter by above criteria." type="submit">
          Go
        </button>
      </form>
    </div><!-- /#dash-filters -->
  </div>
</div>
{% endblock %}

{% block css%}
{{ block.super }}
{% leaflet_css plugins="draw" %}
{% endblock %}

{% block javascript%}
{{ block.super }}
{% leaflet_js plugins="draw" %}
<script type="text/javascript">
  function map_init(map, options) {

    map.setZoom(3);

    /* Helper functions */

    /* Point style */
    var style = {
      "clickable": true
    }

    /* Polygon style */
    var polystyle = {
      "color": "#0009ff",
      "weight": 1,
      "opacity": 0.65
    }

    /* Map a feature to an icon class */
    function getIcon(feature){
      if (feature.properties.leaflet_icon){
        return feature.properties.leaflet_icon
      } else {
        return "question-circle-o"
      }
    }

    /* Map a feature to an marker colour */
    function getMarkerColor(feature){
      if (feature.properties.leaflet_colour){
        return feature.properties.leaflet_colour
      } else {
        return "red"
      }
    }

    /* Use FontAwesome icons for Leafet.awesome-markers */
    L.AwesomeMarkers.Icon.prototype.options.prefix = 'fa';

    /* Return a grouping variable - using feature.id disables grouping */
    function getUnique(feature){return feature.id}

    /* Override default Marker, set colour, symbol; add mouse hover title */
    function ptl(feature, latlng) {
      /* https://github.com/lvoogdt/Leaflet.awesome-markers */
      var icon = new L.AwesomeMarkers.icon({
        icon: getIcon(feature),
        iconColor: 'white',
        markerColor: getMarkerColor(feature),
            // prefix: 'fa',
            // spin:false
          });

      return L.marker(latlng, {icon: icon});
        //title: feature.properties.leaflet_title,

      }

      /* Actions taken when highlighting feature */
      function highlightFeature(e) {
        var layer = e.target;
        info.update(layer.feature.properties);
      }

      /* Actions taken when resetting highlight on feature */
      function resetHighlight(e) {
        info.update();
      }

      /* Actions taken on each feature: title, popup, info preview */
      function oef (feature, layer) {
        layer.bindLabel(feature.properties.leaflet_title);
        layer.bindPopup(feature.properties.as_html);
        layer.on({mouseover: highlightFeature, click: resetHighlight});
      }

    // /* Preview window called "info" */
    // var info = L.control();

    // info.onAdd = function (map) {
    //     this._div = L.DomUtil.create('div', 'info');
    //     this.update();
    //     return this._div;
    // };
    // info.update = function (props) {
    //     this._div.innerHTML = props ? props.as_html: 'Hover to preview, click to inspect';
    // };

    // info.addTo(map);

    /* Data loading */

    /*
     * Option 1: List view queryset plus djgeojson filter tag = GeoJSON
     * Ideal for filters with sensible defaults (e.g. show only current year)
     * https://github.com/makinacorpus/django-geojson#geojson-template-filter
     */
    // L.geoJson(
    //     {# object_list|geojsonfeature:'as_html,leaflet_title,leaflet_icon,leaflet_colour:where'|safe #},
    //     // {clipTiles: true, unique: getUnique},
    //     {style: style, pointToLayer: ptl, onEachFeature: oef}
    // ).addTo(map);

    // var markers = L.markerClusterGroup();
    // var gj_markers = L.geoJson(
    //     {# object_list|geojsonfeature:'as_html,leaflet_title,leaflet_icon,leaflet_colour:where'|safe #},
    //     // {clipTiles: true, unique: getUnique},
    //     {style: style, pointToLayer: ptl, onEachFeature: oef});
    // markers.addLayer(gj_markers);
    // map.addLayer(markers);

    /*
     * Option 2: GeoJSON view
     * The quick and dirty way to dump all (whoa) data into one layer
     * https://github.com/makinacorpus/django-geojson#geojson-layer-view
     * We'll use this method to load area polygons.
     */
    // $.getJSON("{% url 'areas-geojson' %}", function (data) {
    //     L.geoJson(data, {style: polystyle, onEachFeature: oef}).addTo(map);
    // });

    /*
     * Option 3: Tiled GeoJSON      ...because we can, baby
     * Most performant solution
     * https://github.com/glenrobertson/leaflet-tilelayer-geojson/
     * TODO filters or clustering
     * getUnique returns grouping variable (using feature.id disables grouping)
     * ptl overrides default marker with AwesomeMarker
     * oef binds popup to marker
     */
    // var geojsonTileLayer = new L.TileLayer.GeoJSON(
    //     'data/{z}/{x}/{y}.geojson',
    //     {clipTiles: true, unique: getUnique},
    //     {style: style, pointToLayer: ptl, onEachFeature: oef}
    // ).addTo(map);


  }
</script>
{% endblock %}