{% extends "base.html" %}
{% load staticfiles leaflet_tags geojson_tags mptt_tags taxonomy_tags crispy_forms_tags bootstrap4 %}

{% block content %}
{% include 'shared/breadcrumbs.html' %}
{% include 'shared/pagination_row.html' %}
<div class="row">
  <!-- Data -->
  <div id="dash-data" class="col-lg-9 col-md-8 col-sm-6 col-12">
    <div class="row">
      {% for original in object_list %}
      {% include "cards/taxon.html" with original=original %}
      {% endfor %}
    </div>
  </div><!-- /#dash-data -->

  <!-- Search -->
  <div id="dash-filters" class="col-lg-3 col-md-4 col-sm-6 col-12">
    <form method="get">
      <div class="row-fluid">
        {% bootstrap_form taxon_filter.form %}
      </div>
      <button
        class="btn btn-primary my-2 my-sm-0"
        title="Filter by above criteria." type="submit">
        Go
      </button>
    </form>
  </div><!-- /#dash-filters -->
</div><!-- .row -->
{% endblock %}

{% block css%}
{{ block.super }}
{% leaflet_css %}
{% endblock %}

{% block javascript%}
{{ block.super }}
{% leaflet_js %}
{% endblock %}