{% extends "base.html" %}
{% load staticfiles compress leaflet_tags geojson_tags mptt_tags taxonomy_tags occurrence_tags observations crispy_forms_tags bootstrap4 %}
{% load render_table from django_tables2 %}

{% block extrastyle %}
{% compress css %}{# # pragma: no cover #}
<style>
.leaflet-popup, .leaflet-popup-content-wrapper, .leaflet-popup-content {
  width: 350px; /* narrower popup */
  padding: -10px;  /* fix close button position */
}
</style>
{% endcompress %}
{% endblock %}

{% block content %}
{% include 'shared/breadcrumbs.html' %}
<div class="row">

  <!-- Taxon details -->
  <div class="col-12 col-sm-12 col-md-6 col-lg-8" id="taxon-detail-main">
    <div class="jumbotron">
      <p>
        <!-- Name ID -->
          <span class="badge badge-primary" title="WACensus Name ID: {{original.name_id}}">
            {{original.name_id}}
          </span>

          <!-- Rank -->
          <span class="badge badge-primary" title="Taxonomic rank: {{ original.get_rank_display }}">
            {{ original.get_rank_display }}
          </span>

          {% taxonomic_status %}

          <!-- Publication status -->
          {% if original.publication_status < 2 %}
          <span class="badge badge-secondary">
            {{ original.get_publication_status_display }}
          </span>
          {% endif %}

          <!-- Leaf nodes are terminal taxa -->
          {% if original.is_leaf_node %}
          <span class="badge badge-success">
            <span class="oi oi-media-stop" title="Terminal Taxon" aria-hidden="true"></span>
          </span>
          {% endif %}
      </p>

      <h1 class="display-4">
        {{ original.canonical_name }}
        <small class="float-right">
          {% if request.user.is_staff %}
            {% admin_absoluteadminurl_link original "taxon" %}
          {% endif %}
        </small>
      </h1>

      <!-- Author -->
      {% if original.author %}
        <p class="lead">
        <span class="oi oi-person" title="Author" aria-hidden="true"></span>
        {{ original.author }}
        </p>
      {% endif %}

      <p class="lead">
        {% vernacular_names %}
      </p>

      <p>
      {% for xref in original.supercedes.all %}
      <a href="{% url 'taxonomy:taxon-detail' name_id=xref.predecessor.name_id %}"
        class="badge badge-secondary" title="View predecessor">
        {{ xref.predecessor }}
      </a> superceded as {{ xref.get_reason_display }}<br />
      {% endfor %}

      {% for xref in original.precedes.all %}
      <a href="{% url 'taxonomy:taxon-detail' name_id=xref.successor.name_id %}"
          class="badge badge-secondary" title="View successor">
        {{ xref.successor }}
      </a> supercedes as {{ xref.get_reason_display }}<br />
      {% endfor %}
      </p>

      <hr class="my-4">
      <h3>Conservation Listings
        <small class="float-right">
          {% taxongazettal_add request.user %}
        </small>
      </h3>
      <p>{% taxongazettal_rows request.user %}</p>

      <hr class="my-4">
      <h3>Conservation Threats
        <small class="float-right">
          {% conservationthreat_add request.user "taxa" %}
        </small>
      </h3>
      <p>{% include 'conservation/includes/conservationthreat_rows.html' with threats=conservationthreats_general %}</p>

      <hr class="my-4">
      <h3>Conservation Actions
        <small class="float-right">
          {% conservationaction_add request.user "taxa" %}
        </small>
      </h3>
      <p>{% include 'conservation/includes/conservationaction_rows.html' with actions=conservationactions_general %}</p>

      <hr class="my-4">
      <h3>Documents
        <small class="float-right">
          {% document_add request.user "taxa" %}
        </small>
      </h3>
      <p>{% document_row request.user %}</p>

      <hr class="my-4">
      <p class="lead">
          {% admin_absoluteadminurl_link original "taxon" label=True %}
          {% taxongazettal_add request.user label=True %}
          {% conservationthreat_add request.user "taxa" label=True %}
          {% conservationaction_add request.user "taxa" label=True %}
          {% document_add request.user "taxa" label=True %}
          {% taxonareaencounter_add_link original.name_id label=True %}
      </p>

    </div><!-- /.jumbotron -->
  </div><!-- /.col#taxon-detail-main -->

  <div class="col-12 col-md-6 col-lg-4" id="taxon-occ">
      <div id="map">
        {% leaflet_map "detailmap" callback="window.map_init" %}
      </div>
  </div><!-- /.col#taxon-occ -->

</div><!-- /.row -->

<!-- Taxon occurrence records -->
<div class="row" id="occ-row">
  <div class="col-12" id="occ-main">
    <div class="jumbotron">
      <p class="lead">
      <h3>Occurrences
        {% if occurrence_total > 100 %}
        <small>
          (First {{ max_cards }} of {{ occurrence_total }})
        </small>
        {% endif %}
        <small class="float-right">
          {% taxonareaencounter_add_link original.name_id %}
        </small>
        {% if request.user.is_staff %}
        <small class="float-right">
          {% admin_areaencounter_create_link original.pk "taxon" %}
        </small>
        <small class="float-right">
          {% admin_areaencounter_list_link original.pk "taxon" %}
        </small>
        {% endif %}
      </h3>

      <div class="row">
      {% regroup occurrences|dictsort:"code" by code as occ_list %}

      {% if occ_list %}
      {% for site in occ_list %}
          <div class="card card-md col-lg-4 col-md-6 col-sm-6 col-12" id="occ-{{ site.grouper }}">
            <h5 class="card-header">
              {{ site.name }} <p class="small text-muted">{{ site.grouper|title }}</small>
              <small class="float-right">
                {% conservationthreat_add request.user "taxa" area=site.grouper %}
                {% conservationaction_add request.user "taxa" area=site.grouper %}
              </small>
              <small class="float-right">
                {% taxonareaencounter_add_link original.name_id area_code=site.grouper %}
              </small>
            </h5>
            <div class="card-body">
              <!-- Conservation actions for area {{ site.grouper }} -->
              {% conservationthreat_cards request.user  conservationthreats_area area=site.grouper %}
              {% conservationaction_cards request.user  conservationactions_area area=site.grouper %}

              <!-- Occurrences for area {{ site.grouper }} -->
              {% for occ in site.list|dictsortreversed:"encountered_on" %}
              {% areaencounter_card occ "taxon" request.user %}
              {% endfor %}

            </div>
          </div>
      {% endfor %}
      {% else %}
      {% render_table occurrence_table %}
      {% endif %}
      </div>
      </p>
    </div>
  </div>
</div><!-- /#occ-row -->
{% endblock %}

{% block javascript%}
{{ block.super }}
{% compress js %} {# # pragma: no cover #}
<script type="text/javascript">
function map_init(map, options) {
    {% include 'shared/overlays.html' %}
    {% include 'shared/styles.html' %}
    map.addControl(new L.Control.Fullscreen());

    /* Data loading */
    var eoo = L.geoJson(
        {{ original|geojsonfeature:"canonical_name,taxonomic_name:eoo"|safe }},
        {style: pointstyle, onEachFeature: oef_eoo}
    );
    eoo.addTo(map);
    map.fitBounds(eoo.getBounds());

    L.geoJson(
        {{ original.taxon_occurrences.all|geojsonfeature:"label,as_html,encountered_on:geom"|safe }},
        {style: polystyle_red, onEachFeature: oef_rel}
    ).addTo(map);

    var taxon_points = L.geoJson(
        {{ original.taxon_occurrences.all|geojsonfeature:"label,as_html,encountered_on:point"|safe }},
        {style: pointstyle, pointToLayer: ptl, onEachFeature: oef_rel}
    );

    var taxon_cluster_markers = L.markerClusterGroup();
    taxon_cluster_markers.addLayer(taxon_points);
    map.addLayer(taxon_cluster_markers);

    // var markers = L.markerClusterGroup();
    // var gj_markers = L.geoJson(
    //     {{ object_list|geojsonfeature:'as_html,leaflet_title,leaflet_icon,leaflet_colour:where'|safe }},
    //     // {clipTiles: true, unique: getUnique},
    //     {style: pointstyle, pointToLayer: ptl, onEachFeature: oef});
    // markers.addLayer(gj_markers);
    // map.addLayer(markers);

    /*
     * Option 2: GeoJSON view
     * The quick and dirty way to dump all (whoa) data into one layer
     * https://github.com/makinacorpus/django-geojson#geojson-layer-view
     * We'll use this method to load area polygons.
     */
    // $.getJSON("{% url 'areas-geojson' %}", function (data) {
    //     L.geoJson(data, {style: polystyle, onEachFeature: oef}).addTo(map);
    // });

    /*
     * Option 3: Tiled GeoJSON      ...because we can, baby
     * Most performant solution
     * https://github.com/glenrobertson/leaflet-tilelayer-geojson/
     * TODO filters or clustering
     * getUnique returns grouping variable (using feature.id disables grouping)
     * ptl overrides default marker with AwesomeMarker
     * oef binds popup to marker
     */
    // var geojsonTileLayer = new L.TileLayer.GeoJSON(
    //     'data/{z}/{x}/{y}.geojson',
    //     {clipTiles: true, unique: getUnique},
    //     {style: pointstyle, pointToLayer: ptl, onEachFeature: oef}
    // ).addTo(map);

    /*
     * BioSys Occurrences
     */
    // using Fetch API

    /* Override default Marker, set colour, symbol; add mouse hover title */
    function ptlBioSys(feature, latlng) {
        /* https://github.com/lvoogdt/Leaflet.awesome-markers */
        var icon = new L.AwesomeMarkers.icon({icon: 'database', markerColor: 'green'});
        return L.marker(latlng, {icon: icon});
    }

    function oefBioSys(feature, layer) {
      layer.bindPopup(
        '<div class="row"><div class="mr-auto p-2"><h5>'+ feature.properties.species_name + '</h5></div></div>' +
        '<p><i class="oi oi-calendar" aria-hidden="true"></i> ' + feature.properties.datetime + '</p>' +
        '<p><a class="btn btn-secondary btn-sm" target="_" ' +
        'href="https://biosys-uat.dbca.wa.gov.au/#/data/projects/61/datasets/' +
        feature.properties.dataset + '/record/' + feature.id + '">' +
        '<i class="oi oi-pencil"></i> Edit this record in BioSys</a></p>'
      );
      layer.bindTooltip(
        'BioSys <br/><span class="oi oi-calendar" aria-hidden="true">' +
        feature.properties.datetime
      );
    }

    /* Turn a BioSys API record into a GeoJSON Feature. */
    function geoJSONify(json_record) {
      return {
        type: 'Feature',
        id: json_record.id,
        geometry: {type: 'Point', coordinates: json_record.geometry.coordinates},
        properties: json_record
      };
    }

    function geoJSONfc(gj_feature_array) {
      return {"type": "FeatureCollection", "features": gj_feature_array.map(geoJSONify)}
    }

    /* Authentication headers for BioSys API. */
    var hdr = new Headers();
    hdr.append("Authorization", 'Basic ' + btoa('{{ settings.BIOSYS_UN }}:{{ settings.BIOSYS_PW }}'));

    fetch(
      "{{ settings.BIOSYS_TSC_URL|safe }}{{ original.name_id }}", {credentials: "include", headers: hdr}
    ).then(
      function (response) {return response.json();}
    ).then(
      function(json) {
        var point_markers = L.geoJson(geoJSONfc(json), {pointToLayer: ptlBioSys, onEachFeature: oefBioSys});
        // console.log(geoJSONfc(json));
        // var cluster_markers = L.markerClusterGroup();
        taxon_cluster_markers.addLayer(point_markers);
        // map.addLayer(cluster_markers);
      }
    );
}
</script>
{% endcompress %}
{% endblock %}
