{% load staticfiles i18n bootstrap4 %}
<nav class="navbar navbar-expand-lg navbar-dark bg-darkblue">
      <a class="navbar-brand" href="/">
        <h2>{{ settings.SITE_TITLE }}</h2>
      </a>
        <button class="navbar-toggler" type="button"
          data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">

          <li class="nav-item dropdown">
            <a  class="nav-link dropdown-toggle" href="/"
              id="nav-li-species"
              title="Species"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false">
            <span class="oi oi-grid-three-up" aria-hidden="true"></span>
            Species
            </a>
            <div class="dropdown-menu" aria-labelledby="nav-li-species">

              <a class="dropdown-item"
                 href="{% url 'taxonomy:taxon-list' %}?is_terminal_taxon=true&current=true"
                 title="Browse, filter and search all species (default: current names of terminal taxa)">
                <span class="oi oi-grid-three-up" aria-hidden="true"></span>
                <span class="align-left">Browse all species</span>
              </a>
              <a class="dropdown-item"
                 href="{% url 'taxonomy:taxon-list' %}?is_terminal_taxon=true&current=true&conservation_level=threatened"
                 title="Browse, filter and search species currently listed as threatened or priority in Western Australia">
                <span class="oi oi-grid-three-up text-danger" aria-hidden="true"></span>
                <span class="align-left">Browse all conservation significant species</span>
              </a>
              <a class="dropdown-item"
                 href="{% url 'taxonomy:taxon-list' %}?is_terminal_taxon=true&current=true&conservation_level=threatened"
                 title="Browse, filter and search species currently listed as threatened in Western Australia">
                <span class="oi oi-grid-three-up text-danger" aria-hidden="true"></span>
                <span class="align-left">Browse all threatened species</span>
              </a>
              <a class="dropdown-item"
                 href="{% url 'taxonomy:taxon-list' %}?is_terminal_taxon=true&current=true&conservation_level=priority"
                 title="Browse, filter and search species currently listed as priority in Western Australia">
                <span class="oi oi-grid-three-up text-danger" aria-hidden="true"></span>
                <span class="align-left">Browse all priority species</span>
              </a>
              <a class="dropdown-item"
                 href="{% url 'taxonomy:taxon-list' %}?is_terminal_taxon=true&current=true"
                 title="Browse, filter and search threatened species">
                <span class="oi oi-list" aria-hidden="true"></span>
                <span class="align-left">List all species</span>
              </a>
              <a class="dropdown-item"
                 href="{% url 'occurrence:taxonareaencounter-list' %}"
                 title="Browse, filter and search threatened species occurrences">
                <span class="oi oi-target" aria-hidden="true"></span>
                <span class="align-left">Browse species occurrences</span>
              </a>

              <div class="dropdown-divider"></div>

              <a class="dropdown-item"
                 href="{% url 'taxonomy:taxon-list' %}?paraphyletic_groups={{ settings.ANIMALS_PK }}&is_terminal_taxon=true&current=true"
                 title="Browse, filter and search animals">
                <span class="oi oi-grid-three-up" aria-hidden="true"></span>
                <span class="align-left">Browse animals</span>
              </a>
              <a class="dropdown-item"
                 href="{% url 'taxonomy:taxon-list' %}?paraphyletic_groups={{ settings.ANIMALS_PK }}&is_terminal_taxon=true&current=true&conservation_level=threatened&conservation_level=priority"
                 title="Browse, filter and search animals currently listed as threatened or priority in Western Australia">
                <span class="oi oi-grid-three-up text-danger" aria-hidden="true"></span>
                <span class="align-left">Browse conservation significant animals</span>
              </a>
              <a class="dropdown-item"
                 href="{% url 'taxonomy:taxon-list' %}?paraphyletic_groups={{ settings.ANIMALS_PK }}&is_terminal_taxon=true&current=true&conservation_level=threatened"
                 title="Browse, filter and search animals currently listed as threatened in Western Australia">
                <span class="oi oi-grid-three-up text-danger" aria-hidden="true"></span>
                <span class="align-left">Browse threatened animals</span>
              </a>
              <a class="dropdown-item"
                 href="{% url 'taxonomy:taxon-list' %}?paraphyletic_groups={{ settings.ANIMALS_PK }}&is_terminal_taxon=true&current=true&conservation_level=priority"
                 title="Browse, filter and search animals currently listed as priority in Western Australia">
                <span class="oi oi-grid-three-up text-danger" aria-hidden="true"></span>
                <span class="align-left">Browse priority animals</span>
              </a>
              {% if request.user.is_staff %}
              <a class="dropdown-item"
                 href="{% url 'taxonomy:taxon-list' %}?paraphyletic_groups={{ settings.ANIMALS_PK }}&is_terminal_taxon=true&current=true&conservation_level=threatened&conservation_level=priority&current=false"
                 title="Browse non-current animal names requiring manual changes to conservation listing to their current counterparts">
                <span class="oi oi-grid-three-up text-warning" aria-hidden="true"></span>
                <span class="align-left">Browse non-current thr/prio animals</span>
              </a>
              <a class="dropdown-item"
                 href="{% url 'taxonomy:taxon-list' %}?paraphyletic_groups={{ settings.ANIMALS_PK }}&is_terminal_taxon=true&current=true&conservation_level=threatened&conservation_level=priority&is_terminal_taxon=false"
                 title="Browse non-terminal animal names requiring manual changes to conservation listing to their terminal descendants">
                <span class="oi oi-grid-three-up text-warning" aria-hidden="true"></span>
                <span class="align-left">Browse non-terminal thr/prio animals</span>
              </a>
              {% endif %}
              <a class="dropdown-item"
                 href="{% url 'occurrence:taxonareaencounter-list' %}?taxon__paraphyletic_groups={{ settings.ANIMALS_PK }}"
                 title="Browse, filter and search threatened animal occurrences">
                <span class="oi oi-target" aria-hidden="true"></span>
                <span class="align-left">Browse animal occurrences</span>
              </a>

              <div class="dropdown-divider"></div>

              <a class="dropdown-item"
                 href="{% url 'taxonomy:taxon-list' %}?paraphyletic_groups={{ settings.PLANTS_PK }}&is_terminal_taxon=true&current=true"
                 title="Browse, filter and search plants (sensu latu)">
                <span class="oi oi-grid-three-up" aria-hidden="true"></span>
                <span class="align-left">Browse plants</span>
              </a>
              <a class="dropdown-item"
                 href="{% url 'taxonomy:taxon-list' %}?paraphyletic_groups={{ settings.PLANTS_PK }}&is_terminal_taxon=true&current=true&conservation_level=threatened&conservation_level=priority"
                 title="Browse, filter and search plants (sensu latu) currently listed as threatened or priority in Western Australia">
                <span class="oi oi-grid-three-up text-danger" aria-hidden="true"></span>
                <span class="align-left">Browse conservation significant plants</span>
              </a>
              <a class="dropdown-item"
                 href="{% url 'taxonomy:taxon-list' %}?paraphyletic_groups={{ settings.PLANTS_PK }}&is_terminal_taxon=true&current=true&conservation_level=threatened"
                 title="Browse, filter and search plants (sensu latu) currently listed as threatened in Western Australia">
                <span class="oi oi-grid-three-up text-danger" aria-hidden="true"></span>
                <span class="align-left">Browse threatened plants</span>
              </a>
              <a class="dropdown-item"
                 href="{% url 'taxonomy:taxon-list' %}?paraphyletic_groups={{ settings.PLANTS_PK }}&is_terminal_taxon=true&current=true&conservation_level=priority"
                 title="Browse, filter and search plants (sensu latu) currently listed as priority in Western Australia">
                <span class="oi oi-grid-three-up text-danger" aria-hidden="true"></span>
                <span class="align-left">Browse priority plants</span>
              </a>
              {% if request.user.is_staff %}
              <a class="dropdown-item"
                 href="{% url 'taxonomy:taxon-list' %}?paraphyletic_groups={{ settings.PLANTS_PK }}&is_terminal_taxon=true&current=true&conservation_level=threatened&conservation_level=priority&current=false"
                 title="Browse non-current plant names requiring manual changes to conservation listing to their current counterparts">
                <span class="oi oi-grid-three-up text-warning" aria-hidden="true"></span>
                <span class="align-left">Browse non-current thr/prio plants</span>
              </a>
              <a class="dropdown-item"
                 href="{% url 'taxonomy:taxon-list' %}?paraphyletic_groups={{ settings.PLANTS_PK }}&is_terminal_taxon=true&current=true&conservation_level=threatened&conservation_level=priority&is_terminal_taxon=false"
                 title="Browse non-terminal plant names requiring manual changes to conservation listing to their terminal descendants">
                <span class="oi oi-grid-three-up text-warning" aria-hidden="true"></span>
                <span class="align-left">Browse non-terminal thr/prio plants</span>
              </a>
              {% endif %}
              <a class="dropdown-item"
                 href="{% url 'occurrence:taxonareaencounter-list' %}?taxon__paraphyletic_groups={{ settings.PLANTS_PK }}"
                 title="Browse, filter and search threatened plant (sensu latu) occurrences">
                <span class="oi oi-target" aria-hidden="true"></span>
                <span class="align-left">Browse plant occurrences</span>
              </a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a  class="nav-link dropdown-toggle" href="/"
              id="nav-li-conservation"
              title="Communities"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false">
            <span class="oi oi-grid-three-up" aria-hidden="true"></span>
            Communities
            </a>
            <div class="dropdown-menu" aria-labelledby="nav-li-communities">

              <a class="dropdown-item"
                 href="{% url 'taxonomy:community-list' %}"
                 title="Browse, filter and search all communities">
                <span class="oi oi-grid-three-up" aria-hidden="true"></span>
                Browse all communities
              </a>
              <a class="dropdown-item"
                 href="{% url 'taxonomy:community-list' %}?conservation_level=threatened&conservation_level=priority"
                 title="Browse, filter and search communities currently listed as threatened or priority in Western Australia">
                <span class="oi oi-grid-three-up text-danger" aria-hidden="true"></span>
                <span class="align-left">Browse conservation significant communities</span>
              </a>
              <a class="dropdown-item"
                 href="{% url 'taxonomy:community-list' %}?conservation_level=threatened"
                 title="Browse, filter and search communities currently listed as threatened in Western Australia">
                <span class="oi oi-grid-three-up text-danger" aria-hidden="true"></span>
                <span class="align-left">Browse threatened communities</span>
              </a>
              <a class="dropdown-item"
                 href="{% url 'taxonomy:community-list' %}?conservation_level=priority"
                 title="Browse, filter and search communities currently listed as priority in Western Australia">
                <span class="oi oi-grid-three-up text-danger" aria-hidden="true"></span>
                <span class="align-left">Browse priority communities</span>
              </a>
              <a class="dropdown-item"
                 href="{% url 'taxonomy:community-list' %}"
                 title="List, filter and search threatened species">
                <span class="oi oi-list" aria-hidden="true"></span>
                <span class="align-left">List all communities</span>
              </a>
              <a class="dropdown-item"
                 href="{% url 'occurrence:communityareaencounter-list' %}"
                 title="Browse, filter and search threatened community occurrences">
                <span class="oi oi-target" aria-hidden="true"></span>
                <span class="align-left">Browse community occurrences</span>
              </a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a  class="nav-link dropdown-toggle" href="/"
              id="nav-li-conservation"
              title="Conservation"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false">
            <span class="oi oi-pulse" aria-hidden="true"></span>
            Conservation
            </a>
            <div class="dropdown-menu" aria-labelledby="nav-li-conservation">

              <a class="dropdown-item"
                 href="{% url 'conservation:taxonconservationlisting-create' %}"
                 title="Propose a new taxon conservation listing">
                <span class="oi oi-plus" aria-hidden="true"></span>
                <span class="oi oi-shield" aria-hidden="true"></span>
                Propose taxon conservation listing
              </a>
              <a class="dropdown-item"
                 href="{% url 'conservation:communityconservationlisting-create' %}"
                 title="Propose a new communtiy conservation listing">
                <span class="oi oi-plus" aria-hidden="true"></span>
                <span class="oi oi-shield" aria-hidden="true"></span>
                Propose community conservation listing
              </a>

              <div class="dropdown-divider"></div>

              <a class="dropdown-item"
                 href="{% url 'conservation:conservationthreat-list' %}"
                 title="Browse, filter and search conservation threats">
                <span class="oi oi-flash" aria-hidden="true"></span>
                Threats
              </a>
              <a class="dropdown-item"
                 href="{% url 'conservation:conservationaction-list' %}"
                 title="Browse, filter and search conservation actions">
                <span class="oi oi-task" aria-hidden="true"></span>
                Actions
              </a>

              <div class="dropdown-divider"></div>

              <a class="dropdown-item"
                 href="{% url 'conservation:document-list' %}"
                 title="Browse, filter and search conservation documents">
                <span class="oi oi-document" aria-hidden="true"></span>
                Documents
              </a>
              <a class="dropdown-item"
                 href="{% url 'conservation:document-list' %}?status=80&review_due=next-six-months"
                 title="Browse, filter and search conservation documents">
                <span class="oi oi-document text-warning" aria-hidden="true"></span>
                Documents coming up for review
              </a>
            </div>
          </li>

          <!--
          <li class="nav-item">
            <a class="nav-link" href="{% url 'map' %}"
              title="Map {{ settings.SITE_NAME }}">
            <span class="oi oi-globe" aria-hidden="true"></span>
            Map
            </a>
          </li>
          -->

          <li class="nav-item dropdown">
            <a  class="nav-link dropdown-toggle" href="/"
              id="nav-li-analysts"
              title="Analysts"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false">
            <span class="oi oi-graph" aria-hidden="true"></span>
            Analysts
            </a>
            <div class="dropdown-menu" aria-labelledby="nav-li-analysts">
              <a class="dropdown-item"
                href="https://dbca-wa.github.io/wastd/index.html#document-data_consumers"
                title="Manual" target="_blank" rel="noreferrer">
                <span class="oi oi-book" aria-hidden="true"></span>
                <span class="align-left">Data Analysts' Manual</span>
              </a>
              <a class="dropdown-item" href="{% url 'gql-api' %}"
                  title="GraphQL API" target="_blank" rel="noreferrer">
                 <span class="oi oi-terminal" aria-hidden="true"></span>
                 <span class="align-left">GraphQL API (internal)</span>
              </a>
              <a class="dropdown-item" href="https://hasura-tsc.dbca.wa.gov.au/"
                  title="GraphQL API (Hasura) for admin users" target="_blank" rel="noreferrer">
                 <span class="oi oi-terminal" aria-hidden="true"></span>
                 <span class="align-left">GraphQL API (admin)</span>
              </a>
              <a class="dropdown-item" href="/api/1/" title="API" target="_blank" rel="noreferrer">
               <span class="oi oi-terminal" aria-hidden="true"></span>
               <span class="align-left">RESTful API</span>
             </a>
             <a class="dropdown-item" href="{% url 'api-docs' %}"
                title="API docs (Swagger)" target="_blank" rel="noreferrer">
               <span class="oi oi-book align-left" aria-hidden="true"></span>
               <span class="align-left">RESTful API Docs (Swagger)</span>
             </a>
             <a class="dropdown-item" href="/api/1/docs" title="API docs (DRF)" target="_blank" rel="noreferrer">
               <span class="oi oi-book align-left" aria-hidden="true"></span>
               <span class="align-left">RESTful API Docs (DRF)</span>
             </a>
             {% if request.user.is_authenticated %}
             <a class="dropdown-item"
                title="My API Authentication"
                href="{% url 'users:detail' request.user.username  %}">
              <span class="oi oi-person align-left" aria-hidden="true"></span>
              <span class="align-left">My API Authentication</span>
              </a>
              {% endif %}
              <!--
                <a class="dropdown-menu" href="{% url 'encounter_list' %}" target="_blank">
                    <i class="fa fa-table"></i>&nbsp;Encounters
                </a>

                <a class="dropdown-menu"
                    href="{% url 'observations:animalencounter-list' %}"
                    title="Browse, filter and search animal encounters">
                    <i class="fa fa-table"></i>&nbsp;Animal Encounters
                </a>
              -->
            </div>
          </li>

          {% if request.user.is_staff %}
          <li class="nav-item dropdown">
            <a  class="nav-link dropdown-toggle"
              href="/"
              id="nav-li-curators"
              title="Curators"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false">
              <span class="oi oi-shield" aria-hidden="true"></span>
              Curators
            </a>
            <div class="dropdown-menu" aria-labelledby="nav-li-curators">
              <a class="dropdown-item"
                href="https://dbca-wa.github.io/wastd/index.html#document-data_curators"
                title="Manual" target="_blank">
                <span class="oi oi-book" aria-hidden="true"></span>
                Data Curators' Manual
              </a>
              <a class="dropdown-item"
                href="{% url 'admin:index' %}"
                target="_blank"
                title="Data entry and curation area">
                <span class="oi oi-beaker" aria-hidden="true"></span>
                Data Curation Portal
              </a>

              {% if request.user.is_superuser %}
              <div class="dropdown-divider"></div>
              <!--  <a class="dropdown-item"
                href="/performance/" target="_blank"
                title="Measure performance">
               <span class="oi oi-pulse" aria-hidden="true"></span>
               Site performance
              </a> -->
              <a class="dropdown-item"
                href="{% url 'import-odka' %}"
                title="Import all ODKA forms">
               <span class="oi oi-loop-circular" aria-hidden="true"></span>
               Import ODKA
              </a>
              <a class="dropdown-item"
                href="{% url 'update-names' %}"
                title="Rebuild names for surveys, tagged animals, and loggers.">
               <span class="oi oi-loop-circular" aria-hidden="true"></span>
               Rebuild Animal Names
              </a>
              <a class="dropdown-item"
                href="{% url 'taxonomy:task-update-taxon' %}"
                title="Update taxon names">
               <span class="oi oi-loop-circular" aria-hidden="true"></span>
               Update Taxon Names
              </a>
             <!--  <a class="dropdown-item"
                href="/api/1/animal-encounters/?format=latex"
                target="_blank"
                title="Export all Animal Encounters as PDF">
                <span class="oi oi-document" aria-hidden="true"></span>
                Export All AnimalEncounters
              </a> -->
              {% endif %}
            </div>
          </li>
          {% endif %}

          <li class="nav-item">
           <a class="nav-link"
            href="https://dbca-wa.github.io/wastd/index.html"
            title="Stuck? Here's all you want to know (and more)" target="_blank">
             <span class="oi oi-book" aria-hidden="true"></span>
             Manual
           </a>
          </li>

          <li class="nav-item">
            {% block extranav %}{% endblock extranav %}
          </li>
       </ul>
      <ul class="nav navbar-nav pull-xs-right">
        {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'users:detail' request.user.username  %}">
            <span class="oi oi-person" title="Profile" aria-hidden="true"></span>
            {% trans "My Profile" %}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'account_logout' %}">
            <span class="oi oi-account-logout" title="Log out" aria-hidden="true"></span>
            {% trans "Sign out" %}
          </a>
        </li>
        {% else %}
        <li class="nav-item">
          <a id="sign-up-link" class="nav-link" href="{% url 'account_signup' %}">
            <span class="oi oi-star" title="Sign up" aria-hidden="true"></span>
            {% trans "Sign Up" %}
          </a>
        </li>
        <li class="nav-item">
          <a id="log-in-link" class="nav-link" href="{% url 'account_login' %}">
            <span class="oi oi-account-login" title="Manual" aria-hidden="true"></span>
            {% trans "Sign In" %}
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>
