{% load static i18n bootstrap4 %}
<nav class="navbar navbar-expand-lg navbar-dark bg-black">
      <a class="navbar-brand" href="/">
        <h2>{{ settings.SITE_TITLE }}</h2>
      </a>
        <button class="navbar-toggler" type="button"
          data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">

          <li class="nav-item dropdown">
            <a  class="nav-link dropdown-toggle" href="/"
              id="nav-li-species"
              title="Species"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false">
            <span class="oi oi-grid-three-up" aria-hidden="true"></span>
            Animals
            </a>
            <div class="dropdown-menu" aria-labelledby="nav-li-species">

              <a class="dropdown-item"
                 href="{% url 'observations:animalencounter-list' %}"
                 title="Browse, filter and search all Animal Encounters">
                <span class="oi oi-grid-three-up" aria-hidden="true"></span>
                <span class="align-left">Browse all Animal Encounters</span>
              </a>
              <div class="dropdown-divider"></div>
              <h6 class="dropdown-header">Animal Encounter flavours</h6>
              <a class="dropdown-item"
                 href="{% url 'observations:animalencounter-list' %}?health=alive"
                 title="Browse, filter and search all encounters with healthy animals">
                <span class="oi oi-grid-three-up" aria-hidden="true"></span>
                <span class="align-left">Healthy Animals</span>
              </a>
              <a class="dropdown-item"
                 href="{% url 'observations:animalencounter-list' %}?health=alive&health=alive-injured"
                 title="Browse, filter and search all encounters with both healthy and injured animals">
                <span class="oi oi-grid-three-up" aria-hidden="true"></span>
                <span class="align-left">Alive Animals</span>
              </a>
              <a class="dropdown-item"
                 href="{% url 'observations:animalencounter-list' %}?health=dead-edible&health=dead-organs-intact&health=dead-advanced&health=dead-mummified&health=dead-disarticulated"
                 title="Browse, filter and search all encounters with dead animals">
                <span class="oi oi-grid-three-up" aria-hidden="true"></span>
                <span class="align-left">Dead Animals</span>
              </a>
              <a class="dropdown-item"
                 href="{% url 'observations:animalencounter-list' %}?encounter_type=tagging"
                 title="Browse, filter and search all Turtle Tagging encounters">
                <span class="oi oi-grid-three-up" aria-hidden="true"></span>
                <span class="align-left">Nesting turtles</span>
              </a>
              <a class="dropdown-item"
                 href="{% url 'observations:animalencounter-list' %}?checked_for_flipper_tags=present"
                 title="Browse, filter and search all encounters with injured turtles, including tagging and strandings">
                <span class="oi oi-grid-three-up" aria-hidden="true"></span>
                <span class="align-left">Flipper tagged Turtles</span>
              </a>
              <a class="dropdown-item"
                 href="{% url 'observations:animalencounter-list' %}?encounter_type=inwater"
                 title="Browse, filter and search all in-water encounters">
                <span class="oi oi-grid-three-up" aria-hidden="true"></span>
                <span class="align-left">In-water encounters</span>
              </a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a  class="nav-link dropdown-toggle" href="/"
              id="nav-li-tracks"
              title="Turtle Nesting Census"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false">
            <span class="oi oi-grid-three-up" aria-hidden="true"></span>
            Nests and Tracks
            </a>
            <div class="dropdown-menu" aria-labelledby="nav-li-tracks">

              <a class="dropdown-item"
                 href="{% url 'observations:turtlenestencounter-list' %}"
                 title="Browse, filter and search all Turtle Nest Encounters">
                <span class="oi oi-grid-three-up" aria-hidden="true"></span>
                Browse all Turtle Nest Encounters
              </a>
              <div class="dropdown-divider"></div>
              <h6 class="dropdown-header">Turtle Nest Encounter flavours</h6>
              <a class="dropdown-item"
                 href="{% url 'observations:turtlenestencounter-list' %}?disturbance=present"
                 title="Browse, filter and search disturbed or predated nests">
                <span class="oi oi-grid-three-up" aria-hidden="true"></span>
                Disturbed nests
              </a>
              <a class="dropdown-item"
                 href="{% url 'observations:encounter-list' %}"
                 title="Browse, filter and search general disturbance or predator presence">
                <span class="oi oi-grid-three-up" aria-hidden="true"></span>
                General dist/pred
              </a>
              <a class="dropdown-item"
                 href="{% url 'observations:turtlenestencounter-list' %}?nest_tagged=present"
                 title="Browse, filter and search tagged nests">
                <span class="oi oi-grid-three-up" aria-hidden="true"></span>
                Tagged nests
              </a>
              <a class="dropdown-item"
                 href="{% url 'observations:turtlenestencounter-list' %}?logger_found=present"
                 title="Browse, filter and search Turtle Nest Encounters where loggers were deployed or found">
                <span class="oi oi-grid-three-up" aria-hidden="true"></span>
                Nests with loggers
              </a>
              <a class="dropdown-item"
                 href="{% url 'observations:loggerencounter-list' %}"
                 title="Browse, filter and search Logger Encounters, including the handling of loggers outside of nests">
                <span class="oi oi-grid-three-up" aria-hidden="true"></span>
                Logger Encounters
              </a>
              <a class="dropdown-item"
                 href="{% url 'observations:turtlenestencounter-list' %}?eggs_counted=present"
                 title="Browse, filter and search eggscavated nests">
                <span class="oi oi-grid-three-up" aria-hidden="true"></span>
                Excavated nests
              </a>
              <a class="dropdown-item"
                 href="{% url 'observations:turtlenestencounter-list' %}?hatchlings_measured=present"
                 title="Browse, filter and search excavated nests with hatchling morphometric measurements">
                <span class="oi oi-grid-three-up" aria-hidden="true"></span>
                Nests with live hatchlings
              </a>
              <a class="dropdown-item"
                 href="{% url 'observations:turtlenestencounter-list' %}?fan_angles_measured=present"
                 title="Browse, filter and search nests with fan angles">
                <span class="oi oi-grid-three-up" aria-hidden="true"></span>
                Nests with fan angles
              </a>
              <a class="dropdown-item"
                 href="{% url 'observations:linetransectencounter-list' %}"
                 title="Browse, filter and search Track Tallies">
                <span class="oi oi-grid-three-up" aria-hidden="true"></span>
                Track Tallies
              </a>

              <div class="dropdown-divider"></div>
              <h6 class="dropdown-header">QA shortlists</h6>


              <a class="dropdown-item"
                 href="{% url 'observations:turtlenestencounter-list' %}?species=cheloniidae-fam"
                 title="Review tracks with uncertain species ID">
                <span class="oi oi-grid-three-up" aria-hidden="true"></span>
                Tracks with uncertain species ID
              </a>
              <a class="dropdown-item"
                 href="{% url 'observations:turtlenestencounter-list' %}?nest_type=track-unsure"
                 title="Review nests with uncertain nesting success">
                <span class="oi oi-grid-three-up" aria-hidden="true"></span>
                Nests with uncertain nesting success
              </a>

            </div>
          </li>

          <li class="nav-item dropdown">
            <a  class="nav-link dropdown-toggle" href="/"
              id="nav-li-mwi"
              title="Marine Wildlife Incidents"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false">
            <span class="oi oi-pulse" aria-hidden="true"></span>
            Strandings
            </a>
            <div class="dropdown-menu" aria-labelledby="nav-li-mwi">

              <a class="dropdown-item"
                 href="{% url 'map' %}"
                 title="View Marine Wildlife Incidents Map">
                <span class="oi oi-globe" aria-hidden="true"></span>
                View Marine Wildlife Incidents map
              </a>
              <a class="dropdown-item"
                 href="{% url 'observations:animalencounter-list' %}?health=alive-injured"
                 title="Browse, filter and search all encounters with injured animals">
                <span class="oi oi-grid-three-up" aria-hidden="true"></span>
                <span class="align-left">Injured Animals</span>
              </a>
              <a class="dropdown-item"
                 href="{% url 'observations:animalencounter-list' %}?health=dead-edible&health=dead-organs-intact&health=dead-advanced&health=dead-mummified&health=dead-disarticulated"
                 title="Browse, filter and search all encounters with dead animals">
                <span class="oi oi-grid-three-up" aria-hidden="true"></span>
                <span class="align-left">Dead Animals</span>
              </a>
            </div>
            <!-- TODO add live rescues and mortalities -->
          </li>

          <li class="nav-item dropdown">
            <a  class="nav-link dropdown-toggle" href="/"
              id="nav-li-surveys"
              title="Surveys"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false">
            <span class="oi oi-signpost" aria-hidden="true"></span>
            Surveys
            </a>
            <div class="dropdown-menu" aria-labelledby="nav-li-surveys">
              <a class="dropdown-item"
                 href="{% url 'observations:survey-list' %}?production=true"
                 title="Browse, filter and search all Surveys - production surveys pre-selected">
                <span class="oi oi-grid-three-up" aria-hidden="true"></span>
                <span class="align-left">Browse production Surveys</span>
              </a>
              <div class="dropdown-divider"></div>
              <h6 class="dropdown-header">QA shortlists</h6>
              <a class="dropdown-item"
                 href="{% url 'observations:survey-list' %}?production=false"
                 title="Browse, filter and search all Surveys - training surveys pre-selected">
                <span class="oi oi-grid-three-up" aria-hidden="true"></span>
                <span class="align-left">Browse training Surveys</span>
              </a>

            </div>
          </li>

           <li class="nav-item dropdown">
            <a  class="nav-link dropdown-toggle" href="/"
              id="nav-li-users"
              title="Users"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false">
            <span class="oi oi-person" aria-hidden="true"></span>
            Users
            </a>
            <div class="dropdown-menu" aria-labelledby="nav-li-users">
              <a class="dropdown-item"
                 href="{% url 'users:user-list' %}?is_active=true"
                 title="Browse, filter and search all active Users">
                <span class="oi oi-grid-three-up" aria-hidden="true"></span>
                <span class="align-left">Browse active Users</span>
              </a>
              <div class="dropdown-divider"></div>
              <h6 class="dropdown-header">QA shortlists</h6>
              <a class="dropdown-item"
                 href="{% url 'users:user-list' %}?is_active=false"
                 title="Browse, filter and search all Users marked as duplicates or deleted">
                <span class="oi oi-grid-three-up" aria-hidden="true"></span>
                <span class="align-left">Inactive Users</span>
              </a>
              <a class="dropdown-item"
                 href="{% url 'users:user-list' %}?name=%2C&is_active=true"
                 title="Users with a comma in the name were made from team lists and need to be merged">
                <span class="oi oi-grid-three-up" aria-hidden="true"></span>
                <span class="align-left">Users from teams (comma)</span>
              </a>
              <a class="dropdown-item"
                 href="{% url 'users:user-list' %}?username=_and_&is_active=true"
                 title="Users with an 'and' in the name were made from team lists and need to be merged">
                <span class="oi oi-grid-three-up" aria-hidden="true"></span>
                <span class="align-left">Users from teams (and)</span>
              </a>
              <a class="dropdown-item"
                 href="{% url 'users:user-list' %}?name=%26&is_active=true"
                 title="Users with an ampersand in the name were made from team lists and need to be merged">
                <span class="oi oi-grid-three-up" aria-hidden="true"></span>
                <span class="align-left">Users from teams (ampersand)</span>
              </a>
              {% if request.user.is_staff %}
              <div class="dropdown-divider"></div>
              <h6 class="dropdown-header">QA operations</h6>
              <a class="dropdown-item"
                 href="{% url 'users:user-merge' %}"
                 title="Merge duplicate User Profiles">
                <span class="oi oi-people" aria-hidden="true"></span>
                <span class="align-left">Merge Profiles</span>
              </a>
              {% endif %}

            </div>
          </li>

          <li class="nav-item dropdown">
            <a  class="nav-link dropdown-toggle" href="/"
              id="nav-li-analysts"
              title="Analysts"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false">
            <span class="oi oi-graph" aria-hidden="true"></span>
            Analysts
            </a>
            <div class="dropdown-menu" aria-labelledby="nav-li-analysts">
              <a class="dropdown-item"
                href="https://dbca-wa.github.io/wastd/index.html#document-data_consumers"
                title="Manual" target="_blank" rel="noreferrer">
                <span class="oi oi-book" aria-hidden="true"></span>
                <span class="align-left">Data Analysts' Manual</span>
              </a>
              <a class="dropdown-item" href="{% url 'gql-api' %}"
                  title="GraphQL API" target="_blank" rel="noreferrer">
                 <span class="oi oi-terminal" aria-hidden="true"></span>
                 <span class="align-left">GraphQL API (internal)</span>
              </a>
              <a class="dropdown-item" href="https://hasura-tsc.dbca.wa.gov.au/"
                  title="GraphQL API (Hasura) for admin users" target="_blank" rel="noreferrer">
                 <span class="oi oi-terminal" aria-hidden="true"></span>
                 <span class="align-left">GraphQL API (admin)</span>
              </a>
              <a class="dropdown-item" href="/api/1/" title="API" target="_blank" rel="noreferrer">
               <span class="oi oi-terminal" aria-hidden="true"></span>
               <span class="align-left">RESTful API</span>
             </a>
             <a class="dropdown-item" href="{% url 'api-docs' %}"
                title="API docs (Swagger)" target="_blank" rel="noreferrer">
               <span class="oi oi-book align-left" aria-hidden="true"></span>
               <span class="align-left">RESTful API Docs (Swagger)</span>
             </a>
             <a class="dropdown-item" href="/api/1/docs" title="API docs (DRF)" target="_blank" rel="noreferrer">
               <span class="oi oi-book align-left" aria-hidden="true"></span>
               <span class="align-left">RESTful API Docs (DRF)</span>
             </a>
             {% if request.user.is_authenticated %}
             <a class="dropdown-item"
                title="My API Authentication"
                href="{% url 'users:user-detail' request.user.pk  %}">
              <span class="oi oi-person align-left" aria-hidden="true"></span>
              <span class="align-left">My API Authentication</span>
              </a>
              {% endif %}
              <!--
                <a class="dropdown-menu" href="{% url 'encounter_list' %}" target="_blank">
                    <i class="fa fa-table"></i>&nbsp;Encounters
                </a>

                <a class="dropdown-menu"
                    href="{% url 'observations:animalencounter-list' %}"
                    title="Browse, filter and search animal encounters">
                    <i class="fa fa-table"></i>&nbsp;Animal Encounters
                </a>
              -->
            </div>
          </li>

          {% if request.user.is_staff %}
          <li class="nav-item dropdown">
            <a  class="nav-link dropdown-toggle"
              href="/"
              id="nav-li-curators"
              title="Curators"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false">
              <span class="oi oi-shield" aria-hidden="true"></span>
              Curators
            </a>
            <div class="dropdown-menu" aria-labelledby="nav-li-curators">
              <a class="dropdown-item"
                href="https://dbca-wa.github.io/wastd/index.html#document-data_curators"
                title="Manual" target="_blank">
                <span class="oi oi-book" aria-hidden="true"></span>
                Data Curators' Manual
              </a>
              <a class="dropdown-item"
                href="{% url 'admin:index' %}"
                target="_blank"
                title="Data entry and curation area">
                <span class="oi oi-beaker" aria-hidden="true"></span>
                Data Curation Portal
              </a>
              {% if request.user.is_superuser %}
              <div class="dropdown-divider"></div>
              <!--  <a class="dropdown-item"
                href="/performance/" target="_blank"
                title="Measure performance">
               <span class="oi oi-pulse" aria-hidden="true"></span>
               Site performance
              </a> -->
              <a class="dropdown-item"
                href="{% url 'import-odka' %}"
                title="Import all ODKA forms">
               <span class="oi oi-loop-circular" aria-hidden="true"></span>
               Import ODKA
              </a>
              <a class="dropdown-item"
                href="{% url 'reconstruct-surveys' %}"
                title="Reconstruct missing surveys">
               <span class="oi oi-loop-circular" aria-hidden="true"></span>
               Reconstruct missing Surveys
              </a>
              <a class="dropdown-item"
                href="{% url 'update-names' %}"
                title="Rebuild names for surveys, tagged animals, and loggers.">
               <span class="oi oi-loop-circular" aria-hidden="true"></span>
               Rebuild Animal Names
              </a>

             <!--  <a class="dropdown-item"
                href="/api/1/animal-encounters/?format=latex"
                target="_blank"
                title="Export all Animal Encounters as PDF">
                <span class="oi oi-document" aria-hidden="true"></span>
                Export All AnimalEncounters
              </a> -->
              {% endif %}
            </div>
          </li>
          {% endif %}

          <li class="nav-item">
           <a class="nav-link"
            href="https://dbca-wa.github.io/wastd/index.html"
            title="Stuck? Here's all you want to know (and more)" target="_blank">
             <span class="oi oi-book" aria-hidden="true"></span>
             Manual
           </a>
          </li>

          <li class="nav-item">
            {% block extranav %}{% endblock extranav %}
          </li>
       </ul>
      <ul class="nav navbar-nav pull-xs-right">
        {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'users:user-detail' request.user.pk  %}">
            <span class="oi oi-person" title="Profile" aria-hidden="true"></span>
            {% trans "My Profile" %}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'account_logout' %}">
            <span class="oi oi-account-logout" title="Log out" aria-hidden="true"></span>
            {% trans "Sign out" %}
          </a>
        </li>
        {% else %}
        <li class="nav-item">
          <a id="sign-up-link" class="nav-link" href="{% url 'account_signup' %}">
            <span class="oi oi-star" title="Sign up" aria-hidden="true"></span>
            {% trans "Sign Up" %}
          </a>
        </li>
        <li class="nav-item">
          <a id="log-in-link" class="nav-link" href="{% url 'account_login' %}">
            <span class="oi oi-account-login" title="Manual" aria-hidden="true"></span>
            {% trans "Sign In" %}
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>
