{% load bootstrap4 %}
<div class="d-flex flex-row">
  <div class="mr-auto">
    <h5>{{ object.opts.verbose_name }}</h5>
  </div>
  <div>
    {% include "shared/update_links_qa.html" with label=False %}
  </div>
</div>

<div class="row">
  <div class="col col-12">
    <h6>{{ object.subject }}</h6>
  </div>
</div>

<div class="row">
  <div class="col col-12">
  <i class="oi oi-calendar" aria-hidden="true"></i>&nbsp;
  {{ object.encountered_on|date:"r" }}
  </div>
</div>

<div class="row">
  <div class="col col-12">
  <i class="oi oi-map" aria-hidden="true"></i>&nbsp;
  {{ object.encounter_type }}
  </div>
</div>

<div class="row">
  <div class="col col-12">
  <i class="oi oi-globe" aria-hidden="true"></i>&nbsp;
  {{ object.get_area_type_display }} [{{ object.code }}] {% if object.name %}{{ object.name }}{% endif %}
  </div>
</div>

<div class="row">
  <div class="col col-12">
  <i class="oi oi-person" aria-hidden="true"></i>&nbsp;
  <a href="mailto:{{ object.encountered_by.email }}"
     target="_"
     title="Send email to {{ object.encountered_by.fullname }}"
     subject="Question about TSC Encounter {{ object }}">
    {{ object.encountered_by.name }}
  </a>
</div>
</div><!-- /.row -->

<div class="row">
  <div class="col col-12">
    <i class="oi oi-comment-square" aria-hidden="true"></i>&nbsp;
    {{ object.description|safe }}
  </div>
</div><!-- /.row -->