{% load staticfiles taxonomy_tags observations %}
<div class="row">
  <div class="col col-12">
  <div class="mr-auto p-2">
    <h5>{{ original }}</h5>
  </div>

  <div class="p-2">
    <a href="{{ original.absolute_admin_url }}"
        class="btn btn-{{ original.status|tb_status_icon }} btn-sm"
        target="_" title="Edit record in new tab">
        <i class="oi oi-pencil"></i>
        {{ original.get_status_display }}
    </a>
  </div>
  </div>
</div>


<!-- Time and location -->
<div class="row">
  <div class="col col-12">
  <i class="oi oi-calendar" aria-hidden="true"></i>&nbsp;
  {{ original.encountered_on|date:"r" }}
</div>
</div>

<div class="row">
  <div class="col col-12">
  <i class="oi oi-globe" aria-hidden="true"></i>&nbsp;
  [{{ original.code }}] {{ original.name }}
</div>
</div>

<div class="row">
  <div class="col col-12">
  <i class="oi oi-person" aria-hidden="true"></i>&nbsp;
  <a href="mailto:{{ original.encountered_by.email }}"
     target="_"
     title="Send email to {{ original.encountered_by.fullname }}"
     subject="Question about TSC Encounter {{ original }}">
    {{ original.encountered_by.name }}
  </a>
</div>
</div><!-- /.row -->

<div class="row">
  <div class="col col-12">
  {{ original.description|safe }}
</div>
</div><!-- /.row -->
