{% extends "base.html" %}
{% load staticfiles leaflet_tags geojson_tags mptt_tags taxonomy_tags %}

{% block content %}
<div class="row">

  <!-- Data -->
  <div id="dash-data" class="col-md-9 col-sm-6 col-12">
    <h3>Threatened Species and Communities</h3>

    {% if is_paginated %}
    <div class="row">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          {% if page_obj.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
          {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
          </li>
          {% endif %}

          {% for i in page_obj.number|rangify %}
            {% if page_obj.number == i %}
              <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
            {% else %}
              <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
          {% endfor %}

          {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
          {% else %}
             <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
          </li>
          {% endif %}
        </ul>
      </nav>
    </div>
    {% endif %}

    <div class="row">
      {% for original in object_list %}
      {% include "cards/taxon.html" with original=original %}
      {% endfor %}
    </div>

  </div><!-- /#dash-data -->

  <div id="dash-filters" class="col-md-3 col-sm-6 col-12">
    <h3>Search</h3>
    <form>
      <div class="form-group">
        <div id="searchmapholder">{% leaflet_map "searchmap" callback="window.map_init" %}</div>
      </div>

      <div class="form-group">
        <input
        class="form-control"
        style="width:18rem;"
        type="search"
        placeholder="Species or Communities"
        aria-label="Search">
      </div>

      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="type-species">
          <label class="form-check-label" for="type-species">Species</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="type-communities">
          <label class="form-check-label" for="type-communities">Communities</label>
        </div>

        <span class="badge badge-danger">T</span>
        <span class="badge badge-danger">CR</span>
        <span class="badge badge-warning">EN</span>
        <span class="badge badge-warning">VU</span>
        <span class="badge badge-secondary">EX</span>
        <span class="badge badge-info">IA</span>
        <span class="badge badge-primary">CD</span>
        <span class="badge badge-success">OS</span>
        <span class="badge badge-primary">P1</span>
        <span class="badge badge-primary">P2</span>
        <span class="badge badge-primary">P3</span>
        <span class="badge badge-primary">P4</span>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary mb-2">Go</button>
      </div>
    </form>

    <!-- <h3>Taxa</h3>
    <small>
    <ul>
    {# recursetree nodes #}
        <li>
            {{ node }}
            {# if not node.is_leaf_node #}
                <ul class="children">
                    {{ children }}
                </ul>
            {# endif #}
        </li>
    {# endrecursetree #}
    </ul>
    </small> -->
  </div><!-- /#dash-filters -->
</div>
{% endblock %}

{% block css%}
{{ block.super }}
{% leaflet_css plugins="draw" %}
{% endblock %}

{% block javascript%}
{{ block.super }}
{% leaflet_js plugins="draw" %}
<script type="text/javascript">
  function map_init(map, options) {

    map.setZoom(3);

    /* Helper functions */

    /* Point style */
    var style = {
      "clickable": true
    }

    /* Polygon style */
    var polystyle = {
      "color": "#0009ff",
      "weight": 1,
      "opacity": 0.65
    }

    /* Map a feature to an icon class */
    function getIcon(feature){
      if (feature.properties.leaflet_icon){
        return feature.properties.leaflet_icon
      } else {
        return "question-circle-o"
      }
    }

    /* Map a feature to an marker colour */
    function getMarkerColor(feature){
      if (feature.properties.leaflet_colour){
        return feature.properties.leaflet_colour
      } else {
        return "red"
      }
    }

    /* Use FontAwesome icons for Leafet.awesome-markers */
    L.AwesomeMarkers.Icon.prototype.options.prefix = 'fa';

    /* Return a grouping variable - using feature.id disables grouping */
    function getUnique(feature){return feature.id}

    /* Override default Marker, set colour, symbol; add mouse hover title */
    function ptl(feature, latlng) {
      /* https://github.com/lvoogdt/Leaflet.awesome-markers */
      var icon = new L.AwesomeMarkers.icon({
        icon: getIcon(feature),
        iconColor: 'white',
        markerColor: getMarkerColor(feature),
            // prefix: 'fa',
            // spin:false
          });

      return L.marker(latlng, {icon: icon});
        //title: feature.properties.leaflet_title,

      }

      /* Actions taken when highlighting feature */
      function highlightFeature(e) {
        var layer = e.target;
        info.update(layer.feature.properties);
      }

      /* Actions taken when resetting highlight on feature */
      function resetHighlight(e) {
        info.update();
      }

      /* Actions taken on each feature: title, popup, info preview */
      function oef (feature, layer) {
        layer.bindLabel(feature.properties.leaflet_title);
        layer.bindPopup(feature.properties.as_html);
        layer.on({mouseover: highlightFeature, click: resetHighlight});
      }

    // /* Preview window called "info" */
    // var info = L.control();

    // info.onAdd = function (map) {
    //     this._div = L.DomUtil.create('div', 'info');
    //     this.update();
    //     return this._div;
    // };
    // info.update = function (props) {
    //     this._div.innerHTML = props ? props.as_html: 'Hover to preview, click to inspect';
    // };

    // info.addTo(map);

    /* Data loading */

    /*
     * Option 1: List view queryset plus djgeojson filter tag = GeoJSON
     * Ideal for filters with sensible defaults (e.g. show only current year)
     * https://github.com/makinacorpus/django-geojson#geojson-template-filter
     */
    // L.geoJson(
    //     {# object_list|geojsonfeature:'as_html,leaflet_title,leaflet_icon,leaflet_colour:where'|safe #},
    //     // {clipTiles: true, unique: getUnique},
    //     {style: style, pointToLayer: ptl, onEachFeature: oef}
    // ).addTo(map);

    // var markers = L.markerClusterGroup();
    // var gj_markers = L.geoJson(
    //     {# object_list|geojsonfeature:'as_html,leaflet_title,leaflet_icon,leaflet_colour:where'|safe #},
    //     // {clipTiles: true, unique: getUnique},
    //     {style: style, pointToLayer: ptl, onEachFeature: oef});
    // markers.addLayer(gj_markers);
    // map.addLayer(markers);

    /*
     * Option 2: GeoJSON view
     * The quick and dirty way to dump all (whoa) data into one layer
     * https://github.com/makinacorpus/django-geojson#geojson-layer-view
     * We'll use this method to load area polygons.
     */
    // $.getJSON("{% url 'areas-geojson' %}", function (data) {
    //     L.geoJson(data, {style: polystyle, onEachFeature: oef}).addTo(map);
    // });

    /*
     * Option 3: Tiled GeoJSON      ...because we can, baby
     * Most performant solution
     * https://github.com/glenrobertson/leaflet-tilelayer-geojson/
     * TODO filters or clustering
     * getUnique returns grouping variable (using feature.id disables grouping)
     * ptl overrides default marker with AwesomeMarker
     * oef binds popup to marker
     */
    // var geojsonTileLayer = new L.TileLayer.GeoJSON(
    //     'data/{z}/{x}/{y}.geojson',
    //     {clipTiles: true, unique: getUnique},
    //     {style: style, pointToLayer: ptl, onEachFeature: oef}
    // ).addTo(map);


  }
</script>
{% endblock %}