{% extends "base.html" %}
{% load leaflet_tags geojson_tags %}

{% block map %}
<div id="mapholder">
    {% leaflet_map "wastdmap" callback="window.map_init" %}
</div>
{% endblock map %}

{% block javascript%}
{{ block.super }}
<script type="text/javascript">

var style = {
        "clickable": true,
        "color": "#00D",
        "fillColor": "#00D",
        "weight": 1.0,
        "opacity": 0.3,
        "fillOpacity": 0.2
    };

  function map_init(map, options) {
    // L.geoJson({{ qs_results|geojsonfeature|safe }}).addTo(map);

    // $.getJSON("{% url 'observation-geojson' %}", function (data) {
    //     L.geoJson(data, {
    //         style: function (feature) {return {};},
    //         onEachFeature: function (feature, layer) {
    //             layer.bindPopup(feature.properties.as_html)
    //         }
    //     }).addTo(map);
    //});

    var geojsonTileLayer = new L.TileLayer.GeoJSON(
        'data/{z}/{x}/{y}.geojson',{
            clipTiles: true,
            unique: function (feature) {
                return feature.id;
            }
        }, {
            style: style,
            onEachFeature: function (feature, layer) {
                layer.bindPopup(feature.properties.as_html)
            }
        }
    ).addTo(map);
  }
</script>
{% endblock %}
