{% extends "base.html" %}
{% load leaflet_tags geojson_tags %}
{% block css %}
{{ block.super }}
{% leaflet_css %}
{% endblock %}

{% block map %}
    {% leaflet_map "wastdmap" callback="window.map_init" %}
{% endblock map %}

{% block javascript%}
{{ block.super }}
{% leaflet_js %}
<script type="text/javascript">
  // var collection = {{ qs_results|geojsonfeature|safe }};
  function map_init(map, options) {
    // L.geoJson(collection).addTo(map);
    $.getJSON("{% url 'observation-geojson' %}", function (data) {
        L.geoJson(data, {
            style: function (feature) {
                return {
                    //color: feature.properties.colour
                };
            },
            onEachFeature: function (feature, layer) {
                layer.bindPopup(feature.properties.as_html);
            }
        }).addTo(map);
    });
  }
</script>

<!-- <script>
// Base maps
var esri_worldimagery = L.tileLayer.provider('Esri.WorldImagery'),
    osm_mapnik = L.tileLayer.provider('OpenStreetMap.Mapnik'),
    esri_ocean = L.tileLayer.provider('Esri.OceanBasemap'),
    modis_terra = L.tileLayer.provider('NASAGIBS.ModisTerraTrueColorCR');

</script> -->
{% endblock %}
