{% extends "base_wastd.html" %}
{% load bootstrap4 %}

{% block extra_style %}
    {{ block.super }}
    <style>
        .step-container {
            border: 1px solid #ddd;
            border-radius: 5px;
            padding: 15px;
            margin-bottom: 20px;
        }
        .step-header {
            background-color: #f8f9fa;
            padding: 10px;
            margin: -15px -15px 15px -15px;
            border-bottom: 1px solid #ddd;
            font-weight: bold;
        }
        .alert {
            position: fixed;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            z-index: 1050;
            display: none;
        }
    </style>
{% endblock %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'wamtram2:batches_curation' %}">Batches Curation</a></li>
        <li class="breadcrumb-item active">Edit Batch Details</li>
        <li class="breadcrumb-item"><a href="{% url 'wamtram2:entry_batch_detail' batch_id %}">{{ batch_id }}</a></li>
    </ol>
</nav>
{% endblock %}

{% block page_content_inner %}
<div class="container-fluid mt-5 mb-5">
    <!-- Message Alert -->
    <div id="message-alert" class="alert" role="alert"></div>

    <!-- Batch Code Generator -->
    <div class="step-container">
        <div class="step-header">Batch Code Generator</div>
        <form id="codeGeneratorForm" class="row">
            {% csrf_token %}
            <div class="col-md-3">
                <label for="location_code">Location</label>
                <select class="form-control" id="location_code" name="location_code">
                    {% for location in locations %}
                        <option value="{{ location.location_code }}">{{ location.location_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-3">
                <label for="place_code">Place</label>
                <select class="form-control" id="place_code" name="place_code">
                    <!-- Will be populated dynamically by JavaScript -->
                </select>
            </div>
            <div class="col-md-2">
                <label for="year">Year</label>
                <select class="form-control" id="year" name="year">
                    {% for year, short_year in years.items %}
                        <option value="{{ short_year }}" {% if year == current_year|stringformat:"s" %}selected{% endif %}>{{ year }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-2">
                <label for="night">Night Number</label>
                <input type="number" class="form-control" id="night" name="night" min="1" max="99" value="1">
            </div>
            <div class="col-md-2 mt-4">
                <button type="button" class="btn btn-primary btn-block" onclick="generateCode()">Generate Code</button>
            </div>
        </form>
        <div class="mt-3">
            <h5>Generated Code: <span id="generatedCode"></span></h5>
        </div>
    </div>

    <!-- Existing Batch Code Form -->
    <div class="step-container">
        <div class="step-header">{% if batch_id %}Edit{% else %}Add{% endif %} Batch Detail</div>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="batches_code">{{ form.batches_code.label }}</label>
                <input type="text" class="form-control" id="batches_code" name="batches_code" value="{{ form.batches_code.value|default_if_none:'' }}" required>
                <div class="invalid-feedback">
                    This Batch Code is aleady taken.
                </div>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="form-group">
                <label for="comments">{{ form.comments.label }}</label>
                <textarea name="comments" id="comments" class="form-control" rows="3">{{ form.comments.value|default_if_none:'' }}</textarea>
            </div>
            <div class="form-group">
                <label for="template">{{ form.template.label }}</label>
                <select name="template" id="template" class="form-control">
                    <option value="">---------</option>
                    {% for template in templates %}
                        <option value="{{ template.id }}" {% if template.id == form.template.value.id %}selected{% endif %}>{{ template.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
            <a href="{% url 'wamtram2:batches_curation' %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    // Get CSRF Token
    function getCSRFToken() {
        return document.querySelector('[name=csrfmiddlewaretoken]').value;
    }

    // Show Message
    function showMessage(message, type) {
        var alert = $('#message-alert');
        alert.removeClass('alert-success alert-danger');
        alert.addClass('alert-' + type);
        alert.text(message);
        alert.slideDown();

        setTimeout(function() {
            alert.slideUp();
        }, 3000);
    }

    // Load Places
    function loadPlaces(locationCode) {
        $.ajax({
            url: "{% url 'wamtram2:batch_code_manage' %}",
            type: 'GET',
            data: { 
                action: 'get_places', 
                location_code: locationCode,
            },
            dataType: 'json',
            success: function(data) {
                var placeSelect = $('#place_code');
                placeSelect.empty();
                $.each(data, function(index, place) {
                    placeSelect.append('<option value="' + place.place_code + '">' + place.place_name + '</option>');
                });
            },
            error: function(xhr, status, error) {
                console.error('Error fetching places:', xhr.responseText);
                showMessage('Error loading places. Please try again.', 'danger');
            }
        });
    }

    // Generate Code
    function generateCode() {
        var night = $('#night').val();
        var placeCode = $('#place_code').val();
        var year = $('#year').val().slice(-2);
        var generatedCode = 'N' + night + placeCode + year;
        var batchId = {% if batch_id %}{{ batch_id }}{% else %}null{% endif %};
        // Check if the code is unique
        $.ajax({
            
            url: "{% url 'wamtram2:batch_code_manage' %}",
            type: 'GET',
            data: { 
                action: 'check_batch_code', 
                code: generatedCode,
                batch_id: batchId
            },
            success: function(data) {
                if (data.is_unique) {
                    $('#generatedCode').text(generatedCode);
                    $('#batches_code').val(generatedCode);
                    showMessage('Code generated successfully', 'success');
                } else {
                    showMessage('Code already exists. Please try a different combination.', 'danger');
                }
            },
            error: function() {
                showMessage('Error checking code uniqueness', 'danger');
            }
        });
    }

    // Initialize event handlers
    $(document).ready(function() {
        $('#location_code').change(function() {
            var locationCode = $(this).val();
            loadPlaces(locationCode);
        });

        // Initial load of places
        loadPlaces($('#location_code').val());


        var batchCodeInput = $('#batches_code');
        var submitBtn = $('#submitBtn');

        batchCodeInput.on('input', function() {
            var code = $(this).val();
            var batchId = {% if batch_id %}{{ batch_id }}{% else %}null{% endif %};
            if (code) {
                $.ajax({
                    url: '{% url "wamtram2:check_batch_code" %}',
                    data: {
                        'code': code,
                        'action': 'check_batch_code',
                        'batch_id': batchId
                    },
                    dataType: 'json',
                    success: function(data) {
                        if (data.is_unique) {
                            batchCodeInput.removeClass('is-invalid').addClass('is-valid');
                            submitBtn.prop('disabled', false);
                        } else {
                            batchCodeInput.removeClass('is-valid').addClass('is-invalid');
                            submitBtn.prop('disabled', true);
                        }
                    }
                });
            } else {
                batchCodeInput.removeClass('is-valid is-invalid');
                submitBtn.prop('disabled', true);
            }
        });

        $('#batchForm').submit(function(e) {
            if (batchCodeInput.hasClass('is-invalid')) {
                e.preventDefault();
                alert('Please enter a valid batch code.');
            }
        });
    });
</script>
{% endblock %}