{% extends "base_wastd.html" %}
{% load static bootstrap4 dud_filter %}

{% block extra_style %}
    {{ block.super }}
    {{ form.media.css }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/table_list.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/loading_spinner.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/loading_overlay.css' %}">
{% endblock extra_style %}

{% block extra_head %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock extra_head %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb" class="d-none d-md-block">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'wamtram2:admin_tools' %}">Curation Tools</a></li>
            <li class="breadcrumb-item active">Dud Tag Management</li>
        </ol>
    </nav>
{% endblock %}

{% block page_content_inner %}
    <div class="container">
        <div class="step-container mt-5">
            <div class="page-header">
                <h1 class="page-title"> {{ page_title }}</h1>
            </div>
            {% include "includes/messages.html" %}
            {% if error_message %}
                <div class="alert alert-danger mb-3" role="alert">
                    {{ error_message }}
                </div>
            {% endif %}
            
            <div class="table-container">
                <!-- Dud Tag Management Form -->
                <form method="post" action="{% url 'wamtram2:dud_tag_manage' %}">
                    {% csrf_token %}
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Entry ID <span class="sort-icon none" data-field="data_entry_id"></span></th>
                                <th>Observation ID <span class="sort-icon none" data-field="observation_id"></span></th>
                                <th>Turtle ID <span class="sort-icon none" data-field="turtle_id"></span></th>
                                <th>DUD Tag Type <span class="sort-icon none" data-field="tag_type"></span></th>
                                <th>DUD Tag ID <span class="sort-icon none" data-field="tag_id"></span></th>
                                <th>Current Status</th>
                                <th>New Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entry_data in entries %}
                                <tr>
                                    <form method="post" action="{% url 'wamtram2:dud_tag_manage' %}">
                                        {% csrf_token %}
                                        <td>
                                            {% if entry_data.entry.data_entry_id %}
                                                <a href="{% url 'wamtram2:trtdataentry' entry_data.entry.data_entry_id %}">{{ entry_data.entry.data_entry_id }}</a>
                                            {% else %}
                                                N/A
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if entry_data.entry.observation_id.id %}
                                                <a href="{% url 'wamtram2:observationdetail' entry_data.entry.observation_id.id %}">{{ entry_data.entry.observation_id.id }}</a>
                                            {% else %}
                                                N/A
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if entry_data.entry.turtle_id %}
                                                {{ entry_data.entry.turtle_id }}
                                            {% else %}
                                                N/A
                                            {% endif %}
                                        </td>
                                        <td>{{ entry_data.tag_type|title }}</td>
                                        <td>
                                            {% if entry_data.tag_type|startswith:'flipper' %}
                                                <a href="{% url 'admin:wamtram2_trttags_change' entry_data.tag_id %}">{{ entry_data.tag_id }}</a>
                                            {% elif entry_data.tag_type|startswith:'pit' %}
                                                <a href="{% url 'admin:wamtram2_trtpittags_change' entry_data.tag_id %}">{{ entry_data.tag_id }}</a>
                                            {% else %}
                                                N/A
                                            {% endif %}
                                        </td>
                                        <td>{{ entry_data.current_status }}</td>
                                        <td>
                                            <select name="tag_status" class="form-control form-control-sm">
                                                {% if entry_data.tag_type|startswith:'flipper' %}
                                                    {% for state in entry_data.available_states %}
                                                        <option value="{{ state.tag_status }}">
                                                            {{ state.description }}
                                                        </option>
                                                    {% endfor %}
                                                {% else %}
                                                    {% for state in entry_data.available_states %}
                                                        <option value="{{ state.pit_tag_status }}">
                                                            {{ state.description }}
                                                        </option>
                                                    {% endfor %}
                                                {% endif %}
                                            </select>
                                        </td>
                                        <td>
                                            {% if entry_data.entry.observation_id %}
                                                <input type="hidden" name="tag_type" value="{{ entry_data.tag_type }}">
                                                <input type="hidden" name="tag_id" value="{{ entry_data.tag_id }}">
                                                <input type="hidden" name="entry_id" value="{{ entry_data.entry.data_entry_id }}">
                                                <button type="submit" class="btn btn-primary btn-sm btn-block">
                                                    Save
                                                </button>
                                            {% else %}
                                                <button type="button" 
                                                        class="btn btn-secondary btn-sm btn-block" 
                                                        disabled>No Observation</button>
                                            {% endif %}
                                        </td>
                                    </form>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </form>
            </div>
        </div>

        <!-- Loading spinner -->
        <div class="loading-spinner">
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>

        <!-- Loading Overlay -->
        <div class="loading-overlay"></div>
    </div>
{% endblock %}

{% block extra_js %}
{{ block.super }}
<script>
    $(document).ready(function() {
        // Handle the form submission to show a loading spinner
        $('#dudTagForm').on('submit', function(event) {
            event.preventDefault(); // Prevent the form from submitting normally
            showLoadingSpinner(); // Show the loading spinner
            $.ajax({
                type: 'POST',
                url: '', // Assuming this is the same URL
                data: $(this).serialize(), // Serialize the form data
                success: function(response) {
                    hideLoadingSpinner(); // Hide the loading spinner
                    showMessage('Dud Tag saved successfully!', 'success'); // Show success message
                },
                error: function(error) {
                    hideLoadingSpinner(); // Hide the loading spinner
                    showMessage('Error saving Dud Tag. Please try again.', 'danger'); // Show error message
                }
            });
        });
    
        // Functions to handle loading spinner and messages
        function showLoadingSpinner() {
            const loadingSpinner = document.querySelector('.loading-spinner');
            const loadingOverlay = document.querySelector('.loading-overlay');
            if (loadingOverlay) {
                loadingOverlay.style.display = 'block';
            }
            if (loadingSpinner) {
                loadingSpinner.style.display = 'block';
            }
        }
    
        function hideLoadingSpinner() {
            const loadingSpinner = document.querySelector('.loading-spinner');
            const loadingOverlay = document.querySelector('.loading-overlay');
            if (loadingOverlay) {
                loadingOverlay.style.display = 'none';
            }
            if (loadingSpinner) {
                loadingSpinner.style.display = 'none';
            }
        }
    
        function showMessage(message, type) {
            var alert = $('#message-alert');
            alert.removeClass('alert-success alert-danger');
            alert.addClass('alert-' + type);
            alert.text(message);
            alert.slideDown();
    
            setTimeout(function() {
                alert.slideUp();
            }, 3000);
        }

        // Sorting function
        $('.sort-icon').click(function() {
            const field = $(this).data('field');
            const currentState = $(this).attr('class').includes('none') ? 'none' : 
                $(this).attr('class').includes('asc') ? 'asc' : 'desc';
            
            $('.sort-icon').removeClass('active asc desc').addClass('none');
            
            let newState;
            if (currentState === 'none') {
                newState = 'asc';
            } else if (currentState === 'asc') {
                newState = 'desc';
            } else {
                newState = 'none';
            }
            
            if (newState !== 'none') {
                $(this).removeClass('none').addClass(`active ${newState}`);
            }
            
            const tbody = $('table tbody');
            const rows = tbody.find('tr').get();
            
            if (newState === 'none') {
                rows.sort((a, b) => {
                    return $(a).find('td:first').text().localeCompare($(b).find('td:first').text());
                });
            } else {
                rows.sort((a, b) => {
                    let aValue = $(a).find(`td:nth-child(${$(this).closest('th').index() + 1})`).text().trim();
                    let bValue = $(b).find(`td:nth-child(${$(this).closest('th').index() + 1})`).text().trim();
                    if (newState === 'asc') {
                        return aValue.localeCompare(bValue);
                    } else {
                        return bValue.localeCompare(aValue);
                    }
                });
            }
            
            tbody.empty();
            tbody.append(rows);
        });
    });
</script>
{% endblock %}