{% extends "base_wastd.html" %}
{% load static bootstrap4 %}

{% block extra_style %}
  {{ block.super }}
  {{ form.media.css }}
  <style>
    .select2 {
      width: 100% !important;
    }
    /* Loading spinner */
    .loading-spinner {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 9999;
    }
    .loading-spinner .spinner-border {
        width: 5rem;
        height: 5rem;
        border-width: 0.5rem;
    }
  </style>
{% endblock %}

{% block extra_head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" 
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" 
        crossorigin="anonymous"></script>
{% endblock extra_head %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'wamtram2:entry_batches' %}">Entry batches</a></li>
    {% if form.batch_id.value %}
    <li class="breadcrumb-item"><a href="{% url 'wamtram2:entry_batch_detail' form.batch_id.value %}">{{ form.batch_id.value }}</a></li>
    {% endif %}
  </ol>
</nav>
{% endblock %}

{% block page_content_inner %}
<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col col-12 mb-3">
      <div class="card card-lg shadow-lg">
        <div class="card-body">
          <div class="text-center mt-3">
            <a href="{% url 'wamtram2:newtrtdataentry' batch_id=form.batch_id.value %}" class="btn btn-primary">Create New Untagged Turtle</a>
          </div>
          <div class="text-center mt-4">or</div>
          <h5 class="text-center mt-4">Search for a Tagged Turtle</h5>
          <form method="post" class="w-50 mx-auto text-center mt-3" id="searchForm">
            {% csrf_token %}
            <div class="form-group">
              <label for="tag_id">Tag ID:</label>
              <input type="text" class="form-control" id="tag_id" name="tag_id" required>
            </div>
            <input type="hidden" id="tag_type" name="tag_type" value="{{ tag_type }}">
            <div class="row justify-content-center">
              <input type="submit" value="Search" class="btn btn-primary">
            </div>
          </form>
          
          <div class="text-center mt-4">{% bootstrap_form_errors form %}</div>
          <div id="tag-suggestion" class="alert alert-warning mt-3" style="display: none;">
            <p>Sorry we cannot find the tag in our database.</br></p>
            <p>It seems you forgot to add a space in the tag ID:  <span id="suggested-tag"></span></p>
            <button class="btn btn-primary" id="use-suggested-tag">Yes, it is <span id="suggested-tag-btn"></span></button>
            <button class="btn btn-secondary" id="suggested-tag-no">No, it is <span id="user-input-tag"></span></button>
          </div>
          <div id="exact-match-prompt" class="alert alert-warning mt-3" style="display: none;">
            <p>Sorry we cannot find the tag in our database.</br></p>
            <p>Is the tag id <strong id="exact-tag-id"></strong> exact same as the data sheet?</p>
            <button class="btn btn-primary" id="exact-match-yes">Yes, I have double checked the tag from data sheet</button>
            <button class="btn btn-secondary" id="exact-match-no">No, I will reenter the tag</button>
          </div>
          {% if turtle %}
          <div class="container border pb-3 mt-3">
            <div class="mt-3 row justify-content-md-center"><strong>Tag: {{ form.tag_id.value }}</strong></div>
            <div class="mt-3 row justify-content-md-center">
              <div class="col-md-auto"><strong>ID:</strong> <a href="{% url 'wamtram2:turtle_detail' turtle.turtle_id %}" target="_blank">{{ turtle.turtle_id }}</a></div>
              <div class="col-md-auto"><strong>Sex:</strong> {{ turtle.sex }}</div>
              <div class="col-md-auto"><strong>Species:</strong> {{ turtle.species_code }}</div>        
              <div class="col-md-auto"><strong>Status:</strong> {{ turtle.turtle_status }}</div>        
            </div>
          </div>
          <div class="text-center mt-4">
            <p>Does the species and sex match the data sheet?</p>
            <a href="{% url 'wamtram2:existingtrtdataentry' batch_id=form.batch_id.value turtle_id=turtle.turtle_id %}" class="btn btn-primary mt-2 ml-md-2">Yes, create for turtle {{ turtle.turtle_id }}</a>
            <form method="post" style="display: inline;">
              {% csrf_token %}
              <input type="hidden" name="tag_id" value="{{ form.tag_id.value }}">
              <input type="hidden" name="tag_type" value="{{ tag_type }}">
              <input type="hidden" name="create_and_review" value="true">
              <button type="submit" class="btn btn-secondary mt-2 ml-md-2">No, create the record and review later</button>
            </form>
          </div>          
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
<div>Tag Type: {{ tag_type }}</div>
<!-- Loading spinner -->
<div class="loading-spinner">
  <div class="spinner-border text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

{% endblock %}

{% block extra_js %}
{{ form.media.js }}
<script>
  // Show loading animation
  function showLoadingSpinner() {
    const loadingSpinner = document.querySelector('.loading-spinner');
    if (loadingSpinner) {
      loadingSpinner.style.display = 'block';
    }
  }

  // Hide loading animation
  function hideLoadingSpinner() {
    const loadingSpinner = document.querySelector('.loading-spinner');
    if (loadingSpinner) {
      loadingSpinner.style.display = 'none';
    }
  }

  // Hide loading animation when the page is fully loaded
  window.addEventListener('load', hideLoadingSpinner);

  // Add event listeners to all form submissions to show the loading animation
  document.querySelectorAll('form').forEach(form => {
    form.addEventListener('submit', function(event) {
      showLoadingSpinner();
    });
  });

  // Use the suggested tag
  document.getElementById('use-suggested-tag').addEventListener('click', function() {
    document.getElementById('tag_id').value = document.getElementById('suggested-tag').innerText;
    document.getElementById('tag-suggestion').style.display = 'none';
    document.getElementById('searchForm').submit();
  });

  // Handle exact match prompt
  document.getElementById('exact-match-yes').addEventListener('click', function() {
    document.getElementById('searchForm').submit();
  });

  document.getElementById('exact-match-no').addEventListener('click', function() {
    document.getElementById('exact-match-prompt').style.display = 'none';
  });

  // Show exact match prompt
  function showExactMatchPrompt(tagId) {
    document.getElementById('exact-tag-id').innerText = tagId;
    document.getElementById('exact-match-prompt').style.display = 'block';
  }

  // Handle no suggested tag option
  document.getElementById('suggested-tag-no').addEventListener('click', function() {
    document.getElementById('tag-suggestion').style.display = 'none';
    var tagId = document.getElementById('user-input-tag').innerText;
    showExactMatchPrompt(tagId);
  });

  // Check if no turtle found and show appropriate prompt
  {% if no_turtle_found %}
  var tagId = '{{ tag_id }}';
  var regex = /^[A-Za-z]{2}\d{4}$/; // Check for two letters followed by four numbers
  if (regex.test(tagId)) {
    var suggestedTag = tagId.slice(0, 2) + " " + tagId.slice(2);
    document.getElementById('suggested-tag').innerText = suggestedTag;
    document.getElementById('suggested-tag-btn').innerText = suggestedTag;
    document.getElementById('user-input-tag').innerText = tagId;
    document.getElementById('tag-suggestion').style.display = 'block';
  } else {
    showExactMatchPrompt(tagId);
  }
  {% endif %}
</script>
{% endblock %}