{% extends "base_wastd.html" %}
{% load static bootstrap4 %}
{% load group_filters %}

{% block extra_style %}
  {{ block.super }}
  {{ form.media.css }}
  <link rel="stylesheet" type="text/css" href="{% static 'css/loading_spinner.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/loading_overlay.css' %}">
  <style>
    .select2 {
      width: 100% !important;
    }
    .batch-info {
      background-color: #f8f9fa;
      border-bottom: 1px solid #dee2e6;
      padding: 10px;
      text-align: center;
    }
    .batch-code {
      font-size: 1.0emem;
      font-weight: bold;
      color: #6c757d;
    }
    .batch-comment {
      font-size: 0.9em;
      font-weight: bold;
    }
    .alert-info {
      margin-bottom: 0 !important;
    }
  </style>
{% endblock %}

{% block extra_head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" 
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" 
        crossorigin="anonymous"></script>
{% endblock extra_head %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    {% if request.user.is_superuser or request.user|has_group:"WAMTRAM2_STAFF" or request.user|has_group:"WAMTRAM2_TEAM_LEADER" %}
    <li class="breadcrumb-item"><a href="{% url 'wamtram2:batches_curation' %}">Manage Batches</a></li>
    {% endif %}
    <li class="breadcrumb-item"><a href="{% url 'wamtram2:create_new_entry' %}">Create New Entry</a></li>
    {% if form.batch_id.value %}
    <li class="breadcrumb-item"><a href="{% url 'wamtram2:entry_batch_detail' form.batch_id.value %}">{{ form.batch_id.value }}</a></li>
    {% endif %}
  </ol>
</nav>
{% endblock %}

{% block page_content_inner %}
<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col col-12 mb-3">
      <div class="card card-lg shadow-lg">
        {% if form.batch_id.value %}
        <div class="batch-info">
          <div class="batch-code">Batch Code: {{ batch.batches_code }}</div>
          <div class="batch-comment">{{ batch.comments|default:"No comment" }}</div>
          {% if template_name %}
          <strong>Associated Template:</strong> {{ template_name }}
          {% endif %}
        </div>
        {% endif %}
        <div class="card-body">
          <div class="text-center mt-3">
            <a id="createForUntaggedTurtle" href="{% url 'wamtram2:newtrtdataentry' batch_id=form.batch_id.value %}" class="btn btn-primary">Create New Untagged Turtle</a>
          </div>
          <div class="text-center mt-4">or</div>
          <h5 class="text-center mt-4">Create for a Tagged Turtle</h5>
          <form method="post" class="w-50 mx-auto text-center mt-3" id="searchForm">
            {% csrf_token %}
            <div class="form-group">
              <label for="tag_id">Flipper/ PIT tag ID:</label>
              <input type="text" class="form-control" id="tag_id" name="tag_id" required>
            </div>
            <input type="hidden" id="tag_type" name="tag_type" value="{{ tag_type }}">
            <input type="hidden" id="tag_side" name="tag_side" value="{{ tag_side }}">
            <input type="hidden" id="set_do_not_process" name="set_do_not_process" value="false">
            <input type="hidden" id="batch_id" name="batch_id" value="{{ form.batch_id.value }}">
            <div class="row justify-content-center">
              <input id="searchBtn" type="submit" value="Search" class="btn btn-primary">
            </div>
          </form>
          
          <div class="text-center mt-4">{% bootstrap_form_errors form %}</div>

          <div id="tag-suggestion" class="alert alert-warning mt-3" style="display: none;">
            {% comment %} <p>Sorry we cannot find the tag in our database, or it was set as unavailable.</br></p> {% endcomment %}
            <p>It seems you forgot to add a space in the tag ID: <strong><span id="suggested-tag"></span></strong></p>
            <button class="btn btn-primary" id="suggestedTagYes">Yes, it is <span id="suggested-tag-btn"></span></button>
            <button class="btn btn-secondary" id="suggestedTagNo">No, it is <span id="user-input-tag">(without space)</span></button>
          </div>
          <div id="exact-match-prompt" class="alert alert-warning mt-3" style="display: none;">
            <p>Sorry we cannot find the tag in our database.</br></p>
            <p>Is the tag id <strong id="exact-tag-id"></strong> exact same as the data sheet?</p>
            <button id="exactMatchYes" class="btn btn-primary">Yes, I have double checked</button>
            <button id="exactMatchNo" class="btn btn-secondary">No, I will reenter</button>
          </div>
          
          {% if turtle %}
          <div class="container border pb-3 mt-3">
            <div class="mt-3 row justify-content-md-center">
              <div class="col-md-auto">
                <strong>ID:</strong> 
                  <a href="{% url 'wamtram2:turtle_detail' turtle.turtle_id %}" target="_blank">{{ turtle.turtle_id }}</a>
              </div>
              <div class="col-md-auto"><strong>Sex:</strong> {{ turtle.sex }}</div>
              <div class="col-md-auto"><strong>Species:</strong> {{ turtle.species_code }}</div>
              {% if first_observation_date %}
              <div class="col-md-auto"><strong>First Observed:</strong> {{ first_observation_date|date:"Y-m-d" }}</div>
              {% endif %}
              {% if latest_site %}
              <div class="col-md-auto"><strong>Latest Site:</strong> {{ latest_site }}</div>
              {% endif %}
            </div>
          </div>
          <div class="text-center mt-4">
            <p>Does the species and sex match the data sheet?</p>
            <a id="createForExistingTurtle" href="{% url 'wamtram2:existingtrtdataentry' batch_id=form.batch_id.value turtle_id=turtle.turtle_id %}" class="btn btn-primary mt-2 ml-md-2">Yes, create a record for this turtle</a>
            <form method="post" style="display: inline;">
              {% csrf_token %}
              <input type="hidden" name="tag_id" value="{{ tag_id}}">
              <input type="hidden" name="tag_type" value="{{ tag_type }}">
              <input type="hidden" name="tag_side" value="{{ tag_side }}">
              <input type="hidden" name="create_and_review" value="true">
              <input type="hidden" id="set_do_not_process" name="set_do_not_process" value="false">
              <input type="hidden" id="no_turtle_found" value="{{ no_turtle_found }}">
              <input type="hidden" id="batch_id" name="batch_id" value="{{ form.batch_id.value }}">
              <button id="createAndReviewLater" type="submit" class="btn btn-secondary mt-2 ml-md-2">No, create the record and review later</button>
            </form>
          </div> 
          {% elif new_tag_entry %}
          <div class="alert alert-info mt-3">
            <p>No existing turtle found with this tag in the database, but an entry with this tag was found within this season:</p>
          </div>
          <div class="container border pb-3 mt-3">
            <div class="mt-3 row justify-content-md-center">
              <div class="col-md-auto"><strong>Entry ID:</strong> {{ new_tag_entry.data_entry_id }}</div>
              <div class="col-md-auto"><strong>Observation Date:</strong> {{ new_tag_entry.entry_batch.entry_date|date:"Y-m-d" }}</div>
              <div class="col-md-auto"><strong>Place:</strong> {{ new_tag_entry.place_code.place_name }}</div>
              <div class="col-md-auto"><strong>Species:</strong> {{ new_tag_entry.species_code.common_name }}</div>
              <div class="col-md-auto"><strong>Sex:</strong> {{ new_tag_entry.sex }}</div>
            </div>
          </div>
          <div class="text-center mt-4">
            <p class="mt-3">This may be a recapture of a new turtle from this season</p>
            <a href="{% url 'wamtram2:newtrtdataentry' batch_id=form.batch_id.value %}" class="btn btn-primary mt-2">Create New Data Entry</a>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Loading spinner -->
<div class="loading-spinner">
  <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
  </div>
</div>

<!-- Loading overlay -->
<div class="loading-overlay"></div>

{% endblock %}

{% block extra_js %}
{{ form.media.js }}
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const batchId = document.getElementById('batch_id').value;
    
    function clearCookie(name) {
      document.cookie = name + '=; Max-Age=0; path=/';
    }

    function clearCookiesForUntaggedTurtle(batchId) {
      clearCookie(`${batchId}_tag_id`);
      clearCookie(`${batchId}_tag_type`);
      clearCookie(`${batchId}_tag_side`);
    }
    // Show loading animation
    function showLoadingSpinner() {
      const loadingSpinner = document.querySelector('.loading-spinner');
      if (loadingSpinner) {
        loadingSpinner.style.display = 'block';
      }
    }
  
    // Hide loading animation
    function hideLoadingSpinner() {
      const loadingSpinner = document.querySelector('.loading-spinner');
      if (loadingSpinner) {
        loadingSpinner.style.display = 'none';
      }
    }

    // Show overlay
    function showLoadingOverlay() {
      const overlay = document.querySelector('.loading-overlay');
      if (overlay) {
        overlay.style.display = 'block';
      }
    }

    // Hide overlay
    function hideLoadingOverlay() {
      const overlay = document.querySelector('.loading-overlay');
      if (overlay) {
        overlay.style.display = 'none';
      }
    }

    // Initialize loading spinner
    function initializeLoadingSpinner() {
      hideLoadingSpinner();
    }

    // Hide loading animation when the page is fully loaded
    window.addEventListener('load', hideLoadingSpinner);
    window.addEventListener('load', hideLoadingOverlay);

    initializeLoadingSpinner();

    // Function to disable all buttons and show loading spinner
    function disableButtonsAndShowSpinner() {
      const allButtons = document.querySelectorAll('button, input[type="submit"]');
      allButtons.forEach(button => {
        button.disabled = true;
        button.classList.remove('btn-primary');
        button.classList.add('btn-secondary');
      });
      showLoadingOverlay(); // Show overlay
      showLoadingSpinner(); // Show loading spinner
    }

    // Show loading spinner when the search form is submitted
    const searchForm = document.getElementById('searchForm');
    searchForm.addEventListener('submit', function(event) {
      disableButtonsAndShowSpinner();
    });
  
    // Show exact match prompt
    function showExactMatchPrompt(tagId) {
      document.getElementById('exact-tag-id').innerText = tagId;
      document.getElementById('exact-match-prompt').style.display = 'block';
    }

    // Add event listener for back/forward navigation
    window.addEventListener('pageshow', function(event) {
      if (event.persisted || (window.performance && window.performance.navigation.type === 2)) {
        hideLoadingSpinner();
        hideLoadingOverlay();
      }
    });
    
    // Add event listener for button clicks
    document.body.addEventListener('click', function(event) {
      const target = event.target;
  
      switch(target.id) {
        case 'suggestedTagNo':
        case 'user-input-tag':
          document.getElementById('set_do_not_process').value = "true";
          document.getElementById('tag-suggestion').style.display = 'none';
          var tagId = document.getElementById('user-input-tag').innerText;
          showExactMatchPrompt(tagId);
          hideLoadingSpinner(); // Hide spinner since no navigation or form submission
          hideLoadingOverlay(); // Hide overlay since no navigation or form submission
          break;
  
        case 'suggestedTagYes':
        case 'suggested-tag-btn':
          document.getElementById('tag_id').value = document.getElementById('suggested-tag').innerText;
          document.getElementById('tag-suggestion').style.display = 'none';
          document.getElementById('searchForm').submit();
          showLoadingSpinner(); // Show spinner for page navigation
          showLoadingOverlay(); // Show overlay for page navigation
          setTimeout(function() {
            console.log('Submitting form');
            document.getElementById('searchForm').submit();
          }, 500);
          break;
  
        case 'exactMatchYes':
          document.cookie = `${batchId}_do_not_process=true; path=/`;
          document.getElementById('set_do_not_process').value = "true";
          // Redirect to the newtrtdataentry page
          const newDataEntryURL = `{% url 'wamtram2:newtrtdataentry' batch_id=form.batch_id.value %}`;

          window.location.href = newDataEntryURL;
          showLoadingSpinner(); // Show spinner for page navigation
          showLoadingOverlay(); // Show overlay for page navigation
          break;
  
        case 'exactMatchNo':
          document.getElementById('exact-match-prompt').style.display = 'none';
          hideLoadingSpinner(); // Hide spinner since no navigation or form submission
          hideLoadingOverlay(); // Hide overlay since no navigation or form submission
          break;
  
        case 'createAndReviewLater':
          document.getElementById('set_do_not_process').value = "true";
          showLoadingSpinner(); // Show spinner for form submission
          showLoadingOverlay(); // Show overlay for form submission
          break;
  
        case 'createForExistingTurtle':
          document.getElementById('set_do_not_process').value = "false";
          document.cookie = `${batchId}_do_not_process=false; path=/`;
          showLoadingSpinner(); // Show spinner for page navigation
          showLoadingOverlay(); // Show overlay for page navigation
          break;

          case 'createForUntaggedTurtle':
          clearCookiesForUntaggedTurtle(batchId);
          document.getElementById('set_do_not_process').value = "false";
          document.cookie = `${batchId}_do_not_process=false; path=/`;
          showLoadingSpinner(); // Show spinner for page navigation
          showLoadingOverlay(); // Show overlay for page navigation
          break;

        default:
          hideLoadingSpinner(); // Hide spinner for any other cases not causing navigation or submission
          hideLoadingOverlay(); // Hide overlay for any other cases not causing navigation or submission
          break;
      }
    });
  
    // Check if no turtle found and show appropriate prompt
    {% if no_turtle_found %}
    var tagId = '{{ tag_id }}';
    var regex = /^[A-Za-z]{2}\d{4}$/; // Check for two letters followed by four numbers
    if (regex.test(tagId)) {
      var suggestedTag = tagId.slice(0, 2) + " " + tagId.slice(2);
      document.getElementById('suggested-tag').innerText = suggestedTag;
      document.getElementById('suggested-tag-btn').innerText = suggestedTag;
      document.getElementById('user-input-tag').innerText = tagId;
      document.getElementById('tag-suggestion').style.display = 'block';
    } else {
      showExactMatchPrompt(tagId);
    }
    {% endif %}
  });

    document.addEventListener('DOMContentLoaded', function() {
      function clearFormAndResults() {
        document.getElementById('searchForm').reset();
        document.getElementById('tag-suggestion').style.display = 'none';
        document.getElementById('exact-match-prompt').style.display = 'none';
      }
  
      window.addEventListener('pageshow', function(event) {
        if (event.persisted) {
          clearFormAndResults();
        }
      });
  
      var urlParams = new URLSearchParams(window.location.search);
      if (urlParams.get('clear_cookies') === 'true') {
        clearFormAndResults();
        window.history.replaceState({}, document.title, window.location.pathname);
      }
    });
</script>
{% endblock %}
