{% extends "base_wastd.html" %}
{% load static bootstrap4 %}

{% block extra_style %}
  {{ block.super }}
  {{ form.media.css }}
  <style>
    .select2 {
      width: 100% !important;
    }
  </style>
{% endblock %}

{% block extra_head %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
{% endblock extra_head %}

{% block breadcrumbs %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
      <li class="breadcrumb-item"><a href="{% url 'wamtram2:entry_batches' %}">Entry batches</a></li>
      {% if form.batch_id.value %}
        <li class="breadcrumb-item"><a href="{% url 'wamtram2:entry_batch_detail' form.batch_id.value %}">{{form.batch_id.value}}</a></li>
      {% endif %}
    </ol>
  </nav>
{% endblock %}

{% block page_content_inner %}
  <div class="container mt-5 mb-5">
    <div class="row">
      <div class="col col-12 mb-3">
        <div class="card card-lg shadow-lg">
          <div class="card-body">
            <div class="text-center mt-5">
              <a href="{% url 'wamtram2:newtrtdataentry' form.batch_id.value %}?place_code={{ form.initial.place_code }}&species_code={{ form.initial.species_code }}&sex={{ form.initial.sex }}&default_enterer={{ form.default_enterer.value }}&selected_template={{ form.selected_template.value }}&use_default_enterer={{ form.use_default_enterer.value }}" class="btn btn-primary">Create New Untagged Turtle</a>
            </div>
            <div class="text-center mt-4">or</div>
            <h5 class="text-center mt-4">Search for a Tagged Turtle</h5>
            <form method="post" class="w-50 mx-auto text-center mt-3" onsubmit="return validateForm()">
              {% csrf_token %}
              {% bootstrap_field form.tag_id %}
              <div class="row justify-content-md-center">
                <input type="submit" value="Search" class="btn btn-primary">
              </div>
            </form>
            <div class="text-center mt-4">{% bootstrap_form_errors form %}</div>
            {% if turtle %}
              <div class="container border pb-3 mt-3">
                <div class="mt-3 row justify-content-md-center"><strong>Tag: {{ form.tag_id.value }}</strong></div>
                <div class="mt-3 row justify-content-md-center">
                  <div class="col-md-auto"><strong>ID:</strong> <a href="{% url 'wamtram2:turtle_detail' turtle.turtle_id %}" target="_blank">{{ turtle.turtle_id }}</a></div>
                  <div class="col-md-auto"><strong>Sex:</strong> {{ turtle.sex }}</div>
                  <div class="col-md-auto"><strong>Species:</strong> {{ turtle.species_code }}</div>
                  <div class="col-md-auto"><strong>Status:</strong> {{ turtle.turtle_status }}</div>
                </div>
                <div class="text-center mt-3">
                  {% comment %} <a href="{% url 'wamtram2:existingtrtdataentry' batch_id=form.batch_id.value turtle_id=turtle.turtle_id %}?place_code={{ form.initial.place_code }}&species_code={{ form.initial.species_code }}&sex={{ form.initial.sex }}" class="btn btn-primary">Create New Observation for turtle {{ turtle.turtle_id }}</a> {% endcomment %}
                  <a href="{% url 'wamtram2:existingtrtdataentry' batch_id=form.batch_id.value turtle_id=turtle.turtle_id %}?place_code={{ form.place_code.value }}&species_code={{ form.species_code.value }}&sex={{ form.sex.value }}&default_enterer={{ form.default_enterer.value }}&selected_template={{ form.selected_template.value }}&use_default_enterer={{ form.use_default_enterer.value }}" class="btn btn-primary">Create New Observation for turtle {{ turtle.turtle_id }}</a>
                </div>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block extra_js %}
  {{ form.media.js }}
  <script>
    function validateForm() {
      var tagId = document.getElementById('id_tag_id').value;
      if (tagId == null || tagId.trim() === "") {
        alert("Please enter a Tag ID or Turtle ID");
        return false;
      }
      return true;
    }
  </script>
{% endblock %}