{% extends "base_wastd.html" %}
{% load perth_time_filters %}

{% block breadcrumbs %}
<!-- Breadcrumb Navigation -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'wamtram2:turtle_list' %}">Turtles</a></li>
        <li class="breadcrumb-item active">{{ object.pk }}</li>
    </ol>
</nav>
{% endblock %}

{% block page_content_inner %}
<div class="row">
    <div class="col-xs-12 col-sm-6">
        <h1 class="page-title"> {{ page_title }} </h1>
        <h2>Observation {{ object.observation_date|perth_time|date:"j M Y H:i" }}</h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-8">
        <table class="table table-striped table-bordered table-sm">
        <tbody>
            <tr>
              <th>Turtle ID</th>
              <td><a href="{% url 'wamtram2:turtle_detail' observation.turtle.pk %}">{{ observation.turtle.pk }}</a></td>
            </tr>
            <tr>
              <th>Date observed</th>
              {% comment %} <td>{{ object.observation_date|perth_time|date:"j M Y" }} {{ object.observation_time|perth_time_only|time:"H:i" }}</td> {% endcomment %}
              <td>{{ object.observation_date|perth_time }}</td>
            </tr>
            <tr>
              <th>Entered by</th>
              <td>{{ object.entered_by_person|default_if_none:"" }}</td>
            </tr>
            <tr>
              <th>Species</th>
              <td>{{ observation.turtle.species_code }}</td>
            </tr>
            <tr>
              <th>Sex</th>
              <td>{{ observation.turtle.sex|default_if_none:"Unknown" }}</td>
            </tr>
            <tr>
              <th>Location</th>
              <td>{{ place_full_name|default_if_none:"" }}</td>
            </tr>
            <tr>
              <th>Alive</th>
              <td>{{ object.alive }}</td>
            </tr>
            <tr>
              <th>Activity</th>
              <td>{{ object.activity_code }}</td>
            </tr>
            <tr>
              <th>Nesting</th>
              <td>{{ object.nesting|default_if_none:"" }}</td>
            </tr>
            <tr>
              <th>Observation Status</th
                >
              <td>{{ observation_status|default_if_none:"Unknown" }}</td>
            </tr>
            <tr>
              <th>Measurer Person</th>
              <td>{{ object.measurer_person|default_if_none:"" }}</td>
            </tr>
            <tr>
              <th>Measurer Reporter Person</th>
              <td>{{ object.measurer_reporter_person|default_if_none:"" }}</td>
            </tr>
            <tr>
              <th>Tagger Person</th>
              <td>{{ object.tagger_person|default_if_none:"" }}</td>
            </tr>
            <tr>
              <th>Reporter Person</th>
              <td>{{ object.reporter_person|default_if_none:"" }}</td>
            </tr>
            <tr>
              <th>Place Code</th>
              <td>{{ object.place_code|default_if_none:"" }}</td>
            </tr>
            <tr>
              <th>Latitude</th>
              <td>{{ object.latitude|default_if_none:"" }}</td>
            </tr>
            <tr>
              <th>Longitude</th>
              <td>{{ object.longitude|default_if_none:"" }}</td>
            </tr>
            <tr>
              <th>Scars Left</th>
              <td>{{ object.scars_left|default_if_none:"" }}</td>
            </tr>
            <tr>
              <th>Scars Right</th>
              <td>{{ object.scars_right|default_if_none:"" }}</td>
            </tr>
            <tr>
              <th>Scars Left Scale 1</th>
              <td>{{ object.scars_left_scale_1|default_if_none:"" }}</td>
            </tr>
            <tr>
              <th>Scars Left Scale 2</th>
              <td>{{ object.scars_left_scale_2|default_if_none:"" }}</td>
            </tr>
            <tr>
              <th>Scars Left Scale 3</th>
              <td>{{ object.scars_left_scale_3|default_if_none:"" }}</td>
            </tr>
            <tr>
              <th>Scars Right Scale 1</th>
              <td>{{ object.scars_right_scale_1|default_if_none:"" }}</td>
            </tr>
            <tr>
              <th>Scars Right Scale 2</th>
              <td>{{ object.scars_right_scale_2|default_if_none:"" }}</td>
            </tr>
            <tr>
              <th>Scars Right Scale 3</th>
              <td>{{ object.scars_right_scale_3|default_if_none:"" }}</td>
            </tr>
            <tr>
              <th>Comments</th>
              <td>{{ object.comments|default_if_none:"" }}</td>
            </tr>
        </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col">
        <h3>Tags</h3>
    </div>
</div>

{% if tags or pittags %}
<div class="row">
    <div class="col">
        <table class="table table-striped table-bordered table-sm">
        <thead>
            <tr>
            <th>Tag type</th>
            <th>Serial</th>
            <th>Tag State</th>
            <th>Side</th>
            <th>Comments</th>
            </tr>
        </thead>
        <tbody>
            {% for tag in tags %}
            <tr>
            <td>Flipper</td>
            <td>{{ tag.tag_id }}</td>
            <td>{{ tag.tag_state|default_if_none:"" }}</td>
            <td>{{ tag.side|default_if_none:"" }}</td>
            <td>{{ tag.comments|default_if_none:"" }}</td>
            </tr>
            {% endfor %}
            {% for tag in pittags %}
            <tr>
            <td>Pit</td>
            <td>{{ tag.pittag_id }}</td>
            <td>{{ tag.pit_tag_state|default_if_none:"" }}</td>
            <td>{{ tag.pit_tag_position|default_if_none:"" }}</td> 
            <td>{{ tag.comments|default_if_none:"" }}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
</div>
{% else %}
<p>None recorded</p>
{% endif %}

<div class="row">
  <div class="col">
    <h3>Measurements</h3>
  </div>
</div>

{% if measurements %}
<div class="row">
  <div class="col">
    <table class="table table-striped table-bordered table-sm">
      <thead>
        <tr>
          <th>Type</th>
          <th>Value</th>
          <th>Comments</th>
        </tr>
      </thead>
      <tbody>
        {% for measurement in measurements %}
        <tr>
          <td>{{ measurement.measurement_type }}</td>
          <td>{{ measurement.measurement_value }}</td>
          <td>{{ measurement.comments }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% else %}
<p>None recorded</p>
{% endif %}

<div class="row">
  <div class="col">
    <h3>Damages</h3>
  </div>
</div>

{% if damages %}
<div class="row">
  <div class="col">
    <table class="table table-striped table-bordered table-sm">
      <thead>
        <tr>
          <th>Body Part</th>
          <th>Damage Type</th>
          <th>Damage Cause</th>
          <th>Comments</th>
        </tr>
      </thead>
      <tbody>
        {% for damage in damages %}
        <tr>
          <td>{{ damage.body_part }}</td>
          <td>{{ damage.damage_code }}</td>
          <td>{{ damage.damage_cause_code|default_if_none:"" }}</td>
          <td>{{ damage.comments|default_if_none:"" }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% else %}
<p>No damage recorded</p>
{% endif %}

{% endblock page_content_inner %}

{% block extra_js %}

{% endblock extra_js %}
