{% extends "base_wastd.html" %}
{% load static bootstrap4 %}

{% block extra_style %}
    {{ block.super }}
    {{ form.media.css }}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/@ttskch/select2-bootstrap4-theme/dist/select2-bootstrap4.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/grid.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/loading_spinner.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/loading_overlay.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/observation_management.css' %}">
    <link href="{% static 'css/search_styles.css' %}" rel="stylesheet">
{% endblock %}

{% block breadcrumbs %}
    <!-- Breadcrumb Navigation -->
    <nav aria-label="breadcrumb" class="d-none d-md-block">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'wamtram2:admin_tools' %}">Curation Tools</a></li>
            <li class="breadcrumb-item active">Manage Observation</li>
        </ol>
    </nav>
{% endblock %}

{% block page_content_inner %}
{% csrf_token %}
<div class="container-fluid mt-3">
    <!-- Message container should be outside tabs -->
    <div id="messageContainer"></div>

    <h1 class="page-title"> {{ page_title }} </h1>  

    <div class="form-row mt-3">
        <div class="col-12">
            <button id="saveButton" class="btn btn-primary">
                <i class="fas fa-save"></i> Save
            </button>
        </div>
    </div>
    <!-- Basic Information Section -->
    <div class="section-card mb-3">
        <h4>Basic Information</h4>
        <div class="form-row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Observation ID</label>
                    <input type="text" class="form-control readonly-field" name="observation_id" readonly>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Alive?</label>
                    <select class="form-control" name="alive">
                        <option value="">Select...</option>
                        {% for option in yes_no_choices %}
                            <option value="{{ option.code }}" {% if initial_data.basic_info.alive == option.code %}selected{% endif %}>
                                {{ option.description }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Status</label>
                    <input type="text" class="form-control readonly-field" name="observation_status" readonly>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Turtle ID</label>
                    <div class="input-group">
                        <input type="text" class="form-control readonly-field" name="turtle_id" readonly>
                        <div class="input-group-append">
                            <a href="#" class="btn btn-outline-secondary" id="turtleDetailLink" target="_blank">
                                <i class="fas fa-external-link-alt"></i> View
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label>Nesting?</label>
                    <select class="form-control select2" name="nesting">
                        <option value="">Select...</option>
                        {% for option in yes_no_choices %}
                            <option value="{{ option.code }}" {% if initial_data.basic_info.nesting == option.code %}selected{% endif %}>
                                {{ option.description }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label>Clutch Completed?</label>
                    <select class="form-control select2" name="clutch_completed">
                        <option value="">Select...</option>
                        {% for option in yes_no_choices %}
                            <option value="{{ option.code }}" {% if initial_data.basic_info.clutch_completed == option.code %}selected{% endif %}>
                                {{ option.description }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Entered By</label>
                    <input type="text" class="form-control readonly-field" name="entered_by" readonly>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Observation Date & Time</label>
                    <input type="datetime-local" class="form-control" name="observation_date" step="60">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Number of Eggs</label>
                    <input type="text" class="form-control" name="number_of_eggs" >
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Date Entered</label>
                    <input type="datetime-local" class="form-control" name="date_entered" >
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Date Convention</label>
                    <select class="form-control" name="date_convention">
                        <option value="">Select...</option>
                        {% for option in date_convention_choices %}
                            <option value="{{ option.code }}">{{ option.description }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Egg Count Method</label>
                    <select class="form-control" name="egg_count_method">
                        <option value="">Select...</option>
                        {% for option in egg_count_method_choices %}
                            <option value="{{ option.egg_count_method }}" {% if initial_data.basic_info.egg_count_method == option.egg_count_method %}selected{% endif %}>
                                {{ option.description }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Datum</label>
                    <select class="form-control" name="datum_code">
                        <option value="">Select...</option>
                        {% for option in datum_code_choices %}
                            <option value="{{ option.datum_code }}" {% if initial_data.basic_info.datum_code == option.datum_code %}selected{% endif %}>
                                {{ option.datum_description }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Tagger</label>
                    <select class="form-control person-search" name="tagger_person">
                        <option></option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Place</label>
                    <select class="form-control place-search" name="place_code">
                        <option></option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Latitude</label>
                    <input type="text" class="form-control" name="latitude" >
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Reporter</label>
                    <select class="form-control person-search" name="reporter_person">
                        <option></option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Activity</label>
                    <select class="form-control" name="activity_code">
                        <option value="">Select...</option>
                        {% for option in activity_code_choices %}
                            <option value="{{ option.activity_code }}" {% if initial_data.basic_info.activity_code == option.activity_code %}selected{% endif %}>
                                {{ option.description }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Longitude</label>
                    <input type="text" class="form-control" name="longitude" >
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Measurer</label>
                    <select class="form-control person-search" name="measurer_person">
                        <option></option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Beach Position</label>
                    <select class="form-control" name="beach_position_code">
                        <option value="">Select...</option>
                        {% for option in beach_position_code_choices %}
                            <option value="{{ option.beach_position_code }}" {% if initial_data.basic_info.beach_position_code == option.beach_position_code %}selected{% endif %}>
                                {{ option.description }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Measurer Reporter</label>
                    <select class="form-control person-search" name="measurer_reporter_person">
                        <option></option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Condition</label>
                    <select class="form-control" name="condition_code">
                        <option value="">Select...</option>
                        {% for option in condition_code_choices %}
                            <option value="{{ option.condition_code }}" {% if initial_data.basic_info.condition_code == option.condition_code %}selected{% endif %}>
                                {{ option.description }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-8">
                <div class="form-group">
                    <label>Place Description</label>
                    <input type="text" class="form-control" name="place_description" >
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-8">
                <div class="form-group">
                    <label>Action Taken</label>
                    <input type="text" class="form-control" name="action_taken" >
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-8">
                <div class="form-group">
                    <label>Comments</label>
                    <textarea type="text" class="form-control" name="comments"></textarea>
                </div>
            </div>
        </div>
    </div>

    <!-- Tabs for Additional Information -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#flipper-tags">Recorded Flipper Tags</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#pit-tags">Recorded PIT Tags</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#otherIdentification">Recorded Identification</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#measurements">Measurements</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#damage">Damage</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#scars">Scars</a>
        </li>
        <!-- Causeomment out Other Information tab 
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#otherInfo">Other Information</a>
        </li>
        -->
    </ul>

    <!-- Tab Content -->
    <div class="tab-content">
        <!-- Recorded Flipper Tags Panel -->
        <div class="tab-pane fade show active" id="flipper-tags" role="tabpanel">
            <div class="card">
                <div class="card-body">
                    <h5>Recorded Flipper Tags</h5>
                    
                    <div id="tagContainer">
                        <!-- Existing PIT tags will be loaded here -->
                    </div>

                    <button type="button" class="btn btn-primary mt-3" id="addFlipperTagBtn">
                        <i class="fas fa-plus"></i> Add Flipper Tag
                    </button>
                    <button type="button" class="btn btn-success mt-3" id="saveTagsBtn">
                        <i class="fas fa-save"></i> Save Changes
                    </button>
                </div>
            </div>
        </div>

        <!-- Recorded PIT Tags Panel -->
        <div class="tab-pane fade" id="pit-tags" role="tabpanel">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Recorded PIT Tags</h5>
                    <div id="pitTagContainer">
                        <!-- Existing PIT tags will be loaded here -->
                    </div>
                    <button type="button" class="btn btn-primary mt-3" id="addPitTagBtn">
                        <i class="fas fa-plus"></i> Add PIT Tag
                    </button>
                    <button type="button" class="btn btn-success mt-3" onclick="savePitTagChanges()">
                        <i class="fas fa-save"></i> Save Changes
                    </button>
                </div>
            </div>
        </div>

        <div id="otherIdentification" class="tab-pane fade">
            <div class="section-card">
                <h4>Recorded Identification</h4>
                <div id="otherIdContainer">
                    <!-- Existing identifications will be loaded here -->
                </div>
                <button type="button" class="btn btn-primary mt-3" id="addIdentificationBtn">
                    <i class="fas fa-plus"></i> Add Identification
                </button>
                <button type="button" class="btn btn-success mt-3" id="saveIdentificationsBtn">
                    <i class="fas fa-save"></i> Save Changes
                </button>
            </div>
        </div>

        
        <div id="measurements" class="tab-pane fade">
            <div class="section-card">
                <h4>Measurements</h4>
                <div id="measurementContainer">
                    <!-- Existing measurements will be loaded here -->
                </div>
                <div class="mt-3">
                    <button type="button" class="btn btn-primary" id="addMeasurementBtn">
                        <i class="fas fa-plus"></i> Add Measurement
                    </button>
                    <button type="button" class="btn btn-success" id="saveMeasurementsBtn">
                        <i class="fas fa-save"></i> Save Changes
                    </button>
                </div>
            </div>
        </div>
        <div id="damage" class="tab-pane fade">
            <div class="section-card">
                <h4>Damage</h4>
                <div id="damageContainer">
                    <!-- Existing damage records will be loaded here -->
                </div>
                <div class="mt-3">
                    <button type="button" class="btn btn-primary" id="addDamageBtn">
                        <i class="fas fa-plus"></i> Add Damage
                    </button>
                    <button type="button" class="btn btn-success" id="saveDamageBtn">
                        <i class="fas fa-save"></i> Save Changes
                    </button>
                </div>
            </div>
        </div>
        <div id="scars" class="tab-pane fade">
            <div class="section-card">
                <h4>Scars</h4>
                <div id="scarsContainer"></div>
                <button type="button" class="btn btn-success mt-3" onclick="saveScarsChanges()">
                    <i class="fas fa-save"></i> Save Changes
                </button>
            </div>
        </div>
        <!-- Comment out Other Information content area
        <div id="otherInfo" class="tab-pane fade">
            <div class="section-card">
                <h4>Other Tag Information</h4>
                <div id="otherTagInfoContainer"></div>
            </div>
        </div>
        -->
    </div>

</div>

<!-- Loading spinner -->
<div class="loading-spinner">
    <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<!-- Loading overlay -->
<div class="loading-overlay"></div>


{% endblock %}

{% block extra_js %}
{{ block.super }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script>
        const searchPersonsUrl = '{{ search_persons_url }}';
        const searchPlacesUrl = '{{ search_places_url }}';
        const submitUrl = '/wamtram2/api/observations/save/';
        {% if initial_data %}
            const initialData = {{ initial_data|safe }};
        {% else %}
            const initialData = null;
        {% endif %}

        const tagStateChoices = {{ tag_states_choices|safe }};
        const pitTagStateChoices = {{ pit_tag_state_choices|safe }};
        const measurementTypeChoices = {{ measurement_type_choices|safe }};
        const bodyPartsChoices = {{ body_parts_choices|safe }};
        const damageCodesChoices = {{ damage_codes_choices|safe }};
        const damageCauseChoices = {{ damage_cause_choices|safe }};
        const identificationTypeChoices = {{ identification_type_choices|safe }};
        const dateConventionChoices = {{ date_convention_choices|safe }}; 

        const turtleDetailUrlTemplate = "{% url 'wamtram2:turtle_detail' 0 %}".replace('/0/', '/'); 
    </script>
    <script src="{% static 'js/observation_management.js' %}"></script>
{% endblock %} 