{% extends "base_wastd.html" %}
{% load static bootstrap4 %}

{% bootstrap_css %}
{% block extra_style %}
{{ block.super }}
{{ form.media.css }}
<style>
  .select2 {
    width: 100% !important;
  }
  .add-person-btn {
    height: 28px;
    width: 28px;
    padding: 0;
  }
  .required-field {
    background-color: #ccffcc !important;
  }
  .bg-yellow {
    background-color: #ffffe0 !important;
  }
</style>
{% endblock %}  

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'wamtram2:entry_batches'%}">Entry batches</a></li>
        {% if entry.entry_batch %}
        <li class="breadcrumb-item"><a href="{% url 'wamtram2:entry_batch_detail' entry.entry_batch %}">{{entry.entry_batch}}</a></li>
        {% endif %}
        {% if batch_id %}
        <li class="breadcrumb-item"><a href="{% url 'wamtram2:entry_batch_detail' batch_id %}">{{batch_id}}</a></li>
        {% endif %}
        <li class="breadcrumb-item active">{{ entry_id }}</li>
    </ol>
</nav>
{% endblock %}

{% block page_content_inner %}
<body data-do-not-process="{{ form.do_not_process.value|yesno:"true,false" }}">
{% if entry_id %}

<form action="{% url 'wamtram2:trtdataentry' entry_id %}" method="post"  class="container">
{% else %}
<form action="{% url 'wamtram2:newtrtdataentry' batch_id %}" method="post"  class="container">
{% endif %}
{% csrf_token %}
{% bootstrap_form_errors form %}
{% if form.observation_id.value %}
<div class="row">
<h4>Observation has aleady been submitted: <a href="{% url 'wamtram2:observationdetail' pk=form.observation_id.value %}">view observation</a></h4> 
</div>
{% endif %}

<div class="row g-3">
      <div class="col-md-6">
      <h5>Entry Batch ID: {{ form.entry_batch.value }}</h5>
      {% bootstrap_field form.entry_batch %}
      </div>
      <div class="col-md-6">
      <h5>Turtle ID: {% if form.turtle_id.value %} <a href="{% url 'wamtram2:turtle_detail' form.turtle_id.value %}">{{ form.turtle_id.value }}</a> {% endif %} </h5>
      {% bootstrap_field form.turtle_id %}
      </div>
</div>

<div class="container mt-4">
  <!-- First part: Info -->
  <div class="card border-dark mb-3">
    <div class="card-header">Basic Information</div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-12">
              <label for="{{ form.entered_by_id.id_for_label }}">{{ form.entered_by_id.label }}</label>
            </div>
            <div class="col-md-4">
              {% bootstrap_field form.entered_by_id show_label=False %}
            </div>
            <div class="col-md-2">
              <button type="button" class="btn btn-outline-primary add-person-btn" onClick="window.open(adminUrl);" title="Add new person">
              <i class="fas fa-plus"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-6">
              <label for="{{ form.place_code.id_for_label }}">{{ form.place_code.label }}</label>
              {% bootstrap_field form.place_code show_label=False %}
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label for="{{ form.latitude.id_for_label }}">{{ form.latitude.label }}</label>
              {% bootstrap_field form.latitude show_label=False %}
            </div>
            <div class="col-md-6">
              <label for="{{ form.longitude.id_for_label }}">{{ form.longitude.label }}</label>
              {% bootstrap_field form.longitude show_label=False %}
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label for="{{ form.observation_date.id_for_label }}">{{ form.observation_date.label }}</label>
              {% bootstrap_field form.observation_date show_label=False %}
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <label for="{{ form.recorded_by_id.id_for_label }}">{{ form.recorded_by_id.label }}</label>
            </div>
            <div class="col-md-6">
              {% bootstrap_field form.recorded_by_id show_label=False %}
            </div>
            <div class="col-md-2">
              <button type="button" class="btn btn-outline-primary add-person-btn" onClick="window.open(adminUrl);" title="Add new person">
              <i class="fas fa-plus"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-12">
              {% bootstrap_field form.species_code field_class="species-select" %}
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              {% bootstrap_field form.sex %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Second part: Tags -->
  <div class="card border-dark mb-3">
    <div class="card-header">Tags</div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <div class="row mt-2">
            <label class="col-sm-2 col-form-label"><strong>FLIPPER Tag(s)</strong></label>
            <label class="col-sm-4 col-form-label">Does turtle have old FLIPPER tag(s)?</label>
            <div class="col-sm-4">
              <select class="form-control" id="flipperTags" onchange="showContentBasedOnSelection()">
                <option value="" disabled selected>Select</option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
                <option value="did not check">Did not check</option>
              </select>
            </div>
          </div>
          <div id="tagDetails" style="display: none;">
            <div id="recaptureTags" style="display: none;">
              <div class="row mt-2">
                <div class="col-md-6">
                  {% bootstrap_field form.recapture_left_tag_id %}
                  <span id="left-tag-validation-message"></span>
                </div>
                <div class="col-md-6">
                  {% bootstrap_field form.recapture_right_tag_id %}
                  <span id="right-tag-validation-message"></span>
                </div>
              </div>
              <div id="additionalRecaptureTags" style="display: none;">
                <div class="row mt-2">
                  <div class="col-md-6">
                    {% bootstrap_field form.recapture_left_tag_id_2 %}
                    <span id="left-tag-validation-message-2"></span>
                  </div>
                  <div class="col-md-6">
                    {% bootstrap_field form.recapture_right_tag_id_2 %}
                    <span id="right-tag-validation-message-2"></span>  
                  </div>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-md-6">
                  <button type="button" class="btn btn-primary" id="toggleRecaptureTagsBtn" onclick="toggleRecaptureTags()">More Recapture Tags</button>
                </div>
              </div>
            </div>
            
            <div id="newTags" style="display: none;">
              <div class="row mt-2">
                <div class="col-md-6">
                  {% bootstrap_field form.new_left_tag_id %}
                </div>
                <div class="col-md-6">
                  {% bootstrap_field form.new_right_tag_id %}
                </div>
              </div>
              <div id="additionalNewTags" style="display: none;">
                <div class="row mt-2">
                  <div class="col-md-6">
                    {% bootstrap_field form.new_left_tag_id_2 %}
                  </div>
                  <div class="col-md-6">
                    {% bootstrap_field form.new_right_tag_id_2 %}
                  </div>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-md-6">
                  <button type="button" class="btn btn-primary" id="toggleNewTagsBtn" onclick="toggleNewTags()">More New Tags</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-12">
          <div class="row">
            <label class="col-sm-2 col-form-label"><strong>PIT tag present?</strong></label>
            <label class="col-sm-4 col-form-label"></label>
            <div class="col-sm-4">
              <select class="form-control" id="PITTags" onchange="showPITContentBasedOnSelection()">
                <option value="" disabled selected>Select</option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
                <option value="did not check">Did not check</option>
              </select>
            </div>
          </div>
          <div id="recapturePIT" style="display: none;">
            <div class="row mt-2">
              <div class="col-md-6">
                {% bootstrap_field form.recapture_pittag_id %}
              </div>
              <div class="col-md-6">
                {% bootstrap_field form.recapture_pittag_id_2 %}
              </div>
            </div>
          </div>
          <div id="newPIT" style="display: none;">
            <div class="row mt-2">
              <div class="col-md-6">
                {% bootstrap_field form.new_pittag_id %}
              </div>
              <div class="col-md-6">
                {% bootstrap_field form.new_pittag_id_2 %}
              </div>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-md-3">
              <label><strong>Flipper Tags scars?</strong></label>
            </div>
            <div class="col-3">
              {% bootstrap_field form.tagscarnotchecked %}
            </div>
            <div class="col-12" id="scarsDetails">
              <div class="row align-items-center mb-2">
                <div class="col-auto">
                  {% bootstrap_field form.scars_left %}
                </div>
                <div class="col-auto d-flex align-items-center">
                  <div class="form-check form-check-inline">
                    {% bootstrap_field form.scars_left_scale_1 %}
                  </div>
                  <div class="form-check form-check-inline">
                    {% bootstrap_field form.scars_left_scale_2 %}
                  </div>
                  <div class="form-check form-check-inline">
                    {% bootstrap_field form.scars_left_scale_3 %}
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12" id="scarsDetailsRight">
              <div class="row align-items-center">
                <div class="col-auto">
                  {% bootstrap_field form.scars_right %}
                </div>
                <div class="col-auto d-flex align-items-center">
                  <div class="form-check form-check-inline">
                    {% bootstrap_field form.scars_right_scale_1 %}
                  </div>
                  <div class="form-check form-check-inline">
                    {% bootstrap_field form.scars_right_scale_2 %}
                  </div>
                  <div class="form-check form-check-inline">
                    {% bootstrap_field form.scars_right_scale_3 %}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-md-12">
              <label for="{{ form.tagged_by_id.id_for_label }}">{{ form.tagged_by_id.label }}</label>
            </div>
            <div class="col-md-4">
              {% bootstrap_field form.tagged_by_id show_label=False %}
            </div>
            <div class="col-md-2">
              <button type="button" class="btn btn-outline-primary add-person-btn" onClick="window.open(adminUrl);" title="Add new person">
              <i class="fas fa-plus"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Third part: Measurements -->
  <div class="card border-dark mb-3">
    <div class="card-header">Measurements</div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6">
              {% bootstrap_field form.cc_length_not_measured %}
            </div>
            <div class="col-md-6">
              {% bootstrap_field form.curved_carapace_length %}
            </div>
            <div class="col-md-6">
              {% bootstrap_field form.cc_width_not_measured %}
            </div>
            <div class="col-md-6">
              {% bootstrap_field form.curved_carapace_width %}
            </div>
            <div class="col-md-6 pt-3 d-flex align-items-center">
              <button id="addMeasurementButton" type="button" class="btn btn-primary" onclick="toggleMeasurement()">More Measurements</button>
            </div>
          </div>
          <div id="moreMeasurement" class="row" style="display: none;">
            <div class="col-md-12 d-flex align-items-center">
              <div class="mr-2">
                {% bootstrap_field form.measurement_type_1 %}
              </div>
              <div class="ml-5">
                {% bootstrap_field form.measurement_value_1 %}
              </div>
            </div>
            <div class="col-md-12 d-flex align-items-center">
              <div class="mr-2">
                {% bootstrap_field form.measurement_type_2 %}
              </div>
              <div class="ml-5">
                {% bootstrap_field form.measurement_value_2 %}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 p-4">
              <label for="{{ form.measured_by_id.id_for_label }}">{{ form.measured_by_id.label }}</label>
              <div class="d-flex align-items-center">
                <div class="flex-grow-1">
                  {% bootstrap_field form.measured_by_id show_label=False %}
                </div>
                <button type="button" class="btn btn-outline-primary add-person-btn ml-2 align-self-start" onClick="window.open(adminUrl);" title="Add new person">
                  <i class="fas fa-plus"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Fourth part: Nest -->
  <div class="card border-dark mb-3">
    <div class="card-header">Nest</div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6">
              {% bootstrap_field form.clutch_completed %}
            </div>
            <div class="col-md-6">
              {% bootstrap_field form.nesting %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Fifth part: Injuries -->
  <div class="card border-dark mb-3">
    <div class="card-header">Injuries</div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                {% bootstrap_field form.didnotcheckforinjury %}
            </div>
        </div>
        <div id="injuryDetails">
            <div class="row">
                <div class="col-md-6">
                    {% bootstrap_field form.damage_carapace %}
                </div>
                <div class="col-md-6">
                    {% bootstrap_field form.damage_lff %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {% bootstrap_field form.damage_rff %}
                </div>
                <div class="col-md-6">
                    {% bootstrap_field form.damage_lhf %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {% bootstrap_field form.damage_rhf %}
                </div>
                <div class="col-md-6 d-flex align-items-center">
                    <button id="toggleInjuryFieldsButton" type="button" class="btn btn-primary" onclick="toggleInjuryFields()">More Injuries</button>
                </div>
            </div>
            <div id="injuryAdditionalFields">
                <div class="row">
                    <div class="col-md-6">
                        {% bootstrap_field form.body_part_1 %}
                    </div>
                    <div class="col-md-6">
                        {% bootstrap_field form.damage_code_1 %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {% bootstrap_field form.body_part_2 %}
                    </div>
                    <div class="col-md-6">
                        {% bootstrap_field form.damage_code_2 %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {% bootstrap_field form.body_part_3 %}
                    </div>
                    <div class="col-md-6">
                        {% bootstrap_field form.damage_code_3 %}
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <!-- Sixth part: Bio -->
  <div class="card border-dark mb-3">
    <div class="card-header">Bio Samples</div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6">
              {% bootstrap_field form.sample_label_1 %}
            </div>
            <div class="col-md-6">
              {% bootstrap_field form.tissue_type_1 %}
            </div>
            <div class="col-md-6">
              {% bootstrap_field form.sample_label_2 %}
            </div>
            <div class="col-md-6">
              {% bootstrap_field form.tissue_type_2 %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Seventh part: Comments -->
  <div class="card border-dark mb-3">
    <div class="card-header">Comments</div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                {% bootstrap_field form.comments show_label=false %}
            </div>
        </div>
    </div>
  </div>
  <!-- Advanced Data Card -->
  <div id="advancedDataCard" class="card border-dark mt-3" style="display: none;">
    <div class="card-header">Advanced Data</div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <label><strong>Egg</strong></label>
        </div>
        <div class="col-md-6">
          {% bootstrap_field form.egg_count %}
        </div>
        <div class="col-md-6">
          {% bootstrap_field form.egg_count_method %}
        </div>
      </div>
    </div>
  </div>
  <!-- Submit and Advanced Data buttons -->
  <div class="row mt-4 mb-3 d-flex">
    <div class="col-md-6">
      {% if not form.observation_id.value %}
      <button type="button" class="btn btn-secondary" id="advancedDataButton">Advanced Data</button>
      {% endif %}
    </div>
    <div class="col-md-3 text-right">
      <div class="d-flex align-self-center">
        {% bootstrap_field form.do_not_process %}
      </div>
    </div>
    <div class="col-md-3 text-right">
      {% if not form.observation_id.value %}
      <button type="submit" class="btn btn-primary save-button">Save</button>
      {% endif %}
    </div>
  </div>
  
</div>
</form>
</body>
{% endblock %}

{% block extra_js %}
{{ form.media.js }}
{{ block.super }}
<script>
  var adminUrl = "{% url 'admin:wamtram2_trtpersons_add' %}";

  // Part 2: Tags
  // Show or hide content based on flipper tag selection
  function showContentBasedOnSelection() {
    var selectElement = document.getElementById('flipperTags');
    var tagDetails = document.getElementById('tagDetails');
    var recaptureTags = document.getElementById('recaptureTags');
    var newTags = document.getElementById('newTags');
  
    tagDetails.style.display = 'none';
    recaptureTags.style.display = 'none';
    newTags.style.display = 'none';
  
    if (selectElement.value === 'Yes') {
      tagDetails.style.display = 'block';
      recaptureTags.style.display = 'block';
      newTags.style.display = 'block';
    } else if (selectElement.value === 'No') {
      tagDetails.style.display = 'block';
      newTags.style.display = 'block';
    }
  }
  
  function toggleRecaptureTags() {
    var additionalRecaptureTags = document.getElementById('additionalRecaptureTags');
    var toggleBtn = document.getElementById('toggleRecaptureTagsBtn');
    if (additionalRecaptureTags.style.display === 'none') {
      additionalRecaptureTags.style.display = 'block';
      toggleBtn.textContent = 'Less Recapture Tags';
    } else {
      additionalRecaptureTags.style.display = 'none';
      toggleBtn.textContent = 'More Recapture Tags';
    }
  }
  
  function toggleNewTags() {
    var additionalNewTags = document.getElementById('additionalNewTags');
    var toggleBtn = document.getElementById('toggleNewTagsBtn');
    if (additionalNewTags.style.display === 'none') {
      additionalNewTags.style.display = 'block';
      toggleBtn.textContent = 'Less New Tags';
    } else {
      additionalNewTags.style.display = 'none';
      toggleBtn.textContent = 'More New Tags';
    }
  }
  
  document.addEventListener('DOMContentLoaded', function() {
    var selectElement = document.getElementById('flipperTags');
    selectElement.addEventListener('change', showContentBasedOnSelection);
    showContentBasedOnSelection();
  });

  // Tag validation
  document.addEventListener('DOMContentLoaded', function() {
    const turtleIdInput = document.getElementById('id_turtle_id');
    const recaptureLeftTagInput = document.getElementById('id_recapture_left_tag_id');
    const recaptureRightTagInput = document.getElementById('id_recapture_right_tag_id');
    const recaptureLeftTagInput2 = document.getElementById('id_recapture_left_tag_id_2');
    const recaptureRightTagInput2 = document.getElementById('id_recapture_right_tag_id_2');
    const leftValidationMessage = document.getElementById('left-tag-validation-message');
    const rightValidationMessage = document.getElementById('right-tag-validation-message');
    const leftValidationMessage2 = document.getElementById('left-tag-validation-message-2');
    const rightValidationMessage2 = document.getElementById('right-tag-validation-message-2');
    const doNotProcessField = document.getElementById('{{ form.do_not_process.auto_id }}');

    function validateTag(tagInput, validationMessage, side) {
      console.log(`Validating ${side} tag with turtle ID: ${turtleIdInput.value} and tag ID: ${tagInput.value}`);
      const turtleId = turtleIdInput.value;
      const tagId = tagInput.value;

      if (turtleId && tagId) {
        fetch(`/wamtram2/validate-turtle-tag/?turtle_id=${turtleId}&tag=${tagId}&side=${side}`)
          .then(response => {
            console.log('Response received');
            return response.json();
          })
          .then(data => {
            console.log('Data received:', data);
            if (data.valid) {
              validationMessage.textContent = '✓ Valid tag';
              validationMessage.style.color = 'green';
              doNotProcessField.checked = false;
            } else if (data.wrong_side) {
              validationMessage.textContent = '! Tag may be on the wrong side';
              validationMessage.style.color = 'orange';
              doNotProcessField.checked = true;
            } else {
              validationMessage.textContent = '✗ Invalid tag';
              validationMessage.style.color = 'red';
              doNotProcessField.checked = true;
            }
            updateBackgroundColor();
          })
          .catch(error => {
            console.error('Error:', error);
            validationMessage.textContent = 'Error validating tag';
            validationMessage.style.color = 'red';
          });
      } else {
        validationMessage.textContent = '';
      }
    }

    function addValidationListener(input, message, side) {
      if (input) {
        input.addEventListener('blur', function() {
          validateTag(this, message, side);
        });
      }
    }

    addValidationListener(recaptureLeftTagInput, leftValidationMessage, 'left');
    addValidationListener(recaptureRightTagInput, rightValidationMessage, 'right');
    addValidationListener(recaptureLeftTagInput2, leftValidationMessage2, 'left');
    addValidationListener(recaptureRightTagInput2, rightValidationMessage2, 'right');
  });

  // Show or hide content based on PIT tag selection
  function showPITContentBasedOnSelection() {
    var selectElement = document.getElementById('PITTags');
    var recapturePIT = document.getElementById('recapturePIT');
    var newPIT = document.getElementById('newPIT');

    recapturePIT.style.display = 'none';
    newPIT.style.display = 'none';

    if (selectElement.value === 'Yes') {
      recapturePIT.style.display = 'block';
    } else if (selectElement.value === 'No') {
      newPIT.style.display = 'block';
    }
  }

  document.addEventListener('DOMContentLoaded', function() {
    var PITSelectElement = document.getElementById('PITTags');
    PITSelectElement.addEventListener('change', showPITContentBasedOnSelection);
    showPITContentBasedOnSelection(); // Initial call to set the display based on the initial value
  });

  // Toggle scars details based on checkbox
  document.addEventListener('DOMContentLoaded', function() {
    var tagscarnotcheckedCheckbox = document.getElementById('{{ form.tagscarnotchecked.auto_id }}');
    var scarsDetails = document.getElementById('scarsDetails');
    var scarsDetailsRight = document.getElementById('scarsDetailsRight');

    function toggleScarsDetails() {
      if (tagscarnotcheckedCheckbox.checked) {
        scarsDetails.style.display = 'none';
        scarsDetailsRight.style.display = 'none';
      } else {
        scarsDetails.style.display = 'block';
        scarsDetailsRight.style.display = 'block';
      }
    }

    tagscarnotcheckedCheckbox.addEventListener('change', toggleScarsDetails);
    toggleScarsDetails();
  });

  // Part 3: Measurements
  function toggleMeasurement() {
    var moreMeasurement = document.getElementById('moreMeasurement');
    var addMeasurementButton = document.getElementById('addMeasurementButton');
    if (moreMeasurement.style.display === 'none' || moreMeasurement.style.display === '') {
      moreMeasurement.style.display = 'block';
      addMeasurementButton.innerText = 'Less Measurements';
    } else {
      moreMeasurement.style.display = 'none';
      addMeasurementButton.innerText = 'More Measurements';
    }
  }

  function toggleCurvedCarapaceLength() {
    var curvedCarapaceLength = document.getElementById('{{ form.curved_carapace_length.auto_id }}').parentElement;
    if (document.getElementById('{{ form.cc_length_not_measured.auto_id }}').checked) {
      curvedCarapaceLength.style.display = 'none';
    } else {
      curvedCarapaceLength.style.display = 'block';
    }
  }

  function toggleCurvedCarapaceWidth() {
    var curvedCarapaceWidth = document.getElementById('{{ form.curved_carapace_width.auto_id }}').parentElement;
    if (document.getElementById('{{ form.cc_width_not_measured.auto_id }}').checked) {
      curvedCarapaceWidth.style.display = 'none';
    } else {
      curvedCarapaceWidth.style.display = 'block';
    }
  }

  document.addEventListener('DOMContentLoaded', function() {
    document.getElementById('{{ form.cc_length_not_measured.auto_id }}').addEventListener('change', toggleCurvedCarapaceLength);
    document.getElementById('{{ form.cc_width_not_measured.auto_id }}').addEventListener('change', toggleCurvedCarapaceWidth);
    toggleCurvedCarapaceLength(); 
    toggleCurvedCarapaceWidth();
  });

  // Part 5: Injuries
  // Toggle injury details based on checkbox
  document.addEventListener('DOMContentLoaded', function() {
    var didNotCheckCheckbox = document.getElementById('{{ form.didnotcheckforinjury.auto_id }}');
    var injuryDetails = document.getElementById('injuryDetails');

    function toggleInjuryDetails() {
      if (didNotCheckCheckbox.checked) {
        injuryDetails.style.display = 'none';
      } else {
        injuryDetails.style.display = 'block';
      }
    }

    didNotCheckCheckbox.addEventListener('change', toggleInjuryDetails);
    toggleInjuryDetails();
  });

  // Toggle injury fields and change button text
  function toggleInjuryFields() {
    var injuryAdditionalFields = document.getElementById('injuryAdditionalFields');
    var toggleButton = document.getElementById('toggleInjuryFieldsButton');

    if (injuryAdditionalFields.style.display === 'none' || injuryAdditionalFields.style.display === '') {
      injuryAdditionalFields.style.display = 'block';
      toggleButton.innerText = 'Less Injuries';
    } else {
      injuryAdditionalFields.style.display = 'none';
      toggleButton.innerText = 'More Injuries';
    }
  }

  // Initialize injury fields to be hidden
  document.addEventListener('DOMContentLoaded', function() {
    var injuryAdditionalFields = document.getElementById('injuryAdditionalFields');
    injuryAdditionalFields.style.display = 'none';
  });



  // Part 7: Show advanced data card
  document.addEventListener('DOMContentLoaded', function() {
    const advancedDataButton = document.getElementById('advancedDataButton');
    const advancedDataCard = document.getElementById('advancedDataCard');

    advancedDataButton.addEventListener('click', function() {
      advancedDataCard.style.display = 'block';
      advancedDataButton.style.display = 'none';
    });
  });

  // Page Setting
  // Background color update
  function updateBackgroundColor() {
    const bodyElement = document.body;
    const doNotProcessField = document.getElementById('{{ form.do_not_process.auto_id }}');
    if (doNotProcessField.checked) {
      bodyElement.classList.add('bg-yellow');
    } else {
      bodyElement.classList.remove('bg-yellow');
    }
  }

  // Initialize background color on page load
  document.addEventListener('DOMContentLoaded', function() {
    const doNotProcessField = document.getElementById('{{ form.do_not_process.auto_id }}');
    doNotProcessField.addEventListener('change', updateBackgroundColor);
    updateBackgroundColor();
  });

  // Render required field background color
  document.addEventListener('DOMContentLoaded', function() {
    setTimeout(function() {
      var placeCodeSelect = document.querySelector('select[name="place_code"][data-required="true"]');
      if (placeCodeSelect) {
        var select2Container = placeCodeSelect.nextElementSibling;
        if (select2Container && select2Container.classList.contains('select2-container')) {
          select2Container.querySelector('.select2-selection').classList.add('required-field');
        }
        var placeCode = '{{ form.initial.place_code }}';
        if (placeCode) {
          placeCodeSelect.value = placeCode;
          var event = new Event('change');
          placeCodeSelect.dispatchEvent(event);
        }
      }
    }, 100);
  });

</script>
{% endblock %}
