{% extends "base_wastd.html" %}
{% load static bootstrap4 %}

{% bootstrap_css %}
{% block extra_style %}
{{ block.super }}
{{ form.media.css }}
<style>
  .select2 {
    width: 100% !important;
  }
  .add-person-btn {
    height: 28px;
    width: 28px;
    padding: 0;
  }
  .required-field {
    background-color: #ccffcc !important;
  }
  .bg-yellow {
    background-color: #ffffe0 !important;
  }
</style>
{% endblock %}  

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'wamtram2:entry_batches'%}">Entry batches</a></li>
        {% if entry.entry_batch %}
        <li class="breadcrumb-item"><a href="{% url 'wamtram2:entry_batch_detail' entry.entry_batch %}">{{entry.entry_batch}}</a></li>
        {% endif %}
        {% if batch_id %}
        <li class="breadcrumb-item"><a href="{% url 'wamtram2:entry_batch_detail' batch_id %}">{{batch_id}}</a></li>
        {% endif %}
        <li class="breadcrumb-item active">{{ entry_id }}</li>
    </ol>
</nav>
{% endblock %}

{% block page_content_inner %}
<body data-do-not-process="{{ form.do_not_process.value|yesno:"true,false" }}">
{% if entry_id %}
  <form id="dataEntryForm" action="{% url 'wamtram2:trtdataentry' entry_id %}" method="post"  class="container">
{% else %}
  <form id="dataEntryForm" action="{% url 'wamtram2:newtrtdataentry' batch_id %}" method="post"  class="container">
{% endif %}
{% csrf_token %}
{% bootstrap_form_errors form %}
{% if form.observation_id.value %}
<div class="row">
<h4>Observation has aleady been submitted: <a href="{% url 'wamtram2:observationdetail' pk=form.observation_id.value %}">view observation</a></h4> 
<div id="form-errors"></div>
</div>
{% endif %}

<div class="row g-3">
      <div class="col-md-6">
      <h5>Entry Batch ID: {{ form.entry_batch.value }}</h5>
      {% bootstrap_field form.entry_batch %}
      </div>
      <div class="col-md-6">
      <h5>Turtle ID: {% if form.turtle_id.value %} <a href="{% url 'wamtram2:turtle_detail' form.turtle_id.value %}">{{ form.turtle_id.value }}</a> {% endif %} </h5>
      {% bootstrap_field form.turtle_id %}
      </div>
</div>

<div class="container mt-4">
  <!-- First part: Info -->
  <div class="card border-dark mb-3">
    <div class="card-header">Basic Information</div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-12">
              <label for="{{ form.entered_by_id.id_for_label }}">{{ form.entered_by_id.label }}</label>
            </div>
            <div class="col-md-4">
              {% bootstrap_field form.entered_by_id show_label=False %}
            </div>
            <div class="col-md-2">
              <button type="button" class="btn btn-outline-primary add-person-btn" onClick="window.open(adminUrl);" title="Add new person">
              <i class="fas fa-plus"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-6">
              <label for="{{ form.place_code.id_for_label }}">{{ form.place_code.label }}</label>
              {% bootstrap_field form.place_code show_label=False %}
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label for="{{ form.latitude.id_for_label }}">{{ form.latitude.label }}</label>
              {% bootstrap_field form.latitude show_label=False %}
            </div>
            <div class="col-md-6">
              <label for="{{ form.longitude.id_for_label }}">{{ form.longitude.label }}</label>
              {% bootstrap_field form.longitude show_label=False %}
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label for="{{ form.observation_date.id_for_label }}">{{ form.observation_date.label }}</label>
              {% bootstrap_field form.observation_date show_label=False %}
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <label for="{{ form.recorded_by_id.id_for_label }}">{{ form.recorded_by_id.label }}</label>
            </div>
            <div class="col-md-6">
              {% bootstrap_field form.recorded_by_id show_label=False %}
            </div>
            <div class="col-md-2">
              <button type="button" class="btn btn-outline-primary add-person-btn" onClick="window.open(adminUrl);" title="Add new person">
              <i class="fas fa-plus"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-12">
              {% bootstrap_field form.species_code field_class="species-select" %}
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              {% bootstrap_field form.sex %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Second part: Tags -->
  <div class="card border-dark mb-3">
    <div class="card-header">Tags</div>
    <div class="card-body">
        <!-- Flipper Tags Section -->
        <section class="row">
            <div class="col-md-12">
                <div class="row mt-2">
                    <label class="col-sm-2 col-form-label"><strong>FLIPPER Tag(s) present?</strong></label>
                </div>
                <div id="tagDetails">
                    <!-- Recapture Tags -->
                    <div id="recaptureTags">
                        <div class="row mt-2">
                            <div class="col-md-6">
                                {% bootstrap_field form.recapture_left_tag_id %}
                                <span id="left-tag-validation-message"></span>
                                <span id="left-tag-message"></span>
                            </div>
                            <div class="col-md-6">
                                {% bootstrap_field form.recapture_right_tag_id %}
                                <span id="right-tag-validation-message"></span>
                                <span id="right-tag-message"></span>
                            </div>
                        </div>
                        <div id="additionalRecaptureTags" style="display: none;">
                            <div class="row mt-2">
                                <div class="col-md-6">
                                    {% bootstrap_field form.recapture_left_tag_id_2 %}
                                    <span id="left-tag-validation-message-2"></span>
                                    <span id="left-tag-message-2"></span>
                                </div>
                                <div class="col-md-6">
                                    {% bootstrap_field form.recapture_right_tag_id_2 %}
                                    <span id="right-tag-validation-message-2"></span>
                                    <span id="right-tag-message-2"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6">
                              <button type="button" class="btn btn-primary" id="toggleRecaptureTagsBtn">More Recapture Tags</button>
                            </div>
                        </div>
                    </div>
                    
                    <!-- New Tags -->
                    <div id="newTags">
                        <div class="row mt-2">
                            <div class="col-md-6">
                                {% bootstrap_field form.new_left_tag_id %}
                                <span id="new-left-tag-validation-message"></span>
                                <span id="new-left-tag-message"></span>
                            </div>
                            <div class="col-md-6">
                                {% bootstrap_field form.new_right_tag_id %}
                                <span id="new-right-tag-validation-message"></span>
                                <span id="new-right-tag-message"></span>
                            </div>
                        </div>
                        <div id="additionalNewTags" style="display: none;">
                            <div class="row mt-2">
                                <div class="col-md-6">
                                    {% bootstrap_field form.new_left_tag_id_2 %}
                                </div>
                                <div class="col-md-6">
                                    {% bootstrap_field form.new_right_tag_id_2 %}
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6">
                              <button type="button" class="btn btn-primary" id="toggleNewTagsBtn">More New Tags</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- PIT Tags Section -->
        <section class="row mt-5">
            <div class="col-md-12">
                <div class="row">
                    <label class="col-sm-2 col-form-label"><strong>PIT tag present?</strong></label>
                </div>
                <div id="recapturePIT">
                    <div class="row mt-2">
                        <div class="col-md-6">
                            {% bootstrap_field form.recapture_pittag_id %}
                            <span id="recapture-pit-tag-validation-message"></span>
                            <span id="recapture-pit-tag-message"></span>
                        </div>
                        <div class="col-md-6">
                            {% bootstrap_field form.recapture_pittag_id_2 %}
                            <span id="recapture-pit-tag-validation-message-2"></span>
                            <span id="recapture-pit-tag-message-2"></span>
                        </div>
                    </div>
                </div>
                <div id="newPIT">
                    <div class="row mt-2">
                        <div class="col-md-6">
                            {% bootstrap_field form.new_pittag_id %}
                            <span id="new-pit-tag-validation-message"></span>
                            <span id="new-pit-tag-message"></span>
                        </div>
                        <div class="col-md-6">
                            {% bootstrap_field form.new_pittag_id_2 %}
                            <span id="new-pit-tag-validation-message-2"></span>
                            <span id="new-pit-tag-message-2"></span>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Flipper Tags Scars Section -->
        <section class="row mt-5">
            <div class="col-md-3">
                <label><strong>Flipper Tags scars?</strong></label>
            </div>
            <div class="col-3">
                {% bootstrap_field form.tagscarnotchecked %}
            </div>
            <div class="col-12" id="scarsDetails">
                <div class="row align-items-center mb-2">
                    <div class="col-auto">
                        {% bootstrap_field form.scars_left %}
                    </div>
                    <div class="col-auto d-flex align-items-center">
                        <div class="form-check form-check-inline">
                            {% bootstrap_field form.scars_left_scale_1 %}
                        </div>
                        <div class="form-check form-check-inline">
                            {% bootstrap_field form.scars_left_scale_2 %}
                        </div>
                        <div class="form-check form-check-inline">
                            {% bootstrap_field form.scars_left_scale_3 %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12" id="scarsDetailsRight">
                <div class="row align-items-center">
                    <div class="col-auto">
                        {% bootstrap_field form.scars_right %}
                    </div>
                    <div class="col-auto d-flex align-items-center">
                        <div class="form-check form-check-inline">
                            {% bootstrap_field form.scars_right_scale_1 %}
                        </div>
                        <div class="form-check form-check-inline">
                            {% bootstrap_field form.scars_right_scale_2 %}
                        </div>
                        <div class="form-check form-check-inline">
                            {% bootstrap_field form.scars_right_scale_3 %}
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Tagged By Section -->
        <section class="row mt-2">
            <div class="col-md-12">
                <label for="{{ form.tagged_by_id.id_for_label }}">{{ form.tagged_by_id.label }}</label>
            </div>
            <div class="col-md-4">
                {% bootstrap_field form.tagged_by_id show_label=False %}
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-outline-primary add-person-btn" onclick="window.open(adminUrl);" title="Add new person">
                    <i class="fas fa-plus"></i>
                </button>
            </div>
        </section>
    </div>
  </div>
  <!-- Third part: Measurements -->
  <div class="card border-dark mb-3">
    <div class="card-header">Measurements</div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6">
              {% bootstrap_field form.cc_length_not_measured %}
            </div>
            <div class="col-md-6">
              {% bootstrap_field form.curved_carapace_length %}
            </div>
            <div class="col-md-6">
              {% bootstrap_field form.cc_width_not_measured %}
            </div>
            <div class="col-md-6">
              {% bootstrap_field form.curved_carapace_width %}
            </div>
            <div class="col-md-6 pt-3 d-flex align-items-center">
              <button id="addMeasurementButton" type="button" class="btn btn-primary" onclick="toggleMeasurement()">More Measurements</button>
            </div>
          </div>
          <div id="moreMeasurement" class="row" style="display: none;">
            <div class="col-md-12 d-flex align-items-center">
              <div class="mr-2">
                {% bootstrap_field form.measurement_type_1 %}
              </div>
              <div class="ml-5">
                {% bootstrap_field form.measurement_value_1 %}
              </div>
            </div>
            <div class="col-md-12 d-flex align-items-center">
              <div class="mr-2">
                {% bootstrap_field form.measurement_type_2 %}
              </div>
              <div class="ml-5">
                {% bootstrap_field form.measurement_value_2 %}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 p-4">
              <label for="{{ form.measured_by_id.id_for_label }}">{{ form.measured_by_id.label }}</label>
              <div class="d-flex align-items-center">
                <div class="flex-grow-1">
                  {% bootstrap_field form.measured_by_id show_label=False %}
                </div>
                <button type="button" class="btn btn-outline-primary add-person-btn ml-2 align-self-start" onClick="window.open(adminUrl);" title="Add new person">
                  <i class="fas fa-plus"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Fourth part: Nest -->
  <div class="card border-dark mb-3">
    <div class="card-header">Nest</div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6">
              {% bootstrap_field form.clutch_completed %}
            </div>
            <div class="col-md-6">
              {% bootstrap_field form.nesting %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Fifth part: Injuries -->
  <div class="card border-dark mb-3">
    <div class="card-header">Injuries</div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                {% bootstrap_field form.didnotcheckforinjury %}
            </div>
        </div>
        <div id="injuryDetails">
            <div class="row">
                <div class="col-md-6">
                    {% bootstrap_field form.damage_carapace %}
                </div>
                <div class="col-md-6">
                    {% bootstrap_field form.damage_lff %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {% bootstrap_field form.damage_rff %}
                </div>
                <div class="col-md-6">
                    {% bootstrap_field form.damage_lhf %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {% bootstrap_field form.damage_rhf %}
                </div>
                <div class="col-md-6 d-flex align-items-center">
                    <button id="toggleInjuryFieldsButton" type="button" class="btn btn-primary" onclick="toggleInjuryFields()">More Injuries</button>
                </div>
            </div>
            <div id="injuryAdditionalFields">
                <div class="row">
                    <div class="col-md-6">
                        {% bootstrap_field form.body_part_1 %}
                    </div>
                    <div class="col-md-6">
                        {% bootstrap_field form.damage_code_1 %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {% bootstrap_field form.body_part_2 %}
                    </div>
                    <div class="col-md-6">
                        {% bootstrap_field form.damage_code_2 %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {% bootstrap_field form.body_part_3 %}
                    </div>
                    <div class="col-md-6">
                        {% bootstrap_field form.damage_code_3 %}
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <!-- Sixth part: Bio -->
  <div class="card border-dark mb-3">
    <div class="card-header">Bio Samples</div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6">
              {% bootstrap_field form.sample_label_1 %}
            </div>
            <div class="col-md-6">
              {% bootstrap_field form.tissue_type_1 %}
            </div>
            <div class="col-md-6">
              {% bootstrap_field form.sample_label_2 %}
            </div>
            <div class="col-md-6">
              {% bootstrap_field form.tissue_type_2 %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Seventh part: Comments -->
  <div class="card border-dark mb-3">
    <div class="card-header">Comments</div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                {% bootstrap_field form.comments show_label=false %}
            </div>
        </div>
    </div>
  </div>
  <!-- Advanced Data Card -->
  <div id="advancedDataCard" class="card border-dark mt-3" style="display: none;">
    <div class="card-header">Advanced Data</div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <label><strong>Egg</strong></label>
        </div>
        <div class="col-md-6">
          {% bootstrap_field form.egg_count %}
        </div>
        <div class="col-md-6">
          {% bootstrap_field form.egg_count_method %}
        </div>
      </div>
    </div>
  </div>
  <!-- Submit and Advanced Data buttons -->
  <div class="row mt-4 mb-3 d-flex">
    <div class="col-md-6">
      {% if not form.observation_id.value %}
      <button type="button" class="btn btn-secondary" id="advancedDataButton">Advanced Data</button>
      {% endif %}
    </div>
    <div class="col-md-3 text-right">
      <div class="d-flex align-self-center">
        {% bootstrap_field form.do_not_process %}
      </div>
    </div>
    <div class="col-md-3 text-right">
      {% if not form.observation_id.value %}
      <button type="submit" class="btn btn-primary save-button">Save</button>
      {% endif %}
    </div>
  </div>
  <!-- Before Reload Confirmation Dialog -->
  <div id="confirmation-dialog" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Confirm Navigation</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>You have unsaved changes. Do you really want to leave?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="leave-button">Leave</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Stay</button>
        </div>
      </div>
    </div>
  </div>
</div>
</form>
</body>
{% endblock %}

{% block extra_js %}
{{ form.media.js }}
{{ block.super }}
<script>
  document.addEventListener('DOMContentLoaded', function() {
    // Admin URL
    var adminUrl = "{% url 'admin:wamtram2_trtpersons_add' %}";

    // Initialize form variables
    const form = document.getElementById('dataEntryForm');
    let isFormDirty = false;

    const cookieTagId = "{{ cookie_tag_id }}";
    const cookieTagType = "{{ cookie_tag_type }}";

    function setTagAndValidate(inputId, tagId) {
      const input = document.getElementById(inputId);
      if (input) {
        input.value = tagId;
        // Validate the input
        input.dispatchEvent(new Event('blur'));
      }
    }

    if (cookieTagId && cookieTagType) {
      if (cookieTagType === 'recapture_tag') {
        setTagAndValidate('id_recapture_left_tag_id', cookieTagId);
      } else if (cookieTagType === 'recapture_pit_tag') {
        setTagAndValidate('id_recapture_pittag_id', cookieTagId);
      }
    }

    // Flipper Tags Handling

    const toggleRecaptureTagsBtn = document.getElementById('toggleRecaptureTagsBtn');
    if (toggleRecaptureTagsBtn) {
        toggleRecaptureTagsBtn.addEventListener('click', toggleRecaptureTags);
    }

    const toggleNewTagsBtn = document.getElementById('toggleNewTagsBtn');
    if (toggleNewTagsBtn) {
        toggleNewTagsBtn.addEventListener('click', toggleNewTags);
    }
    function toggleRecaptureTags() {
        const additionalRecaptureTags = document.getElementById('additionalRecaptureTags');
        const toggleBtn = document.getElementById('toggleRecaptureTagsBtn');
        if (additionalRecaptureTags.style.display === 'none') {
            additionalRecaptureTags.style.display = 'block';
            toggleBtn.textContent = 'Less Recapture Tags';
        } else {
            additionalRecaptureTags.style.display = 'none';
            toggleBtn.textContent = 'More Recapture Tags';
        }
    }
    
    function toggleNewTags() {
        const additionalNewTags = document.getElementById('additionalNewTags');
        const toggleBtn = document.getElementById('toggleNewTagsBtn');
        if (additionalNewTags.style.display === 'none') {
            additionalNewTags.style.display = 'block';
            toggleBtn.textContent = 'Less New Tags';
        } else {
            additionalNewTags.style.display = 'none';
            toggleBtn.textContent = 'More New Tags';
        }
    }

    // Scars Handling
    function toggleScarsDetails() {
        const tagscarnotcheckedCheckbox = document.getElementById('{{ form.tagscarnotchecked.auto_id }}');
        const scarsDetails = document.getElementById('scarsDetails');
        const scarsDetailsRight = document.getElementById('scarsDetailsRight');

        if (tagscarnotcheckedCheckbox.checked) {
            scarsDetails.style.display = 'none';
            scarsDetailsRight.style.display = 'none';
        } else {
            scarsDetails.style.display = 'block';
            scarsDetailsRight.style.display = 'block';
        }
    }

    document.getElementById('{{ form.tagscarnotchecked.auto_id }}').addEventListener('change', toggleScarsDetails);
    toggleScarsDetails();

    // Measurement Handling
    function toggleMeasurement() {
        const moreMeasurement = document.getElementById('moreMeasurement');
        const addMeasurementButton = document.getElementById('addMeasurementButton');
        if (moreMeasurement.style.display === 'none' || moreMeasurement.style.display === '') {
            moreMeasurement.style.display = 'block';
            addMeasurementButton.innerText = 'Less Measurements';
        } else {
            moreMeasurement.style.display = 'none';
            addMeasurementButton.innerText = 'More Measurements';
        }
    }

    function toggleCurvedCarapaceLength() {
        const curvedCarapaceLength = document.getElementById('{{ form.curved_carapace_length.auto_id }}').parentElement;
        if (document.getElementById('{{ form.cc_length_not_measured.auto_id }}').checked) {
            curvedCarapaceLength.style.display = 'none';
        } else {
            curvedCarapaceLength.style.display = 'block';
        }
    }

    function toggleCurvedCarapaceWidth() {
        const curvedCarapaceWidth = document.getElementById('{{ form.curved_carapace_width.auto_id }}').parentElement;
        if (document.getElementById('{{ form.cc_width_not_measured.auto_id }}').checked) {
            curvedCarapaceWidth.style.display = 'none';
        } else {
            curvedCarapaceWidth.style.display = 'block';
        }
    }

    document.getElementById('{{ form.cc_length_not_measured.auto_id }}').addEventListener('change', toggleCurvedCarapaceLength);
    document.getElementById('{{ form.cc_width_not_measured.auto_id }}').addEventListener('change', toggleCurvedCarapaceWidth);
    toggleCurvedCarapaceLength(); 
    toggleCurvedCarapaceWidth();

    // Injuries Handling
    function toggleInjuryDetails() {
        const didNotCheckCheckbox = document.getElementById('{{ form.didnotcheckforinjury.auto_id }}');
        const injuryDetails = document.getElementById('injuryDetails');

        if (didNotCheckCheckbox.checked) {
            injuryDetails.style.display = 'none';
        } else {
            injuryDetails.style.display = 'block';
        }
    }

    document.getElementById('{{ form.didnotcheckforinjury.auto_id }}').addEventListener('change', toggleInjuryDetails);
    toggleInjuryDetails();

    function toggleInjuryFields() {
        const injuryAdditionalFields = document.getElementById('injuryAdditionalFields');
        const toggleButton = document.getElementById('toggleInjuryFieldsButton');

        if (injuryAdditionalFields.style.display === 'none' || injuryAdditionalFields.style.display === '') {
            injuryAdditionalFields.style.display = 'block';
            toggleButton.innerText = 'Less Injuries';
        } else {
            injuryAdditionalFields.style.display = 'none';
            toggleButton.innerText = 'More Injuries';
        }
    }

    // Advanced Data Handling
    document.getElementById('advancedDataButton').addEventListener('click', function() {
        const advancedDataCard = document.getElementById('advancedDataCard');
        advancedDataCard.style.display = 'block';
        this.style.display = 'none';
    });

    // Form Dirty Handling
    form.addEventListener('input', function() {
        isFormDirty = true;
    });

    window.addEventListener('beforeunload', function(event) {
        if (isFormDirty) {
            const confirmationMessage = 'You have unsaved changes. Do you really want to leave?';
            (event || window.event).returnValue = confirmationMessage;
            return confirmationMessage;
        }
    });

    form.addEventListener('submit', function(event) {
        isFormDirty = false;
    });

    // Confirmation Dialog
    const confirmationDialog = document.createElement('div');
    confirmationDialog.id = 'confirmation-dialog';
    confirmationDialog.innerHTML = `
        <div class="modal" tabindex="-1" role="dialog" style="display:none;">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Confirm Navigation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>You have unsaved changes. Do you really want to leave?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="leave-button">Leave</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Stay</button>
              </div>
            </div>
          </div>
        </div>
    `;
    document.body.appendChild(confirmationDialog);

    const leaveButton = document.getElementById('leave-button');
    leaveButton.addEventListener('click', function() {
        window.removeEventListener('beforeunload', onBeforeUnload);
        window.location.href = document.referrer;
    });

    // Background Color Update
    function updateBackgroundColor() {
        const bodyElement = document.body;
        const doNotProcessField = document.getElementById('id_do_not_process');
        if (doNotProcessField.checked) {
            bodyElement.classList.add('bg-yellow');
        } else {
            bodyElement.classList.remove('bg-yellow');
        }
    }

    // Initialize background color on page load
    const doNotProcessField = document.getElementById('id_do_not_process');
    doNotProcessField.addEventListener('change', updateBackgroundColor);
    updateBackgroundColor();

    // Get the do_not_process cookie value and set the field
    const batchId = form.querySelector('[name="entry_batch"]').value;
    const cookieName = `${batchId}_do_not_process`;
    const doNotProcessCookie = document.cookie.split('; ').find(row => row.startsWith(cookieName));
    
    if (doNotProcessCookie && doNotProcessField) {
        const cookieValue = doNotProcessCookie.split('=')[1];
        if (cookieValue === 'true') {
            doNotProcessField.checked = true;
            doNotProcessField.disabled = true;
            updateBackgroundColor();
        } else if (cookieValue === 'false') {
          doNotProcessField.checked = false;
          doNotProcessField.disabled = false;
        }
    }

    // Render required field background color
    setTimeout(function() {
        var placeCodeSelect = document.querySelector('select[name="place_code"][data-required="true"]');
        if (placeCodeSelect) {
            var select2Container = placeCodeSelect.nextElementSibling;
            if (select2Container && select2Container.classList.contains('select2-container')) {
                select2Container.querySelector('.select2-selection').classList.add('required-field');
            }
            var placeCode = '{{ form.initial.place_code }}';
            if (placeCode) {
                placeCodeSelect.value = placeCode;
                var event = new Event('change');
                placeCodeSelect.dispatchEvent(event);
            }
        }
    }, 100);

    // Tag validation
    const turtleIdInput = document.getElementById('id_turtle_id');
    const tagInputs = {
        recaptureLeftTagInput: document.getElementById('id_recapture_left_tag_id'),
        recaptureRightTagInput: document.getElementById('id_recapture_right_tag_id'),
        recaptureLeftTagInput2: document.getElementById('id_recapture_left_tag_id_2'),
        recaptureRightTagInput2: document.getElementById('id_recapture_right_tag_id_2'),
        newLeftTagInput: document.getElementById('id_new_left_tag_id'),
        newRightTagInput: document.getElementById('id_new_right_tag_id'),
        newPitTagInput: document.getElementById('id_new_pittag_id'),
        newPitTagInput2: document.getElementById('id_new_pittag_id_2'),
        recapturePitTagInput: document.getElementById('id_recapture_pittag_id'),
        recapturePitTagInput2: document.getElementById('id_recapture_pittag_id_2')
    };

    const validationMessages = {
        recaptureLeftTagMessage: document.getElementById('left-tag-validation-message'),
        recaptureRightTagMessage: document.getElementById('right-tag-validation-message'),
        recaptureLeftTagMessage2: document.getElementById('left-tag-validation-message-2'),
        recaptureRightTagMessage2: document.getElementById('right-tag-validation-message-2'),
        newLeftTagMessage: document.getElementById('new-left-tag-validation-message'),
        newRightTagMessage: document.getElementById('new-right-tag-validation-message'),
        newPitTagMessage: document.getElementById('new-pit-tag-validation-message'),
        newPitTagMessage2: document.getElementById('new-pit-tag-validation-message-2'),
        recapturePitTagMessage: document.getElementById('recapture-pit-tag-validation-message'),
        recapturePitTagMessage2: document.getElementById('recapture-pit-tag-validation-message-2')
    };

    const detailedMessages = {
        recaptureLeftTagDetailedMessage: document.getElementById('left-tag-message'),
        recaptureRightTagDetailedMessage: document.getElementById('right-tag-message'),
        recaptureLeftTagDetailedMessage2: document.getElementById('left-tag-message-2'),
        recaptureRightTagDetailedMessage2: document.getElementById('right-tag-message-2'),
        newLeftTagDetailedMessage: document.getElementById('new-left-tag-message'),
        newRightTagDetailedMessage: document.getElementById('new-right-tag-message'),
        newPitTagDetailedMessage: document.getElementById('new-pit-tag-message'),
        newPitTagDetailedMessage2: document.getElementById('new-pit-tag-message-2'),
        recapturePitTagDetailedMessage: document.getElementById('recapture-pit-tag-message'),
        recapturePitTagDetailedMessage2: document.getElementById('recapture-pit-tag-message-2')
    };

    function validateTag(tagInput, validationMessage, detailedMessage, type, side) {
        const turtleId = turtleIdInput.value;
        const tagId = tagInput.value;

        if (!turtleId && tagId && (type === 'recaptured_tag' || type === 'recaptured_pit_tag')) {
            validationMessage.textContent = '✗ invalid untagged turtle with recapture tag';
            validationMessage.style.color = 'red';
            detailedMessage.textContent = '';
            doNotProcessField.checked = true;
            return;
        }

        if (tagId) {
            let url = `/wamtram2/validate-tag/?type=${type}&tag=${tagId}`;
            if (type === 'recaptured_tag') {
                url += `&turtle_id=${turtleId}&side=${side}`;
            } else if (type === 'recaptured_pit_tag') {
                url += `&turtle_id=${turtleId}`;
            }

            fetch(url)
                .then(response => {
                    console.log('Response received for URL:', url);
                    return response.json();
                })
                .then(data => {
                    console.log('Data received:', data);
                    if (data.valid && !data.wrong_side) {
                        validationMessage.textContent = '✓ Valid tag';
                        validationMessage.style.color = 'green';
                        detailedMessage.textContent = '';
                        if (type === 'recaptured_tag') doNotProcessField.checked = false;
                    } else if (data.wrong_side) {
                        validationMessage.textContent = '! Tag may be on the wrong side';
                        validationMessage.style.color = 'orange';
                        detailedMessage.textContent = '';
                        if (type === 'recaptured_tag') doNotProcessField.checked = true;
                    } else if (data.other_turtle_id) {
                        validationMessage.innerHTML = '✗ Invalid tag:';
                        validationMessage.style.color = 'red';
                        detailedMessage.innerHTML = `Tag belongs to another turtle (ID: <a href="/wamtram2/turtles/${data.other_turtle_id}/" target="_blank">${data.other_turtle_id}</a>)`;
                        detailedMessage.style.color = 'red';
                        if (type === 'recaptured_tag' || type === 'recaptured_pit_tag' || type === 'new_pit_tag') doNotProcessField.checked = true;
                    } else if (data.status) {
                        validationMessage.textContent = '✗ Invalid tag:';
                        validationMessage.style.color = 'red';
                        detailedMessage.textContent = `Tag status - ${data.status}`;
                        detailedMessage.style.color = 'red';
                        if (type === 'recaptured_tag' || type === 'recaptured_pit_tag' || type === 'new_pit_tag') doNotProcessField.checked = true;
                    } else if (data.tag_not_found) {
                        validationMessage.textContent = '✗ Invalid tag: Tag not found (Please remove it from here and add it to the comment area)';
                        validationMessage.style.color = 'red';
                        detailedMessage.textContent = '';
                        if (type === 'recaptured_tag' || type === 'recaptured_pit_tag' || type === 'new_pit_tag') doNotProcessField.checked = true;
                    } else {
                        validationMessage.textContent = '✗ Invalid tag';
                        validationMessage.style.color = 'red';
                        detailedMessage.textContent = '';
                        if (type === 'recaptured_tag' || type === 'recaptured_pit_tag' || type === 'new_pit_tag') doNotProcessField.checked = true;
                    }
                    updateBackgroundColor();
                })
                .catch(error => {
                    console.error('Error:', error);
                    validationMessage.textContent = 'Error validating tag';
                    validationMessage.style.color = 'red';
                    detailedMessage.textContent = '';
                    if (type === 'recaptured_tag' || type === 'recaptured_pit_tag' || type === 'new_pit_tag') doNotProcessField.checked = true;
                });
        } else {
            validationMessage.textContent = '';
            detailedMessage.textContent = '';
        }
    }

    function addValidationListener(input, validationMessage, detailedMessage, type, side = '') {
        if (input) {
            input.addEventListener('blur', function() {
                validateTag(this, validationMessage, detailedMessage, type, side);
            });
        }
    }

    // Add validation listeners for each tag input
    addValidationListener(tagInputs.recaptureLeftTagInput, validationMessages.recaptureLeftTagMessage, detailedMessages.recaptureLeftTagDetailedMessage, 'recaptured_tag', 'L');
    addValidationListener(tagInputs.recaptureRightTagInput, validationMessages.recaptureRightTagMessage, detailedMessages.recaptureRightTagDetailedMessage, 'recaptured_tag', 'R');
    addValidationListener(tagInputs.recaptureLeftTagInput2, validationMessages.recaptureLeftTagMessage2, detailedMessages.recaptureLeftTagDetailedMessage2, 'recaptured_tag', 'L');
    addValidationListener(tagInputs.recaptureRightTagInput2, validationMessages.recaptureRightTagMessage2, detailedMessages.recaptureRightTagDetailedMessage2, 'recaptured_tag', 'R');
    addValidationListener(tagInputs.newLeftTagInput, validationMessages.newLeftTagMessage, detailedMessages.newLeftTagDetailedMessage, 'new_tag');
    addValidationListener(tagInputs.newRightTagInput, validationMessages.newRightTagMessage, detailedMessages.newRightTagDetailedMessage, 'new_tag');
    addValidationListener(tagInputs.newPitTagInput, validationMessages.newPitTagMessage, detailedMessages.newPitTagDetailedMessage, 'new_pit_tag');
    addValidationListener(tagInputs.newPitTagInput2, validationMessages.newPitTagMessage2, detailedMessages.newPitTagDetailedMessage2, 'new_pit_tag');
    addValidationListener(tagInputs.recapturePitTagInput, validationMessages.recapturePitTagMessage, detailedMessages.recapturePitTagDetailedMessage, 'recaptured_pit_tag');
    addValidationListener(tagInputs.recapturePitTagInput2, validationMessages.recapturePitTagMessage2, detailedMessages.recapturePitTagDetailedMessage2, 'recaptured_pit_tag');
  });
</script>
{% endblock %}

