{% extends "base_wastd.html" %}
{% load static bootstrap4 dict_filter %}

{% block extra_style %}
    {{ block.super }}
    {{ form.media.css }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/search_styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/loading_spinner.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/disabled_btn.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/loading_overlay.css' %}">
    <style>
        /* Ensure Select2 dropdowns are full width */
        .select2 { width: 100% !important; }

        .step-container {
            border: 1px solid #ddd;
            border-radius: 5px;
            padding: 15px;
            margin-bottom: 20px;
        }
        .step-header {
            background-color: #f8f9fa;
            padding: 10px;
            margin: -15px -15px 15px -15px;
            border-bottom: 1px solid #ddd;
            font-weight: bold;
        }
        .danger-zone {
            border: 2px solid #dc3545;
            border-radius: 5px;
            padding: 15px;
            margin-top: 30px;
        }
        .danger-zone-header {
            background-color: #dc3545;
            color: white;
            padding: 10px;
            margin: -15px -15px 15px -15px;
            font-weight: bold;
        }
        .highlight-row {
            background-color: #f8d7da !important;
        }
    
    </style>
{% endblock %}

{% block extra_head %}
    {# Load jQuery for Select2 widgets #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    {{ form.media }} 
{% endblock extra_head %}

{% block breadcrumbs %}
    {# Breadcrumb navigation #}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'wamtram2:entry_batches' %}">Entry batches</a></li>
            <li class="breadcrumb-item active">{{ batch.entry_batch_id }}</li>
        </ol>
    </nav>
{% endblock %}

{% block page_content_inner %}
    {# Step1: Display the entry batch details #}
    <div class="step-container">
        <div class="step-header">Step 1: Batch Details</div>
        <form id="batchDetailsForm" action="{% url 'wamtram2:entry_batch_detail' batch_id=batch.entry_batch_id %}" method="post" class="row">
            {% csrf_token %}
            <div class="col-md-4">
                <div class="d-flex align-items-end">
                    <div class="flex-grow-1 mr-2">
                        <label for="search_entered_person_id">{{ form.entered_person_id.label }}</label>
                        <input type="text" id="search_entered_person_id" class="search-field form-control" placeholder="Search person" value="{{ batch.entered_person_id.first_name }} {{ batch.entered_person_id.surname }}">
                        {{ form.entered_person_id }}
                        <div class="search-results" style="display:none;"></div>
                    </div>
                    {% if user.is_superuser %}
                    <button type="button" class="btn btn-outline-primary add-person-btn align-self-end" onClick="window.open(adminUrl);" title="Add new person">
                        <i class="fas fa-plus"></i>
                    </button>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-8">
                <div class="d-flex align-items-center">
                    <div class="flex-grow-1 mr-2">
                        {% bootstrap_field form.comments %}
                    </div>
                    <button type="submit" class="btn btn-secondary mt-3" id="saveBatchDetailsBtn">
                        Save batch details
                    </button>
                </div>
            </div>            
        </form>
        
    </div>
    {# Step2: Create new entry #}
    <div class="step-container">
        <div class="step-header">Step 2: Create New Entry</div>
        <div class="row align-items-end">
            <div class="col-md-6 d-flex align-items-end">
                <select id="templateSelector" class="form-control flex-grow-1 mr-2">
                    <option value="">Select a template</option>
                        {% for template in templates %}
                    <option value="{{ template.template_id }}" {% if template.template_id == selected_template %} selected {% endif %}>
                                {{ template.name }}
                    </option>
                        {% endfor %}
                    </select>
                {% if user.is_superuser %}
                <button type="button" class="btn btn-outline-primary add-template-btn align-self-end" onClick="window.open('{% url 'wamtram2:template_manage'%}');" title="Add new template">
                    <i class="fas fa-plus"></i>
                </button>
                {% endif %}
            </div>
            <div class="col-md-4 mb-2">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="setDefaultEnterer" {% if use_default_enterer %} checked {% endif %}>
                    <label class="form-check-label" for="setDefaultEnterer">
                        Set batch enterer as default entry enterer
                    </label>
                </div>
            </div>
            <div class="col-md-2">
                <a href="{% url 'wamtram2:find_turtle' batch_id=batch.entry_batch_id %}" id="createEntryBtn" class="btn btn-primary float-right">Create a new entry</a>
            </div>
        </div>
        <div id="templateSelectedMessage" class="mt-2 text-success" style="display: none;">Template selected</div>
    </div>
    {% if user.is_superuser and object_list %}
    {# Step3: Batch Actions #}
    <div class="step-container">
        <div class="step-header">Step 3: Batch Actions</div>
        <div class="row">
            <div class="col-md-8">
                <a id="validateBtn" href="{% url 'wamtram2:validate_data_entry_batch' batch_id=batch.entry_batch_id %}" class="btn btn-primary mr-2">Validate this Batch</a>
                <a id="processBtn" href="{% url 'wamtram2:process_data_entry_batch' batch_id=batch.entry_batch_id %}" class="btn btn-primary">Add this batch to the database</a>
            </div>
            <div class="col-md-4">
                <form method="get" class="form-inline float-right">
                    <div class="form-group">
                        <label class="mr-2" for="filter">Filter</label>
                        <select name="filter" class="form-control" onchange="this.form.submit()">
                            <option value="">All</option>
                            <option value="needs_review" {% if request.GET.filter == "needs_review" %}selected{% endif %}>Needs Review</option>
                            <option value="not_saved" {% if request.GET.filter == "not_saved" %}selected{% endif %}>Haven't Saved</option>                            
                        </select>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endif %}

    {% block pagination_row %}
        {# Pagination controls #}
        <div class="row" id="pagination-row">
            <div class="col">
                {% if is_paginated %}
                    {% load proper_paginate %}
                    {% load url_replace %}
                    <ul class="pagination">
                        {# Pagination links #}
                        {% if page_obj.number == 1 %}
                            <li class="page-item disabled"><span class="page-link">⇤</span></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?{% url_replace request 'page' 1 %}">⇤</a></li>
                        {% endif %}
                        {% if page_obj.has_previous %}
                            <li class="page-item"><a class="page-link" href="?{% url_replace request 'page' page_obj.previous_page_number %}">&laquo;</a></li>
                        {% else %}
                            <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
                        {% endif %}
                        {% for i in paginator|proper_paginate:page_obj.number %}
                            {% if page_obj.number == i %}
                                <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="?{% url_replace request 'page' i %}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                            <li class="page-item"><a class="page-link" href="?{% url_replace request 'page' page_obj.next_page_number %}">&raquo;</a></li>
                        {% else %}
                            <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
                        {% endif %}
                        {% if page_obj.number == paginator.num_pages %}
                            <li class="page-item disabled"><span class="page-link">⇥</span></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?{% url_replace request 'page' paginator.num_pages %}">⇥</a></li>
                        {% endif %}
                    </ul>
                {% endif %}
                {% if object_list %}
                    {% if object_count %}<div>Found {{ object_count }} records</div>{% endif %}
                {% endif %}
            </div>
        </div>
    {% endblock pagination_row %}
    
    {# Data entries table #}
    {% if object_list %}
    <div class="row mt-3">
        <div class="col">
            <table class="table table-striped table-bordered table-sm table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Saved Observation</th>
                        <th>Observation date</th>
                        <th>Turtle ID</th>
                        <th>Recapture Tags</th>
                        <th>New Tags</th>
                        <th>System Message</th>
                        <th>Enterer</th>
                        <th>Needs Review</th>
                        <th>Comments</th>
                        <th>Delete</th>
                    </tr>
                </thead>

                <tbody>
                    {% for obj in object_list %}
                    <tr class="{% if obj.highlight_row %}highlight-row{% endif %}">
                        <td><a href="{% url 'wamtram2:trtdataentry' obj.data_entry_id %}">{{ obj.data_entry_id }}</a></td>
                        <td>{% if obj.observation_id %}<a href="{% url 'wamtram2:observationdetail' pk=obj.observation_id.pk %}">{{ obj.observation_id.pk }}</a>{% endif %}</td>                     
                        <td>{{ obj.observation_date|date:"j M Y" }} {{ obj.observation_time|date:"H:i" }}</td>
                        <td>{% if obj.turtle_id %}<a href="{% url 'wamtram2:turtle_detail' obj.turtle_id %}">{{obj.turtle_id}}</a>{% endif %}</td>
                        <td>
                            {% if obj.recapture_left_tag_id %}{{ obj.recapture_left_tag_id }} {% endif %}
                            {% if obj.recapture_left_tag_id_2 %}{{ obj.recapture_left_tag_id_2 }} {% endif %}
                            {% if obj.recapture_left_tag_id_3 %}{{ obj.recapture_left_tag_id_3 }} {% endif %}
                            {% if obj.recapture_right_tag_id %}{{ obj.recapture_right_tag_id }} {% endif %}
                            {% if obj.recapture_right_tag_id_2 %}{{ obj.recapture_right_tag_id_2 }} {% endif %}
                            {% if obj.recapture_right_tag_id_3 %}{{ obj.recapture_right_tag_id_3 }} {% endif %}
                            {% if obj.recapture_pittag_id %}{{ obj.recapture_pittag_id }} {% endif %}
                            {% if obj.recapture_pittag_id_2 %}{{ obj.recapture_pittag_id_2 }} {% endif %}
                        </td>
                        <td>
                            {% if obj.new_left_tag_id %}{{ obj.new_left_tag_id }} {% endif %}
                            {% if obj.new_left_tag_id_2 %}{{ obj.new_left_tag_id_2 }} {% endif %}
                            {% if obj.new_right_tag_id %}{{ obj.new_right_tag_id }} {% endif %}
                            {% if obj.new_right_tag_id_2 %}{{ obj.new_right_tag_id_2 }} {% endif %}
                            {% if obj.new_pittag_id %}{{ obj.new_pittag_id }} {% endif %}
                            {% if obj.new_pittag_id_2 %}{{ obj.new_pittag_id_2 }} {% endif %}
                        </td> 
                        <td>{{ obj.error_message }}</td>
                        <td>
                            {% if obj.entered_by_id %}
                                {% with persons|get:obj.entered_by_id as person %}
                                    {% if person %}
                                        {{ person.first_name }} {{ person.surname }}
                                    {% else %}
                                        {{ obj.entered_by }}
                                    {% endif %}
                                {% endwith %}
                            {% elif obj.entered_by %}
                                {{ obj.entered_by }}
                            {% else %}
                                <p>No Enterer Assigned</p>
                            {% endif %}
                        </td>
                        <td>{% if obj.do_not_process %}Yes{% else %}No{% endif %}</td>
                        <td>{{ obj.comments }}</td>
                        <td>
                            {% if obj.observation_id %}
                                <button type="button" class="btn btn-secondary btn-sm" disabled>Cannot Delete</button>
                            {% else %}
                                <button type="button" class="btn btn-danger btn-sm delete-entry-btn" data-toggle="modal" data-target="#entryDeleteConfirmationModal" data-entry-id="{{ obj.data_entry_id }}" data-url="{% url 'wamtram2:delete_entry' pk=obj.data_entry_id batch_id=batch.entry_batch_id %}">Delete</button>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                
            </table>
        </div>
    </div>
    {% else %}
        <div class="row mt-3">
            <div class="col">
                <p>No data entries found.</p>
            </div>
        </div>
    {% endif %}

    <!-- Loading spinner -->
    <div class="loading-spinner">
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <!-- Danger zone -->
    {% if user.is_superuser %}
    <div class="danger-zone">
        <div class="danger-zone-header">Danger Zone</div>
        {% comment %} <span style="font-size: 1.0em; color: #fc8b95;">(only super user can see)</span> {% endcomment %}
        <p>Deleting this batch cannot be undone. This will permanently delete the batch and all its associated data.</p>
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteConfirmationModal">Delete Batch</button>
    </div>
    {% endif %}

    <!-- Batch Delete Modal -->
    <div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteConfirmationModalLabel">Confirm Deletion</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete Batch {{ batch.entry_batch_id }}?</p>
                    <p>To confirm, type <strong>I confirm to delete batch {{ batch.entry_batch_id }}</strong> below:</p>
                    <input type="text" id="deleteConfirmationInput" class="form-control" placeholder="Type the confirmation text here">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger" id="confirmDeleteButton" disabled>Delete</button>
                </div>
                <form id="deleteBatchForm" action="{% url 'wamtram2:delete_batch' batch_id=batch.entry_batch_id %}" method="post" style="display:none;">
                    {% csrf_token %}
                </form>
            </div>
        </div>
    </div>

    <!-- Entry Delete Modal -->
    <div class="modal fade" id="entryDeleteConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="entryDeleteConfirmationModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="entryDeleteConfirmationModalLabel">Confirm Deletion</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete Entry <span id="entryIdToDelete"></span>?</p>
                    <p>To confirm, type <strong>I confirm to delete entry <span id="entryIdToDeleteText"></span></strong> below:</p>
                    <input type="text" id="entryDeleteConfirmationInput" class="form-control" placeholder="Type the confirmation text here">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger" id="confirmEntryDeleteButton" disabled>Delete</button>
                </div>
                <form id="deleteEntryForm" method="post" style="display:none;">
                    {% csrf_token %}
                </form>
            </div>
        </div>
    </div>

    <!-- Custom Confirmation Modal -->
    <div class="modal fade" id="customConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="customConfirmationModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="customConfirmationModalLabel">Confirm Action</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to add this batch?<br>
                    Once the observations are added you will not be able to edit them.<br>
                    Observations that have already been added will not be processed.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="confirmActionBtn">OK</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Loading Overlay -->
    <div class="loading-overlay"></div>

{% endblock page_content_inner %}

{% block extra_js %}
{{ block.super }}
<script>
    // Get the URL for adding a new person in the admin page
    var adminUrl = "{% url 'admin:wamtram2_trtpersons_add' %}";
    var batchId = "{{ batch.entry_batch_id }}";
    var defaultEnterer = "{{ default_enterer_value }}";
    
    document.addEventListener('DOMContentLoaded', function() {
        // Get necessary DOM elements
        const form = document.getElementById('batchDetailsForm');
        const submitButton = form.querySelector('button[type="submit"]');
        const templateSelector = document.getElementById('templateSelector');
        const setDefaultEnterer = document.getElementById('setDefaultEnterer');
        const createEntryBtn = document.getElementById('createEntryBtn');
        const saveBatchDetailsBtn = document.getElementById('saveBatchDetailsBtn');
        const enteredPersonId = document.getElementById('id_entered_person_id');
        const paginationLinks = document.querySelectorAll('.pagination a');

        // Delay execution to ensure DOM elements are fully loaded
        setTimeout(function() {
            // Set default value if entered person ID and default enterer option exist
            if (enteredPersonId && setDefaultEnterer.checked && defaultEnterer) {
                enteredPersonId.value = defaultEnterer;
                $(enteredPersonId).trigger('change'); // Trigger change event to update UI
            }
        }, 200);

        // Form submission event handler
        if (form) {
            form.addEventListener('submit', function(e) {
                e.preventDefault();
                saveBatchDetailsBtn.disabled = true;

                // Create and add hidden template input field
                const templateInput = document.createElement('input');
                templateInput.type = 'hidden';
                templateInput.name = 'selected_template';
                templateInput.value = templateSelector.value;
                form.appendChild(templateInput);

                // Create and add hidden default enterer option field
                const defaultEntererInput = document.createElement('input');
                defaultEntererInput.type = 'hidden';
                defaultEntererInput.name = 'use_default_enterer';
                defaultEntererInput.value = setDefaultEnterer.checked;
                form.appendChild(defaultEntererInput);
                
                if (enteredPersonId.value) {
                    showLoadingSpinner();
                    form.submit();
                } else {
                    alert('Please select an enterer or add some new comments.');
                }

            });
        }

        // Function to update cookies data
        function updateCookies() {
            const selectedTemplate = templateSelector.value;
            const useDefaultEnterer = setDefaultEnterer.checked;
            const defaultEnterer = useDefaultEnterer ? enteredPersonId.value : "None";

            document.cookie = `${batchId}_selected_template=${selectedTemplate};path=/;max-age=63072000`;
            document.cookie = `${batchId}_use_default_enterer=${useDefaultEnterer};path=/;max-age=63072000`;
            document.cookie = `${batchId}_default_enterer=${defaultEnterer};path=/;max-age=63072000`;

            console.log('Updating cookies with:', {
                batch_id: batchId,
                selected_template: selectedTemplate,
                use_default_enterer: useDefaultEnterer,
                default_enterer: defaultEnterer
            });
        }

        // Add event listeners for cookies update
        if (templateSelector) templateSelector.addEventListener('change', updateCookies);
        if (setDefaultEnterer) setDefaultEnterer.addEventListener('change', updateCookies);
        if (enteredPersonId) enteredPersonId.addEventListener('change', updateCookies);

        // Create entry button click event handler
        if (createEntryBtn) {
            createEntryBtn.addEventListener('click', function(e) {
                e.preventDefault();
                console.log('Create entry button clicked');
                updateCookies();
                createEntryBtn.disabled = true;
                // Short delay before navigation to ensure cookies update is complete
                setTimeout(() => {
                    console.log('Navigating to:', this.href);
                    showLoadingSpinner();
                    window.location.href = this.href;
                }, 100);
            });
        }

        // Entry delete confirmation modal logic
        const entryDeleteConfirmationInput = document.getElementById('entryDeleteConfirmationInput');
        const confirmEntryDeleteButton = document.getElementById('confirmEntryDeleteButton');
        let entryIdToDelete;
        let deleteUrl;

        document.querySelectorAll('.delete-entry-btn').forEach(button => {
            button.addEventListener('click', function() {
                entryIdToDelete = this.getAttribute('data-entry-id');
                deleteUrl = this.getAttribute('data-url');
                document.getElementById('entryIdToDelete').innerText = entryIdToDelete;
                document.getElementById('entryIdToDeleteText').innerText = entryIdToDelete;
            });
        });

        entryDeleteConfirmationInput.addEventListener('input', function() {
            const confirmationText = `I confirm to delete entry ${entryIdToDelete}`;
            if (entryDeleteConfirmationInput.value === confirmationText) {
                confirmEntryDeleteButton.removeAttribute('disabled');
            } else {
                confirmEntryDeleteButton.setAttribute('disabled', 'disabled');
            }
        });

        confirmEntryDeleteButton.addEventListener('click', function() {
            showLoadingSpinner();
            const form = document.createElement('form');
            form.method = 'post';
            form.action = deleteUrl;
            const csrfToken = document.querySelector('input[name="csrfmiddlewaretoken"]').value;
            form.innerHTML = `<input type="hidden" name="csrfmiddlewaretoken" value="${csrfToken}">`;
            document.body.appendChild(form);
            form.submit();
        });

        // Delete batch confirmation modal logic
        const deleteConfirmationInput = document.getElementById('deleteConfirmationInput');
        const confirmDeleteButton = document.getElementById('confirmDeleteButton');
        const deleteBatchId = "{{ batch.entry_batch_id }}";
        const confirmationText = `I confirm to delete batch ${deleteBatchId}`;

        deleteConfirmationInput.addEventListener('input', function() {
            if (deleteConfirmationInput.value === confirmationText) {
                confirmDeleteButton.removeAttribute('disabled');
            } else {
                confirmDeleteButton.setAttribute('disabled', 'disabled');
            }
        });

        confirmDeleteButton.addEventListener('click', function() {
            showLoadingSpinner();
            document.getElementById('deleteBatchForm').submit();
        });

        // Search functionality for entered_person_id
        const searchField = document.getElementById('search_entered_person_id');
        const resultsContainer = searchField.nextElementSibling.nextElementSibling;

        searchField.addEventListener('input', debounce(function() {
            const query = this.value;
            if (query.length > 2) {
                fetch(`/wamtram2/search-persons/?q=${encodeURIComponent(query)}`)
                    .then(response => response.json())
                    .then(data => {
                        console.log('Search results:', data);
                        if (data.length > 0) {
                            resultsContainer.innerHTML = '';
                            resultsContainer.style.display = 'block';
                            data.forEach(person => {
                                const div = document.createElement('div');
                                div.textContent = `${person.first_name} ${person.surname}`;
                                div.className = 'search-result';
                                div.onclick = function() {
                                    searchField.value = div.textContent;
                                    enteredPersonId.value = person.person_id;
                                    resultsContainer.style.display = 'none';
                                    console.log(`Selected person ID: ${enteredPersonId.value}`);
                                };
                                resultsContainer.appendChild(div);
                            });
                        } else {
                            resultsContainer.innerHTML = '<div class="search-result">No data found</div>';
                            resultsContainer.style.display = 'block';
                        }
                    })
                    .catch(error => {
                        console.error('Error fetching search results:', error);
                    });
            } else {
                resultsContainer.style.display = 'none';
            }
        }, 300));

        document.addEventListener('click', function(e) {
            if (!searchField.contains(e.target) && !resultsContainer.contains(e.target)) {
                resultsContainer.style.display = 'none';
            }
        });

        function debounce(func, wait) {
            let timeout;
            return function(...args) {
                clearTimeout(timeout);
                timeout = setTimeout(() => func.apply(this, args), wait);
            };
        }
    });

// Show loading spinner
function showLoadingSpinner() {
    const loadingSpinner = document.querySelector('.loading-spinner');
    if (loadingSpinner) {
        loadingSpinner.style.display = 'block';
    }
}

// Hide loading spinner
function hideLoadingSpinner() {
    const loadingSpinner = document.querySelector('.loading-spinner');
    if (loadingSpinner) {
        loadingSpinner.style.display = 'none';
    }
}

// Show loading spinner and overlay
function showLoadingOverlay() {
    const overlay = document.querySelector('.loading-overlay');
    const spinner = document.querySelector('.loading-spinner');

    if (overlay) {
        overlay.style.display = 'block'; // Show the overlay
    }

    if (spinner) {
        spinner.style.display = 'block'; // Show the loading spinner
    }
}

// Hide loading spinner and overlay
function hideLoadingOverlay() {
    const overlay = document.querySelector('.loading-overlay');
    const spinner = document.querySelector('.loading-spinner');

    if (overlay) {
        overlay.style.display = 'none'; // Hide the overlay
    }

    if (spinner) {
        spinner.style.display = 'none'; // Hide the loading spinner
    }
}

// Filter select change event handler
document.querySelector('select[name="filter"]').addEventListener('change', function() {
    showLoadingOverlay();
    this.form.submit();
});

// Hide loading spinner on page load
window.addEventListener('load', function() {
    hideLoadingOverlay();
    setTimeout(function() {
        hideLoadingOverlay();
        hideLoadingSpinner();
    }, 500);
});

window.addEventListener('pageshow', function(event) {
    if (event.persisted || (window.performance && window.performance.navigation.type === 2)) {
        hideLoadingSpinner();
        window.location.reload();
    }
});

document.addEventListener('DOMContentLoaded', function() {
    const addToDatabaseBtn = document.getElementById('processBtn');
    const confirmActionBtn = document.getElementById('confirmActionBtn');
    const paginationLinks = document.querySelectorAll('.pagination a');
    const customConfirmationModal = new bootstrap.Modal(document.getElementById('customConfirmationModal'), {
        backdrop: 'static',
        keyboard: false
    });

    if (addToDatabaseBtn) {
        addToDatabaseBtn.addEventListener('click', function(event) {
            event.preventDefault(); // Prevent the default action
            customConfirmationModal.show(); // Show the custom confirmation modal
        });
    }

    if (confirmActionBtn) {
        confirmActionBtn.addEventListener('click', function() {
            customConfirmationModal.hide(); // Hide the modal
            showLoadingOverlay(); // Show the loading overlay and spinner
            window.location.href = addToDatabaseBtn.href; // Proceed with the original action
        });
    }

    // Handle pagination links click event
    paginationLinks.forEach(link => {
        link.addEventListener('click', function(event) {
            event.preventDefault(); // Prevent default action
            showLoadingOverlay(); // Show loading overlay and spinner
            window.location.href = this.href; // Proceed with navigation after showing the overlay
        });
    });
});


</script>

{% endblock %}
