{% extends "base_wastd.html" %}
{% load static %}
{% load dict_filter %}

{% block extra_style %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'css/disabled_btn.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/loading_spinner.css' %}">
<style>
    .highlight-row {
        background-color: #f8d7da !important;
    }
</style>
{% endblock %}

{% block breadcrumbs %}
<!-- Breadcrumb Navigation -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    </ol>
</nav>
{% endblock %}

{% block page_content_inner %}
{% block pagination_row %}
<!-- Pagination Row -->
<div class="row" id="pagination-row">
    <div class="col">
        {% if is_paginated %}
            {% load proper_paginate %}
            {% load url_replace %}
            <ul class="pagination">
                {% if page_obj.number == 1 %}
                    <li class="page-item disabled"><span class="page-link">⇤</span></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?{% url_replace request 'page' 1 %}">⇤</a></li>
                {% endif %}
                {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?{% url_replace request 'page' page_obj.previous_page_number %}">&laquo;</a></li>
                {% else %}
                    <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
                {% endif %}
                {% for i in paginator|proper_paginate:page_obj.number %}
                    {% if page_obj.number == i %}
                        <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?{% url_replace request 'page' i %}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?{% url_replace request 'page' page_obj.next_page_number %}">&raquo;</a></li>
                {% else %}
                    <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
                {% endif %}
                {% if page_obj.number == paginator.num_pages %}
                    <li class="page-item disabled"><span class="page-link">⇥</span></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?{% url_replace request 'page' paginator.num_pages %}">⇥</a></li>
                {% endif %}
            </ul>
        {% endif %}
        
        {% if object_list %}
            {% if object_count %}<div>Found {{ object_count }} records</div>{% endif %}
        {% endif %}
    </div>
</div>
{% endblock pagination_row %}

<!-- Action and Filter Section -->
<div class="d-flex justify-content-between align-items-center">
    <a href="{% url 'wamtram2:new_batch_detail' %}" class="btn btn-primary" id="createNewBatchBtn">Create a new entry batch</a>
    <form method="get" class="form-inline">
        <div class="form-group">
            <label class="mr-1" for="filter">Filter</label>
            <select name="filter" class="form-control" onchange="this.form.submit()">
                <option value="">All</option>
                <option value="no_observation_id" {% if request.GET.filter == "no_observation_id" %}selected{% endif %}>Has unprocessed observations</option>
            </select>
        </div>
    </form>
</div>

<!-- Entry Batch List Table -->
{% if object_list %}
<div class="row mt-3">
    <div class="col">
        <table class="table table-striped table-bordered table-sm table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Date Entered</th>
                    <th>Place</th>
                    <th>Enterer</th>
                    <th># of Records</th>
                    <th># of Flagged Records</th>
                    <th>Comments</th>
                </tr>
            </thead>
            <tbody>
                {% for batch in object_list %}
                <tr class="{% if batch.highlight_row %}highlight-row{% endif %}">
                    <script>
                        console.log("Batch ID: {{ batch.pk }}, Highlight: {{ batch.highlight_row }}");
                    </script>
                    <td>
                        {% if request.GET.filter == "no_observation_id" %}
                            <a href="{% url 'wamtram2:entry_batch_detail' batch.pk %}?filter=no_observation_id">
                        {% else %}
                            <a href="{% url 'wamtram2:entry_batch_detail' batch.pk %}">
                        {% endif %}
                            {{ batch.pk }}
                        </a>
                    </td>
                    <td>{{ batch.entry_date|date:"j M Y" }}</td>
                    
                    <td>{{ batch.entered_person_id }}</td>
                    <td>
                        {% if obj.last_place_code_obj %}
                            {{ obj.last_place_code_obj.get_full_name }}
                        {% else %}
                            {{ obj.last_place_code }}
                        {% endif %}
                    </td>
                    <td>{{ batch.entry_count }}</td>
                    <td>{{ batch.do_not_process_count }}</td>
                    <td>{{ batch.comments }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}



<!-- Loading spinner -->
<div class="loading-spinner">
    <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

{% endblock page_content_inner %}

{% block extra_js %}
{{ block.super }}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        let link = document.querySelector("#createNewBatchBtn");

        function showLoadingSpinner() {
            const loadingSpinner = document.querySelector('.loading-spinner');
            if (loadingSpinner) {
                loadingSpinner.style.display = 'block';
            }
        }
    
        function hideLoadingSpinner() {
            const loadingSpinner = document.querySelector('.loading-spinner');
            if (loadingSpinner) {
                loadingSpinner.style.display = 'none';
            }
        }
        
        function initializeLoadingSpinner() {
            hideLoadingSpinner();
        }
    
        window.addEventListener('load', hideLoadingSpinner);
        initializeLoadingSpinner();

        function clickAndDisable(e) {
            let target = e.currentTarget;
            target.onclick = null;
            target.style.pointerEvents = "none";
            target.classList.remove('btn-primary');
            target.classList.add('btn-secondary');
            target.disabled = true;
            link.removeEventListener("click", clickAndDisable);
            console.log("Clicked");

            showLoadingSpinner();
            console.log("Loading spinner shown");
    
            // Navigate to the link
            window.location.href = target.href;
        }
    
        link.addEventListener("click", clickAndDisable);
    
        // Auto-refresh page when user navigates back
        window.addEventListener('pageshow', function(event) {
            if (event.persisted || (window.performance && window.performance.navigation.type === 2)) {
                window.location.reload();
                hideLoadingSpinner();
            }
        });
    });
</script>
{% endblock %}
