{% extends "base_wastd.html" %}

{% block page_content_inner %}
<!-- Search bar -->
<div class="row">
    <div class="col-xs-12 col-sm-6">
        <form action="" method="get">
            <input id="search_field" type="text" class="form-control" name="q" placeholder="Search turtles (ID, tags, name, etc.)" value="{{ query_string }}">
        </form>
    </div>
</div>

{% block pagination_row %}
<div class="row" id="pagination-row">
  <div class="col">
  {% if is_paginated %}
    {% load proper_paginate %}
    {% load url_replace %}
    <ul class="pagination">
        {% if page_obj.number == 1 %}
            <li class="page-item disabled"><span class="page-link">⇤</span></li>
        {% else %}
            <li class="page-item"><a class="page-link" href="?{% url_replace request 'page' 1 %}">⇤</a></li>
        {% endif %}
        {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?{% url_replace request 'page' page_obj.previous_page_number %}">&laquo;</a></li>
        {% else %}
            <li class="page-item disabled""><span class="page-link">&laquo;</span></li>
        {% endif %}
        {% for i in paginator|proper_paginate:page_obj.number %}
            {% if page_obj.number == i %}
                <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="?{% url_replace request 'page' i %}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?{% url_replace request 'page' page_obj.next_page_number %}">&raquo;</a></li>
        {% else %}
            <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
        {% endif %}
        {% if page_obj.number == paginator.num_pages %}
            <li class="page-item disabled"><span class="page-link">⇥</span></li>
        {% else %}
            <li class="page-item"><a class="page-link" href="?{% url_replace request 'page' paginator.num_pages %}">⇥</a></li>
        {% endif %}
    </ul>
{% endif %}
   
    {% if object_list %}

        {% if object_count %}<div>Found {{ object_count }} records</div>{% endif %}
        
    {% endif %}
    </div>
</div>
{% endblock pagination_row %}

{% if object_list %}
<div class="row">
  <div class="col">
    <table class="table table-striped table-bordered table-sm table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Date Entered</th>
                <th>Species</th>
                <th>Sex</th>
                <th>Tags</th>
                {% comment %}
                <th>Observation count</th>
                <th>Most recent observation</th>
                <th>Most recent site</th>
                {% endcomment %}
            </tr>
        </thead>
        <tbody>
            {% for obj in object_list %}
            <tr>
                <td><a href="{% url 'wamtram2:turtle_detail' obj.pk %}">{{ obj.pk }}</a></td>
                <td>{{ obj.turtle_name|default_if_none:"" }}</td>
                <td>{{ obj.date_entered|date:"j M Y" }}</td>
                <td>{{ obj.species_code }}</td>
                <td>{{ obj.sex}}</td>
                <td>{{ obj.get_tags_description }}</td>
                {% comment %}
                <td>{{ obj.get_tag_observations.count }}</td>
                <td>{{ obj.get_newest_encounter.when|date:"D, j M Y H:i"|default_if_none:"" }}</td>
                <td>{{ obj.get_newest_site|default_if_none:"" }}</td>
                {% endcomment %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>
</div>
{% endif %}


{% endblock page_content_inner %}

