{% extends "base_wastd.html" %}
{% load group_filters %}
{% load perth_time_filters %}


{% block breadcrumbs %}
<!-- Breadcrumb Navigation -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'wamtram2:turtle_list' %}">Turtles</a></li>
        <li class="breadcrumb-item active">{{ object.pk }}</li>
    </ol>
</nav>
{% endblock %}

{% block page_content_inner %}
<div class="row">
    <div class="col-xs-12 col-sm-6">
        <h2>Tagged turtle ID {{ object.pk }}</h2>
    </div>
    {% if request.user.is_superuser %}
    <div class="col-xs-12 col-sm-6 d-flex justify-content-end">
        <a href="{% url 'wamtram2:export_turtle_word' pk=object.pk %}" class="btn btn-primary">
            <i class="fas fa-file-word"></i> Export to Word
        </a>
    </div>
    {% endif %}
</div>

<!-- Turtle Details Table -->
<div class="row">
    <div class="col-sm-12 col-md-8">
        <table class="table table-striped table-bordered table-sm">
            <tbody>
                <tr>
                    <th>Date created</th>
                    <td>{{ object.date_entered|date:"j M Y" }}</td>
                </tr>
                <tr>
                    <th>Species</th>
                    <td>{{ object.species_code }}</td>
                </tr>
                <tr>
                    <th>Sex</th>
                    <td>{{ object.sex|default_if_none:"Unknown" }}</td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td>{{ object.turtle_name|default_if_none:"" }}</td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td>{{ object.turtle_status }}</td>
                </tr>
                <tr>
                    <th>Cause of death</th>
                    <td>{{ object.cause_of_death }}</td>
                </tr>
                <tr>
                    <th>Comments</th>
                    <td>{{ object.comments|default_if_none:"" }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% if request.user.is_superuser or request.user|has_group:"WAMTRAM2_STAFF" %}
    <!-- Tags Section -->
    <div class="row">
        <div class="col">
            <h3>Tags</h3>
        </div>
    </div>
    {% if tags or pittags %}
    <div class="row">
        <div class="col">
            <table class="table table-striped table-bordered table-sm">
                <thead>
                    <tr>
                        <th>Tag type</th>
                        <th>Serial</th>
                        <th>Side</th>
                        <th>Comments</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tag in tags %}
                    <tr>
                        <td>Flipper</td>
                        <td>{{ tag.tag_id }}</td>
                        <td>{{ tag.side|default_if_none:"" }}</td>
                        <td>{{ tag.comments|default_if_none:"" }}</td>
                    </tr>
                    {% endfor %}
                    {% for tag in pittags %}
                    <tr>
                        <td>PIT</td>
                        <td>{{ tag.pittag_id }}</td>
                        <td>{{ tag.pit_tag_position|default_if_none:"" }}</td>
                        <td>{{ tag.comments|default_if_none:"" }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% else %}
    <p>None recorded</p>
    {% endif %}
{% endif %}

{% if request.user.is_superuser or request.user|has_group:"WAMTRAM2_STAFF" %}
    <!-- Other Identifications Section -->
    <h3>Other Identifications</h3>
    {% if identifications.exists %}
    <div class="row">
        <div class="col">
            <table class="table table-sm table-bordered">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Identifier</th>
                        <th>Comments</th>
                    </tr>
                </thead>
                <tbody>
                    {% for identification in identifications %}
                    <tr>
                        <td>{{ identification.identification_type }}</td>
                        <td>{{ identification.identifier }}</td>
                        <td>{{ identification.comments|default_if_none:"" }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% else %}
    <p>No other identifications recorded</p>
    {% endif %}
{% endif %}


<!-- Observations Section -->
<h3>Observations</h3>
{% if observations_data %}
<div class="row">
    <div class="col">
        {% for obs_data in observations_data %}
        <div class="card mb-3">
            <div class="card-header">
                <h5 class="mb-0">
                    {% if request.user.is_superuser or request.user|has_group:"WAMTRAM2_STAFF" %}
                        <a href="{% url 'wamtram2:observationdetail' pk=obs_data.observation.observation_id %}">
                            Observation on {{ obs_data.observation.observation_date|perth_time|date:"j M Y H:i" }}
                        </a>
                    {% else %}
                        Observation on {{ obs_data.observation.observation_date|perth_time|date:"j M Y H:i" }}
                    {% endif %}
                </h5>
            </div>
            <div class="card-body">
                <!-- Observation details -->
                <div class="row mb-3">
                    <div class="col-md-3"><strong>Reporter:</strong> {{ obs_data.observation.reporter_person }}</div>
                    <div class="col-md-3"><strong>Measurer:</strong> {{ obs_data.observation.measurer_person }}</div>
                    <div class="col-md-6"><strong>Site:</strong> {{ obs_data.observation.place_code.get_full_name }}</div>
                </div>

                {% if request.user.is_superuser or request.user|has_group:"WAMTRAM2_STAFF" %}
                    <!-- Tags -->
                    {% if obs_data.tags or obs_data.pittags %}
                    <div class="mb-3">
                        <h6>Tags recorded in this observation:</h6>
                        <table class="table table-sm table-bordered">
                            <thead>
                                <tr>
                                    <th>Tag Type</th>
                                    <th>Tag ID</th>
                                    <th>Position/Side</th>
                                    <th>Comments</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for tag in obs_data.tags %}
                                <tr>
                                    <td>Flipper</td>
                                    <td>{{ tag.tag_id }}</td>
                                    <td>{{ tag.side|default_if_none:"" }}</td>
                                    <td>{{ tag.comments|default_if_none:"" }}</td>
                                </tr>
                                {% endfor %}
                                {% for tag in obs_data.pittags %}
                                <tr>
                                    <td>PIT</td>
                                    <td>{{ tag.pittag_id }}</td>
                                    <td>{{ tag.pit_tag_position|default_if_none:"" }}</td>
                                    <td>{{ tag.comments|default_if_none:"" }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% endif %}

                    <!-- Measurements -->
                    {% if obs_data.measurements %}
                    <div class="mb-3">
                        <h6>Measurements:</h6>
                        <table class="table table-sm table-bordered">
                            <thead>
                                <tr>
                                    <th  style="width: 30%">Measurement</th>
                                    <th  style="width: 30%">Value</th>
                                    <th  style="width: 40%">Comments</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for measurement in obs_data.measurements %}
                                <tr>
                                    <td style="width: 30%">{{ measurement.measurement_type }}</td>
                                    <td style="width: 30%">{{ measurement.measurement_value }}</td>
                                    <td style="width: 40%">{{ measurement.comments|default_if_none:"" }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% else %}
<p>No observations recorded</p>
{% endif %}

{% if request.user.is_superuser or request.user|has_group:"WAMTRAM2_STAFF" %}
    <!-- Samples Section -->
    <h3>Samples</h3>
    {% if samples %}
    <div class="row">
        <div class="col">
            <table class="table table-sm table-bordered">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Tissue Type</th>
                        <th>Label</th>
                        <th>Comments</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sample in samples %}
                    <tr>
                        <td>{{ sample.sample_date|date:"j M Y"|default_if_none:"" }}</td>
                        <td>{{ sample.tissue_type }}</td>
                        <td>{{ sample.sample_label|default_if_none:"" }}</td>
                        <td>{{ sample.comments|default_if_none:"" }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% else %}
    <p>No samples recorded</p>
    {% endif %}
{% endif %}



{% endblock page_content_inner %}
