{% extends "base_wastd.html" %}
{% load group_filters %}

{% block breadcrumbs %}
<!-- Breadcrumb Navigation -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'wamtram2:turtle_list' %}">Turtles</a></li>
        <li class="breadcrumb-item active">{{ object.pk }}</li>
    </ol>
</nav>
{% endblock %}

{% block page_content_inner %}
<div class="row">
    <div class="col-xs-12 col-sm-6">
        <h2>Tagged turtle ID {{ object.pk }}</h2>
    </div>
</div>

<!-- Turtle Details Table -->
<div class="row">
    <div class="col-sm-12 col-md-8">
        <table class="table table-striped table-bordered table-sm">
            <tbody>
                <tr>
                    <th>Date created</th>
                    <td>{{ object.date_entered|date:"j M Y" }}</td>
                </tr>
                <tr>
                    <th>Entered by</th>
                    <td>{{ object.entered_by|default_if_none:"" }}</td>
                </tr>
                <tr>
                    <th>Species</th>
                    <td>{{ object.species_code }}</td>
                </tr>
                <tr>
                    <th>Sex</th>
                    <td>{{ object.sex|default_if_none:"Unknown" }}</td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td>{{ object.turtle_name|default_if_none:"" }}</td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td>{{ object.turtle_status }}</td>
                </tr>
                <tr>
                    <th>Cause of death</th>
                    <td>{{ object.cause_of_death }}</td>
                </tr>
                <tr>
                    <th>Comments</th>
                    <td>{{ object.comments|default_if_none:"" }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% if request.user.is_superuser or request.user|has_group:"WAMTRAM2_STAFF" or request.user|has_group:"WAMTRAM2_TEAM_LEADER" %}
    <!-- Tags Section -->
    <div class="row">
        <div class="col">
            <h3>Tags</h3>
        </div>
    </div>
    {% if tags or pittags %}
    <div class="row">
        <div class="col">
            <table class="table table-striped table-bordered table-sm">
                <thead>
                    <tr>
                        <th>Tag type</th>
                        <th>Serial</th>
                        <th>Side</th>
                        <th>Comments</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tag in tags %}
                    <tr>
                        <td>Flipper</td>
                        <td>{{ tag.tag_id }}</td>
                        <td>{{ tag.side|default_if_none:"" }}</td>
                        <td>{{ tag.comments|default_if_none:"" }}</td>
                    </tr>
                    {% endfor %}
                    {% for tag in pittags %}
                    <tr>
                        <td>PIT</td>
                        <td>{{ tag.pittag_id }}</td>
                        <td>{{ tag.pit_tag_position|default_if_none:"" }}</td>
                        <td>{{ tag.comments|default_if_none:"" }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% else %}
    <p>None recorded</p>
    {% endif %}
{% endif %}

<!-- Observations Section -->
<h3>Observations</h3>
{% if observations %}
<div class="row">
    <div class="col">
        <table class="table table-striped table-bordered table-sm">
            <thead>
                <tr>
                    <th>Date & time</th>
                    <th>Reporter</th>
                    <th>Measurer</th>
                    <th>Site</th>
                </tr>
            </thead>
            <tbody>
                {% for observation in observations %}
                <tr>
                    <td>
                        {% if request.user.is_superuser or request.user|has_group:"WAMTRAM2_STAFF" or request.user|has_group:"WAMTRAM2_TEAM_LEADER" %}
                            <a href="{% url 'wamtram2:observationdetail' pk=observation.observation_id %}">{{ observation.observation_date|date:"j M Y" }} {{ observation.observation_time|date:"H:i" }}</a>
                        {% else %}
                            {{ observation.observation_date|date:"j M Y" }} {{ observation.observation_time|date:"H:i" }}
                        {% endif %}
                        </td>
                    <td>{{ observation.reporter_person }}</td>
                    <td>{{ observation.measurer_person }}</td>
                    <td>{{ observation.place_code }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% else %}
<p>None recorded</p>
{% endif %}

{% endblock page_content_inner %}
