{% extends "observations/encounter_detail.html" %}
{% load leaflet_tags geojson_tags static observations %}

{% block heading %}
{{ object.get_taxon_display }} - {{ object.get_species_display }}
{% if object.sighting_status != 'na' %}
{{ object.get_sighting_status_display }}
{% endif %}
{% endblock heading %}

{% block title_labels %}
{% if object.nesting_event != 'na' %}
<span class="badge badge-{{ object.nesting_event|obs_colour }}"
  title="Nesting success: {{ object.get_nesting_event_display|capfirst }}, disturbance during nesting: {{ object.get_nesting_disturbed_display }}">lay</span>
{% endif %}
{% if object.checked_for_injuries != 'na' %}
<span class="badge badge-{{ object.checked_for_injuries|obs_colour }}"
  title="Injuries: {{ object.get_checked_for_injuries_display }}">inj</span>
{% endif %}
{% if object.scanned_for_pit_tags != 'na' %}
<span class="badge badge-{{ object.scanned_for_pit_tags|obs_colour }}"
  title="PIT Tags: {{ object.get_scanned_for_pit_tags_display }}">pit</span>
{% endif %}
{% if object.checked_for_flipper_tags != 'na' %}
<span class="badge badge-{{ object.checked_for_flipper_tags|obs_colour }}"
  title="Flipper tags: {{ object.get_checked_for_flipper_tags_display }}">tag</span>
{% endif %}
{% if object.nesting_event != 'na' %}
<span class="badge badge-{{ object.nesting_event|obs_colour }}"
  title="Nesting: {{ object.get_nesting_event_display }}">nst</span>
{% endif %}
{% if object.laparoscopy %}
<span class="badge badge-{{ object.laparoscopy|obs_colour }}"
  title="Laparoscopy: {{ object.get_laparoscopy_display }}">lap</span>
{% endif %}
{% endblock title_labels %}

{% block extra_encounter_details %}
<tr>
    <th>
        Identifiers
    </th>
    <td>
        {% if object.identifiers %}
        {{ object.identifiers }}
        {% endif %}
    </td>
</tr>
<tr>
    <th>
        Sighting status reason
    </th>
    <td>
        {% if object.sighting_status_reason %}
        {{ object.sighting_status_reason|capfirst }}
        {% endif %}
    </td>
</tr>
<tr>
    <th>
        First seen at
    </th>
    <td>
        {% if object.site_of_first_sighting %}
        {{ object.site_of_first_sighting }}
        {% endif %}
    </td>
</tr>
<tr>
    <th>
        Last seen at
    </th>
    <td>
        {% if object.site_of_last_sighting %}
        {{ object.site_of_last_sighting }}
        {% endif %}
    </td>
</tr>
<tr>
    <th>
        Last seen on
    </th>
    <td>
        {{ object.datetime_of_last_sighting|date:'d M Y H:i'  }}
    </td>
</tr>
<tr>
    <th>
        Data source
    </th>
    <td>
        {{ object.get_source_display }}
    </td>
</tr>
<tr>
    <th>
        Health status
    </th>
    <td>
        {{ object.get_health_display|capfirst }}
    </td>
</tr>
<tr>
    <th>
        Sex
    </th>
    <td>
        {{ object.get_sex_display|capfirst }}
    </td>
</tr>
<tr>
    <th>
        Maturity
    </th>
    <td>
        {{ object.get_maturity_display|capfirst }}
    </td>
</tr>
<tr>
    <th>
        Habitat
    </th>
    <td>
        {{ object.get_habitat_display|capfirst }}
    </td>
</tr>
<tr>
    <th>
        Nesting success
    </th>
    <td>
        {{ object.get_nesting_event_display }}, disturbance during nesting: {{ object.get_nesting_disturbed_display }}
    </td>
</tr>
<tr>
    <th>
        Behaviour
    </th>
    <td>
        {{ object.behaviour|safe|default:"" }}
    </td>
</tr>
{% endblock extra_encounter_details %}

<!-- Tags -->
{% block tag_observation_cards %}
{% if tag_observations %}
<div class="row" id="row-occ-extra">
    <div class="col-12">
        <div class="card-columns mt-2">
        {% for tag in tag_observations %}
            <div class="card shadow-lg">
                <div class="card-header">
                    <h5 class="card-title">
                      Tag ID {{ tag.name }}
                    </h5>
                </div><!-- /.card-header -->
                    <div class="card-body">
                        Type: {{ tag.get_tag_type_display }}<br>
                        Location: {{ tag.get_tag_location_display }}
                    </div><!-- /.card-body -->
            </div><!-- /.card -->
        {% endfor %}
        </div>
    </div>
</div><!-- .row#row-occ-extra -->
{% endif %}
{% endblock tag_observation_cards %}
