{% extends "observations/encounter_detail.html" %}
{% load leaflet_tags geojson_tags static observations %}

{% block heading %}
{{ object.get_taxon_display }} - {{ object.get_species_display }}
{% if object.sighting_status != 'na' %}
{{ object.get_sighting_status_display }}
{% endif %}
{% endblock %}

{% block extra_observation_details %}
<tr>
    <th>
        Identifiers
    </th>
    <td>
        {% if object.identifiers %}
        {{ object.identifiers }}
        {% endif %}
    </td>
</tr>
<tr>
    <th>
        Sighting status reason
    </th>
    <td>
        {% if object.sighting_status_reason %}
        {{ object.sighting_status_reason }}
        {% endif %}
    </td>
</tr>
<tr>
    <th>
        First seen at
    </th>
    <td>
        {% if object.site_of_first_sighting %}
        {{ object.site_of_first_sighting }}
        {% endif %}
    </td>
</tr>
<tr>
    <th>
        Last seen at
    </th>
    <td>
        {% if object.site_of_last_sighting %}
        {{ object.site_of_last_sighting }}
        {% endif %}
    </td>
</tr>
<tr>
    <th>
        Last seen on
    </th>
    <td>
        {{ object.datetime_of_last_sighting|date:'d M Y H:i'  }}
    </td>
</tr>
<tr>
    <th>
        Data source
    </th>
    <td>
        {{ object.get_source_display }}
    </td>
</tr>
<tr>
    <th>
        Health status
    </th>
    <td>
        {{ object.get_health_display|capfirst }}
    </td>
</tr>
<tr>
    <th>
        Sex
    </th>
    <td>
        {{ object.get_sex_display|capfirst }}
    </td>
</tr>
<tr>
    <th>
        Maturity
    </th>
    <td>
        {{ object.get_maturity_display|capfirst }}
    </td>
</tr>
<tr>
    <th>
        Habitat
    </th>
    <td>
        {{ object.get_habitat_display|capfirst }}
    </td>
</tr>
<tr>
    <th>
        Nesting success
    </th>
    <td>
        {{ object.get_nesting_event_display }}, disturbance during nesting: {{ object.get_nesting_disturbed_display }}
    </td>
</tr>
<tr>
    <th>
        Behaviour
    </th>
    <td>
        {{ object.behaviour|safe|default:"" }}
    </td>
</tr>
{% endblock extra_observation_details %}

{% block obscards %}
<div class="card-group">
  {% for tag in tags %}
  <div class="card card-md col-lg-4 col-md-6 col-sm-6 col-12 m-1 shadow-lg">
    <div class="card-header">
    <h5 class="card-title">
      Tag ID {{ tag.name }}
    </h5>
    </div><!-- /.card-header -->
    <div class="card-body">
      Type: {{ tag.get_tag_type_display }}<br>
      Location: {{ tag.get_tag_location_display }}
    </div><!-- /.card-body -->
  </div><!-- /.card -->
  {% endfor %}
</div><!-- /.card-group -->
{% endblock obscards %}
