{% extends "base_wastd.html" %}
{% load leaflet_tags geojson_tags static observations %}

{% block extra_style %}
{{ block.super }}
<style>
.leaflet-popup, .leaflet-popup-content-wrapper, .leaflet-popup-content {
    width: 350px; /* narrower popup */
    padding: -10px;  /* fix close button position */
}
.leaflet-tooltip { width: 300px; word-wrap: break-word; }
</style>
{% endblock %}

{% block breadcrumbs %}
{% include 'breadcrumbs.html' %}
{% endblock breadcrumbs %}

{% block page_content_inner %}
<!-- Subject details -->
<div class="row" id="row-enc-detail">
    <div class="col">
        {% block subject_details %}
        <span class="float-right">
            <span class="badge badge-{{ object.status_colour|default:'secondary' }}">
              QA status: {{ object.get_status_display }}
            </span>
        </span>
        <h1>
            {% block heading %}{{ object }}{% endblock heading %}
        </h1>
        {% if request.user.is_staff %}
        <div>
            <!-- Display edit & QA transitions (if authorised) -->
            {% include "observations/edit_qa.html" %}
        </div>
        <br>
        {% endif %}
        {% endblock subject_details %}
    </div>
</div><!-- /.row#row-enc-detail -->

<div class="row">
    {% block observation_details %}
    <div class="col-sm-12 col-md-8">
        <table class="table table-striped table-bordered table-condensed">
            <tbody>
                <tr>
                    <th>
                        ID
                    </th>
                    <td>
                        {{ object.pk }}
                    </td>
                </tr>
                <tr>
                    <th>
                        When
                    </th>
                    <td>
                        {{ object.when|date:"r" }}
                    </td>
                </tr>
                <tr>
                    <th>
                        Encounter type
                    </th>
                    <td>
                        {{ object.get_encounter_type_display }}
                    </td>
                </tr>
                <tr>
                    <th>
                        Observed by
                    </th>
                    <td>
                        <a href="{% url 'users:user-detail' pk=object.observer.pk %}">{{ object.observer.name }}</a>
                    </td>
                </tr>
                <tr>
                    <th>
                        Reported by
                    </th>
                    <td>
                        <a href="{% url 'users:user-detail' pk=object.reporter.pk %}">{{ object.reporter.name }}</a>
                    </td>
                </tr>
                <tr>
                    <th>
                        Campaign
                    </th>
                    <td>
                        {% if object.campaign %}
                        <a href="{{ object.campaign.get_absolute_url }}">{{ object.campaign }}</a>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>
                        Survey
                    </th>
                    <td>
                        {% if object.survey %}
                        <a href="{{ object.survey.get_absolute_url }}">{{ object.survey }}</a>
                        {% endif %}
                    </td>
                </tr>
                {% block extra_observation_details %}{% endblock %}
                {% if object.observation_set %}
                <tr>
                    <th>
                        Observations
                    </th>
                    <td>
                        {% for obs in object.observation_set.all %}
                        <div>
                            {{ obs.as_html|safe }}
                        </div>
                        {% endfor %}
                    </td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
    {% endblock observation_details %}

    {% block observation_map %}
    <div class="col-sm-12 col-md-4">
        {% leaflet_map "detailmap" callback="window.map_init" %}
    </div>
    {% endblock observation_map %}
</div>

<!-- Photos -->
<div class="row" id="row-enc-media">
    <div class="col-12" id="col-enc-media">
        <div class="card-columns mt-2">
            {% for a in object.photographs %}
            <div class="card shadow-lg">
                <img src="{{ a.attachment.url }}" class="card-img-top" alt="{{ a.title }}">
                <div class="card-body">
                    <p class="card-text">{{ a.title }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div><!-- .row#row-enc-media -->

<div id="row-occ-extra">
    <div class="col col-12 mb-2 mt-2">
    {% block obscards %}{% endblock %}
    </div>
</div><!-- .row#row-occ-extra -->

{% endblock page_content_inner %}

{% block extra_js %}
{{ block.super }}
<script type="text/javascript">
    function map_init(map, options) {
      {% include 'shared/styles.js' %}
      $.getJSON("{% url 'sites-geojson' %}", function (data) {
          L.geoJson(data, {style: polystyle, onEachFeature: oef}).addTo(map);
      });
      /* Data loading */
      var enc_layer = L.geoJson(
        {{ object|geojsonfeature:"as_html,leaflet_title,leaflet_icon,leaflet_colour:where"|safe }},
        { style: pointstyle, pointToLayer: ptl, onEachFeature: oef_ll }
      );
      enc_layer.addTo(map);
      map.fitBounds(enc_layer.getBounds());
    };
</script>
{% endblock extra_js %}
