{% extends "pages/base.html" %}
{% load django_tables2 crispy_forms_tags leaflet_tags %}

{% block extra_style %}
{{ block.super }}
{% leaflet_css plugins="ALL" %}
{% include 'shared/leaflet_css.html' %}
{% endblock extra_style %}

{% block page_content_inner %}
<div class="popupimage">
<div id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="searchpanel">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion"
            href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Search
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel"
        aria-labelledby="searchpanel">
        <form action="" method="get">
            {% crispy filter.form filter.form.helper %}
        </form>
    </div>
  </div>
</div>
</div>
{% endblock %}

{% block fullwidthcontent %}
{% render_table table %}
{% endblock %}

{% block extra_js %}
{{ block.super }}
{% include 'shared/leaflet_js.html' %}
{% leaflet_js =plugins="ALL" %}
{% endblock extra_js %}
