{% load observations bootstrap4 fsm_admin %}
<div class="card bg-light mb-1">
  <div class="card-header">
    <span class="float-right">{% block title_labels %}{% endblock title_labels %}</span>
    <h5 class="card-title">
      {% block title_row %}{{ object }}{% endblock title_row %}
    </h5>
    <h6 class="card-title text-muted" aria-hidden="true">
      <i class="fa-solid fa-calendar-days" title="When" aria-hidden="true"></i>
      {{ object.when|date:'d M Y H:i' }}
      <i class="fa-solid fa-mountain-sun" title="Encounter type" aria-hidden="true"></i>
      {{ object.get_encounter_type_display }}
      <i class="fa-solid fa-eye" title="Observed by" aria-hidden="true"></i>
      <a href="{% url 'users:user-detail' pk=object.observer.pk %}">{{ object.observer.name }}</a>
      <i class="fa-solid fa-tablet-screen-button" title="Reported by" aria-hidden="true"></i>
      <a href="{% url 'users:user-detail' pk=object.reporter.pk %}">{{ object.reporter.name }}</a>
      {% if object.campaign %}
      <i class="fa-solid fa-shield-halved" title="Owned by" aria-hidden="true"></i>
      {{ object.campaign.owner }}
      {% endif %}

      <span class="float-right">
        <span class="badge badge-{{ object.status_colour|default:'secondary' }}">
          QA status: {{ object.get_status_display }}
        </span>
      </span>
    </h6>
    <div>
        {% include "toggle_details.html" with object=object %}
        <a href="{{ object.get_absolute_url }}" title="Open record {{ object.pk }}">
          <span class="badge badge-{{ object.status_colour|default:'secondary' }}">
            <i class="fa-regular fa-folder-open" aria-hidden="true"></i> Open
          </span>
        </a>
        <!-- Display edit & QA transitions (if authorised) -->
        {% if request.user.is_staff %}
        {% include "observations/edit_qa.html" %}
        {% endif %}
    </div>
  </div><!-- /.card-header -->

  <div class="collapse" id="details{{ object.id }}">
  <div class="card-body">
    {% if object.comments %}
    <div class="card-text">
      <i class="fa-regular fa-message" title="Description" aria-hidden="true"></i>
      {{ object.comments|safe }}
    </div>
    {% endif %}
    {% for obs in object.observation_set.all %}
    <div class="card-text ml-3">
      {{ obs.as_html|safe }}
    </div>
    {% endfor %}

    {% if object.photographs %}
    <div class="card-columns mt-2">
      {% for m in object.photographs %}
      <div class="card shadow-lg">
        <img src="{{ m.attachment.url }}" class="card-img-top" alt="{{ m.media_type|title }}">
        <div class="card-body">
          <p class="card-text">{{ m.title }}
          </p>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div><!-- /.card-body -->

  </div><!-- /.collapse -->
</div><!-- /.card -->
