{% extends "base_wastd.html" %}
{% load leaflet_tags geojson_tags %}

{% block extra_style %}
{{ block.super }}
<style>
.leaflet-popup, .leaflet-popup-content-wrapper {
  width: 540px !important;
  padding: -10px;  /* fix close button position */
}
.leaflet-popup-content {
  width: 520px !important;
  word-wrap: break-word;
}
</style>
{% endblock %}

{% block page_content %}
<div id="map">
    {% leaflet_map "wastdmap" callback="window.map_init" %}
</div>
{% endblock %}

{% block extra_js %}
{{ block.super }}
<script type="text/javascript">
    const oef = function(feature, layer) {
      layer.bindTooltip(feature.properties.leaflet_title);
    }
    const polystyle = {
        "color": "#0009ff",
        "weight": 1,
        "opacity": 0.65
    };
    function map_init(map, options) {
        $.getJSON("{% url 'localities-geojson' %}", function (data) {
            L.geoJson(data, {style: polystyle, onEachFeature: oef}).addTo(map);
        });
    }
</script>
{% endblock %}
