{% extends "base_wastd.html" %}
{% load leaflet_tags geojson_tags %}

{% block extra_style %}
{{ block.super }}
<style>
.leaflet-popup, .leaflet-popup-content-wrapper {
  width: 540px !important;
  padding: -10px;  /* fix close button position */
}
.leaflet-popup-content {
  width: 520px !important;
  word-wrap: break-word;
}
</style>
{% endblock %}

{% block page_content %}
<div id="map">
    {% leaflet_map "map" callback="window.map_init" %}
</div>
{% endblock %}

{% block extra_js %}
{{ block.super }}
<script type="text/javascript">
    function map_init(map, options) {
        {% include 'shared/styles.js' %}
        var markers = L.markerClusterGroup();

        $.getJSON("{% url 'strandings_geojson' %}", function(data) {
            var strandings_layer = L.geoJSON(data, {style: pointstyle, pointToLayer: ptl, onEachFeature: oef_ll});
            markers.addLayer(strandings_layer);
            map.addLayer(markers);
        });

        $.getJSON("{% url 'localities_geojson' %}", function(data) {
            L.geoJson(data, {style: polystyle, onEachFeature: oef}).addTo(map);
        });
    }
</script>
{% endblock %}
