{% extends "pages/base.html" %}
{% load leaflet_tags geojson_tags static observations %}

{% block extra_style %}
{{ block.super }}
<style>
  .leaflet-popup, .leaflet-popup-content-wrapper, .leaflet-popup-content {
  width: 350px; /* narrower popup */
  padding: -10px;  /* fix close button position */
}
.leaflet-tooltip { width: 200px; word-wrap: break-word; }
</style>
{% endblock %}

{% block breadcrumbs %}
{% include 'shared/breadcrumbs.html' %}
{% endblock breadcrumbs %}

{% block page_content_inner %}
<div class="row" id="row-svy-detail">

  <!-- Subject details -->
  <div class="col-12 col-sm-12 col-md-6 col-lg-8" id="col-svy-detail">
    <div class="card card-lg detailarea mb-2">
      <div class="card-header{% if not object.production%} text-muted{% endif %}">
        <span class="float-right">
          {% block title_labels %}{% endblock title_labels %}
          {% include "observations/survey_is_production.html" with survey=object %}
          {% include "observations/survey_site_visit_start_end.html" with survey=object %}
        </span>
        <h5 class="card-title">
          {{ object }}
        </h5>
        <h6 class="card-title text-muted">
          <span class="oi oi-calendar" aria-hidden="true"></span>
          {{ object.start_time|date:'d M Y' }} {{ object.start_time|time:'H:i' }} - {{ object.end_time|time:'H:i' }}
          <span class="oi oi-person" title="Observed by" aria-hidden="true"></span>
          <a href="{% url 'users:user-detail' pk=object.reporter.pk %}">{{ object.reporter }}</a>
          <span class="oi oi-spreadsheet" title="Encounters linked: {{ object.encounter_set.count }}" aria-hidden="true"></span>
          {{ object.encounter_set.count }}
          <span class="oi oi-layers" title="Duplicate surveys: {{ object.no_duplicates }}" aria-hidden="true"></span>
          {{ object.no_duplicates }}
          <span class="oi oi-shield" title="Owned by" aria-hidden="true"></span>
          {% if object.campaign %} {{ object.campaign.owner }}{% else %}-{% endif %}
          <span class="float-right">
            {% include "shared/admin_qa.html" with object=object label=True hide_details=True %}
            {% include "observations/survey_make_production.html" with survey=object %}
          </span>
        </h6>
      </div><!-- /.card-header -->

      <div class="card-body">
        <div class="card-text">
          <span class="oi oi-comment-square" title="Start comments" aria-hidden="true"></span>
          {{ object.start_comments | default:"-" }}
        </div>
        <div class="card-text">
          <span class="oi oi-comment-square" title="End comments" aria-hidden="true"></span>
          {{ object.end_comments | default:"-" }}
        </div>
        <div class="card-text ml-3">
          {% for user in object.team_set.all %}
          {{ user }}&nbsp;
          {% endfor %}
        </div>
        {% for svy in object.duplicate_surveys.all %}
        <div class="card-text">
          <span class="oi oi-layers" title="Duplicate survey" aria-hidden="true"></span>
          Duplicate Survey: {{ svy }}
          <span class="oi oi-spreadsheet" title="Encounters linked: {{ svy.encounter_set.count }}" aria-hidden="true"></span>
          {{ svy.encounter_set.count }}
          {% include "observations/survey_is_production.html" with survey=svy %}
          {% include "shared/admin_qa.html" with object=svy label=True hide_details=False %}
          {% include "observations/survey_make_production.html" with survey=svy %}
        </div>
        {% endfor %}

          <div class="row" id="row-svy-media">
            <div class="col-12" id="col-svy-media">
              <div class="card-columns mt-2">

                {% for a in object.attachments.all %}
                <div class="card shadow-lg">
                  <img src="{{ a.attachment.url }}" class="card-img-top" alt="{{ a.title }}">
                  <div class="card-body">
                    <p class="card-text">{{ a.title }}</p>
                  </div>
                </div>
                  {% endfor %}

              </div>
            </div>
          </div>
      </div><!-- /.card-body -->
    </div><!-- /.card -->
  </div><!-- .col-12#col-svy-detail -->

  <div class="col-sm-12 col-md-6 col-lg-4" id="svy-map">
    <div>
      {% leaflet_map "detailmap" callback="window.map_init" %}
    </div>
  </div><!-- /.col#svy-map -->

</div><!-- .row#row-svy-detail -->

<div class="row" id="row-svy-enc">
  <div class="col-12" id="col-svy-enc">
    {% for enc in object.encounter_set.all %}
    {% include enc.card_template with object=enc %}
    {% endfor %}
  </div><!-- /.col-svy-enc -->
</div><!-- /.row-svy-enc -->

{% endblock page_content_inner %}

{% block extra_js %}
{{ block.super }}
<script type="text/javascript">
function map_init(map, options) {
  {% include 'shared/styles.js' %}

  $.getJSON("{% url 'sites-geojson' %}", function (data) {
      L.geoJson(data, {style: polystyle, onEachFeature: oef}).addTo(map);
  });

  /* Data loading */
  var survey_start = L.geoJson(
    {{ object|geojsonfeature:"as_html,label:start_location"|safe }},
    { style: pointstyle, pointToLayer: ptl_svs, onEachFeature: oef }
  );
  survey_start.addTo(map);
  var survey_end = L.geoJson(
    {{ object|geojsonfeature:"as_html,label:end_location"|safe }},
    { style: pointstyle, pointToLayer: ptl_sve, onEachFeature: oef }
  );
  survey_end.addTo(map);

  var enc_layer = L.geoJson(
    {{ object.encounter_set.all|geojsonfeature:"as_html,leaflet_title,leaflet_icon,leaflet_colour:where"|safe }},
    { style: pointstyle, pointToLayer: ptl, onEachFeature: oef_ll }
  );
  enc_layer.addTo(map);

  var group = new L.featureGroup([survey_start, survey_end, enc_layer]);
  map.fitBounds(group.getBounds());

  // var taxon_cluster_markers = L.markerClusterGroup();
  // taxon_cluster_markers.addLayer(taxon_points);
  // map.addLayer(taxon_cluster_markers);

  /*
   * BioSys Occurrences. Helpers see styles.js
   */

  $(".zoom-map").click(function() {
    map.flyTo([this.dataset.lat, this.dataset.lon], 18, {animate: true});
  });

};

</script>
{% endblock %}
