{% extends "base_wastd.html" %}
{% load leaflet_tags geojson_tags static observations %}

{% block extra_style %}
{{ block.super }}
<style>
.leaflet-popup, .leaflet-popup-content-wrapper, .leaflet-popup-content {
    width: 350px; /* narrower popup */
    padding: -10px;  /* fix close button position */
}
.leaflet-tooltip { width: 200px; word-wrap: break-word; }
</style>
{% endblock %}

{% block breadcrumbs %}
{% include 'breadcrumbs.html' %}
{% endblock breadcrumbs %}

{% block page_content_inner %}
<!-- Subject details -->
<div class="row" id="row-svy-detail">
    <div class="col">
        {% block subject_details %}
        <span class="float-right">
          {% block title_labels %}{% endblock title_labels %}
          {% include "observations/survey_is_production.html" with survey=object %}
          {% include "observations/survey_site_visit_start_end.html" with survey=object %}
        </span>
        <h1>
            {% block heading %}{{ object.label_short }}{% endblock %}
        </h1>
        {% if request.user.is_staff %}
            <a href="{{ object.absolute_admin_url }}" title="Edit this survey in the data curation portal">
              <span class="badge badge-{{ object.status_colour|default:'secondary' }}">
                <i class="fa-solid fa-pencil text-success" aria-hidden="true"></i> Edit
              </span>
            </a>
            {% if not object.production %}
            {% include "observations/survey_make_production.html" with survey=object %}
            {% endif %}
        {% endif %}
        <br>
        <br>
        {% endblock subject_details %}
    </div>
</div><!-- /.row#row-svy-detail -->

<div class="row">
    {% block survey_detail %}
    <div class="col-sm-12 col-md-8">
        <table class="table table-striped table-bordered table-condensed">
            <tbody>
                <tr>
                    <th>
                        ID
                    </th>
                    <td>
                        {{ object.pk }}
                    </td>
                </tr>
                <tr>
                    <th>
                        When
                    </th>
                    <td>
                        {{ object.start_time|date:'d M Y' }} {{ object.start_time|time:'H:i' }} - {{ object.end_time|time:'H:i T' }}
                    </td>
                </tr>
                <tr>
                    <th>
                        Reported by
                    </th>
                    <td>
                        <a href="{% url 'users:user-detail' pk=object.reporter.pk %}">{{ object.reporter.name }}</a>
                    </td>
                </tr>
                <tr>
                    <th>
                        Owned by
                    </th>
                    <td>
                        {% if object.campaign %}{{ object.campaign.owner }}{% endif %}
                    </td>
                </tr>
                <tr>
                    <th>
                        Linked encounters
                    </th>
                    <td>
                        {{ object.encounter_set.count }}
                    </td>
                </tr>
                <tr>
                    <th>
                        Duplicate surveys
                    </th>
                    <td>
                        {% for svy in object.duplicate_surveys.all %}
                        <div><a href="{{ svy.get_absolute_url }}">{{ svy }}</a></div>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th>
                        Start comments
                    </th>
                    <td>
                        {{ object.start_comments | default:"" }}
                    </td>
                </tr>
                <tr>
                    <th>
                        End comments
                    </th>
                    <td>
                        {{ object.end_comments | default:"" }}
                    </td>
                </tr>
                <tr>
                    <th>
                        Team
                    </th>
                    <td>
                        {% for user in object.team_set.all %}
                        <div>{{ user }}</div>
                        {% endfor %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    {% endblock survey_detail %}

    {% block survey_map %}
    <div class="col-sm-12 col-md-6 col-lg-4" id="svy-map">
        {% leaflet_map "detailmap" callback="window.map_init" %}
    </div><!-- /.col#svy-map -->
    {% endblock survey_map %}
</div><!-- .row#row-svy-detail -->

<!-- Photos -->
<div class="row" id="row-svy-media">
    <div class="col-12" id="col-svy-media">
      <div class="card-columns mt-2">
        {% for a in object.attachments.all %}
        <div class="card shadow-lg">
          <img src="{{ a.attachment.url }}" class="card-img-top" alt="{{ a.title }}">
          <div class="card-body">
            <p class="card-text">{{ a.title }}</p>
          </div>
        </div>
          {% endfor %}
      </div>
    </div>
</div>


<div class="row" id="row-svy-enc">
  <div class="col-12" id="col-svy-enc">
    {% for enc in object.encounter_set.all %}
    {% include enc.card_template with object=enc %}
    {% endfor %}
  </div><!-- /.col-svy-enc -->
</div><!-- /.row-svy-enc -->

{% endblock page_content_inner %}

{% block extra_js %}
{{ block.super }}
<script type="text/javascript">
function map_init(map, options) {
  {% include 'shared/styles.js' %}

  $.getJSON("{% url 'sites-geojson' %}", function (data) {
      L.geoJson(data, {style: polystyle, onEachFeature: oef}).addTo(map);
  });

  // Attach the endpoint to the map first.
  var survey_end = L.geoJson(
    {{ object|geojsonfeature:"as_html,label:end_location"|safe }},
    { style: pointstyle, pointToLayer: ptl_sve, onEachFeature: oef }
  );
  survey_end.addTo(map);
  var survey_start = L.geoJson(
    {{ object|geojsonfeature:"as_html,label:start_location"|safe }},
    { style: pointstyle, pointToLayer: ptl_svs, onEachFeature: oef }
  );
  survey_start.addTo(map);

  var enc_layer = L.geoJson(
    {{ object.encounter_set.all|geojsonfeature:"as_html,leaflet_title,leaflet_icon,leaflet_colour:where"|safe }},
    { style: pointstyle, pointToLayer: ptl, onEachFeature: oef_ll }
  );
  enc_layer.addTo(map);

  var group = new L.featureGroup([
      survey_start,
      survey_end,
      enc_layer,
  ]);
  map.fitBounds(group.getBounds());

  // var taxon_cluster_markers = L.markerClusterGroup();
  // taxon_cluster_markers.addLayer(taxon_points);
  // map.addLayer(taxon_cluster_markers);

  /*
   * BioSys Occurrences. Helpers see styles.js
   */

  $(".zoom-map").click(function() {
    map.flyTo([this.dataset.lat, this.dataset.lon], 18, {animate: true});
  });

};

</script>
{% endblock %}
