{% extends "pages/base.html" %}
{% load crispy_forms_tags %}

{% block extrastyle %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.3/flatpickr.min.css">
{% endblock extrastyle %}

{% block content %}
{% if form.errors %}
<div class="alert alert-danger" role="alert">Please correct the error(s) below:<br>
{{ form.errors }}
</div>
{% endif %}
{% crispy form %}
{% endblock content %}

{% block extrajs %}
{{ block.super }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.3/flatpickr.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.formset/1.2.2/jquery.formset.min.js"></script>
<script type="text/javascript">
    $(function () {

        $('.datetimeinput').flatpickr({
            enableTime: true,
            dateFormat: 'd-m-Y H:i',
            time_24hr: true,
        });

        $('.formset_row-{{ formset_prefix }}').formset({
            addText: 'Add another flipper tag',
            deleteText: '❌',
            addCssClass: 'btn btn-primary btn-sm',
            prefix: '{{ formset_prefix }}',
        });

    });
</script>
{% endblock extrajs %}
