<div class="card col-12 shadow-lg">
  <div class="card-header">
    <h6 class="card-title">
      <span class="oi oi-calendar" aria-hidden="true"></span>
      {{ object.when|date:'d M Y H:i' }}
      {{ object.get_encounter_type_display }}

      <span class="oi oi-eye" title="Name" aria-hidden="true"></span>
      {{ object.get_taxon_display }} - {{ object.get_species_display }}

      <span class="float-right">
        <a class="mr-2 text-primary" type="button" data-toggle="collapse"
          href="#details{{ object.id }}" aria-expanded="false" aria-controls="details{{ object.id }}">
          <span class="oi oi-expand-down" title="Name" aria-hidden="true"></span>
          Details
        </a>
        {% include "shared/update_links_qa.html" with label=True %}
      </span>

    </h6>
  </div>



  <div class="occ-detail collapse" id="details{{ object.id }}">
  <div class="card-body">
      <div class="card-text">
        <span class="oi oi-person" title="Observed by" aria-hidden="true"></span>
      {{ object.observer }}
      </div>
      <div class="card-text">
      <span class="oi oi-comment-square" title="Description" aria-hidden="true"></span>
      {{ object.description | default:"No further comments" }}
      </div>

      {% if object.photographs %}
      <ul class="list-unstyled">
      {% for m in object.photographs %}
        <img src="{{ m.attachment.url }}" class="mr-3 max-vh-50" alt="{{ m.media_type|title }}: {{ m.title }}">


        <li class="media">
          <img src="{{ m.attachment.url }}" class="mr-3" alt="{{ m.media_type|title }}: {{ m.title }}">
          <div class="media-body">
            <h5 class="mt-0 mb-1">{{ m.media_type|title }}</h5>
            {{ m.title }}
          </div>
        </li>

      {% endfor %}
      </ul>
      {% endif %}
  </div>

  <!--
  <div class="card-footer">
    <div class="row">
      <div class="col-12">
        stuff
      </div>
    </div>
  </div>
-->

  </div><!-- /.occ-detail -->
</div><!-- /.card -->
