{% extends "observations/encounter_card.html" %}
{% load observations %}

{% block title_row %}
{{ object.get_health_display }}
{{ object.get_maturity_display }}
{{ object.get_species_display }}
{% endblock %}

{% block title_labels %}
<span class="badge badge-{{ object.checked_for_injuries|obs_colour }}"
  title="Injuries: {{ object.get_checked_for_injuries_display }}">inj</span>
<span class="badge badge-{{ object.scanned_for_pit_tags|obs_colour }}"
  title="PIT Tags: {{ object.get_scanned_for_pit_tags_display }}">pit</span>
<span class="badge badge-{{ object.checked_for_flipper_tags|obs_colour }}"
  title="Flipper tags: {{ object.get_checked_for_flipper_tags_display }}">tag</span>
<span class="badge badge-{{ object.nesting_event|obs_colour }}"
  title="Nesting: {{ object.get_nesting_event_display }}">nst</span>
<span class="badge badge-{{ object.laparoscopy|obs_colour }}"
  title="Laparoscopy: {{ object.get_laparoscopy_display }}">lap</span>
{% endblock %}
