{% extends "pages/base.html" %}
{% comment %}
{% load django_tables2 crispy_forms_tags leaflet_tags %}
{% leaflet_css plugins="ALL" %}
{% leaflet_js plugins="ALL" %}

{% block content %}
<div class="popupimage">
<div id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="searchpanel">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion"
            href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Search
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel"
        aria-labelledby="searchpanel">
        <form action="" method="get">
            {% crispy filter.form filter.form.helper %}
        </form>
    </div>
  </div>
</div>
</div>
{% endblock %}

{% block fullwidthcontent %}
{% render_table table %}
{% endblock %}
{% endcomment %}

{# Temporary table list below #}
{% block content %}
<div>
    <a class="btn btn-primary" href="{% url 'animalencounter_create' %}">Create new Animal Encounter</a>
</div>

<div>
    <table class="table table-bordered table-sm table-dark">
        <thead>
            <tr>
                <th>Observed on</th>
                <th>Taxonomic group</th>
                <th>Species</th>
                <th>Measured by</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
            <tr>
                <td>{{ object.when }}</td>
                <td>{{ object.get_taxon_display }}</td>
                <td>{{ object.get_species_display }}</td>
                <td>{{ object.observer }}</td>
                <td>
                    <a class="btn btn-secondary" href="{{ object.get_absolute_url }}">Details</a>
                    <a class="btn btn-primary" href="{% url 'animalencounter_update' pk=object.pk %}">Update</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<hr>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}
