{% extends "observations/encounter_detail.html" %}

{% load leaflet_tags geojson_tags static observations %}

{% block update_links %}
{% include "shared/update_links_qa.html" with label=False %}
{% endblock %}

{% block heading %}
{{ object.get_taxon_display }} - {{ object.get_species_display }}
{% endblock %}

  {% block obsdetails %}
    <strong>Data source:</strong> {{ object.get_source_display }}<br>
    <strong>Health status:</strong> {{ object.get_health_display }}<br>
    <strong>Sex:</strong> {{ object.get_sex_display }}<br>
    <strong>Maturity:</strong> {{ object.get_maturity_display }}<br>
  {% endblock %}


{% block obscards %}
<div class="card-group">

  {% for tag in tags %}
  <div class="card card-md col-lg-4 col-md-6 col-sm-6 col-12 shadow-lg">

    <div class="card-header">
    <h5 class="card-title">
      Tag ID {{ tag.name }}
    </h5>
    </div><!-- /.card-header -->

    <div class="card-body">
      Type: {{ tag.get_tag_type_display }}<br>
      Location: {{ tag.get_tag_location_display }}
    </div><!-- /.card-body -->

  </div><!-- /.card -->
  {% endfor %}
</div><!-- /.card-group -->
{% endblock %}
