{% extends "pages/base.html" %}
{% load leaflet_tags geojson_tags taxonomy_tags staticfiles %}
{% load render_table from django_tables2 %}

{% block extrastyle %}
<style>
.leaflet-popup, .leaflet-popup-content-wrapper, .leaflet-popup-content {
  width: 350px; /* narrower popup */
  padding: -10px;  /* fix close button position */
}
.leaflet-tooltip { width: 200px; word-wrap: break-word; }
</style>
{% endblock %}

{% block content %}
{% include 'shared/breadcrumbs.html' %}
<div class="row" id="row-occ-detail">
  <!-- Subject details -->
  <div class="col-12 col-sm-12 col-md-6 col-lg-8" id="occ-detail-main">
    <div class="card card-lg detailarea m-0">
      <div class="card-header">
        <small class="float-right">
          {% include "shared/update_links_qa.html" with label=False %}
        </small>
        <h3>{{ object.get_taxon_display }} - {{ object.get_species_display }}</h3>
      </div>

      <div class="card-body">

        <div class="row">
          <div class="col col-12">
            <i class="oi oi-calendar" aria-hidden="true"></i>&nbsp;
            {{ object.when|date:"r" }}
          </div>
        </div>

        <div class="row">
          <div class="col col-12">
            <i class="oi oi-comment-square" aria-hidden="true"></i>&nbsp;
            {{ object.get_encounter_type_display }}
          </div>
        </div>

        <div class="row">
          <div class="col col-12">
            <i class="oi oi-person" aria-hidden="true"></i>&nbsp;
              {{ object.observer }}
          </div>
        </div><!-- /.row -->

        <div class="row">
          <div class="col col-12">
              <strong>Data source:</strong> {{ object.get_source_display }}<br>
              <strong>Health status:</strong> {{ object.get_health_display }}<br>
              <strong>Sex:</strong> {{ object.get_sex_display }}<br>
              <strong>Maturity:</strong> {{ object.get_maturity_display }}<br>
          </div>
        </div><!-- /.row -->
      </div><!-- /.card-body -->

    </div><!-- /.card -->
  </div><!-- /.col#occ-detail-main -->

  <div class="col-12 col-md-6 col-lg-4" id="occ-detail-map">
      <div>
        {% leaflet_map "detailmap" callback="window.map_init" %}
      </div>
  </div><!-- /.col#occ-map -->
</div><!-- .row#row-occ-detail -->

<div id="row-occ-extra">
  <div class="col col-12 mb-2">

<div class="card-group">
{% for tag in tags %}
  <div class="card card-md col-lg-4 col-md-6 col-sm-6 col-12 shadow-lg">

    <div class="card-header">
      <h5 class="card-title">
        Tag ID {{ tag.name }}
      </h5>
    </div><!-- /.card-header -->

    <div class="card-body">
        Type: {{ tag.get_tag_type_display }}<br>
        Location: {{ tag.get_tag_location_display }}
    </div><!-- /.card-body -->

  </div><!-- /.card -->
{% endfor %}
</div><!-- /.card-group -->

  </div>
</div><!-- .row#row-occ-extra -->

{% endblock %}
