{% load observations %}
<div class="card col-12 shadow-lg">
  <div class="card-header">
    <span class="float-right">{% block title_labels %}{% endblock title_labels %}</span>
    <h5 class="card-title">
      {% block title_row %}{{ object }}{% endblock title_row%}
    </h5>
    <h6 class="card-title text-muted">
      <span class="oi oi-calendar" aria-hidden="true"></span>
      {{ object.when|date:'d M Y H:i' }}

      <span class="oi oi-tags" aria-hidden="true"></span>
      {{ object.get_encounter_type_display }}

      <span class="oi oi-person" title="Observed by" aria-hidden="true"></span>
      {{ object.observer }}


      <span class="float-right">
        <a class="mr-2 text-primary" type="button" data-toggle="collapse"
          href="#details{{ object.id }}" aria-expanded="false"
          aria-controls="details{{ object.id }}"
          title="Toggle details">
          <span class="oi oi-expand-down" title="Toggle details" aria-hidden="true"></span>
        </a>
        {% include "shared/admin_qa.html" with label=False %}
      </span>
    </h6>
  </div>

  <div class="collapse" id="details{{ object.id }}">
  <div class="card-body">
    <div class="card-text">
      <span class="oi oi-comment-square" title="Description" aria-hidden="true"></span>
      {{ object.comments | default:"-" }}
    </div>
    {% for obs in object.observation_set.all %}
    <div class="card-text ml-3">
      {{ obs.as_html|safe }}
    </div>
    {% endfor %}

    {% if object.photographs %}
    <div class="card-columns mt-2">
      {% for m in object.photographs %}
      <div class="card shadow-lg">
        <img src="{{ m.attachment.url }}" class="card-img-top" alt="{{ m.media_type|title }}">
        <div class="card-body">
          <p class="card-text">{{ m.title }}
          </p>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>

  <!--
  <div class="card-footer">
    <div class="row">
      <div class="col-12">
        Footer content
      </div>
    </div>
  </div>
  -->

  </div><!-- /#details{{ object.id }} -->
</div><!-- /.card -->
