{% load observations bootstrap4 fsm_admin %}
<div class="card col-12 shadow-lg mb-1">
  <div class="card-header">
    <span class="float-right">{% block title_labels %}{% endblock title_labels %}</span>
    <h5 class="card-title">
      {% block title_row %}{{ object }}{% endblock title_row%}
    </h5>
    <h6 class="card-title text-muted">
      <span class="oi oi-calendar" aria-hidden="true"></span>
      {{ object.when|date:'d M Y H:i' }}

      <span class="oi oi-tags" aria-hidden="true"></span>
      {{ object.get_encounter_type_display }}

      <span class="oi oi-eye" title="Observed by" aria-hidden="true"></span>
      <a href="{% url 'users:user-detail' pk=object.observer.pk %}">{{ object.observer }}</a>

      <span class="oi oi-tablet" title="Reported by" aria-hidden="true"></span>
      <a href="{% url 'users:user-detail' pk=object.reporter.pk %}">{{ object.reporter }}</a>

      <span class="oi oi-shield" title="Owned by" aria-hidden="true"></span>
      {% if object.expedition %} {{ object.expedition.owner }}{% else %}-{% endif %}

      <span class="float-right">
        {% include "observations/toggle_details.html" with object=object %}
        {% include "shared/admin_qa.html" with label=True %}
        <!-- span class="oi oi-map-marker zoom-map text-warning"
          data-lon="{{ object.longitude }}" data-lat="{{ object.latitude }}"
          title="Show on map" aria-hidden="true"></span>
        </span -->
    </h6>
  </div>

  <div class="collapse" id="details{{ object.id }}">
  <div class="card-body">


    <div class="card-text">
      <span class="oi oi-comment-square" title="Description" aria-hidden="true"></span>
      {{ object.comments|safe|default:"-" }}
    </div>
    {% for obs in object.observation_set.all %}
    <div class="card-text ml-3">
      {{ obs.as_html|safe }}
    </div>
    {% endfor %}

    {% if object.photographs %}
    <div class="card-columns mt-2">
      {% for m in object.photographs %}
      <div class="card shadow-lg">
        <img src="{{ m.attachment.url }}" class="card-img-top" alt="{{ m.media_type|title }}">
        <div class="card-body">
          <p class="card-text">{{ m.title }}
          </p>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>

  <div class="card-footer">
    <div class="row">
      <div class="col-12">
         <span class="float-right">
        {# {% include "observations/toggle_details.html" with object=object %} #}
        {% include "shared/admin_qa.html" with label=True %}
        </span>

     {% for t in object.get_available_status_transitions %}
      <!--
      {'method': <function shared.models.QualityControlMixin.curate(self, by=None)>,
        'source': 'new',
        'target': 'curated',
        'on_error': None,
        'conditions': [<function shared.models.QualityControlMixin.can_curate(self)>],
        'permission': None,
        'custom': {'verbose': 'Accept as trustworthy',
         'explanation': 'This record is deemed trustworthy.',
         'notify': True}
      -->
      <!-- TODO method must call transition-->
      <a href="" title="{{ t.custom.verbose }}"><span class="badge badge-success">{{ t.custom.verbose }}</span></a>
     {% endfor %}
      </div>
    </div>
  </div>

  </div><!-- /#details{{ object.id }} -->
</div><!-- /.card -->
