{% extends "pages/base.html" %}
{% load leaflet_tags geojson_tags static observations %}

{% block extrastyle %}
<style>
.leaflet-popup, .leaflet-popup-content-wrapper, .leaflet-popup-content {
  width: 350px; /* narrower popup */
  padding: -10px;  /* fix close button position */
}
.leaflet-tooltip { width: 300px; word-wrap: break-word; }
</style>
{% endblock %}

{% block content %}
{% include 'shared/breadcrumbs.html' %}
<div class="row" id="row-occ-detail">
  <!-- Subject details -->
  <div class="col-12 col-sm-12 col-md-6 col-lg-8" id="occ-detail-main">
    <div class="card card-lg detailarea m-0">
      <div class="card-header">
        <small class="float-right">
          {% block update_links %}
          {% include "shared/update_links_qa.html" with label=False %}
          {% endblock %}
        </small>
        <h3>
        {% block heading %}
        {{ object  }}
        {% endblock %}
        </h3>
      </div>

      <div class="card-body">

        <div class="card-text">
            <i class="oi oi-calendar" aria-hidden="true"></i>&nbsp;
            <a href="{{ object.survey.get_absolute_url }}">{{ object.survey }}</a>
        </div>

        <div class="card-text">
            <i class="oi oi-calendar" aria-hidden="true"></i>&nbsp;
            {{ object.when|date:"r" }}
        </div>

        <div class="card-text">
            <i class="oi oi-comment-square" aria-hidden="true"></i>&nbsp;
            {{ object.get_encounter_type_display }}
        </div>

        <div class="card-text">
            <i class="oi oi-eye" aria-hidden="true"></i>&nbsp;
            <a href="{% url 'users:user-detail' pk=object.observer.pk %}">{{ object.observer }}</a>
        </div>

        <div class="card-text">
            <i class="oi oi-tablet" aria-hidden="true"></i>&nbsp;
            <a href="{% url 'users:user-detail' pk=object.reporter.pk %}">{{ object.reporter }}</a>
        </div>

            {% block obsdetails %}
            {% endblock %}

        {% for obs in object.observation_set.all %}
          <div class="card-text">
            {{ obs.as_html|safe }}
          </div>
        {% endfor %}

          <div class="row" id="row-enc-media">
            <div class="col-12" id="col-enc-media">
              <div class="card-columns mt-2">

                {% for a in object.photographs %}
                <div class="card shadow-lg">
                  <img src="{{ a.attachment.url }}" class="card-img-top" alt="{{ a.title }}">
                  <div class="card-body">
                    <p class="card-text">{{ a.title }}</p>
                  </div>
                </div>
                {% endfor %}

              </div>
            </div>
          </div>

      </div><!-- /.card-body -->

    </div><!-- /.card -->
  </div><!-- /.col#occ-detail-main -->

  <div class="col-12 col-md-6 col-lg-4" id="occ-detail-map">
      <div>
        {% leaflet_map "detailmap" callback="window.map_init" %}
      </div>
  </div><!-- /.col#occ-map -->
</div><!-- .row#row-occ-detail -->

<div id="row-occ-extra">
  <div class="col col-12 mb-2">

    {% block obscards %}
    {% endblock %}

  </div>
</div><!-- .row#row-occ-extra -->

{% endblock %}

{% block extrajs %}
    <!-- Some widgets need JQuery to be loaded early -->
    {% if settings.OFFLINE %}{# Serve third party libraries locally - demo mode #}
    <script src="{% static 'offline/jquery.min.js' %}"></script>
    {% else %}{# Serve third party libraries from CDN - production mode #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
      integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
      crossorigin="anonymous"></script>
    {% endif %}
    <script type="text/javascript">
    function map_init(map, options) {

      {% include 'shared/styles.js' %}

      $.getJSON("{% url 'sites-geojson' %}", function (data) {
          L.geoJson(data, {style: polystyle, onEachFeature: oef}).addTo(map);
      });

      /* Data loading */


      var enc_layer = L.geoJson(
        {{ object|geojsonfeature:"as_html,leaflet_title,leaflet_icon,leaflet_colour:where"|safe }},
        { style: pointstyle, pointToLayer: ptl, onEachFeature: oef_ll }
      );
      enc_layer.addTo(map);

      map.fitBounds(enc_layer.getBounds());

    };

    </script>
    {% endblock %}
