{% load observations %}
<div class="card col-12 shadow-lg">
  <div class="card-header{% if not object.production%} text-muted{% endif %}">
    <span class="float-right">{% block title_labels %}{% endblock title_labels %}</span>
    <h5 class="card-title">
      {{ object }}
    </h5>
    <h6 class="card-title text-muted">
      <span class="oi oi-calendar" aria-hidden="true"></span>
      {{ object.start_time|date:'d M Y H:i' }} - {{ object.end_time|date:'d M Y H:i' }}

      <span class="oi oi-tags" aria-hidden="true"></span>
      {{ object.production }}

      <span class="oi oi-person" title="Observed by" aria-hidden="true"></span>
      {{ object.reporter }}


      <span class="float-right">
        <a class="mr-2 text-primary" type="button" data-toggle="collapse"
          href="#details{{ object.id }}" aria-expanded="false"
          aria-controls="details{{ object.id }}"
          title="Toggle details">
          <span class="oi oi-expand-down" title="Name" aria-hidden="true"></span>
        </a>
        {% include "shared/admin_qa.html" with label=False hide_details=True %}
      </span>
    </h6>
  </div>

  <div class="collapse" id="details{{ object.id }}">
  <div class="card-body">
    <div class="card-text">
      <span class="oi oi-comment-square" title="Start comments" aria-hidden="true"></span>
      {{ object.start_comments | default:"-" }}
    </div>
    <div class="card-text">
      <span class="oi oi-comment-square" title="End comments" aria-hidden="true"></span>
      {{ object.end_comments | default:"-" }}
    </div>

    <div class="card-text ml-3">
    {% for user in object.team_set.all %}
      {{ user }}&nbsp;
    {% endfor %}
    </div>


    <div class="card-columns mt-2">
      {% if object.start_photo %}
      <div class="card shadow-lg">
        <img src="{{ object.start_photo.attachment.url }}"
          class="card-img-top" alt="Photo: Site conditions at survey start">
        <div class="card-body">
          <p class="card-text">Site conditions at survey start</p>
        </div>
      </div>
      {% endif %}
      {% if object.end_photo %}
      <div class="card shadow-lg">
        <img src="{{ object.end_photo.attachment.url }}"
          class="card-img-top" alt="Photo: Site conditions at survey end">
        <div class="card-body">
          <p class="card-text">Site conditions at survey end</p>
        </div>
      </div>
      {% endif %}

    </div>
  </div>

  <!--
  <div class="card-footer">
    <div class="row">
      <div class="col-12">
        Footer content
      </div>
    </div>
  </div>
  -->

  </div><!-- /#details{{ object.id }} -->
</div><!-- /.card -->
