{% load observations %}
<div class="card col-12 shadow-lg mb-1">
  <div class="card-header{% if not object.production%} text-muted{% endif %}">
    <span class="float-right">
      {% block title_labels %}{% endblock title_labels %}
      {% include "observations/survey_is_production.html" with survey=object %}
      {% include "observations/survey_site_visit_start_end.html" with survey=object %}
    </span>
    <h5 class="card-title">
      {{ object }}
    </h5>
    <h6 class="card-title text-muted">
      <span class="oi oi-calendar" aria-hidden="true"></span>
      {{ object.start_time|date:'d M Y' }} {{ object.start_time|time:'H:i' }} - {{ object.end_time|time:'H:i' }}

      <span class="oi oi-person" title="Observed by" aria-hidden="true"></span>
      <a href="{% url 'users:user-detail' pk=object.reporter.pk %}">{{ object.reporter }}</a>

      <span class="oi oi-spreadsheet" title="Encounters linked: {{ object.encounter_set.count }}" aria-hidden="true"></span>
      {{ object.encounter_set.count }}

      <span class="oi oi-layers" title="Duplicate surveys: {{ object.no_duplicates }}" aria-hidden="true"></span>
      {{ object.no_duplicates }}

      <span class="float-right">
        {% include "observations/toggle_details.html" with object=object %}
        {% include "shared/admin_qa.html" with object=object label=True hide_details=False %}
        {% include "observations/survey_make_production.html" with survey=object %}
      </span>
    </h6>
  </div>

  <div class="collapse" id="details{{ object.id }}">
  <div class="card-body">
    <div class="card-text">
      <span class="oi oi-comment-square" title="Start comments" aria-hidden="true"></span>
      {{ object.start_comments | default:"-" }}
    </div>
    <div class="card-text">
      <span class="oi oi-comment-square" title="End comments" aria-hidden="true"></span>
      {{ object.end_comments | default:"-" }}
    </div>

    <div class="card-text ml-3">
    {% for user in object.team_set.all %}
      {{ user }}&nbsp;
    {% endfor %}
    </div>

    {% for svy in object.duplicate_surveys.all %}
      <div>
      <span class="oi oi-layers" title="Duplicate survey" aria-hidden="true"></span>
      Duplicate Survey: {{ svy }}
      <span class="oi oi-spreadsheet" title="Encounters linked: {{ svy.encounter_set.count }}" aria-hidden="true"></span>
      {{ svy.encounter_set.count }}
      {% include "observations/survey_is_production.html" with survey=svy %}
      {% include "shared/admin_qa.html" with object=svy label=True hide_details=False %}
      {% include "observations/survey_make_production.html" with survey=svy %}
      </div>
    {% endfor %}

    <div class="card-columns mt-2">
      {% if object.start_photo %}
      <div class="card shadow-lg">
        <img src="{{ object.start_photo.attachment.url }}"
          class="card-img-top" alt="Photo: Site conditions at survey start">
        <div class="card-body">
          <p class="card-text">Site conditions at survey start</p>
        </div>
      </div>
      {% endif %}
      {% if object.end_photo %}
      <div class="card shadow-lg">
        <img src="{{ object.end_photo.attachment.url }}"
          class="card-img-top" alt="Photo: Site conditions at survey end">
        <div class="card-body">
          <p class="card-text">Site conditions at survey end</p>
        </div>
      </div>
      {% endif %}
      {% if object.attachments %}
      {% for a in object.attachments.all %}
      <div class="card shadow-lg">
        <img src="{% if a.attachment %}{{ a.attachment.url }}{% endif %}"
          class="card-img-top" alt="{{ a.title }}">
        <div class="card-body">
          <p class="card-text">{{ a.title }}</p>
        </div>
      </div>
      {% endfor %}
      {% endif %}

    </div>
  </div>

  <!--
  <div class="card-footer">
    <div class="row">
      <div class="col-12">
        Footer content
      </div>
    </div>
  </div>
  -->

  </div><!-- /#details{{ object.id }} -->
</div><!-- /.card -->
