<!-- Production -->
<span class="badge badge-{% if survey.production %}primary{% else %}secondary{% endif %}" title="{% if survey.production %}Production survey, included in analysis, will claim encounters when saved.{% else %}Training survey, excluded from analysis, will not claim encounters when saved.{% endif %}">
    {% if survey.production %}
    <span class="oi oi-badge" aria-hidden="true"></span> Production
    {% else %}
    <span class="oi oi-ban" aria-hidden="true"></span> Training
    {% endif %}
</span>
