{% load staticfiles taxonomy_tags %}
<div class="card card-md col-lg-4 col-md-6 col-sm-6 col-12">
  <img class="card-img-top"
    src="{% static 'images/map_example.png' %}" alt="Occurrence map">
  <div class="card-body">

    <h5 class="card-title">
      {{ original.code }}
    </h5>

    <h6 class="card-subtitle mb-2 text-muted">
      {{ original.name }}
    </h6>

    {% gazettal_labels request.user %}

  </div>

  <ul class="list-group list-group-flush">
    {% document_listgroupitem request.user %}
  </ul>

  <div class="card-footer">
    <a href="{% url 'community-detail' original.pk %}"
      class="btn btn-primary btn-sm btn-block"
      title="View details for community {{ original }}.">
      <span class="oi oi-eye" aria-hidden="true"></span>
      View Details
    </a>
    {% communitygazettal_add request.user %}
    {% document_add request.user "communities" %}
  </div>
</div>