{% load staticfiles taxonomy_tags occurrence_tags %}

<div class="card card-md col-lg-4 col-md-6 col-sm-6 col-12">
  <img class="card-img-top" src="{% static 'images/map_example.png' %}" alt="Occurrence map">
  <div class="card-body">

    <h5 class="card-title">
      {{ original.code }}
    </h5>

    <h6 class="card-subtitle mb-2 text-muted">
      {{ original.name }}
    </h6>

    {% gazettal_labels request.user %}

  </div>

  <ul class="list-group list-group-flush">
    {% document_listgroupitem request.user %}
  </ul>

  <div class="card-footer">
    <a href="{% url 'community-detail' original.pk %}"
      class="btn btn-primary btn-sm btn-block"
      title="View details for community {{ original }}.">
      <span class="oi oi-eye" aria-hidden="true"></span>
      View Details
    </a>
    {% if request.user.is_staff %}
    {% communitygazettal_add request.user block=True show_label_text=True %}
    {% conservationaction_add request.user "communities" block=True show_label_text=True %}
    {% document_add request.user "communities" block=True show_label_text=True %}
    {% admin_areaencounter_create_link original.pk "community" block=True label=True %}
    {% endif %}
    {% communityareaencounter_add_link original.pk block=True label=True %}

  </div>
</div>