{% load staticfiles taxonomy_tags %}
<div class="card" class="col-lg-2 col-md-3 col-sm-4 col-6">
  <img class="card-img-top"
    src="{% static 'images/map_example.png' %}" alt="Occurrence map">
  <div class="card-body">

    <h6 class="card-subtitle mb-2 text-muted">

    <!-- Name ID -->
    <span class="badge badge-primary" title="WACensus Name ID: {{original.name_id}}">
      {{original.name_id}}
    </span>

    <!-- Rank -->
    <span class="badge badge-primary" title="Taxonomic rank: {{ original.get_rank_display }}">
      {{ original.get_rank_display }}
    </span>

    {% taxonomic_status %}

    <!-- Publication status -->
    {% if original.publication_status < 2 %}
    <span class="badge badge-secondary">
      {{ original.get_publication_status_display }}
    </span>
    {% endif %}

    <!-- Leaf nodes are terminal taxa -->
    {% if original.is_leaf_node %}
    <span class="badge badge-success">
      <span class="oi oi-media-stop" title="Terminal Taxon" aria-hidden="true"></span>
    </span>
    {% endif %}
    </h6>

    <h5 class="card-title {% if original.current == False %}text-muted{% endif %}">
      {{ original.canonical_name }}
    </h5>

    <!-- Author -->
    {% if original.author %}
    <h6 class="card-subtitle mb-2 text-muted">
      <span class="oi oi-person" title="Author" aria-hidden="true"></span>
      {{ original.author }}
    </h6>
    {% endif %}

    {% vernacular_names %}

    {% gazettal_labels request.user %}

  </div>

  <ul class="list-group list-group-flush">
    {% document_listgroupitem request.user %}
  </ul>

  <div class="card-footer">
    <div class="row">


    <a href="{% url 'taxon-detail' original.name_id %}"
      class="btn btn-primary btn-sm btn-block"
      title="View details.">
      <span class="oi oi-eye" aria-hidden="true"></span>
      View Details
    </a>

    <a href="?name_id={{ original.name_id }}"
      class="btn btn-secondary btn-sm btn-block"
      title="Restrict results to {{ original.taxonomic_name }} with its parents and immediate children and reset all filters.">
      <span class="oi oi-project" aria-hidden="true"></span>
      Explore taxonomy
    </a>

    {% taxongazettal_add request.user %}
    {% document_add request.user "taxa" %}

    </div>
  </div>
</div>