{% extends "pages/base.html" %}
{% load leaflet_tags geojson_tags static %}
{% block title %}User: {{ object.username }}{% endblock %}
{% block content %}
 <!-- breadcrumbs.html-->
<div class="row">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'home' %}">Home</a>
      </li>
      <li class="breadcrumb-item">
        <a href="{% url 'users:user-list' %}">Users</a>
      </li>
      <li class="breadcrumb-item active">
        <a href="">{{ object }}</a>
      </li>
    </ol>
  </nav>
</div>
<!-- /breadcrumbs.html -->
  <div class="row" id="obj-detail-main">
    <div class="col-12 col-sm-12 col-md-6 col-lg-8">
      {% include object.card_template %}
    </div><!-- .col -->
    <div class="col-12 col-md-6 col-lg-4" id="occ-detail-map">
      <div>
        {% leaflet_map "detailmap" callback="window.map_init" %}
      </div>
    </div><!-- /.col#occ-map -->
  </div><!-- .row#id="obj-detail-main" -->

  <!-- Nav tabs -->
  <ul class="nav nav-pills" id="tab-svy" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="survey-tab" data-toggle="tab" href="#svy-tab" role="tab" aria-controls="svy-tab" aria-selected="true">Surveys (first 100)</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="encounter-reported-tab" data-toggle="tab" href="#enc-rep-tab" role="tab" aria-controls="enc-tab" aria-selected="false">Encounters (first 100)</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane active" id="svy-tab" role="tabpanel" aria-labelledby="survey-tab">
      <div class="row mt-2" id="row-svy">
        <div class="col-12" id="col-svy">
          {% for svy in surveys %}
          {% include svy.card_template with object=svy %}
          {% endfor %}
        </div><!-- /.col-svy -->
      </div><!-- /.row-svy -->
    </div>
    <div class="tab-pane" id="enc-rep-tab" role="tabpanel" aria-labelledby="encounter-reported-tab">
      <div class="row mt-2" id="row-enc-rep">
        <div class="col-12" id="col-enc-rep">
          {% for enc in encounters %}
          {% include enc.card_template with object=enc %}
          {% endfor %}
        </div><!-- /.col-enc -->
      </div><!-- /.row-enc -->
    </div>
  </div>
{% endblock content %}

{% block extrastyle %}
<style>
.leaflet-popup, .leaflet-popup-content-wrapper, .leaflet-popup-content {
  width: 350px;    /* narrower popup */
  padding: -10px;  /* fix close button position */
}
.leaflet-tooltip.leaflet-tooltip-wide {
  width: 400px;
  overflow-wrap: break-word; /* work wrap not working yet */
  word-wrap: break-word;
  hyphens: auto;
}
</style>
{% endblock %}

{% block extrajs %}
  <!-- Some widgets need JQuery to be loaded early -->
  {% if settings.OFFLINE %}{# Serve third party libraries locally - demo mode #}
  <script src="{% static 'offline/jquery.min.js' %}"></script>
  {% else %}{# Serve third party libraries from CDN - production mode #}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
    crossorigin="anonymous"></script>
  {% endif %}
  <script type="text/javascript">
  function map_init(map, options) {
    {% include 'shared/styles.js' %}
    $.getJSON("{% url 'sites-geojson' %}", function (data) {
        L.geoJson(data, {style: polystyle, onEachFeature: oef}).addTo(map);
    });
    var survey_start = L.geoJson(
      {{ surveys|geojsonfeature:"label,as_html:start_location"|safe }},
      { style: pointstyle, pointToLayer: ptl_svs, onEachFeature: oef_wideTT }
    );
    survey_start.addTo(map);
    var survey_end = L.geoJson(
      {{ surveys|geojsonfeature:"label,as_html:end_location"|safe }},
      { style: pointstyle, pointToLayer: ptl_sve, onEachFeature: oef_wideTT }
    );
    survey_end.addTo(map);
    var enc_layer = L.geoJson(
      {{ encounters|geojsonfeature:"as_html,leaflet_title,leaflet_icon,leaflet_colour:where"|safe }},
      { style: pointstyle, pointToLayer: ptl, onEachFeature: oef_llwideTT }
    );
    enc_layer.addTo(map);
    var group = new L.featureGroup([survey_start, survey_end, enc_layer]);
    map.fitBounds(group.getBounds());

    $(".zoom-map").click(function() {
      map.flyTo([this.dataset.lat, this.dataset.lon], 18, {animate: true});
    });
  };
  </script>
  {% endblock %}
