{% extends "base.html" %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">
      <h2>{{ object }}</h2>
    </div>
  </div>

{% if object == request.user %}
<!-- Action buttons -->
<div class="row">

  <div class="col-sm-12 ">
    <p>
    <a class="btn btn-primary" href="{% url 'users:update' %}">My Info</a>
    <a class="btn btn-primary" href="{% url 'account_email' %}">E-Mail</a>
    </p>
  </div>

</div>
<!-- End Action buttons -->
<!-- API auth -->
<div class="row">

  <div class="col-sm-12 ">
      <h2>Accessing the data</h2>
      <p>You can access all data through the API using your API token:
      <strong>{{ request.user.apitoken }}</strong>.</p>

      <h3>Code example in R</h3>
      <pre>
        require(httr); require(jsonlite); require(DT)
        url = "http://localhost:8220/api/1/animal-encounters/"
        j = httr::GET(paste0(url, "?format=json"),
            add_headers(Authorization="Token{{ request.user.apitoken }}")) %>%
            content("text") %>% fromJSON
        d = httr::GET(paste0(url, "?format=csv"),
            add_headers(Authorization="Token{{ request.user.apitoken }}")) %>%
            content("parsed")
        datatable(d)
      </pre>
      <p><strong>j</strong> is the data as JSON dictionary, <strong>d</strong> is the data as data.frame.</p>

      <h3>Code example in Python</h3>
      <pre>
          import requests
          url = 'http://localhost:8220/api/1/animal-encounters/'
          headers = {"Authorization": "Token {{ request.user.apitoken }}"}
          j = requests.get(url + "?format=json", headers=headers).json()
          d = requests.get(url + "?format=csv", headers=headers).content
      </pre>
  </div>

</div>
<!-- End API auth -->
{% endif %}


</div>
{% endblock content %}
