{% extends "base.html" %}
{% load static %}{% load i18n %}
{% block title %}Users{% endblock %}

{% block content %}

<div class="container">

    <h2>Users</h2>

    <div class="list-group">

        {% for user in user_list %}
        <div class="list-group-item">
          <a href="{% url 'users:detail' user.username %}">
            <h4 class="list-group-item-heading">{{ user }}</h4>
          </a>
            <i class="fa fa-envelope" aria-hidden="true"></i> {{ user.email }}
            <i class="fa fa-mobile" aria-hidden="true"></i> {{ user.phone }}
        </div>
        {% endfor %}

    </div>

</div>

{% endblock content %}
