/* make sure HTML is at least as tall as the viewport */
html{
    height: 100vh;
    position:relative;
}

/* force the BODY element to match the height of the HTML element */
body{
    height:100%;
    background: url('/static/images/80mile.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*font-family: 'Open Sans',Arial,Helvetica,Sans-Serif;*/
}