{% load staticfiles %}
<div class="card" style="width: 16rem; margin: 0.2rem;">
  <img class="card-img-top"
    src="{% static 'images/map_example.png' %}" alt="Occurrence map">
  <div class="card-body">

    <h5 class="card-title">
      {{ original.code }}
    </h5>

    <h6 class="card-subtitle mb-2 text-muted">
      {{ original.name }}
    </h6>

    {% for gazettal in original.gazettals %}
    <h6 class="card-subtitle mb-2">
      <span class="badge badge-danger">
      <span class="oi oi-warning" title="Listed as {{ gazettal.label }}" aria-hidden="true"></span>
        {{ gazettal.label }}
      </span>
      {% if request.user.is_staff %}
      <a href="{{ gazettal.url }}" title="Because you have DBCA Curator privileges, you may edit this conservation listing" target="_">
        <span class="oi oi-pencil" aria-hidden="true"></span>
      </a>
      {% endif %}
    </h6>
    {% endfor %}

  </div>

  <ul class="list-group list-group-flush">

    {% if request.user.is_staff %}
    <li class="list-group-item">
      <a href="{% url 'admin:conservation_communitygazettal_add' %}?community={{ original.pk }}"
         title="Because you have DBCA Curator privileges, you may propose a new conservation listing" target="_">
        <span class="oi oi-plus" aria-hidden="true"></span>
        Propose new cons listing
      </a>
    </li>
    {% endif %}

    {% for document in original.document_set.all %}
    <li class="list-group-item">
      {% for attachment in document.attachments.all %}
      <a href="{{ attachment.attachment.url }}" target="_" title="{{ attachment.title }}">
      <span class="badge badge-{% if attachment.confidential == True%}danger{% else %}primary{% endif %}">
        <span class="oi oi-document" title="PDF document" aria-hidden="true"></span>
      </span>
      </a>
      {% endfor %}
      {{ document }}
    </li>
    {% endfor %}

  <div class="card-footer">

  </div>
</div>