{% load staticfiles %}
<div class="card" style="width: 16rem; margin: 0.2rem;">
  <img class="card-img-top"
    src="{% static 'images/map_example.png' %}" alt="Occurrence map">
  <div class="card-body">

    <h6 class="card-subtitle mb-2 text-muted">

    </h6>

    <h5 class="card-title {% if original.current == False %}text-muted{% endif %}">
      {{ original.code }} -- {{ original.name }}
    </h5>

  </div>

  <!-- Management plan placeholder -->
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <span class="badge badge-info">
        <span class="oi oi-document" title="PDF document" aria-hidden="true"></span>
        PDF
      </span>
      Management Plan
    </li>

    <!-- Attachment placeholder -->
    <li class="list-group-item">
      <span class="badge badge-info">
        <span class="oi oi-document" title="PDF document" aria-hidden="true"></span>
        PDF
      </span>
      Attachment
    </li>
  </ul>

  <div class="card-footer">

  </div>
</div>