{% load staticfiles %}
<div class="card" style="width: 16rem; margin: 0.2rem;">
  <img class="card-img-top"
    src="{% static 'images/map_example.png' %}" alt="Occurrence map">
  <div class="card-body">

    <h6 class="card-subtitle mb-2 text-muted">

    <!-- Rank -->
    <span class="badge badge-primary">
      {{ original.get_rank_display }}
    </span>

    <!-- Name ID -->
    <span class="badge badge-primary">{{original.name_id}}</span>

    <!-- Taxonomic status -->
    {% if original.current == True %}
    <span class="badge badge-success">
      <span class="oi oi-thumb-up" title="Name is current" aria-hidden="true"></span>
    </span>
    {% else %}
    <span class="badge badge-secondary">
      <span class="oi oi-thumb-down" title="Name is non current" aria-hidden="true"></span>
    </span>
    {% endif %}

    <!-- Publication status -->
    {% if original.publication_status < 2 %}
    <span class="badge badge-secondary">
      {{ original.get_publication_status_display }}
    </span>
    {% endif %}

    <!-- Leaf nodes are terminal taxa -->
    {% if original.is_leaf_node %}
    <span class="badge badge-success">
      <span class="oi oi-media-stop" title="Terminal Taxon" aria-hidden="true"></span>
    </span>
    {% endif %}

    </h6>

    <h5 class="card-title {% if original.current == False %}text-muted{% endif %}">
      {{ original.taxonomic_name }}
    </h5>

    <!-- Author -->
    {% if original.author %}
    <h6 class="card-subtitle mb-2 text-muted">
      <span class="oi oi-pencil" title="Author" aria-hidden="true"></span>
      {{original.author}}
    </h6>
    {% endif %}

  </div>

  <!-- Management plan placeholder -->
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <span class="badge badge-info">
        <span class="oi oi-document" title="PDF document" aria-hidden="true"></span>
        PDF
      </span>
      Management Plan
    </li>

    <!-- Attachment placeholder -->
    <li class="list-group-item">
      <span class="badge badge-info">
        <span class="oi oi-document" title="PDF document" aria-hidden="true"></span>
        PDF
      </span>
      Attachment
    </li>
  </ul>

  <div class="card-footer">

    <a href="?name_id={{ original.name_id }}"
      class="btn btn-primary btn-sm btn-block"
      title="Restrict results to {{ original.taxonomic_name }}, its parents, and immediate children and reset all filters.">
      <span class="oi oi-aperture" aria-hidden="true"></span>
      Explore {{ original.taxonomic_name }}
    </a>

    <!-- Admin link: Taxon change -->
<!--     <a href="{% url 'admin:taxonomy_taxon_change' original.pk %}"
      class="btn btn-primary btn-sm btn-block" target="_" rel="nofollow">
      <span class="oi oi-eye" title="View and update details" aria-hidden="true"></span>
      View details
    </a>
 -->
  </div>
</div>