{% load observations %}
{% with original as o %}
<!-- Heading -->
<div class="row">
    <h5>{% block title %}{{ o }}{% endblock %}
    <span class="pull-xs-right">
        <a href="{{ o.absolute_admin_url }}"
            class="btn btn-primary btn-sm"
            target="_" title="Edit Area {{ o }} in new tab">
            <i class="fa fa-fw fa-pencil"></i>
            Edit
        </a>
        <a href="{{ o.all_encounters_url }}"
            class="btn btn-primary btn-sm"
            target="_" title="List all data collected within {{ o }}">
            <i class="fa fa-fw fa-table"></i>
            All Data
        </a>
        <a href="{{ o.animal_encounters_url }}"
            class="btn btn-primary btn-sm"
            target="_" title="List all data collected on animals within {{ o }}">
            <i class="fa fa-fw fa-table"></i>
            Animal Data
        </a>
    </span>
    </h5>
</div>
{% endwith %}
