{% load observations %}
{% with original as o %}
<div class="row">
    <i class="fa fa-fw fa-bar-chart"></i>
    {% if o.body_length_mm %}
    Length {{ o.body_length_mm|mm_as_cm }} cm
    {% endif %}

    {% if o.body_girth_mm %}
    Girth {{ o.body_girth_mm|mm_as_cm }} cm
    {% endif %}

    {% if o.tail_fluke_width_mm %}
    Fluke {{ o.tail_fluke_width_mm|mm_as_cm }} cm
    {% endif %}

    Tusks {{ o.tusks_found }} <i class="{{o.tusks_found|fa_observation_icon}}" aria-hidden="true"></i>

</div>
{% endwith %}
