{% load observations %}
{% with original as o %}
<!-- Heading -->
<div class="row">
    <h5>{% block title %}{{ o.leaflet_title }}{% endblock %}
    <span class="pull-xs-right">
    {% if o.name %}
    <a href="{% url 'admin:observations_encounter_changelist' %}?name={{ o.name }}"
        class="btn btn-primary btn-sm"
        target="_" title="Browse history of animal {{ o.name }} in new tab">
        <i class="fa fa-fw fa-history"></i>
        {{ o.name }}
    </a>
    <a href="/api/1/animal-encounters/?format=latex&name={{ o.name }}"
        class="btn btn-danger btn-sm"
        target="_" title="Export history of animal {{ o.name }}">
        <i class="fa fa-fw fa-file-pdf-o"></i>
    </a>
    {% endif%}
    <a href="{{ o.absolute_admin_url }}"
        class="btn btn-{{ o.status|tb_status_icon }} btn-sm"
        target="_" titile="Edit Encounter in new tab">
        <i class="fa fa-fw fa-pencil"></i>
        {{ o.get_status_display }}
    </a>
    </span>
    </h5>
</div>

<!-- Time and location -->
<div class="row">
    <i class="fa fa-fw fa-calendar"></i>
    {{ o.when|date:"r" }}
    <i class="fa fa-fw fa-map-marker"></i>
        Lat {{ o.latitude|floatformat:"-4" }} Lon {{ o.longitude|floatformat:"-4" }}
        ({{ o.crs }}) &plusmn; {{ o.location_accuracy }} m WGS 84
</div>

<!-- Observer -->
<div class="row">
    <i class="fa fa-fw fa-eye"></i>
    <a href="mailto:{{ o.observer.email }}">{{ o.observer.name }}</a>

    <i class="fa fa-fw fa-pencil"></i>
    <a href="mailto:{{ o.reporter.email }}">{{ o.reporter.name }}</a>
</div><!-- /.row -->

{% block headlines %}{% endblock %}
<!-- /Above photos -->

<!-- Optional photos -->
{% if o.photographs %}
<div class="row popupimage">
    <div id="slideshow-bob" class="carousel slide" data-ride="carousel">
      {% if o.photographs|length > 1 %}
      <ol id="popup-image-indicators" class="carousel-indicators">
        {% for p in o.photographs %}
        <li data-target="#carousel-example-generic"
            data-slide-to="{{ forloop.counter }}"
            {% if forloop.first %}class="active"{% endif %}></li>
        {% endfor %}
      </ol>
      {% endif %}
      <div class="carousel-inner" role="listbox">
          {% for p in o.photographs %}
        <div class="carousel-item{% if forloop.first %} active{% endif %} img-rounded">
          <img src="{{ p.attachment.url }}" class="img-rounded" alt="{{ p.title }}">
        </div>
        {% endfor %}
      </div>
      {% if o.photographs|length > 1 %}
      <a class="left carousel-control" href="#slideshow-bob"
         role="button" data-slide="prev">
        <span class="icon-prev" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#slideshow-bob"
         role="button" data-slide="next">
        <span class="icon-next" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
      {% endif %}
    </div>
</div><!-- /.row.margin-top-15 -->
{% endif %}
<!-- /Optional photos -->

<!--  Observations -->
{% block encounterdetails %}{% endblock %}
{% for obs in o.observations %}
{{ obs.as_html|safe }}
{% endfor %}

{% endwith %}
