{% load observations %}
{% with original as o %}
<div class="row">
    <i class="fa fa-fw fa-home" aria-hidden="true"></i>
    Logger on {{ o.get_habitat_display }}, depth {{ o.depth_mm|mm_as_cm }} cm
</div>
<div class="row">
    <i class="fa fa-fw fa-bar-chart" aria-hidden="true"></i>
    Logger {{ o.distance_to_vegetation_mm|mm_as_m }} m from vegetation line
    {% if o.distance_to_vegetation_mm > 0 %}towards water line{% else %}inland{% endif %}
</div>
<div class="row">
    <i class="fa fa-fw fa-thumb-tack" aria-hidden="true"></i>
    Marker 1 {{ o.marker1_present }} <i class="{{o.marker1_present|fa_observation_icon}}" aria-hidden="true"></i>
    {% if o.distance_to_marker1_mm %}{{ o.distance_to_marker1_mm|mm_as_m }} m from logger {% endif %}
</div>
<div class="row">
    <i class="fa fa-fw fa-thumb-tack" aria-hidden="true"></i>
    Marker 2 {{ o.marker1_present }} <i class="{{o.marker1_present|fa_observation_icon}}" aria-hidden="true"></i>
    {% if o.distance_to_marker2_mm %}{{ o.distance_to_marker2_mm|mm_as_m }} m from logger {% endif %}
</div>
{% endwith %}
