{% extends "base_wastd.html" %}
{% load leaflet_tags %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'turtle_tag:turtleobservation_list' %}">Turtle observations</a></li>
        <li class="breadcrumb-item active">{{ object.pk }}</li>
    </ol>
</nav>
{% endblock %}

{% block page_content_inner %}
<div class="row">
    <div class="col-sm-12 col-md-8">
        <h2>Turtle observation ID {{ object.pk }}</h2>
        <table class="table table-striped table-bordered table-condensed">
            <tbody>
                <tr>
                    <th>Observation time</th>
                    <td>{{ object.observation_datetime|date:"D, j M Y H:i" }}</td>
                </tr>
                <tr>
                    <th>Turtle</th>
                    <td><a href="{{ object.turtle.get_absolute_url }}">{{ object.turtle }}</a></td>
                </tr>
                <tr>
                    <th>Alive</th>
                    <td>{{ object.alive|yesno:"Yes,No,Unknown" }}</td>
                </tr>
                <tr>
                    <th>Place</th>
                    <td>{{ object.location.name|default_if_none:"" }}</td>
                </tr>
                <tr>
                    <th>Activity</th>
                    <td>{{ object.activity|default_if_none:"" }}</td>
                </tr>
                <tr>
                    <th>Tagger</th>
                    <td>{{ object.tagger_person.name|default_if_none:"" }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% if observation_points %}
<div class="row">
    <div class="col">
    {% leaflet_map "detailmap" callback="window.map_init" %}
    </div>
</div>
{% endif %}

{% endblock page_content_inner %}

{% block extra_js %}
{% if observation_points %}
{{ block.super }}
<script type="text/javascript">
    function map_init(map, options) {
        {% include "shared/styles.js" %}
        var observations_layer = L.geoJson();
        {% for point in observation_points %}
            point = {{ point|safe }};
            observations_layer.addData(point);
        {% endfor %}
        observations_layer.addTo(map);
        map.fitBounds(observations_layer.getBounds());
    };
</script>
{% endif %}
{% endblock extra_js %}
