apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
nameSuffix: -prod
secretGenerator:
  - name: turtles-env
    type: Opaque
    envs:
      - .env
resources:
  - ../../base
  - cronjobs/automated-qa
  - cronjobs/download-odk
  - cronjobs/reconstruct-missing-surveys
  - ingress.yaml
  - pdb.yaml
labels:
  - pairs:
      variant: prod
    includeSelectors: true
patches:
  - path: deployment_patch.yaml
  - path: deployment_hpa_patch.yaml
  - path: service_patch.yaml
images:
  - name: ghcr.io/dbca-wa/wastd
    newTag: 2.0.7
