{% load occurrence_tags observations bootstrap4 %}
<div class="card card-md col-lg-4 col-md-6 col-sm-6 col-12 shadow-lg qa-{{ object.status }}">

  <div class="card-header">
    <h5 class="card-title">{{ object.detection_method }} of {{ object.health }} {{ object.maturity }}</h5>
  </div>

  <div class="card-body">


    <p class="card-text">
      {% if object.cause_of_death %}&#9760; {{ object.cause_of_death }}<br/>{% endif %}
      Species ID: {{ object.species_id_confidence }}
    </p>

    {% if object.distinctive_features %}
    <p class="card-text">
      Distinctive features: {{ object.distinctive_features }}
    </p>
    {% endif %}

    {% if object.actions_taken %}
    <p class="card-text">
      Actions taken: {{ object.actions_taken }}
    </p>
    {% endif %}

    {% if object.actions_required %}
    <p class="card-text">
      Actions required: {{ object.actions_taken }}
    </p>
    {% endif %}

    {% if object.observation_details %}
    <p class="card-text">
      <span class="oi oi-comment-square" aria-hidden="true"></span>
      {{ object.observation_details }}
    </p>
    {% endif %}

    {% if object.secondary_signs.all %}
    <p class="card-text">
      &#128169; {% for ss in object.secondary_signs.all %} {{ ss }}{% endfor %}
    </p>
    {% endif %}

    {% if object.sum_observed > 1 %}
    <h6 class="card-title">Animal Group Observation</h6>
    Total {{ object.sum_observed }}
    <small>
    <div class="row">
      <span class="col col-3"></span>
      <span class="col col-2 text-right">&female;</span>
      <span class="col col-2 text-right">&male;</span>
      <span class="col col-2 text-right">?</span>
      <span class="col col-3 text-right">&Sigma;</span>
    </div>
    <div class="row">
      <span class="col col-3">adlt</span>
      <span class="col col-2 text-right">{{ object.no_adult_female|default_if_none:"-" }}</span>
      <span class="col col-2 text-right">{{ object.no_adult_male|default_if_none:"-" }}</span>
      <span class="col col-2 text-right">{{ object.no_adult_unknown|default_if_none:"-" }}</span>
      <span class="col col-3 text-right">{{ object.sum_adult }}</span>
    </div>
    <div class="row">
      <span class="col col-3">juv</span>
      <span class="col col-2 text-right">{{ object.no_juvenile_female|default_if_none:"-" }}</span>
      <span class="col col-2 text-right">{{ object.no_juvenile_male|default_if_none:"-" }}</span>
      <span class="col col-2 text-right">{{ object.no_juvenile_unknown|default_if_none:"-" }}</span>
      <span class="col col-3 text-right">{{ object.sum_juvenile }}</span>
    </div>
    <div class="row">
      <span class="col col-3">dep</span>
      <span class="col col-2 text-right">{{ object.no_dependent_young_female|default_if_none:"-" }}</span>
      <span class="col col-2 text-right">{{ object.no_dependent_young_male|default_if_none:"-" }}</span>
      <span class="col col-2 text-right">{{ object.no_dependent_young_unknown|default_if_none:"-" }}</span>
      <span class="col col-3 text-right">{{ object.sum_dependent_young }}</span>
    </div>
  </small>
    {% endif %}

  </div><!-- /.card-body -->

  {% include 'occurrence/include/obsgroup_card_footer.html' %}

</div><!-- /.card -->