{% load observations occurrence_tags %}
<div class="card {% if collapse %}{% else %}card-md col-lg-4 col-md-6 col-sm-6{% endif %} col-12 shadow-lg">

  <div class="card-header">
    <h6 class="card-title">
      {{ object.encountered_on }}
      {% if collapse %}
      <small class="float-right">
        <!-- View details -->
        <a href="{{ object.get_absolute_url }}"
            title="View {{ object }}">
          <span class="oi oi-eye" aria-hidden="true"></span>
        </a>
        <!-- Edit details -->
        <a href="{{ object.update_url }}"
            title="Edit {{ object }}.">
          <span class="oi oi-pencil" aria-hidden="true"></span>
        </a>
      </small>
      {% endif %}
    </h6>
    <h6 class="card-subtitle">

      <span class="badge badge-{{ object.status|tb_status_icon }}" title="QA status">
      QA: {{ object.get_status_display }}
    </span>
    </h6>
  </div>

  <div class="card-body">
    {% if collapse %}{% else %}
      <p class="card-text">
        <a href="{{ subject.get_absolute_url }}">
          <span class="oi oi-eye" title="Subject" aria-hidden="true"></span>
          {{ object.subject }}
        </a>
    </p>
    {% endif %}

    <h6 class="card-text">
      <span class="oi oi-person" title="Encountered by" aria-hidden="true"></span>
      {{ object.encountered_by }}
    </h6>

    <p class="card-text">
      <span class="oi oi-comment-square" title="Description" aria-hidden="true"></span>
      {{ object.description }}
    </p>
  </div><!-- /.card-body -->

  {% if collapse %}{% else %}
  <div class="card-footer">
    <div class="row">
      <div class="col-12">
      {% areaencounter_detail_link object block=False label=True %}
      {% areaencounter_update_link object block=False label=True %}
      {% if request.user.is_staff %}
      {% admin_absoluteadminurl_link object "occurrence" block=False label=True %}
      {% endif %}
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.card-footer -->
  {% endif %}

</div><!-- /.card -->