{% load occurrence_tags observations bootstrap4 %}
<div class="card card-md col-lg-4 col-md-6 col-sm-6 col-12 shadow-lg qa-{{ object.status }}">

 <div class="card-body">

    <p class="card-text">
      <span class="oi oi-map" aria-hidden="true"></span>
      {{ object.get_survey_type_display }}
    </p>

    <p class="card-text">
      <span class="oi oi-map" aria-hidden="true"></span>
      {{ object.survey_method }}
    </p>

    <p class="card-text">
      <span class="oi oi-globe" aria-hidden="true"></span>
      Area {{ object.area_surveyed_m2 }} m2
    </p>

    <p class="card-text">
      <span class="oi oi-clock" aria-hidden="true"></span>
      Duration {{ object.survey_duration_min }} min
    </p>

    <p class="card-text">
      <span class="oi oi-droplet" aria-hidden="true"></span>
      Spent {{ object.survey_effort_minutes_per_100sqm }} min per 100 m2
    </p>

  </div><!-- /.card-body -->

 {% include 'occurrence/include/obsgroup_card_footer.html' %}

</div><!-- /.card -->