{% load occurrence_tags observations bootstrap4 %}
<div class="card card-md col-lg-4 col-md-6 col-sm-6 col-12 shadow-lg qa-{{ object.status }}">
 <div class="card-body">

    <p class="card-text">
      <span class="oi oi-bug" aria-hidden="true"></span>
      {{ object.taxon.taxonomic_name }}
    </p>

    <p class="card-text">
      <span class="oi oi-tags" aria-hidden="true"></span>
      {{ object.taxon.vernacular_name }}
    </p>

  </div><!-- /.card-body -->
  {% include 'occurrence/include/obsgroup_card_footer.html' %}
</div><!-- /.card -->