{% load occurrence_tags observations bootstrap4 %}
<div class="card card-md col-lg-4 col-md-6 col-sm-6 col-12 shadow-lg qa-{{ object.status }}">

  <img src="{{ object.attachment.url }}" class="card-img-top" alt="{{ object.title }}">

  <div class="card-body">

    <p class="card-text">
      <span class="oi oi-document" aria-hidden="true"></span>
      <a href="{{ object.attachment.url }}" target="_" title="Open {{ object.title }} in a new tab">
        {{ object.title }}
      </a>
    </p>

    <p class="card-text">
      <span class="oi oi-person" aria-hidden="true"></span>
      {{ object.author }}
    </p>

    <p class="card-text">
      {% if attachment.confidential == True %}
      <span class="oi oi-lock-locked" aria-hidden="true"></span>
      Confidential
      {% else %}
      <span class="oi oi-lock-unlocked" aria-hidden="true"></span>
      Public
      {% endif %}
    </p>

  </div><!-- /.card-body -->

  {% include 'occurrence/include/obsgroup_card_footer.html' %}

</div><!-- /.card -->

