{% load taxonomy_tags occurrence_tags observations bootstrap4 %}
<div class="card card-md col-lg-4 col-md-6 col-sm-6 col-12">

  <h5>
    {{ original.last_fire_date }}
    <span class="float-right">

    </span>
  </h5>

  Fire intensity: {{ original.get_fire_intensity_display }}

  <div>
     <a href="{{ original.update_url }}"
        class="btn btn-primary btn-sm"
        title="Edit associated species.">
        <span class="oi oi-pencil" aria-hidden="true"></span>
        Edit
      </a>

      <a href="{{ original.absolute_admin_url }}"
        class="btn btn-sm btn-{{ original.status|tb_status_icon }}"
        title="Edit and QA in data curation portal.">
        <span class="oi oi-pencil" aria-hidden="true"></span>
        QA: {{ original.get_status_display }}
      </a>
  </div>
</div>

