{% load occurrence_tags observations bootstrap4 %}
<div class="card card-md col-lg-4 col-md-6 col-sm-6 col-12 shadow-lg qa-{{ object.status }}">

 <div class="card-body">

    <p class="card-text">
      Pristine {{ object.pristine_percent }} &percnt;
    </p>
     <p class="card-text">
      Excellent {{ object.excellent_percent }} &percnt;
    </p>
     <p class="card-text">
      Very good {{ object.very_good_percent }} &percnt;
    </p>
     <p class="card-text">
      Good {{ object.good_percent }} &percnt;
    </p>
     <p class="card-text">
      Degraded {{ object.degraded_percent }} &percnt;
    </p>
     <p class="card-text">
      Completely degraded {{ object.completely_degraded_percent }} &percnt;
    </p>

  </div><!-- /.card-body -->
 {% include 'occurrence/include/obsgroup_card_footer.html' %}
</div><!-- /.card -->