{% load occurrence_tags observations bootstrap4 %}
<div class="card card-md col-lg-4 col-md-6 col-sm-6 col-12 shadow-lg qa-{{ object.status }}">

 <div class="card-body">

    <p class="card-text">
      Landform {{ object.landform }}
    </p>
    <p class="card-text">
      Rock type {{ object.rock_type }}
    </p>
    <p class="card-text">
      Loose rock {{ object.loose_rock_percent }} &percnt;
    </p>
    <p class="card-text">
      Soil type {{ object.soil_type }}
    </p>
    <p class="card-text">
      Soil colour {{ object.soil_colour }}
    </p>
    <p class="card-text">
      Drainage {{ object.drainage }}
    </p>

  </div><!-- /.card-body -->
 {% include 'occurrence/include/obsgroup_card_footer.html' %}
</div><!-- /.card -->