{% load occurrence_tags observations bootstrap4 %}
<div class="card card-md col-lg-4 col-md-6 col-sm-6 col-12 shadow-lg qa-{{ object.status }}">

 <div class="card-body">

    <p class="card-text">
      <span class="oi oi-tag" aria-hidden="true"></span>
      {{ object.sample_type }} {{ object.sample_label }} by {{ object.collector_id }} for {{ object.sample_destination }}
    </p>

    <p class="card-text">
      <span class="oi oi-document" aria-hidden="true"></span>
      {{ object.permit_type }} {{ object.permit_id }} by {{ object.collector_id }}
    </p>

  </div><!-- /.card-body -->

  {% include 'occurrence/include/obsgroup_card_footer.html' %}

</div><!-- /.card -->