{% load occurrence_tags observations bootstrap4 %}
<div class="card card-md col-lg-4 col-md-6 col-sm-6 col-12 shadow-lg qa-{{ object.status }}">

 <div class="card-body">

    <h6 class="card-title">Survey level</h6>
    <p class="card-text">
      <span class="oi oi-list" aria-hidden="true"></span>
      land_manager_present: {{ object.land_manager_present }}
    </p>
    <p class="card-text">
      <span class="oi oi-list" aria-hidden="true"></span>
      count_method: {{ object.count_method }}
    </p>
    <p class="card-text">
      <span class="oi oi-list" aria-hidden="true"></span>
      count_accuracy: {{ object.count_accuracy }}
    </p>
    <p class="card-text">
      <span class="oi oi-list" aria-hidden="true"></span>
      count_subject: {{ object.count_subject }}
    </p>

    <h6 class="card-title">Plant Count (Detailed)</h6>
    <p class="card-text">
      <span class="oi oi-list" aria-hidden="true"></span>
      no_alive_mature: {{ object.no_alive_mature }}
    </p>
    <p class="card-text">
      <span class="oi oi-list" aria-hidden="true"></span>
      no_alive_juvenile: {{ object.no_alive_juvenile }}
    </p>
    <p class="card-text">
      <span class="oi oi-list" aria-hidden="true"></span>
      no_alive_seedlings: {{ object.no_alive_seedlings }}
    </p>
    <p class="card-text">
      <span class="oi oi-list" aria-hidden="true"></span>
      no_dead_mature: {{ object.no_dead_mature }}
    </p>
    <p class="card-text">
      <span class="oi oi-list" aria-hidden="true"></span>
      no_dead_juvenile: {{ object.no_dead_juvenile }}
    </p>
    <p class="card-text">
      <span class="oi oi-list" aria-hidden="true"></span>
      no_dead_seedlings: {{ object.no_dead_seedlings }}
    </p>

    <h6 class="card-title">Plant Count (Simple)</h6>
    <p class="card-text">
      <span class="oi oi-list" aria-hidden="true"></span>
      no_alive_simple: {{ object.no_alive_simple }}
    </p>
    <p class="card-text">
      <span class="oi oi-list" aria-hidden="true"></span>
      no_dead_simple: {{ object.no_dead_simple }}
    </p>

    <h6 class="card-title">Quadrats</h6>
    <p class="card-text">
      <span class="oi oi-list" aria-hidden="true"></span>
      quadrats_present: {{ object.quadrats_present }}
    </p>
    <p class="card-text">
      <span class="oi oi-list" aria-hidden="true"></span>
      quadrats_details_attached: {{ object.quadrats_details_attached }}
    </p>
    <p class="card-text">
      <span class="oi oi-list" aria-hidden="true"></span>
      no_quadrats_surveyed: {{ object.no_quadrats_surveyed }}
    </p>
    <p class="card-text">
      <span class="oi oi-list" aria-hidden="true"></span>
      population_area_estimated_m2: {{ object.population_area_estimated_m2 }}
    </p>
    <p class="card-text">
      <span class="oi oi-list" aria-hidden="true"></span>
      quadrat_area_individual_m2: {{ object.quadrat_area_individual_m2 }}
    </p>
    <p class="card-text">
      <span class="oi oi-list" aria-hidden="true"></span>
      quadrat_area_total_m2: {{ object.quadrat_area_total_m2 }}
    </p>

    <h6 class="card-title">Flowering</h6>
    <p class="card-text">
      <span class="oi oi-list" aria-hidden="true"></span>
      flowering_plants_percent: {{ object.flowering_plants_percent }}
    </p>
    <p class="card-text">
      <span class="oi oi-list" aria-hidden="true"></span>
      clonal_present: {{ object.clonal_present }}
    </p>
    <p class="card-text">
      <span class="oi oi-list" aria-hidden="true"></span>
      vegetative_present: {{ object.vegetative_present }}
    </p>
    <p class="card-text">
      <span class="oi oi-list" aria-hidden="true"></span>
      flowerbuds_present: {{ object.flowerbuds_present }}
    </p>
    <p class="card-text">
      <span class="oi oi-list" aria-hidden="true"></span>
      flowers_present: {{ object.flowers_present }}
    </p>
    <p class="card-text">
      <span class="oi oi-list" aria-hidden="true"></span>
      immature_fruit_present: {{ object.immature_fruit_present }}
    </p>
    <p class="card-text">
      <span class="oi oi-list" aria-hidden="true"></span>
      ripe_fruit_present: {{ object.ripe_fruit_present }}
    </p>
    <p class="card-text">
      <span class="oi oi-list" aria-hidden="true"></span>
      dehisced_fruit_present: {{ object.dehisced_fruit_present }}
    </p>
    <p class="card-text">
      <span class="oi oi-list" aria-hidden="true"></span>
      plant_condition: {{ object.plant_condition }}
    </p>
    <p class="card-text">
      <span class="oi oi-list" aria-hidden="true"></span>
      comments: {{ object.comments }}
    </p>

  </div><!-- /.card-body -->

  {% include 'occurrence/include/obsgroup_card_footer.html' %}

</div><!-- /.card -->