# Copy this file to the project root and populate with confidential settings.

PORT=8220
CSRF_COOKIE_SECURE=False
SESSION_COOKIE_SECURE=False
CACHE_URL=uwsgi://
COVERALLS_REPO_TOKEN="xxx"


# PostgreSQL
DATABASE_URL="postgis://user:pass@host:port/db"

# General settings
DJANGO_ADMIN_URL=
DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_SECRET_KEY="xxx"
# DJANGO_ALLOWED_HOSTS=.dbca.wa.gov.au
DJANGO_ALLOWED_HOSTS=localhost
ALLOWED_HOSTS=localhost
DEFAULT_USER_PASSWORD="xxx"
SITE_NAME="Threatened Species and Communities"
SITE_TITLE="TSC"
SITE_CODE="TSC"

DJANGO_DEBUG=True

# AWS Settings
DJANGO_AWS_ACCESS_KEY_ID="xxx"
DJANGO_AWS_SECRET_ACCESS_KEY="xxx"
DJANGO_AWS_STORAGE_BUCKET_NAME="xxx"

# Used with email
DJANGO_MAILGUN_API_KEY=
DJANGO_SERVER_EMAIL=

# Security! Better to use DNS for this task, but you can use redirect
DJANGO_SECURE_SSL_REDIRECT=False

# django-allauth
DJANGO_ACCOUNT_ALLOW_REGISTRATION=True
COMPRESS_ENABLED=True

# django-synctool
SYNCTOOL_API_TOKEN="xxx"

# google maps API
GOOGLE_MAPS_API_KEY="xxx"

# ODK Aggregate
ODKA_URL="https://dpaw-data.appspot.com"
ODKA_UN="xxx"
ODKA_PW="xxx"
