{% extends "base_wastd.html" %}
{% load bootstrap_pagination crispy_forms_tags %}

{% block leaflet_style %}{% endblock %}
{% block leaflet_js %}{% endblock %}

{% block page_content_inner %}
<!-- Search bar -->
<div class="row">
    <div class="col-xs-12 col-sm-6">
        <form action="" method="get">
            <input id="search_field" type="text" class="form-control" name="q" placeholder="Search turtles (ID, tags, name, etc.)" value="{{ query_string }}">
        </form>
    </div>
    <div class="col-xs-12 col-sm-6">
        <span class="float-right">
            <!-- FIXME: proper permissions check -->
            {% if user.is_staff %}
            <a class="btn btn-primary" href="{% url 'admin:tagging_turtle_add' %}">
                <i class="fa-solid fa-plus"></i>
                Add new turtle
            </a>
            {% endif %}
        </span>
    </div>
</div>

{% block pagination_row %}
<div class="row mt-1" id="pagination-row">
    <div class="col">
    {% if object_list %}
        {% if object_count %}<div>Found {{ object_count }} records</div>{% endif %}
        {% if page_obj.has_other_pages %}<div>{% bootstrap_paginate page_obj range=10 show_prev_next="true" show_first_last="true" %}</div>{% endif %}
    {% endif %}
    </div>
</div>
{% endblock pagination_row %}

{% if object_list %}
<div class="row">
  <div class="col">
    <table class="table table-striped table-bordered table-sm table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Species</th>
                <th>Sex</th>
                <th>Tags</th>
                <th>Nesting/other group</th>
                <th>Date entered</th>
                <th>Name</th>
                <th>Observations</th>
                <th>Most recent obs.</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for obj in object_list %}
            <tr>
                <td>{{ obj.pk }}</td>
                <td><a href="{{ obj.get_absolute_url }}">{{ obj.species.common_name }}</a></td>
                <td>{{ obj.get_sex_display }}</td>
                <td>{{ obj.get_tags_description }}</td>
                <td>{{ obj.location.name }}</td>
                <td>{{ obj.created|date:"j M Y" }}</td>
                <td>{{ obj.name|default_if_none:"" }}</td>
                <td>{{ obj.turtleobservation_set.count }}</td>
                <td>{{ obj.get_newest_observation.observed|date:"D, j M Y H:i"|default_if_none:"" }}</td>
                <td>
                <!-- FIXME: proper permissions check -->
                <a class="btn btn-primary" href="{% url 'tagging:turtleobservation_add' %}?turtle_id={{ obj.pk }}">
                    <i class="fa-regular fa-eye"></i>
                </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>
</div>
{% endif %}

{% if object_list %}
{% if page_obj.has_other_pages %}<div>{% bootstrap_paginate page_obj range=10 show_prev_next="true" show_first_last="true" %}</div>{% endif %}
{% endif %}

{% endblock page_content_inner %}

{% block extra_js %}{% endblock %}
