{% extends "base_wastd.html" %}
{% load crispy_forms_tags %}

{% block extra_style %}
{{ block.super }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" integrity="sha256-siyOpF/pBWUPgIcQi17TLBkjvNgNQArcmwJB8YvkAgg=" crossorigin="anonymous" />
{% endblock %}

{% block page_content_inner %}
<h1>Add new turtle tagging observation</h1>
{% if form.errors %}
<div class="alert alert-danger" role="alert">Please correct the error(s) below</div>
{% endif %}
{% crispy form %}
{% endblock page_content_inner %}

{% block extra_js %}
{{ block.super }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha256-bqVeqGdJ7h/lYPq6xrPv/YGzMEb6dNxlfiTUHSgRCp8=" crossorigin="anonymous"></script>
<script type="text/javascript">
    // Document ready events:
    $(function() {
        // Initialise datepicker widgets
        $(".dateinput").datepicker({
            format: 'dd/mm/yyyy',
            autoclose: true,
            todayHighlight: true
        });
    });
</script>
{% endblock extra_js %}
