<!-- conservation/include/conservationaction_card.html -->
<div class="card card-md col-lg-4 col-md-6 col-sm-6 col-12">
  <h6 class="card-header">
    <div class="row">
      <span class="badge badge-secondary" title="Conservation Action">
        <span class="oi oi-list" aria-hidden="true"></span>
        {{ original.category }}
      </span>
      <span class="badge badge-success" title="Completion Status">
        <span class="oi oi-task" aria-hidden="true"></span>
        Progress: {{ original.get_status_display }}
      </span>
    </div>
  {{ original.instructions }}
  </h6>

  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">
      <!-- taxa -->
      {% for taxon in original.taxa.all %}
      <p class="card-text">
        <a href="{{ taxon.get_absolute_url }}">
          <span class="oi oi-eye"
            title="Species" aria-hidden="true"></span>
          {{ taxon }}
        </a>
      </p>
      {% endfor %}

      <!-- communities -->
      {% for com in original.communities.all %}
      <p class="card-text">
        <a href="{{ com.get_absolute_url }}">
          <span class="oi oi-eye"
            title="Communities" aria-hidden="true"></span>
          {{ com }}
          </a>
      </p>
      {% endfor %}
      <!-- documents -->

      {% if original.document %}
      <p class="card-text">
        <span class="oi oi-document"
          title="Document" aria-hidden="true"></span>
        {{ original.document }}
      </p>
      {% endif %}
      <!-- area code -->

    </h6>
    <p class="card-text">
      <span class="oi oi-calendar"
        title="Completion date" aria-hidden="true"></span>
      {% if original.completion_date%}
      {{ original.completion_date|date:"D d M Y" }}
      {% else %}
      ongoing
      {% endif %}
      <span class="float-right">
        <span class="oi oi-dollar"
        title="Total Expenditure" aria-hidden="true"></span>
      {{ original.expenditure }}
      </span>
    </p>
    <p class="card-text">
      <span class="oi oi-comment-square"
        title="Notes" aria-hidden="true"></span>
      {% if original.implementation_notes %}
      {{ original.implementation_notes }}
      {% endif %}
    </p>

    <!-- activities -->
    {% for act in original.conservationactivity_set.all %}
        <div class="card card-md col-12">
          <div class="card-header">
            <p class="card-text">
              <span class="oi oi-calendar"
              title="Expenditure" aria-hidden="true"></span>
                {% if act.completion_date%}
                {{ act.completion_date|date:"D d M Y" }}
                {% else %}
                ongoing
                {% endif %}
              <span class="float-right">
                <span class="oi oi-dollar"
                      title="Expenditure" aria-hidden="true"></span>
                {{ act.expenditure }}
              </span>
            </p>
          </div>
          <div class="card-body">
            <p class="card-text">
              <span class="oi oi-comment-square"
                title="Notes" aria-hidden="true"></span>
              {% if act.implementation_notes %}
              {{ act.implementation_notes }}
              {% endif %}
            </p>
          </div>

          <div class="card-footer">
            <a href="{{ act.update_url }}" class="btn btn-sm btn-block btn-primary">
              <span class="oi oi-pencil" aria-hidden="true"></span>
              <span class="oi oi-task" aria-hidden="true"></span>
              Update progress
            </a>
          </div>

        </div>
    {% endfor %}
    <!-- /activities -->

  </div><!-- /.card-body -->

  <div class="card-footer">
    <!-- Conservation activity view -->
    <a href="{{ original.get_absolute_url }}"
        title="View conservation action"
        role="button"
        class="btn btn-primary btn-sm btn-block">
      <span class="oi oi-eye" aria-hidden="true"></span>
      <span class="oi oi-task" aria-hidden="true"></span>
      View details
    </a>
    <!-- /Conservation activity view -->
    <!-- Conservation activity add -->
    <a href="{% url 'conservation:conservationactivity-create' pk=original.pk %}"
        title="Report a new conservation activity."
        role="button"
        class="btn btn-primary btn-sm btn-block">
      <span class="oi oi-plus" aria-hidden="true"></span>
      <span class="oi oi-task" aria-hidden="true"></span>
      Report progress
    </a>
    <!-- /Conservation activity add -->
    <!-- Conservation action update -->
    <a href="{{ original.update_url }}"
        title="Report completion of the entire conservation action."
        role="button"
        class="btn btn-primary btn-sm btn-block">
      <span class="oi oi-pencil" aria-hidden="true"></span>
      <span class="oi oi-task" aria-hidden="true"></span>
      Report completion
    </a>
    <!-- /Conservation action update -->
  </div><!-- /.card-footer -->
</div><!-- /.card -->
<!-- conservation/includes/conservationaction_card.html -->