{% with original as o %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">{% block title %}{{ o.leaflet_title }}{% endblock %}</h5>
        <p class="card-text">
          <i class="fa-solid fa-calendar-days" title="When" aria-hidden="true"></i> {{ o.when|date:'d M Y H:i' }}
        </p>
        <p class="card-text">
          <i class="fa-solid fa-eye" title="Observed by" aria-hidden="true"></i> {{ o.observer.name }}
        </p>
        {% block headlines %}{% endblock %}
    </div>
</div>
{% endwith %}
