{% load observations %}
{% with original as o %}
<div class="row">
    <span class="oi oi-bar-chart"></span>&nbsp;
    Water {{ o.bearing_to_water_manual }}

    Fan {{ o.leftmost_track_manual }} - {{ o.rightmost_track_manual }}

    Tracks {{ o.no_tracks_main_group }} ({{ o.no_tracks_main_group_min }}..{{ o.no_tracks_main_group_max }})

    Emerged {{ o.hatchling_emergence_time }} ({{ o.get_hatchling_emergence_time_source_display }})

    {% if o.cloud_cover_at_emergence %}
    Cloud cover {{ o.cloud_cover_at_emergence }}/8
    {% endif %}

<!--
outlier_tracks_present
hatchling_path_to_sea
path_to_sea_comments
hatchling_emergence_time_known
cloud_cover_at_emergence_known
light_sources_present
-->
</div>
{% endwith %}

