{% for gazettal in original.gazettals %}
<h6 class="card-subtitle mb-2">
  <span class="badge badge-{% if gazettal.is_active %}danger{% else %}secondary{% endif %}">
  <span class="oi oi-warning" title="Listed as {{ gazettal.label }}" aria-hidden="true"></span>
    {{ gazettal.label }}
  </span>

  {% if is_staff %}
    <a href="{{ gazettal.url }}"
      title="Because you have DBCA Curator privileges, you may edit this conservation listing." target="_">
      <span class="oi oi-pencil" aria-hidden="true"></span>
    </a>
  {% endif %}
</h6>
{% endfor %}