{% for gazettal in gazettals %}
<div class="row d-block">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          {{ gazettal }}
          <small class="float-right">
            {% if is_staff %}
            <a href="{{ gazettal.url }}"
              title="Because you have DBCA Curator privileges, you may edit this conservation listing." target="_">
              <span class="oi oi-pencil" aria-hidden="true"></span>
            </a>
            {% endif %}
          </small>
        </h5>

        <p class="card-text">
          <span class="badge badge-warning" title="Legislative scope">
            {{ gazettal.get_scope_display }}
          </span>

          <span class="badge badge-success" title="Approval status">
            {{ gazettal.get_status_display }}
          </span>

          <span class="badge badge-primary" title="Effective dates">
            <span class="oi oi-calendar" aria-hidden="true"></span>
            Effective from
            {% if gazettal.effective_from %}
            {{ gazettal.effective_from|date:'r' }}
            {% else %}
            unknown
            {% endif %}
            -
            {% if gazettal.effective_to %}
            {{ gazettal.effective_to|date:'r' }}
            {% else %}
            unknown
            {% endif %}
          </span>

          {% if gazettal.last_reviewed_on %}
          <span class="badge badge-primary" title="Reviewed last">
            <span class="oi oi-check" aria-hidden="true"></span>
            Last reviewed on {{ gazettal.last_reviewed_on|date:'r' }}
          </span>
          {% else %}
          <span class="badge badge-primary" title="Reviewed last">
          <span class="oi oi-x" aria-hidden="true"></span>
            Not yet reviewed
          </span>
          {% endif %}
          {% if gazettal.review_due %}
          <span class="badge badge-primary" title="Review due">
            <span class="oi oi-bell" aria-hidden="true"></span>
            Next review due on {{ gazettal.review_due|date:'r' }}
          </span>
          {% else %}
          <span class="badge badge-primary" title="Reviewed last">
            <span class="oi oi-bolt" aria-hidden="true"></span>
            No review date set
          </span>
          {% endif %}
        </p>


      </div>
    </div>
  </div>
</div>
{% endfor %}