{% if object.vernacular_name %}
<h6 class="card-subtitle mb-2 text-muted">
  <span class="oi oi-double-quote-sans-left" title="Preferred English vernacular name" aria-hidden="true"></span>
  {{ object.vernacular_name }}
</h6>
{% endif %}

{% if object.vernacular_names and object.vernacular_names != object.vernacular_name %}
<h6 class="card-subtitle mb-2 text-muted">
  <span class="oi oi-tags" title="All vernacular names" aria-hidden="true"></span>
  {{ object.vernacular_names }}
</h6>
{% endif %}