<form method="get" class="search-form">
    <div class="input-group">
        <input type="text" 
            name="search" 
            class="form-control" 
            placeholder="{{ placeholder|default:'Search...' }}" 
            value="{{ request.GET.search|default:'' }}">
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary">
                <i class="fas fa-search"></i>
            </button>
            {% if request.GET.search %}
                <a href="{{ clear_url }}" class="btn btn-outline-secondary">
                    <i class="fas fa-times"></i>
                </a>
            {% endif %}
        </div>
    </div>
</form>