<form method="get">
    <div class="row align-items-end">
        <div class="col-md-3">
            <label for="status" class="mr-2 font-weight-bold">Status:</label>
            <select name="status" id="status" class="form-control">
                <option value="">All Statuses</option>
                {% for status in status_choices %}
                    <option value="{{ status.pk }}" {% if status.pk|stringformat:"s" == current_status %}selected{% endif %}>
                        {{ status }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-3">      
            <label for="search" class="mr-2 font-weight-bold">
                        Tag / Turtle / Custodian:
                    </label>
            <input type="text" name="search" class="form-control" 
                placeholder="{{ placeholder }}" 
                value="{{ search_term }}">
        </div>
    
    <!-- Add Issue Location Search -->
        <div class="col-md-3">
            <label for="issueLocation" class="mr-2 font-weight-bold">
                        Issue Location:
                    </label>
            <div class="search-container">
                <input type="text"
                    id="issueLocation"
                    name="issue_location"
                    class="form-control"
                    placeholder="Issue Location"
                    value="{{ current_issue_location }}"
                    autocomplete="off">

                <div id="issueLocationSearchResults"
                    class="search-results">
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary mr-2">Apply Filters</button>
        <a href="{% url clear_url %}" class="btn btn-secondary">Clear Filters</a>
    </div>
</form>