<!-- conservation/cards/conservationthreat.html -->
<div class="card {% if collapse %}{% else %}card-md col-lg-4 col-md-6 col-sm-6{% endif %} col-12 shadow-lg">

  <div class="card-header">
    <h5 class="card-title">
      {{ object.cause }}
      {% if collapse %}
      <small class="float-right">
        <!-- View details -->
        <a href="{{ object.get_absolute_url }}"
            title="View {{ object }}">
          <span class="oi oi-eye" aria-hidden="true"></span>
          <!-- <span class="oi oi-task" aria-hidden="true"></span> -->
          <!-- View -->
        </a>
        <!-- Edit details -->
        <a href="{{ object.update_url }}"
            title="Edit {{ object }}.">
          <span class="oi oi-pencil" aria-hidden="true"></span>
          <!-- <span class="oi oi-task" aria-hidden="true"></span> -->
          <!-- Edit -->
        </a>
      </small>
      {% endif %}
    </h5>
    <h6 class="card-subtitle">
      <span class="badge badge-warning" title="Document type">
        {{ object.category }}
      </span>
    </h6>
  </div>

  <div class="card-body">

  {% if collapse %}{% else %}
    <h6 class="card-subtitle mb-2 text-muted">
      <!-- taxa -->
      {% for taxon in object.taxa.all %}
      <p class="card-text">
        <a href="{{ taxon.get_absolute_url }}">
          <span class="oi oi-eye"
            title="Species" aria-hidden="true"></span>
          {{ taxon }}
        </a>
      </p>
      {% endfor %}

      <!-- communities -->
      {% for com in object.communities.all %}
      <p class="card-text">
        <a href="{{ com.get_absolute_url }}">
          <span class="oi oi-eye"
            title="Communities" aria-hidden="true"></span>
          {{ com }}
          </a>
      </p>
      {% endfor %}

      <!-- documents -->
      {% if object.document %}
      <p class="card-text">
        <span class="oi oi-document"
          title="Document" aria-hidden="true"></span>
        {{ object.document }}
      </p>
      {% endif %}
      <!-- area code -->
    </h6>
    {% endif %}

    <p class="card-text">
      <span class="oi oi-flash"
        title="Encountered on" aria-hidden="true"></span>
      {{ object.get_current_impact_display }} impact to {{ object.area_affected_percent }} % of area
      reported on {{ object.encountered_on|date:"D d M Y" }} by {{ object.encountered_by }}.
    </p>
    <p class="card-text">
      <span class="oi oi-calendar"
        title="Area affected" aria-hidden="true"></span>
      {{ object.get_potential_onset_display }} potentially {{ object.get_potential_impact_display|lower }} impact.
    </p>

  </div><!-- /.card-body -->

  {% if collapse %}{% else %}
  <div class="card-footer">
    <div class="row">
      <div class="col-12">

        <!-- View details -->
        <a href="{{ object.get_absolute_url }}"
            title="View {{ object }}"
            role="button"
            class="btn btn-primary btn-sm mr-2">
          <span class="oi oi-eye" aria-hidden="true"></span>
          <span class="oi oi-task" aria-hidden="true"></span>
          View
        </a>
        <!-- Edit details -->
        <a href="{{ object.update_url }}"
            title="Edit {{ object }}."
            role="button"
            class="btn btn-primary btn-sm">
          <span class="oi oi-pencil" aria-hidden="true"></span>
          <span class="oi oi-task" aria-hidden="true"></span>
          Edit
        </a>

      </div>
    </div>
    <!-- /Conservation threat update -->
  </div><!-- /.card-footer -->
  {% endif %}

</div><!-- /.card -->
<!-- conservation/cards/conservationthreat.html -->