<!-- conservation/cards/conservationaction.html -->
<div class="card {% if collapse %}{% else %}card-md col-lg-4 col-md-6 col-sm-6{% endif %} col-12 shadow-lg">

  <div class="card-header">
    <h5 class="card-title">
      {{ object.instructions }}
      {% if collapse %}
      <small class="float-right">
        {% include 'shared/details_update_admin.html' %}
      </small>
      {% endif %}
    </h5>
    <h6 class="card-subtitle">
     <span class="badge badge-warning" title="Conservation Action">
        <span class="oi oi-list" aria-hidden="true"></span>
        {{ object.category }}
      </span>
      <span class="badge badge-success" title="Completion Status">
        <span class="oi oi-task" aria-hidden="true"></span>
        Progress: {{ object.get_status_display }}
      </span>
    </h6>
  </div>

  <div class="card-body">

    {% if collapse %}{% else %}
    <h6 class="card-subtitle mb-2 text-muted">
      <!-- taxa -->
      {% for taxon in object.taxa.all %}
      <p class="card-text">
        <a href="{{ taxon.get_absolute_url }}">
          <span class="oi oi-eye"
            title="Species" aria-hidden="true"></span>
          {{ taxon }}
        </a>
      </p>
      {% endfor %}

      <!-- communities -->
      {% for com in object.communities.all %}
      <p class="card-text">
        <a href="{{ com.get_absolute_url }}">
          <span class="oi oi-eye"
            title="Communities" aria-hidden="true"></span>
          {{ com }}
          </a>
      </p>
      {% endfor %}

      <!-- documents -->
      {% if object.document %}
      <p class="card-text">
        <span class="oi oi-document"
          title="Document" aria-hidden="true"></span>
        {{ object.document }}
      </p>
      {% endif %}
      <!-- area code -->
    </h6>
    {% endif %}

    <p class="card-text">
      <span class="oi oi-calendar"
        title="Completion date" aria-hidden="true"></span>
      {% if object.completion_date%}
      {{ object.completion_date|date:"D d M Y" }}
      {% else %}
      ongoing
      {% endif %}
      <span class="float-right">
        <span class="oi oi-dollar"
        title="Total Expenditure" aria-hidden="true"></span>
      {{ object.expenditure }}
      </span>
    </p>
    <p class="card-text">
      <span class="oi oi-comment-square"
        title="Notes" aria-hidden="true"></span>
      {% if object.implementation_notes %}
      {{ object.implementation_notes }}
      {% endif %}
    </p>

    <!-- activities -->
    <div class="card-group">
      {% for act in object.conservationactivity_set.all %}
      {% if collapse %}{% else %}<div class="row"><div class="col col-12">{% endif %}
      <div class="card {% if collapse %}card-md col-lg-4 col-md-6 col-sm-6{% endif %} col-12 shadow-lg">
        <div class="card-header">
          <p class="card-text">
            <span class="oi oi-calendar" title="Expenditure" aria-hidden="true"></span>
            {% if act.completion_date%}{{ act.completion_date|date:"D d M Y" }}{% else %}ongoing{% endif %}
            {% if collapse %}
            <span class="float-right">
              <span class="oi oi-dollar" title="Expenditure" aria-hidden="true"></span>
              {{ act.expenditure }}
              <a href="{{ act.update_url }}">
                <span class="oi oi-pencil" aria-hidden="true"></span>
                <!-- <span class="oi oi-task" aria-hidden="true"></span>
                Edit -->
              </a>
            </span>
            {% endif %}
          </p>
        </div>
        <div class="card-body">
          <p class="card-text">
            <span class="oi oi-comment-square"
              title="Notes" aria-hidden="true"></span>
            {% if act.implementation_notes %}
            {{ act.implementation_notes }}
            {% endif %}
          </p>
        </div>

        {% if collapse %}{% else %}
        <div class="card-footer">
          <a href="{{ act.update_url }}" class="btn btn-sm btn-block btn-primary">
            <span class="oi oi-pencil" aria-hidden="true"></span>
            <span class="oi oi-task" aria-hidden="true"></span>
            Update progress
          </a>
        </div>
        {% endif %}
      </div>
      {% if collapse %}{% else %}</div></div>{% endif %}
      {% endfor %}
    </div>
    <!-- /activities -->

  </div><!-- /.card-body -->

{% if collapse %}{% else %}
  <div class="card-footer">
    <div class="row">
      <div class="col-12">
        {% include 'shared/details_update_admin.html' with btn=True label=True %}
      </div>
    </div>
    <!-- /Conservation threat update -->
  </div><!-- /.card-footer -->
  {% endif %}

</div><!-- /.card -->
<!-- conservation/cards/conservationaction.html -->