{% extends "rest_framework/base.html" %}
{% load i18n static %}

{% block extrastyle %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css"
      integrity="sha256-BJ/G+e+y7bQdrYkS2RBTyNfBHpA9IuGaPmf9htub5MQ=" crossorigin="anonymous" />
<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
{% endblock %}
{% block title %}{{ site_title }} API{% endblock %}

{% block branding %}
<a class="navbar-brand" rel="nofollow" href="/api/1/">{{ site_title }} API</a>
{% endblock %}

{% block userlinks %}
<ul class="nav navbar-nav">

     <li class="nav-item">
       <a class="nav-link" href="/" target="_">
           <i class="fa-solid fa-house" title="Main site" aria-hidden="true"></i>
           Main site
       </a>
     </li>
    {% if request.user.is_staff %}
     <li class="nav-item">
       <a class="nav-link" href="{% url 'admin:index' %}" target="_">
           <i class="fa fa-table"></i>&nbsp;Backstage
       </a>
     </li>
     {% endif %}
     <li class="nav-item">
       <a class="nav-link" href="http://wastd.readthedocs.io/" target="_">
          <i class="fa-solid fa-book" title="Manual" aria-hidden="true"></i>
          Manual
       </a>
     </li>

</ul>

<ul class="nav navbar-nav pull-xs-right">
  {% if request.user.is_authenticated %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'users:user-detail' request.user.pk  %}">
          <i class="fa fa-user"></i>&nbsp;{% trans "My Profile" %}
      </a>
    </li>
  {% endif %}
</ul>
{% endblock %}
