{% extends "rest_framework/base.html" %}
{% load i18n static %}

{% block style %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/open-iconic-bootstrap.css' %}">
{% endblock %}
{% block title %}{{ settings.SITE_TITLE }} API{% endblock %}

{% block branding %}
<a class="navbar-brand" rel="nofollow" href="/api/1/">
  <img src="{% static 'images/threatened-api.png' %}" style="height:50px;margin-top:-15px;" alt="Threatened Things">
</a>
<a class="navbar-brand" rel="nofollow" href="/api/1/">{{ settings.SITE_TITLE }} API</a>
{% endblock %}

{% block userlinks %}
<ul class="nav navbar-nav">

     <li class="nav-item">
       <a class="nav-link" href="/" target="_">
           <span class="oi oi-home" title="Main site" aria-hidden="true"></span>
           Main site
       </a>
     </li>
    {% if request.user.is_staff %}
     <li class="nav-item">
       <a class="nav-link" href="{% url 'admin:index' %}" target="_">
           <i class="fa fa-table"></i>&nbsp;Backstage
       </a>
     </li>
     {% endif %}
     <li class="nav-item">
       <a class="nav-link" href="http://wastd.readthedocs.io/" target="_">
          <span class="oi oi-book" title="Manual" aria-hidden="true"></span>
          Manual
       </a>
     </li>

</ul>

<ul class="nav navbar-nav pull-xs-right">
  {% if request.user.is_authenticated %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'users:detail' request.user.username  %}">
          <i class="fa fa-user"></i>&nbsp;{% trans "My Profile" %}
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'account_logout' %}">
          <i class="fa fa-sign-out"></i>&nbsp;{% trans "Sign out" %}
      </a>
    </li>
  {% else %}
    <li class="nav-item">
      <a id="sign-up-link" class="nav-link" href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a>
    </li>
    <li class="nav-item">
      <a id="log-in-link" class="nav-link" href="{% url 'account_login' %}">{% trans "Sign In" %}</a>
    </li>
  {% endif %}
</ul>
{% endblock %}
