<!-- View details -->
{% if not hide_details %}
<a href="{{ object.get_absolute_url }}" title="View entire record: {{ object }}">
  <span class="badge badge-{{ object.status_colour|default:'secondary' }}">
  <i class="fa-solid fa-eye" aria-hidden="true"></i>
  {% if label %}View{% endif %}
  </span>
</a>
{% endif %}

<!-- Edit in admin if staff and show QA level -->
{% if request.user.is_staff %}
<a href="{{ object.absolute_admin_url }}" title="Edit and QA this record in the data curation portal">
  <span class="badge badge-{{ object.status_colour|default:'secondary' }}">
    <i class="fa-solid fa-pencil text-success" aria-hidden="true"></i>
    {% if label %}Edit{% endif %}
    [QA: {{ object.get_status_display }}]
  </span>
</a>
{% else %}
  <span class="badge badge-{{ object.status_colour|default:'secondary' }}">
    [QA: {{ object.get_status_display }}]
  </span>
{% endif %}

