{% load static %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.min.js" integrity="sha512-puJW3E/qXDqYp9IfhAI54BJEaWIfloJ7JWs7OeD5i6ruC9JZL1gERT1wjtwXFlh7CjE7ZJ+/vcRZRkIYIb6p4g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- Leaflet plugins -->
<!-- https://cdnjs.com/libraries/proj4js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.9.0/proj4.min.js" integrity="sha512-Y/B11KRfeaNHAonSdwnF0fvpzsA+W27fqfMPmfkxRAwuySCcA7aT9LfJcWz5fi32McMI02jngFYj7LYT1z+VVg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- https://cdnjs.com/libraries/proj4leaflet -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/proj4leaflet/1.0.2/proj4leaflet.min.js"
  integrity="sha256-IIb6zlGmoYdKMco2DkshWuX5Oz/d4VSFbOG7x0Zamjo=" crossorigin="anonymous"></script>

<!-- https://cdnjs.com/libraries/leaflet.draw -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"
  integrity="sha256-siofc4Uwjlra3YWkwthOn8Uj69cNN4aMug/iOHNiRgs=" crossorigin="anonymous"></script>

<!-- Leaflet.awesome-markers -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.min.js"
  integrity="sha256-IqiRR5X1QtAdcq5lG4vBB1/WxwrRCkkjno4pfvWyag0=" crossorigin="anonymous"></script>

<!-- leaflet.label -->
<script src="https://unpkg.com/leaflet.label@0.2.4/dist/leaflet.label.js" crossorigin="anonymous"></script>

<!-- https://cdnjs.com/libraries/leaflet.fullscreen -->
<script src="https://unpkg.com/leaflet.fullscreen@2.4.0/Control.FullScreen.js"></script>

<!-- https://cdnjs.com/libraries/leaflet.markercluster -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.5.3/leaflet.markercluster.min.js" integrity="sha512-TiMWaqipFi2Vqt4ugRzsF8oRoGFlFFuqIi30FFxEPNw58Ov9mOy6LgC05ysfkxwLE0xVeZtmr92wVg9siAFRWA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- https://cdnjs.com/libraries/leaflet-tilelayer-geojson -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-tilelayer-geojson/1.0.4/TileLayer.GeoJSON.min.js"
  integrity="sha256-wAPWjo+rSGf0uCc0Bx0INODQ6En5mOPxSDGwKBLkfhg=" crossorigin="anonymous"></script>

<!-- Various includes from https://github.com/makinacorpus/django-leaflet/blob/master/leaflet/templates/leaflet/js.html -->
<script src="{% static 'leaflet/leaflet.forms.js' %}" type="text/javascript"></script>
<script src="{% static 'leaflet/leaflet.extras.js' %}" type="text/javascript"></script>

<script type="text/javascript">
/* From django-leaflet */
{% include "leaflet/_leaflet_draw_i18n.js" %}
L.Control.ResetView.TITLE = "Reset view";
L.Control.ResetView.ICON = "url({% static 'leaflet/images/reset-view.png' %})";

window.addEventListener("map:init", function (event) {
    {% include 'shared/styles.js' %}
    var map = event.detail.map;
    var lc = map.layerscontrol;

    $.getJSON("{% url 'sites_geojson' %}", function (data) {
        lc.addOverlay(L.geoJson(data, {style: polystyle, onEachFeature: oef}), 'Turtles DB sites')
    });

    // FIXME: Switch to using WMTS.
    const kmi_wms = 'https://kmi.dbca.wa.gov.au/geoserver/ows';
    const layer_options = function(layer) {
        return {
            layers: layer,
            format: 'image/png',
            opacity: 0.8,
            transparent: true
        }
    };
    lc.addOverlay(L.tileLayer.wms(kmi_wms, layer_options('cddp:townsite_poly')), 'WA Townsites');
    lc.addOverlay(L.tileLayer.wms(kmi_wms, layer_options('cddp:dbca_managed_tenure')), 'DBCA-managed tenure');
    lc.addOverlay(L.tileLayer.wms(kmi_wms, layer_options('cddp:unallocated_crown_land')), 'Unallocated Crown Land');
    lc.addOverlay(L.tileLayer.wms(kmi_wms, layer_options('landgate:DBCA-022')), 'DBCA Region Boundaries');
    lc.addOverlay(L.tileLayer.wms(kmi_wms, layer_options('landgate:DBCA-023')), 'DBCA District Boundaries');
    lc.addOverlay(L.tileLayer.wms(kmi_wms, layer_options('public:lgas_public')), 'LGA Boundaries');
    lc.addOverlay(L.tileLayer.wms(kmi_wms, layer_options('cddp:ibra_australia')), 'IBRA WA Regions');
    lc.addOverlay(L.tileLayer.wms(kmi_wms, layer_options('cddp:dpaw_fire_history')), 'P&W Fire History');
    lc.addOverlay(L.tileLayer.wms(kmi_wms, layer_options('cddp:threatened_priority_flora')), 'Threatened and Priority Flora');
    lc.addOverlay(L.tileLayer.wms(kmi_wms, layer_options('cddp:tec_sites_buffered')), 'Threatened Community Sites buffered');
    lc.addOverlay(L.tileLayer.wms(kmi_wms, layer_options('cddp:scientific_study_sites')), 'Scientific Study Sites');
    lc.addOverlay(L.tileLayer.wms(kmi_wms, layer_options('dpaw:pilbara_fuelage')), 'Pilbara Fuel Age');
    map.addControl(new L.control.fullscreen());
});
</script>
