<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.min.css" integrity="sha512-h9FcoyWjHcOcmEVkxOfTLnmZFWIH0iZhZT1H2TbOq55xssQGEJHEaIm+PgoUaZbRvQTNTluNOEfb1ZRy6D3BOw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<!-- https://cdnjs.com/libraries/leaflet.draw -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css"
	integrity="sha256-XzD3RpaHPv7lzX9qt+2n1j5cWj48O24KsgaGYpKN8x8=" crossorigin="anonymous" />

<!-- https://cdnjs.com/libraries/Leaflet.awesome-markers -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"
	integrity="sha256-EFpFyBbuttUJtoocYzsBnERPWee2JYz4cn5nkUBjW0A=" crossorigin="anonymous" />

<!-- https://unpkg.com/leaflet.label@0.2.4/ -->
<link rel="stylesheet" href="https://unpkg.com/leaflet.label@0.2.4/dist/leaflet.label.css" crossorigin="anonymous" />

<!-- https://cdnjs.com/libraries/leaflet.fullscreen -->
<link rel="stylesheet" href="https://unpkg.com/leaflet.fullscreen@2.4.0/Control.FullScreen.css" />

<!-- https://cdnjs.com/libraries/leaflet.markercluster -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.5.3/MarkerCluster.min.css" integrity="sha512-ENrTWqddXrLJsQS2A86QmvA17PkJ0GVm1bqj5aTgpeMAfDKN2+SIOLpKG8R/6KkimnhTb+VW5qqUHB/r1zaRgg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.5.3/MarkerCluster.Default.min.css" integrity="sha512-fYyZwU1wU0QWB4Yutd/Pvhy5J1oWAwFXun1pt+Bps04WSe4Aq6tyHlT4+MHSJhD8JlLfgLuC4CbCnX5KHSjyCg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<style>
/* Force leaflet controls underneath header (z 1000), footer (z 900), and above leaflet tiles (z 400)*/
.leaflet-top {z-index:800;}

/* Force fullscreen map: height minus navbar */
#mapholder {height:100%; width: 100%;}
#searchmapholder {width: 100% auto; height: 18rem;}
#searchmap {height:100%; width: auto;}
.detailarea, #detailmap {width: auto; min-height:550px;}
#map, #wastdmap {
  height: calc(100vh - 72px); /* Viewport minus navbar */
  position: relative;
}

.leaflet-container,
.leaflet-container-default {min-height: 300px;}

/* Leaflet popup link colour */
.leaflet-container a {color: #0a4077;}

/* Leaflet popup fixed width */
.leaflet-popup, .leaflet-popup-content-wrapper, .leaflet-popup-content {width: 540px;}
.leaflet-popup-content {padding: 10px; word-wrap: break-word;}


/* Leaflet setTransform bugfix */
/* https://github.com/Leaflet/Leaflet/issues/3575 */
.leaflet-tile {outline: 1px solid transparent; visibility: visible!important}

.leaflet-control-attribution {max-height: 12px; max-width: 200px;}

/* Custom styles for leaflet/widget.html */
.leaflet-textarea {width: 100%;}
</style>
