{% for threat in threats %}
<div class="row d-block">
  <div class="col-12">
    <span class="badge badge-success" title="Conservation threat">
      <span class="oi oi-task" aria-hidden="true"></span> {{ threat.category }}
    </span>
    {{ threat.cause }}
    <small class="float-right">
      {% if is_staff %}
      <a href="{{ threat.absolute_admin_url }}" class="btn btn-sm btn-success text-left"
        title="Because you have DBCA Curator privileges, you may edit this conservation threat." target="_">
        <span class="oi oi-pencil" aria-hidden="true"></span>
        <span class="oi oi-task" aria-hidden="true"></span>
      </a>
      {% endif %}
      <a href="{{ threat.update_url }}" class="btn btn-sm btn-primary text-left"
        title="Edit this conservation threat." target="_">
        <span class="oi oi-pencil" aria-hidden="true"></span>
        <span class="oi oi-task" aria-hidden="true"></span>
      </a>
    </small>
  </div>
</div>
{% endfor %}