{% if request.user.is_staff %}
<a href="{% url 'admin:conservation_conservationthreat_add' %}?{{ subject }}={{ subject_pk|default_if_none:object.pk }}{% if document %}&document={{ document.pk }}{% endif %}{% if area %}&occurrence_area_code={{ area }}{% endif %}"
    title="Because you have DBCA curator privileges, you may propose a new conservation threat."
    role="button"
    class="btn btn-success btn-sm{% if block %} btn-block{% endif%} text-left">
  <span class="oi oi-plus" aria-hidden="true"></span> <span class="oi oi-flash" aria-hidden="true"></span>
  {% if label %}Register conservation threat{% endif %}
</a>
{% endif %}
<a href="{% url 'conservation:conservationthreat-create' %}?{{ subject }}={{ subject_pk|default_if_none:object.pk }}{% if document_id %}&document_id={{ document.pk }}{% endif %}{% if area  %}&occurrence_area_code={{ area }}{% endif %}"
    title="Propose a new conservation threat."
    role="button"
    class="btn btn-primary btn-sm{% if block %} btn-block{% endif%} text-left">
  <span class="oi oi-plus" aria-hidden="true"></span> <span class="oi oi-flash" aria-hidden="true"></span>
  {% if label %}Register conservation threat{% endif %}
</a>