{% for document in object.document_set.all %}
<div class="row d-block">
  <div class="col-12">
    <div class="card shadow-lg">
      <div class="card-body">
        <p class="card-text mb-1">
          {{ document.title }}
        </p>
          <span class="badge badge-warning">{{ document.get_document_type_display }}</span>
          <span class="float-right">
          {% for attachment in document.attachments.all %}
          <a href="{{ attachment.attachment.url }}" target="_blank"
            class="text-{% if attachment.confidential == True%}danger{% else %}success{% endif %} mr-2"
            title="{{ attachment.title }}">
              <span class="oi oi-cloud-download" aria-hidden="true"></span>
          </a>
          {% endfor %}

          {% include 'shared/details_update_admin.html' with btn=False label=False object=document %}
          </span>
      </div>
    </div>
  </div>
</div>
{% endfor %}