{% if request.user.is_staff %}
<a href="{% url 'admin:conservation_document_add' %}?{{ subject }}={{ object.pk }}"
    title="Because you have DBCA Curator privileges, you may attach a new document."
    role="button"
    class="btn btn-success btn-sm{% if block %} btn-block{% endif%} text-left"
    target="_">
  <span class="oi oi-plus" aria-hidden="true"></span>
  <span class="oi oi-document" aria-hidden="true"></span>
  {% if label %}Attach new document{% endif %}
</a>
{% endif %}
<a href="{% url 'conservation:document-create' %}?{{ subject }}={{ object.pk }}"
    title="Attach a new document."
    role="button"
    class="btn btn-primary btn-sm{% if block %} btn-block{% endif%} text-left">
  <span class="oi oi-plus" aria-hidden="true"></span>
  <span class="oi oi-document" aria-hidden="true"></span>
  {% if label %}Attach new document{% endif %}
</a>