{% for document in object.document_set.all %}
<div class="row d-block">
  <div class="col-12">
    <div class="card shadow-lg">
      <div class="card-body">
        <h6 class="card-title">
          {{ document }}
        </h6>

          {% for attachment in document.attachments.all %}
          <a href="{{ attachment.attachment.url }}" target="_blank" title="{{ attachment.title }}">
            <span class="btn btn-sm btn-{% if attachment.confidential == True%}danger{% else %}success{% endif %}">
              <span class="oi oi-cloud-download" aria-hidden="true"></span>
              <span class="oi oi-document" aria-hidden="true"></span>
            </span>
          </a>
          {% endfor %}

          {% include 'shared/details_update_admin.html' with btn=True label=False %}

      </div>
    </div>
  </div>
</div>
{% endfor %}