<a href="{% url 'occurrence:associatedspeciesobservation-create' occ_pk=original.id %}"
  class="btn btn-primary btn-sm"
  title="Report an associated species.">
  <span class="oi oi-plus" aria-hidden="true"></span>
  Report associated species
</a>
<a href="{% url 'occurrence:firehistoryobservation-create' occ_pk=original.id %}"
  class="btn btn-primary btn-sm"
  title="Report evidence of a past fire.">
  <span class="oi oi-plus" aria-hidden="true"></span>
  Report fire history
</a>
<a href="{% url 'occurrence:fileattachmentobservation-create' occ_pk=original.id %}"
  class="btn btn-primary btn-sm"
  title="Attach a file.">
  <span class="oi oi-plus" aria-hidden="true"></span>
  Attach file
</a>