<!-- obsgroup-cards -->
{% regroup object.observations.all|dictsort:"model_name_verbose" by model_name_verbose as observations %}
<div class="card-group">
{% for obstype in observations %}
  <div
    id="occ-{{ obstype.grouper }}"
    class="card card-md col-lg-4 col-md-6 col-sm-6 col-12 shadow-lg">

    <div class="card-header">
      <h5 class="card-title">
        {{ obstype.grouper|title }}
      </h5>
    </div><!-- /.card-header -->

    <div class="card-body">
    {% for object in obstype.list %}
    {% include object.card_template %}
    {% endfor %}
    </div><!-- /.card-body -->

  </div><!-- /.card -->
{% endfor %}
</div><!-- /.card-group -->
<!-- /obsgroup-cards -->