<a href="{% url 'occurrence:fileattachment-create' occ_pk=object.id %}"
  class="btn btn-primary btn-sm text-left"
  title="Attach a file: datasheet scanned to PDF, photo, correspondence">
  <span class="oi oi-plus" aria-hidden="true"></span>
  Attach File
</a>

<a href="{% url 'occurrence:habitatcomposition-create' occ_pk=object.id %}"
  class="btn btn-primary btn-sm text-left"
  title="Report the habitat composition">
  <span class="oi oi-plus" aria-hidden="true"></span>
  Report Habitat Composition
</a>
<a href="{% url 'occurrence:areaassessment-create' occ_pk=object.id %}"
  class="btn btn-primary btn-sm text-left"
  title="Report an area assessment">
  <span class="oi oi-plus" aria-hidden="true"></span>
  Report Area Assessment
</a>
<a href="{% url 'occurrence:habitatcondition-create' occ_pk=object.id %}"
  class="btn btn-primary btn-sm text-left"
  title="Report the habitat condition">
  <span class="oi oi-plus" aria-hidden="true"></span>
  Report Habitat Condition
</a>
<a href="{% url 'occurrence:firehistory-create' occ_pk=object.id %}"
  class="btn btn-primary btn-sm text-left"
  title="Report evidence of a past fire">
  <span class="oi oi-plus" aria-hidden="true"></span>
  Report Fire History
</a>
<a href="{% url 'occurrence:plantcount-create' occ_pk=object.id %}"
  class="btn btn-primary btn-sm text-left"
  title="Report a PLant Count">
  <span class="oi oi-plus" aria-hidden="true"></span>
  Report Plant Count
</a>
<a href="{% url 'occurrence:vegetationclassification-create' occ_pk=object.id %}"
  class="btn btn-primary btn-sm text-left"
  title="Report vegetation classification">
  <span class="oi oi-plus" aria-hidden="true"></span>
  Report Vegetation Classification
</a>

<a href="{% url 'occurrence:associatedspecies-create' occ_pk=object.id %}"
  class="btn btn-primary btn-sm text-left"
  title="Report an associated species">
  <span class="oi oi-plus" aria-hidden="true"></span>
  Report Associated Species
</a>
