<!-- obsgroup-cards -->
{% regroup object.observations.all|dictsort:"model_name_verbose" by model_name_verbose as observations %}
<div class="card-columns">
{% for obstype in observations %}
<div class="card card-md col-lg-4 col-md-6 col-sm-6 col-12" id="occ-{{ obstype.grouper }}">

  <div class="card-header">
    <h5>
      {{ obstype.grouper }}
    </h5>
  </div><!-- /.card-header -->

  <div class="card-body">
  {% for object in obstype.list %}
  {{ object.as_card }}
  {% endfor %}
  </div><!-- /.card-body -->

</div><!-- /.card -->
{% endfor %}
</div><!-- /.card-columns -->
<!-- /obsgroup-cards -->